@layer components {

  body {
    @apply text-slate-700;
  }
  .btn {
    @apply content-center inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white rounded-md;
  }

  /* hero */
  .hero-container{
    @apply relative h-[700px] bg-cover bg-center;
  }

  .bg-gradient {
    @apply absolute inset-0 bg-gradient-to-l from-transparent to-white/90 flex items-center;
  }

  .hero-title {
    @apply text-4xl lg:text-5xl font-bold text-slate-800 mb-4;
  }

  .hero-description {
    @apply text-xl text-slate-800/70 max-w-2xl mb-6;
  }

  /* options */
  .options-container{
    @apply grid pt-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 place-content-center mx-10 lg:mx-20 relative -mt-14 z-0;
  }

  /* card */
  .card-container {
    @apply   py-6 bg-white shadow-md rounded-md transform transition-transform hover:scale-105 hover:shadow-lg;
  }

  .img-card-container {
    @apply mb-4 lg:mb-0 flex items-center justify-center w-12 h-12 lg:w-24 lg:h-24 xl:w-40 xl:h-40 lg:mx-8 xl:mx-10 rounded-full overflow-hidden;
  }

  .text-card-container {
    @apply text-center lg:text-left lg:ml-4;
  }

  .title-card {
    @apply text-lg font-semibold text-slate-700;
  }
  .description-card {
    @apply text-slate-800/85
  }
  .separator { 
    @apply my-1 h-px w-full bg-gray-200;
  }
}