<script setup>
import SubHero from "@/components/SubHero.vue";
import imageSubHero from "@/assets/hero-image.jpg";
import { computed, ref } from "vue";
import { useRoute } from "vue-router";
import blogpic1 from "@/assets/home/home1.webp";
import blogpic2 from "@/assets/home/home2.webp";
import blogpic3 from "@/assets/home/home3.webp";
import blogvid1 from "../../public/video/2.mp4";
import blogvid2 from "../../public/video/3.mp4";
import pic1 from "@/assets/medicos/medico15.webp";

const videoPlayer = ref(null);
const isPlaying = ref(false);
const isMuted = ref(false);
const progress = ref(0);

const togglePlay = () => {
  if (videoPlayer.value.paused) {
    videoPlayer.value.play();
    isPlaying.value = true;
  } else {
    videoPlayer.value.pause();
    isPlaying.value = false;
  }
};

const updateProgress = () => {
  const percentage =
    (videoPlayer.value.currentTime / videoPlayer.value.duration) * 100;
  progress.value = percentage;
};

const toggleMute = () => {
  isMuted.value = !isMuted.value;
  videoPlayer.value.muted = isMuted.value;
};

const seek = (event) => {
  const seekTime = (event.target.value / 100) * videoPlayer.value.duration;
  videoPlayer.value.currentTime = seekTime;
};

const blogsData = {
  blog1: {
    title: "Blog 1",
    blogPic: blogvid1,
    content:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim metus. In hac habitasse platea dictumst. Sed facilisis, neque ac consectetur tristique, mi dui convallis dolor, vitae sollicitudin felis lorem vitae neque. Sed euismod, ligula vel bibendum rutrum, neque tellus semper tellus, et pharetra lectus nunc vel metus.",
    author: "Author 1",
    pic: pic1,
    date: "2022-01-01",
    socialLinks: [
      {
        label: "Facebook",
        url: "https://www.facebook.com/clinicadeurgenciasbucaramanga",
        icon: ["fa-brands", "fa-square-facebook"],
      },
      {
        label: "Twitter",
        url: "https://x.com/i/flow/login?redirect_after_login=%2FCLINICADEURGEN1",
        icon: ["fa-brands", "fa-square-x-twitter"],
      },
      {
        label: "Instagram",
        url: "https://www.instagram.com/clinicadeurgenciasbucaramanga/?hl=es-la",
        icon: ["fa-brands", "fa-instagram"],
      },
    ],
  },
  blog2: {
    title: "Blog 2",
    blogPic: blogpic2,
    content:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim metus. In hac habitasse platea dictumst. Sed facilisis, neque ac consectetur tristique, mi dui convallis dolor, vitae sollicitudin felis lorem vitae neque. Sed euismod, ligula vel bibendum rutrum, neque tellus semper tellus, et pharetra lectus nunc vel metus.",
    author: "Author 2",
    pic: pic1,
    date: "2022-01-01",
    socialLinks: [
      {
        label: "Facebook",
        url: "https://www.facebook.com/clinicadeurgenciasbucaramanga",
        icon: ["fa-brands", "fa-square-facebook"],
      },
      {
        label: "Twitter",
        url: "https://x.com/i/flow/login?redirect_after_login=%2FCLINICADEURGEN1",
        icon: ["fa-brands", "fa-square-x-twitter"],
      },
      {
        label: "Instagram",
        url: "https://www.instagram.com/clinicadeurgenciasbucaramanga/?hl=es-la",
        icon: ["fa-brands", "fa-instagram"],
      },
    ],
  },
  blog3: {
    title: "Blog 3",
    blogPic: blogpic3,
    content:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non enim metus. In hac habitasse platea dictumst. Sed facilisis, neque ac consectetur tristique, mi dui convallis dolor, vitae sollicitudin felis lorem vitae neque. Sed euismod, ligula vel bibendum rutrum, neque tellus semper tellus, et pharetra lectus nunc vel metus.",
    author: "Author 1",
    pic: pic1,
    date: "2022-01-01",
    socialLinks: [
      {
        label: "Facebook",
        url: "https://www.facebook.com/clinicadeurgenciasbucaramanga",
        icon: ["fa-brands", "fa-square-facebook"],
      },
      {
        label: "Twitter",
        url: "https://x.com/i/flow/login?redirect_after_login=%2FCLINICADEURGEN1",
        icon: ["fa-brands", "fa-square-x-twitter"],
      },
      {
        label: "Instagram",
        url: "https://www.instagram.com/clinicadeurgenciasbucaramanga/?hl=es-la",
        icon: ["fa-brands", "fa-instagram"],
      },
    ],
  },
};

const route = useRoute();
const blogId = route.params.id;
const blogData = computed(() => blogsData[blogId] || {});
const blogTitle = computed(() => blogData.value.title || "Blog no encontrado");
const socialLinks = computed(() => blogData.value.socialLinks || []);
const lastPostsByAuthor = computed(() => {
  return Object.values(blogsData).filter(
    (blog) => blog.author === blogData.value.author && blog !== blogData.value
  );
});
</script>

<template>
  <SubHero :title="blogTitle" :bg="imageSubHero" />
  <div class="container lg:px-0 px-4 sm:mx-auto md:px-16 relative py-6">
    <div class="grid md:grid-cols-12 grid-cols-1 gap-6">
      <div class="lg:col-span-8 md:col-span-7 col-span-12">
        <div class="p-4 rounded-md shadow">
          <template v-if="blogData.blogPic.endsWith('.mp4')">
            <div class="relative">
              <video
                ref="videoPlayer"
                class="w-full h-auto object-cover object-bottom rounded-2xl"
                :src="blogData.blogPic"
                @timeupdate="updateProgress"
              ></video>
              <div
                class="controls absolute bottom-3 left-3 right-3 flex justify-between items-center p-2"
              >
                <button @click="togglePlay">
                  <span v-if="isPlaying">
                    <font-awesome-icon icon="fa-solid fa-pause" />
                  </span>
                  <span v-else>
                    <font-awesome-icon icon="fa-solid fa-play" />
                  </span>
                </button>
                <input
                  type="range"
                  min="0"
                  max="100"
                  step="1"
                  v-model="progress"
                  @input="seek"
                />
                <button @click="toggleMute">
                  <span v-if="isMuted">
                    <font-awesome-icon icon="fa-solid fa-volume-xmark" />
                  </span>
                  <span v-else>
                    <font-awesome-icon icon="fa-solid fa-volume-high" />
                  </span>
                </button>
              </div>
            </div>
          </template>
          <template v-else>
            <img
              :src="blogData.blogPic"
              class="rounded-md w-full h-auto"
              alt="Blog image"
            />
          </template>
          <div class="mt-6">
            <p class="paragraph text-slate-400 leading-relaxed">
              {{ blogData.content }}
            </p>
            <p
              class="quotes text-slate-400 italic border-x-4 border-green-600 rounded-ss-xl rounded-ee-xl mt-3 p-3"
            >
              {{ blogData.content }}
            </p>
          </div>
        </div>
      </div>

      <div class="lg:col-span-4 md:col-span-5 col-span-12">
        <div class="sticky top-6">
          <h5
            class="text-lg font-semibold bg-green-600 text-white shadow rounded-md p-2 text-center"
          >
            Autor
          </h5>
          <div class="text-center mt-6">
            <img
              :src="blogData.pic"
              class="size-24 mx-auto rounded-full shadow mb-4"
              alt="Author"
            />
            <a
              href="#"
              class="text-lg font-semibold hover:text-green-600 duration-500"
            >
              {{ blogData.author }}
            </a>
            <p class="text-slate-400">{{ blogData.date }}</p>
          </div>

          <h5
            class="text-lg font-semibold bg-green-600 text-white shadow rounded-md p-2 text-center mt-8"
          >
            Últimos posts
          </h5>
          <div v-if="lastPostsByAuthor.length">
            <div
              v-for="(post, index) in lastPostsByAuthor"
              :key="index"
              class="flex items-center mt-4 space-x-3"
            >
              <img
                :src="post.blogPic"
                class="h-16 w-16 rounded-md shadow"
                alt="Post image"
              />
              <div>
                <a
                  :href="`/blog-details/blog${index + 1}`"
                  class="font-semibold hover:text-green-600"
                >
                  {{ post.title }}
                </a>
                <p class="text-sm text-slate-400">{{ post.date }}</p>
              </div>
            </div>
          </div>
          <p v-else class="text-slate-400 mt-4">
            No hay más posts de este autor.
          </p>

          <div v-if="blogData.socialLinks">
            <h5
              class="text-lg font-semibold bg-green-600 text-white shadow rounded-md p-2 text-center mt-8"
            >
              Redes Sociales
            </h5>
            <div class="flex justify-center mt-4 space-x-4">
              <a
                v-for="social in socialLinks"
                :key="social.label"
                :href="social.url"
                target="_blank"
                rel="noopener noreferrer"
                class="text-2xl text-gray-900 hover:text-green-500"
              >
                <font-awesome-icon :icon="social.icon" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.video-container {
  position: relative;
}

.controls {
  background-color: rgba(22, 163, 74, 0.7); /* Ajuste de opacidad */
  border-radius: 6px;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

input[type="range"] {
  flex: 1;
  margin: 0 8px;
  cursor: pointer;
}
</style>