<script setup>
import BlogCards from "../components/BlogCards.vue";
import SubHero from "@/components/SubHero.vue";
import imageSubHero from "@/assets/hero-image.jpg";
import img1 from "@/assets/imagenologia/1.webp";
import img2 from "@/assets/home/home1.webp";
import img3 from "@/assets/ambulatorio/2.webp";
import img4 from "@/assets/hospitalizacion/1.webp";
import img5 from "@/assets/quirurgicos/quirurgicos1.webp";
import img6 from "@/assets/urgencias/1.webp";
import med1 from "@/assets/medicos/medico6.webp";
import med2 from "@/assets/medicos/medico2.webp";
import med3 from "@/assets/medicos/medico3.webp";
import med4 from "@/assets/medicos/medico4.webp";
import med5 from "@/assets/medicos/medico5.webp";
import med6 from "@/assets/laboratorio/1.webp";

// Array con 10 objetos que contienen la información para cada tarjeta
const blogPosts = [
  {
    title: "Título Blog 1",
    doc: "Dr. Jane Smith",
    picdoc: med1,
    cardimg: img1,
    href: "/blog-details/blog1",
    date: "July 10, 2021",
  },
  {
    title: "Título Blog 2",
    doc: "Dr. John Doe",
    picdoc: med2, // URL de la imagen del avatar
    cardimg: img2, // URL de la imagen del avatar
    href: "/blog-details/blog2",
    date: "June 23, 2021",
  },
  {
    title: "Título Blog 3",
    doc: "Dr. Jane Smith",
    picdoc: med3,
    cardimg: img3,
    href: "/blog-details/blog3",
    date: "July 10, 2021",
  },

  // Agrega más objetos para completar las 10 tarjetas
];

// Si el campo 'date' es dinámico, puedes pasar también como un prop en el componente BlogCards
</script>

<template>
  <SubHero title="Blog" :bg="imageSubHero" />

  <div class="container lg:px-0 px-10 sm:mx-auto md:px-48 relative py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <BlogCards
        v-for="(post, index) in blogPosts"
        :key="index"
        :title="post.title"
        :doc="post.doc"
        :picdoc="post.picdoc"
        :cardimg="post.cardimg"
        :href="post.href"
        :date="post.date"
      />
    </div>
  </div>
</template>