<template>
  <SubHero title="Citas" :bg="imageSubHero" />

  <div class="container lg:px-0 sm:mx-auto relative py-10">
    <!-- Descripción inicial -->
    <p class="max-w-xl text-center mx-auto text-2xl mb-8">
      Solicita tus citas de consulta externa especializada: el primer paso para acceder a atención preventiva, curativa y de rehabilitación en nuestra institución.
    </p>

    <!-- Contenedor de imagen y tarjetas -->
    <div class="flex flex-col lg:flex-row lg:items-center justify-center">
      <!-- Imagen -->
      <div class="w-full lg:w-6/12 flex justify-center basis-1/3">
        <img class="" src="../assets/contact.svg" alt="Imagen contacto" />
      </div>

      <!-- Grid de tarjetas -->
      <div class="w-full lg:w-5/12 grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 basis-2/3">
        <!-- Tarjeta 1 -->
        <VCard
        class="cursor-pointer"
          title="Formulario de radicación"
          parrafo="Haz click aquí para abrir el formulario"
          :icon="['fas', 'square-poll-horizontal']"
          titleClass="text-lg font-medium hover:text-green-600"
          @click="openModal"
        />

        <!-- Tarjeta 2 -->
        <VCard
          title="Correo electrónico"
          parrafo="siau@cub.com.co"
          :icon="['fas', 'envelope']"
          titleClass="text-lg font-medium hover:text-green-600"
        />

        <!-- Tarjeta 3 -->
        <VCard
          title="Teléfono"
          parrafo="6076436131 ext 104"
          :icon="['fas', 'phone']"
          titleClass="text-lg font-medium hover:text-green-600"
        />

        <!-- Tarjeta 4 -->
        <VCard
          title="Atención presencial"
          parrafo="Visítanos en nuestra oficina principal ubicada en la Cra 33 #53-27, Cabecera del Llano."
          :icon="['fas', 'building']"
          titleClass="text-lg font-medium hover:text-green-600"
        />

        <!-- Tarjeta 5 -->
        <VCard
          title="Carta física"
          parrafo="Envíala por correo a nuestra dirección principal."
          :icon="['fas', 'paper-plane']"
          titleClass="text-lg font-medium hover:text-green-600"
        />

        <!-- Tarjeta 6 -->
        <VCard
          title="Buzón de sugerencias"
          parrafo="Puedes usar los buzones en cada piso de nuestra institución."
          :icon="['fas', 'box']"
          titleClass="text-lg font-medium hover:text-green-600"
        />
      </div>
    </div>

    <!-- Modal -->
    <ModalForm :visible2="visible" @close="visible = false" />
  </div>
</template>

<script setup>
import { ref } from "vue";
import SubHero from "../components/SubHero.vue";
import ModalForm from "../components/ModalForm.vue";
import VCard from "../components/VCard.vue"; // Importamos el componente reutilizable
import imageSubHero from "@/assets/hero-image.jpg";

const visible = ref(false);

const openModal = () => {
  visible.value = true;
};
</script>

<style scoped>
/* Animaciones suaves para hover */
.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
</style>
