<template>
  <SubHero :title="'Canales PQRSF'" :bg="imageSubHero" />

  <div class="container lg:px-0 sm:mx-auto relative py-10">
    <!-- Descripción inicial -->
    <p class="max-w-xl text-center mx-auto text-2xl mb-8">
      Puedes solicitar o interponer las PQRSF a través de los siguientes canales:
    </p>

    <!-- Contenedor de imagen y tarjetas -->
    <div class="flex flex-col lg:flex-row lg:items-center justify-center">
      <!-- Imagen -->
      <div class="w-full lg:w-6/12 flex justify-center basis-1/3">
        <img src="../assets/contact.svg" alt="Imagen contacto" />
      </div>

      <!-- Grid de tarjetas -->
      <div class="w-full lg:w-5/12 grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 basis-2/3">
        <VCard
          v-for="(card, index) in cards"
          :key="index"
          :title="card.title"
          :parrafo="card.parrafo"
          :icon="card.icon"
          :titleClass="card.titleClass"
          @click="card.action"
          class="cursor-pointer items-center transform transition-transform hover:-translate-y-1 hover:shadow-lg"
        />
      </div>
    </div>

    <!-- Modal -->
    <ModalForm :visible2="visible" @close="visible = false" />
  </div>
</template>

<script setup>
import { ref } from "vue";
import SubHero from "../components/SubHero.vue";
import ModalForm from "../components/ModalForm.vue";
import VCard from "../components/VCard.vue";
import imageSubHero from "@/assets/subhero/canalespqrsf.webp";

const visible = ref(false);
const openModal = () => {
  visible.value = true;
};

const cards = [
  {
    title: "Formulario de radicación",
    parrafo: "Haz click aquí para abrir el formulario",
    icon: ['fas', 'square-poll-horizontal'],
    titleClass: "text-lg font-medium hover:text-green-600",
    action: openModal
  },
  {
    title: "Correo electrónico",
    parrafo: "siau@cub.com.co",
    icon: ['fas', 'envelope'],
    titleClass: "text-lg font-medium hover:text-green-600"
  },
  {
    title: "Teléfono",
    parrafo: "6076436131 ext 104",
    icon: ['fas', 'phone'],
    titleClass: "text-lg font-medium hover:text-green-600"
  },
  {
    title: "Atención presencial",
    parrafo: "Visítanos en nuestra oficina principal ubicada en la Cra 33 #53-27, Cabecera del Llano.",
    icon: ['fas', 'building'],
    titleClass: "text-lg font-medium hover:text-green-600"
  },
  {
    title: "Carta física",
    parrafo: "Envíala por correo a nuestra dirección principal.",
    icon: ['fas', 'paper-plane'],
    titleClass: "text-lg font-medium hover:text-green-600"
  },
  {
    title: "Buzón de sugerencias",
    parrafo: "Puedes usar los buzones en cada piso de nuestra institución.",
    icon: ['fas', 'box'],
    titleClass: "text-lg font-medium hover:text-green-600"
  },
  {
    title: "Horarios de Atención",
    parrafo: "El SIAU se encuentra disponible de Lunes a sábado en los siguientes horarios: Lunes a Viernes: 7:30 am a 12:00 M y de 2:00 a 6:00 pm. Sábados: 8:00 am a 12:00 pm.",
    icon: ['fas', 'clock'],
    titleClass: "text-lg font-medium hover:text-green-600"
  },
  {
    title: "Notificaciones Judiciales",
    parrafo: "Correo gerencia@cub.com.co, tel. 6076436131 y 6076436231 ext134",
    icon: ['fas', 'envelope'],
    titleClass: "text-lg font-medium hover:text-green-600"
  }
];
</script>
