<template>
  <SubHero title="Citas" :bg="imageSubHero" />

  <div>
    <p class="max-w-xl mx-auto mt-4 text-justify">
      ¡Bienvenido! Gracias por elegirnos. Nuestro objetivo es proporcionarle una experiencia de agendamiento rápida, fácil y segura, Contamos con los siguientes canales.
    </p>
  </div>

  <div class="container mx-auto m-8 max-w-4xl grid">
    <!-- Canal de Asignación de Citas Presencial -->
    <CollapsibleSection
      title="Asignación de Cita Presencial"
      accordionGroup="my-accordion-2"
    >
      <!-- <p class="text-gray-700 mb-2">
        Es el servicio personalizado que la Clínica de Urgencias Bucaramanga
        S.A.S. presta directamente al usuario para la obtención de una cita
        médica.
      </p> -->
      <table class="w-full mb-4 text-gray-700">
        <thead>
          <tr class="border-b">
            <th class="py-2 text-left">Sede</th>
            <th class="py-2 text-left">Horario</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(sede, index) in presencialInfo" :key="index">
            <td class="py-2">
              <p>
                <strong>{{ sede.name }}</strong>
              </p>
              <p>{{ sede.address }}</p>
            </td>
            <td class="py-2">{{ sede.schedule }}</td>
          </tr>
        </tbody>
      </table>
    </CollapsibleSection>

    <!-- Canal de Asignación de Citas Vía Telefónica -->
    <CollapsibleSection
      title="Asignación de Citas Vía Telefónica"
      accordionGroup="my-accordion-2"
    >
      <!-- <p class="text-gray-700 mb-4">
        Servicio que brinda mayor comodidad y reducción de gastos a los usuarios
        para la solicitud de citas médicas especializadas.
      </p> -->
      <div class="grid gap-2">
        <div
          v-for="(phone, index) in phoneNumbers"
          :key="index"
          class="flex justify-between items-center"
        >
          <span class="font-medium">{{ phone.label }}</span>
          <span class="text-gray-600">
            <a
              v-if="phone.label.toLowerCase().includes('whatsapp')"
              :href="`https://wa.me/${formatPhoneNumber(phone.number)}`"
              target="_blank"
              rel="noopener noreferrer"
              class="text-green-500 underline hover:text-green-700"
            >
              {{ phone.number }}
            </a>
            <span v-else>{{ phone.number }}</span>
          </span>
        </div>
      </div>
    </CollapsibleSection>

    <!-- Canal de Asignación de Citas por Correo Electrónico -->
    <CollapsibleSection
      title="Asignación de Citas por Correo Electrónico"
      accordionGroup="my-accordion-2"
    >
      <!-- <p class="text-gray-700 mb-4">
        Un servicio de la Clínica de Urgencias Bucaramanga S.A.S. que ofrece
        mayor comodidad para la solicitud de servicios ambulatorios.
      </p> -->
      <div class="grid gap-2">
        <div v-for="(email, index) in emails" :key="index">
          <div class="mb-2">
            <span class="font-semibold">{{ email.label }}</span>
            <div class="flex flex-row justify-between items-center">
              <div class="flex flex-col">
                <span v-if="email.servicio1" class="font-medium">{{
                  email.servicio1
                }}</span>
                <span v-if="email.servicio2" class="font-medium">{{
                  email.servicio2
                }}</span>
              </div>
              <div class="flex flex-col">
                <a
                  v-if="email.address1"
                  :href="'mailto:' + email.address1"
                  class="text-green-500 underline"
                >
                  {{ email.address1 }}
                </a>
                <a
                  v-if="email.address2"
                  :href="'mailto:' + email.address2"
                  class="text-green-500 underline"
                >
                  {{ email.address2 }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </CollapsibleSection>

    <!-- Instrucciones para el Paciente -->
    <CollapsibleSection
      title="Instrucciones para el Paciente"
      accordionGroup="my-accordion-2"
    >
      <ul class="list-disc list-inside text-gray-700 mb-4">
        <li>
          Acudir 30 minutos antes para la admisión y, si es necesario, realizar
          el pago de la cuota moderadora.
        </li>
        <li>
          Traer autorización de la EPS, orden de consulta, documento de
          identidad y última historia clínica.
        </li>
      </ul>
      <h3 class="text-lg font-semibold text-gray-800">
        Documentos adicionales para pacientes atendidos por SOAT:
      </h3>
      <ul class="list-disc list-inside text-gray-700">
        <li>Historia clínica de atención inicial.</li>
        <li>Copia del documento de identidad, tarjeta de propiedad y SOAT.</li>
        <li>Orden médica.</li>
      </ul>
      <h3 class="text-lg font-semibold text-gray-800 mt-4">
        Documentos para pacientes atendidos en otra institución:
      </h3>
      <ul class="list-disc list-inside text-gray-700">
        <li>Certificado de gastos, facturas y historia clínica.</li>
        <li>FURIPS.</li>
      </ul>
    </CollapsibleSection>
  </div>
</template>

<script setup>
import SubHero from "../components/SubHero.vue";
import CollapsibleSection from "../components/CollapsibleSection.vue";
import imageSubHero from "@/assets/subhero/asignacioncitas.webp";

const presencialInfo = [
  {
    name: "Sede Principal",
    address: "Cr 33 #53-27 Cabecera",
    schedule: "Lunes a Viernes, 7:00 - 12:00 y 14:00 - 17:00",
  },
  {
    name: "Sede Ambulatoria Conucos",
    address: "Cl 58 #32-09 Conucos",
    schedule: "Lunes a Viernes, 7:00 - 12:00 y 13:00 - 17:00",
  },
  {
    name: "Sede Ambulatoria Girón",
    address: "Cr 26 #44-17 El Poblado",
    schedule: "Lunes a Viernes, 7:00 - 12:00 y 13:00 - 17:30",
  },
];

const phoneNumbers = [
  { label: "WhatsApp Línea Especiales", number: "318-3125540" },
  { label: "WhatsApp Línea General", number: "318-5484699" },
  { label: "Celular Medicina Laboral", number: "318-7083838" },
  { label: "WhatsApp Sede Ambulatoria Girón", number: "316-0186503" },
  { label: "Línea fija Sede Ambulatoria Conucos", number: "601-3076503" },
  { label: "Número fijo Sede Principal", number: "607-6436131" },
  { label: "Número fijo Sede Ambulatoria Girón", number: "601-3076444" },
  { label: "Programación de Terapias", number: "601-3076503" },
  { label: "WhatsApp Imágenes Diagnósticas", number: "318-5484635" },
  { label: "Laboratorio Clínico", number: "607-6436131 Ext: 124" },
  { label: "Celular Procedimientos Menores", number: "607-6436131 Ext: 133" },
];

const emails = [
  {
    label: "Sede Bucaramanga",
    servicio1: "Servicio de Ecografías",
    servicio2: "Servicio de Tomografías",
    address1: "ecografias@cub.com.co",
    address2: "tomografia@cub.com.co",
  },
  {
    label: "Sede Ambulatoria Conucos",
    servicio1: "Citas",
    address1: "consultaexterna@cub.com.co",
  },
  {
    label: "Sede Ambulatoria Girón",
    servicio1: "Citas",
    address1: "citasgiron@cub.com.co",
  },
];

const formatPhoneNumber = (phone) => {
  const countryCode = "57";
  return `${countryCode}${phone.replace(/[^0-9]/g, "")}`;
};
</script>
