<template>
  <SubHero :title="'Derechos y Deberes'" :bg="imageSubHero" />
  <div class="items-center p-4 sm:p-20">
    <div class="collapse collapse-arrow py-4 bg-base-200 my-8">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium">
        DERECHOS
      </div>
      <div class="collapse-content sm:mx-10">
        <div class="overflow-x-auto">
          <table class="table">
            <tbody v-for="derecho in derechos" :key="derecho.item">
              <tr>
                <th>{{ derecho.item }}</th>
                <td class="text-justify">{{ derecho.descripcion }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="collapse collapse-arrow py-4 bg-base-200">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium">
        DEBERES
      </div>
      <div class="collapse-content sm:mx-10">
        <div class="overflow-x-auto">
          <table class="table">
            <tbody v-for="deber in deberes" :key="deber.item">
              <!-- row 1 -->
              <tr>
                <th>{{ deber.item }}</th>
                <td class="text-justify">{{ deber.descripcion }}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</template>

<script setup>
import SubHero from "../components/SubHero.vue";
import imageSubHero from "@/assets/subhero/derechosdeberes.webp";


const derechos = [
  {
    item: "1",
    descripcion: "A recibir atención con un trato amable, respetuoso, digno y confidencial independiente de mi raza, credo, condición social y/o género.",
  },
  {
    item: "2",
    descripcion: "A disfrutar de una comunicación plena y clara con el equipo de salud que me permite obtener información sobre mi enfermedad, tratamiento, las políticas de la institución, mis deberes y derechos",
  },
  {
    item: "3",
    descripcion: "A recibir servicios de salud oportuno, de calidad y adecuados a través de instituciones y personal idóneo.",
  },
  {
    item: "4",
    descripcion: "A decidir si acepto o no el tratamiento dispuesto por la institución y el personal asistencial de la misma.",
  },
  {
    item: "5",
    descripcion: "A recibir atención por el personal calificado y con los recuerdos adecuados que garanticen mi seguridad.",
  },
  {
    item: "6",
    descripcion: "A que mi historia clínica sea tratada de manera confidencial y segura.",
  },
  {
    item: "7",
    descripcion: "A revisar y solicitar explicaciones acerca de los costos por los servicios obtenidos, tanto de los profesionales.",
  },
  {
    item: "8",
    descripcion: "A que se me respete la decisión de participar o no, en investigaciones médicas.",
  },
  {
    item: "9",
    descripcion: "A morir con dignidad y permitir que el proceso de la muerte siga su curso natural.",
  },
  {
    item: "10",
    descripcion: "A presentar quejas, reclamos o sugerencias cada vez que lo requiera de tal forma que sean escuchados y tramitadas por la institución.",
  },
]

const deberes = [
  {
    item: "1",
    descripcion: "Cumplir con las normas establecidas por la institución para el ingreso: No armas, no animales, no fumar, no circular por áreas restringidas.",
  },
  {
    item: "2",
    descripcion: "Autorizar o negar los tratamientos que voy a recibir firmado el consentimiento informado.",
  },
  {
    item: "3",
    descripcion: "Suministrar los documentos necesarios o información real,clara y completa sobre mi estado de salud y datos personales que se requieran al equipo asistencial.",
  },
  {
    item: "4",
    descripcion: "Seguir al pie de la letra las indicaciones sobre seguridad, aislamiento, manejo de emergencia y desechos hospitalarios que me ofrece el personal de la institución durante mi estancia hospitalario.",
  },
  {
    item: "5",
    descripcion: "Acudir oportunamente a cita preestablecida y seguir los procedimientos de la institución.",
  },
  {
    item: "6",
    descripcion: "Hacerme responsable por copago u otras obligaciones económicas por fuera del cubrimiento de mi plan de salud.",
  },
  {
    item: "7",
    descripcion: "Tratar con dignidad y respeto al personal humano que me brinda atención durante mi estancia hospitalaria.",
  },
  {
    item: "8",
    descripcion: "Cuidar y hacer uso responsable de los servicios e instalaciones de la institución y proteger mis objetos personales.",
  },
  {
    item: "9",
    descripcion: "Cuidar mi salud.",
  },
]

</script>



<style scoped></style>
