<script setup>
import SubHero from "../components/SubHero.vue";
import Team from "../components/Team.vue";
import imageSubHero from "@/assets/hero-image.jpg"
import medicos from "@/assets/medicos/1.webp"

</script>

<template>
  <SubHero :title="'Nuestro equipo de Especialistas'" :bg="medicos" />
  <Team />

</template>

<style scoped></style>
