<script setup>
import Hero from "../components/Hero.vue";
import Options from "../components/Options.vue";
import Servicios2 from "../components/Servicios2.vue";
import BlogSection from "../components/BlogSection.vue";
import Estadistica from "../components/Estadistica.vue";
import FaqSection from "../components/FaqSection.vue";
import Modal from "../components/Modal.vue";
import { ref, onMounted, onUnmounted } from "vue";
import statsimg from "@/assets/hero/1.webp";
import WhatsappBtn from "@/components/WhatsappBtn.vue";

const services = [
  {
    title: "Años de Experiencia",
    span: "",
    parrafo: "11",
    icon: "medal",
  },
  {
    title: "Médicos Especialistas",
    span: "",
    parrafo: "+100",
    icon: "user-doctor",
  },
  {
    title: "Sedes Disponibles",
    span: "En el area metropolitana",
    parrafo: "3",
    icon: "hospital",
  },
  {
    title: "Pacientes Atendidos",
    span: "En lo que va del año 2024",
    parrafo: "+200.000",
    icon: "fa-user-injured",
  },
  {
    title: "Consultorios",
    span: "En todas nuestras sedes",
    parrafo: "+50",
    icon: "hospital-user",
  },
  {
    title: "Camas de Hospitalización",
    span: "",
    parrafo: "123",
    icon: "fa-bed",
  },
  {
    title: "Camas UCI",
    span: "",
    parrafo: "19",
    icon: "fa-bed-pulse",
  },
  {
    title: "Examenes",
    span: "Procesados al mes",
    parrafo: "+25.000",
    icon: "fa-microscope",
  },
  // Agrega más servicios según sea necesario
];

const showButton = ref(false);

const scrollToTop = () => {
  window.scrollTo({
    top: 0,
    behavior: "smooth",
  });
};

const handleScroll = () => {
  showButton.value = window.scrollY > window.innerHeight;
};

onMounted(() => {
  window.addEventListener("scroll", handleScroll);
});

onUnmounted(() => {
  window.removeEventListener("scroll", handleScroll);
});
</script>

<template>
  <Modal />
  <Hero />
  <Options class="pb-16" />
  <Servicios2 class="pb-16" />
  <Estadistica class="mb-8" title="" :services="services" :bgImage="statsimg" />
  <FaqSection class="pb-16" />
  <!-- <BlogSection class="pb-16" /> -->
  <div class="fixed z-50 space-y-4 bottom-10 right-10">
    <WhatsappBtn />
    <button
      v-show="showButton"
      @click="scrollToTop"
      class="p-3 text-white transition-opacity duration-300 bg-green-500 rounded-full shadow-md opacity-100"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 10l7-7m0 0l7 7m-7-7v18"
        />
      </svg>
    </button>
  </div>
</template>
