<script setup>
import InfoFinance from "../components/InfoFinance.vue";
import SubHero from "@/components/SubHero.vue";
import imageSubHero from "@/assets/subhero/infofinanciera.webp";
</script>

<template>
  <SubHero title="Información Financiera" :bg="imageSubHero" />


      <InfoFinance />

</template>
