<template>
  <div>
    <SubHero :title="'Informes PQRSF'" :bg="imageSubHero" />

    <div class="container max-w-4xl m-8 mx-auto ">
      <p class="px-10 mb-8 text-lg text-justify lg:px-0">
        Los usuarios de la Clínica de Urgencias Bucaramanga S.A.S. podrán hacer llegar sus Peticiones, Quejas, Reclamos, Sugerencias, Denuncias y Felicitaciones respecto de cualquier trámite o servicio que se haya realizado en la institución y sobre el cual presente algún grado de inconformidad, por falta de oportunidad de la información, desarrollo de la actuación así como de la deficiencia o baja calidad de las mismas, de manera verbal o escrita a través de los canales de contacto de PQRSF.
      </p>

      <div class="flex justify-center">
        <div class="px-8 py-6 bg-white rounded shadow-md ">
          <h2 class="mb-4 text-lg font-semibold text-center">Descargar Informe</h2>

          <div class="flex flex-col gap-4 md:flex-row">
            <!-- Selector de Año -->
            <div>
              <label class="block mb-2 text-sm font-semibold" for="year">Año:</label>
              <select v-model="selectedYear" id="year" @change="updatePeriods"
                class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <option v-for="year in years" :key="year" :value="year">{{ year }}</option>
              </select>
            </div>

            <!-- Selector de Mes o Trimestre -->
            <div>
              <label class="block mb-2 text-sm font-semibold" for="period">{{ isQuarterMode ? 'Trimestre' : 'Mes' }}:</label>
              <select v-model="selectedPeriod" id="period"
                class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <option v-for="(period, index) in periods" :key="index" :value="index + 1">{{ period }}</option>
              </select>
            </div>

            <!-- Botón de Descarga -->
            <button :class="{ 'bg-gray-400 cursor-not-allowed': !selectedYear || !selectedPeriod }"
              :disabled="!selectedYear || !selectedPeriod" @click="downloadFile"
              class="px-4 py-2 mt-4 font-bold text-white bg-green-500 rounded hover:bg-green-700 focus:outline-none focus:shadow-outline">
              <font-awesome-icon :icon="['fas', 'file-arrow-down']" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import SubHero from "../components/SubHero.vue";
import { ref, onMounted, computed } from 'vue';
import imageSubHero from "@/assets/subhero/infopqrsf.webp";

const selectedYear = ref(null);
const selectedPeriod = ref(null);
const years = ref([]);
const months = [
  "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
];
const quarters = ["Trimestre 1 (Ene-Mar)", "Trimestre 2 (Abr-Jun)", "Trimestre 3 (Jul-Sep)", "Trimestre 4 (Oct-Dic)"];

const isQuarterMode = computed(() => selectedYear.value >= 2024);
const periods = computed(() => isQuarterMode.value ? quarters : months);

onMounted(() => {
  const currentYear = new Date().getFullYear();
  for (let year = 2022; year <= currentYear; year++) {
    years.value.push(year);
  }
});

const updatePeriods = () => {
  selectedPeriod.value = null; // Resetear selección cuando cambia el año
};

const downloadFile = () => {
  const periodName = periods.value[selectedPeriod.value - 1];
  const fileName = `Informe ${periodName} ${selectedYear.value}.pdf`;

  // Construir la URL del archivo
  const filePath = `/docs/${fileName}`;

  // Crear un enlace temporal para la descarga
  const link = document.createElement('a');
  link.href = filePath;
  link.download = fileName;
  link.target = '_blank';
  document.body.appendChild(link);
  link.click();
  document.body.removeChild(link);
};
</script>

<style scoped></style>
