<template>
  <div>
    <SubHero :title="'Instancia de Participación'" :bg="imageSubHero" />

    <div class="container px-4 m-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <p class="mb-8 text-lg text-justify">Como mecanismos de participación social la Clínica de Urgencias Bucaramanga
        S.A.S. cuenta con una Alianza de Usuarios, Según lo establecido por el Decreto 1757 de 1994 la Alianza o
        asociación de usuarios es una agrupación de afiliados del régimen contributivo y subsidiado del Sistema General
        de Seguridad Social en Salud, que tienen derecho a utilizar los servicios de salud de acuerdo con su sistema de
        afiliación, que velarán por la calidad del servicio y defensa del usuario.
      </p>
    </div>

    <div class="px-56 pb-20 mx-96">
      <ul role="list" class="divide-y divide-gray-100">
        <li v-for="doc in docs" :key="doc.name" class="flex justify-between py-5 gap-x-6">
          <div class="flex min-w-0 gap-x-4">
            <div class="flex-auto min-w-0 my-auto">
              <p class="text-sm font-semibold leading-6 text-gray-900">{{ doc.name }}</p>
            </div>
          </div>
          <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <button @click="() => downloadFile(doc.docu)"
              class="w-full px-4 py-2 mt-4 font-bold text-white bg-green-500 rounded hover:bg-green-700 focus:outline-none focus:shadow-outline">
              <font-awesome-icon class="text-2xl" :icon="['fas', 'file-arrow-down']" />
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

</template>

<script setup>
import SubHero from "../components/SubHero.vue";
import imageSubHero from "@/assets/subhero/instanciaparticipacion.webp"

const docs = [
  {
    name: 'Asociación de usuarios',
    docu: 'Asociacion de usuarios',
  },
  {
    name: 'Integrantes Asociación de Usuarios',
    docu: 'Integrantes Asociacion de Usuarios',
  },
  {
    name: 'Comité de Ética Hospitalaria',
    docu: 'Comite de Etica Hospitalaria',
  },
  {
    name: 'Integrantes Comité de Ética Hospitalaria',
    docu: 'Integrantes Comite de Etica Hospitalaria',
  },
]

const downloadFile = (fileName) => {
  const filePath = `/docs/${fileName}.pdf`; // Ruta relativa a 'public/'
  
  // Crear un enlace temporal para la descarga
  const link = document.createElement('a');
  link.href = filePath;
  link.target = '_blank';
  document.body.appendChild(link);
  link.click();
  document.body.removeChild(link);
};
</script>

<style scoped></style>
