<script setup>
import JobCard from "@/components/JobCard.vue";
import imageSubHero from "@/assets/subhero/vacantes.webp";
import SubHero from "../components/SubHero.vue";
import { onMounted, ref } from "vue";
import api from "@/plugins/axios";

onMounted(() => apiJobs());

const jobs = ref([]);

function apiJobs() {
  api
    .get("api/trabaja-con-nosotros")
    .then((resp) => {
      // Mapea cada trabajo para descomponer el salario y las etiquetas
      jobs.value = resp.data.data.map((job) => {
        // Usa una expresión regular para separar el valor numérico inicial
        const salaryMatch = job.salario.match(/^([\d.,']+)/);
        const value = salaryMatch ? salaryMatch[0] : "";

        // Obtén el texto después del valor numérico y divídelo en etiquetas
        const tags = job.salario
          .replace(value, "") // Remueve el valor numérico
          .split("+") // Divide por '+'
          .map((tag) => tag.trim()) // Elimina espacios en blanco
          .filter((tag) => tag !== ""); // Filtra cualquier etiqueta vacía

        // Retorna el trabajo con el salario desglosado y las etiquetas
        return {
          ...job,
          value,
          tags,
        };
      });
    })
    .catch((error) => {
      console.error("Error al obtener las vacantes:", error);
    });
}
</script>

<template>
  <SubHero title="Trabaja con Nosotros" :bg="imageSubHero" />
  <div class="container mx-auto m-8 max-w-4xl px-10 lg:px-0">
    <p class="text-lg text-justify mb-8">
      En la Clínica de Urgencias Bucaramanga S.A.S., buscamos profesionales
      competentes y comprometidos, con vocación de servicio y enfoque en el
      trato humanizado al paciente.
    </p>
    <p class="text-lg text-justify mb-8">
      <strong>¿Quieres formar parte de nuestro equipo?</strong> Envía tu hoja de
      vida cuando publiquemos una vacante. Si cumples con los requisitos,
      nuestro equipo de Gestión del Talento Humano se pondrá en contacto
      contigo.
    </p>
    <p class="text-lg text-justify mb-8">
      <strong>Correo electrónico:</strong><br>
      <a href="mailto:hojasdevida@cub.com.co">hojasdevida@cub.com.co</a>
    </p>
  </div>
  <div class="container mx-auto m-8">
    <div
      class="grid gap-4 p-4"
      :class="{
        'grid-cols-1': jobs.length === 1,
        'grid-cols-1 sm:grid-cols-2': jobs.length === 2,
        'sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3': jobs.length > 2,
      }"
    >
      <JobCard
        v-for="job in jobs"
        :key="job.id"
        :jobTitle="job.titulo"
        :exp="job.experiencia"
        :tags="job.tags"
        :description="job.competencias"
        :rate="job.value"
        :schedule="job.horario"
        :type="job.tipo_contrato"
      />
    </div>
  </div>
</template>

<style scoped>
/* Estilos adicionales si es necesario */
</style>
