<script setup>
import SubHero from "@/components/SubHero.vue";
import imageSubHero from "@/assets/subhero/3.webp";
import svg1 from "@/assets/mision.vue";
import svg2 from "@/assets/vision.vue";
import Titles from "../components/Titles.vue";
import Paragraph from "../components/Paragraph.vue";
import { ref, onMounted, onBeforeUnmount } from "vue";
import api from "@/plugins/axios";

const mision = ref({});
const vision = ref({});

function apiMisionVision() {
  api.get("api/item-submenu/mision").then((resp) => {
    console.log ("llego");
    console.log(resp.data);
    mision.value = resp.data;

    api.get("api/item-submenu/vision").then((resp) => {
      console.log(resp.data);
      vision.value = resp.data;
    });
  });
}
onMounted(() => apiMisionVision());

// Propiedad reactiva para el tamaño de la pantalla
const isSmallScreen = ref(false);

// Función para manejar cambios en el tamaño de la pantalla
const updateScreenSize = () => {
  isSmallScreen.value = window.innerWidth < 768; // Define pantallas pequeñas como ancho menor a 768px
};

// Escuchar cambios en el tamaño de la ventana
onMounted(() => {
  updateScreenSize();
  window.addEventListener("resize", updateScreenSize);
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", updateScreenSize);
});
</script>

<template>
  <SubHero :title="'Misión y Visión'" :bg="imageSubHero" />

  <div class="container lg:px-0 px-10 sm:mx-auto md:px-48 relative py-10">
    <div class="flex flex-col lg:flex-row" :data-aos="isSmallScreen ? 'fade-up' : 'fade-left'">
      <svg1 class="w-full lg:w-1/2 lg:basis-6/12" />
      <div class="flex flex-col basis-1/2 place-content-center">
        <Titles :span="mision.nombre" />
        <Paragraph :parrafo="mision.descripcion" />
        <!-- <p class="text-justify text-sm sm:text-lg">La Clínica CUB S.A.S ejecuta procesos asistenciales y administrativos con la finalidad de prestar servicios de salud en los tres niveles de atención, contando con un equipo de trabajo de excelentes competencias humanas e innovaciones tecnológicas, comprometidos con la gestión del riesgo. Enfocándonos en la preservación y mejoramiento del desarrollo físico, mental, social y ambiental de nuestra comunidad en el Nor Oriente Colombiano.</p> -->
      </div>
    </div>
    <div class="flex flex-col-reverse lg:flex-row" :data-aos="isSmallScreen ? 'fade-up' : 'fade-right'">
      <div class="flex flex-col basis-1/2 place-content-center">
        <Titles :span="vision.nombre" />
        <Paragraph :parrafo="vision.descripcion" />
        <!-- <p class="text-justify text-lg lg:text-lg">
          La Clínica CUB S.A.S será en el 2025 una IPS acreditada en un marco de seguridad y confianza, elevando los estándares en la prestación del servicio.
        </p> -->
      </div>
      <svg2 class="w-full lg:w-1/2 lg:basis-6/12" />
    </div>
  </div>
</template>
