<template>
  <SubHero :title="'Nuestra Historia'" :bg="imageSubHero" />
  <div class="lg:px-40 xl:px-96 pb-20 pt-10">

    <Timeline :value="events" align="alternate" class="customized-timeline">
      <template #marker="slotProps">
        <span class="flex w-8 h-8 items-center justify-center text-white rounded-full border-circle z-1 shadow-1"
          data-aos="fade-up" :style="{ backgroundColor: slotProps.item.color }">
          <i :class="slotProps.item.icon"></i>
        </span>
      </template>
      <template #content="slotProps">
        <Card class="h-full" data-aos="fade-up">
          <template #title>
            {{ slotProps.item.status }}
          </template>
          <template #subtitle>
            {{ slotProps.item.date }}
          </template>
          <template #content>
            <img v-if="slotProps.item.image"
              :src="slotProps.item.image"
              :alt="slotProps.item.name" width="500" class="shadow-1" />
            <p>
              {{ slotProps.item.descripcion }}
            </p>
          </template>
        </Card>
      </template>
    </Timeline>
  </div>
</template>

<script setup>
import { ref } from "vue";
import SubHero from "../components/SubHero.vue";
import imageSubHero from "@/assets/TimeLine/1.jpg"
import img1 from "@/assets/TimeLine/1.jpg"
import img2 from "@/assets/TimeLine/8.png"
import img3 from "@/assets/TimeLine/7.png"
import img4 from "@/assets/TimeLine/2.png"
import img5 from "@/assets/TimeLine/3.jpg"
import img6 from "@/assets/TimeLine/4.jpg"
import img7 from "@/assets/TimeLine/5.jpg"
import img8 from "@/assets/revista/2021.webp"
import img9 from "@/assets/revista/2022.webp"
import img10 from "@/assets/revista/2023.webp"
import img11 from "@/assets/revista/2024.webp"

const events = ref([
  {
    status: "Constitución de la Clínica de Urgencias Bucaramanga S.A.S",
    date: "Enero de 2013",
    icon: "pi pi-sun",
    color: "#9C27B0",
    image: img1,
    descripcion: "La Clínica de Urgencias Bucaramanga S.A.S. se constituyó por documento privado que se registró en la Cámara de Comercio de Bucaramanga el día 08 de enero de 2013. El 01 de noviembre del 2014 comienza la prestación de servicios de salud de III nivel como respuesta a la necesidad de contar con una entidad que brindará servicios con calidad, oportunos y con trato humanizado, en el oriente colombiano."
  },
  {
    status: "Reconocimiento por parte de la Alcaldía de Bucaramanga",
    date: "2021",
    icon: "pi pi-star-fill",
    color: "#673AB7",
    descripcion: "Reconocimiento al personal de la Clínica de Urgencias Bucaramanga por su compromiso en la lucha contra el COVID, más de 85.000 dosis de vacunas aplicadas y la expansión en UCI COVID.",
    image: img2,
  },
  {
    status: "Reconocimiento por parte de la Cámara de Comercio de Bucaramanga",
    date: "2021",
    icon: "pi pi-star-fill",
    color: "#673AB7",
    descripcion: "La cámara de comercio de Bucaramanga hace reconocimiento especial a la clínica de Urgencias Bucaramanga por su trabajo permanente salvando vidas en este tipo de pandemia, generando acciones en pro de la atención de la emergencia sanitaria y garantizando el bienestar de los santandereanos.",
    image: img3,
  },
  {
    status: "Ranking de empresas generadoras de desarrollo en Santander",
    date: "2021",
    icon: "pi pi-star-fill",
    color: "#FF9800",
    descripcion: "Clasificación en el puesto 43 dentro de las 500 empresas generadoras de desarrollo en Santander.",
    image: img8,
  },
  {
    status: "Reconocimiento de la Cámara de Comercio de Bucaramanga",
    date: "2021",
    icon: "pi pi-star-fill",
    color: "#673AB7",
    descripcion: "Reconocimiento especial por su trabajo permanente salvando vidas durante la pandemia.",
    image: img1,
  },
  {
    status: "Ranking de empresas generadoras de desarrollo en Santander",
    date: "2022",
    icon: "pi pi-star-fill",
    color: "#FF9800",
    descripcion: "Clasificación en el puesto 48 dentro de las 500 empresas generadoras de desarrollo en Santander.",
    image: img9,
  },
  {
    status: "Programa Nacional de Carbono Neutralidad",
    date: "2022",
    icon: "pi pi-star-fill",
    color: "#FF9800",
    descripcion: "El ministerio de ambiente y desarrollo sostenible reconoce a la clínica de urgencias Bucaramanga en su participación en las actividades desarrolladas en el PROGRAMA NACIONAL DE CARBONO NEUTRALIDAD, bajo los compromisos climáticos del país en el marco del acuerdo de parís. 2022",
    image: img4,
  },
  {
    status: "Ranking de empresas generadoras de desarrollo en Santander",
    date: "2023",
    icon: "pi pi-star-fill",
    color: "#FF9800",
    descripcion: "Clasificación en el puesto 47 dentro de las 500 empresas generadoras de desarrollo en Santander.",
    image: img10,
  },
  {
    status: "Empresas Verdes",
    date: "2023",
    icon: "pi pi-star-fill",
    color: "#FF9800",
    descripcion: "La Cámara de Comercio de Bucaramanga otorga el presente reconocimiento a la clínica de Urgencias Bucaramanga por su participación en el programa de empresas verdes; cuyo objetivo es redefinir impacto: económico, ambiental y social que permita aumentar su competitividad y productividad.",
    image: img5,
  },
  {
    status: "Certificación por la Red Global de Hospitales Verdes y Saludables",
    date: "2024",
    icon: "pi pi-star-fill",
    color: "#FF9800",
    descripcion: "Red Global de hospitales verdes y saludables certifica a la clínica de urgencias Bucaramanga, se ha unido como MIEMBRO ACTIVO en tato ha manifestado su compromiso para reducir su huella climática y promover la salud ambiental pública, además de comprometerse a trabajar en el siguiente objetivo Compras sostenibles-Energía.",
    image: img6,
  },
  {
    status: "Certificación por la Red Global de Hospitales Verdes y Saludables",
    date: "2024",
    icon: "pi pi-star-fill",
    color: "#FF9800",
    descripcion: "Red Global de hospitales verdes y saludables certifica a la clínica de urgencias Bucaramanga, se ha unido como MIEMBRO ACTIVO en tato ha manifestado su compromiso para reducir su huella climática y promover la salud ambiental pública, además de comprometerse a trabajar en el siguiente objetivo Compras sostenibles-Energía.",
    image: img7,
  },
  {
    status: "Ranking de empresas generadoras de desarrollo en Santander",
    date: "2024",
    icon: "pi pi-star-fill",
    color: "#FF9800",
    descripcion: "Clasificación en el puesto 36 dentro de las 500 empresas generadoras de desarrollo en Santander.",
    image: img11,
  },
  {
    status: "Continuamos Trabajando para Mejorar",
    date: "Actualmente",
    icon: "pi pi-chevron-down",
    color: "#607D8B",
    descripcion: "Seguimos dedicados a mejorar nuestros servicios y a mantener nuestro compromiso con la salud y el bienestar de nuestra comunidad.",
    image: img1,
  },
]);
</script>

<style scoped>
@media screen and (max-width: 960px) {
  .customized-timeline .p-timeline-event:nth-child(even) {
    flex-direction: row;
  }

  .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
    text-align: left;
  }

  .customized-timeline .p-timeline-event-opposite {
    flex: 0;
  }
}
</style>
