<script setup>
import SubHero from "@/components/SubHero.vue";
import imageSubHero from "@/assets/hero-image.jpg";
import svg1 from "@/assets/objetivo.vue";
import Titles from "../components/Titles.vue";
import Paragraph from "../components/Paragraph.vue";
import axios from "axios";
import { onMounted, ref } from "vue";

onMounted(() => apiObjetivos());

const objetivo = ref({});

function apiObjetivos() {
  axios
    .get("http://192.168.20.250:2000/api/item-submenu/objetivos")
    .then((resp) => {
      console.log(resp.data);
      objetivo.value = resp.data;
    });
}
</script>

<template>
  <SubHero :title="objetivo.nombre" :bg="imageSubHero" />

  <div class="container lg:px-0 px-10 sm:mx-auto md:px-48 relative py-10" data-aos="fade-up">
    <div class="flex flex-col lg:flex-row" data-aos="fade-left">
      <svg1 class="w-full lg:w-1/2 lg:basis-6/12" />
      <div class="flex flex-col basis-1/2 place-content-center">
        <div v-html="objetivo.descripcion" id="objetivos"></div>
      </div>
    </div>
  </div>
</template>

<style>
#objetivos > strong {
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity)) /* #16a34a */;
}
</style>

