<script setup>
import SubHero from "@/components/SubHero.vue";
import imageSubHero from "@/assets/hero-image.jpg";
import Paragraph from "../components/Paragraph.vue";
import axios from "axios";
import { onMounted, ref, onBeforeUnmount } from "vue";

onMounted(() => apiOrganigrama());

const organigrama = ref({});

function apiOrganigrama() {
  axios
    .get("http://192.168.20.250:2000/api/item-submenu/organigrama")
    .then((resp) => {
      console.log(resp.data);
      organigrama.value = resp.data;
    });
}

// Propiedad reactiva para el tamaño de la pantalla
const isSmallScreen = ref(false);

// Función para manejar cambios en el tamaño de la pantalla
const updateScreenSize = () => {
  isSmallScreen.value = window.innerWidth < 768; // Define pantallas pequeñas como ancho menor a 768px
};

// Escuchar cambios en el tamaño de la ventana
onMounted(() => {
  updateScreenSize();
  window.addEventListener("resize", updateScreenSize);
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", updateScreenSize);
});
</script>

<template>
  <SubHero :title="organigrama.nombre" :bg="imageSubHero" />

  <div class="container lg:px-0 px-10 sm:mx-auto md:px-48 relative py-10" data-aos="fade-up">
    <div class="text-center pb-10">
      <!-- <Titles :span="organigrama.nombre" /> -->
      <Paragraph :parrafo="organigrama.descripcion" />
    </div>
    <div class="flex flex-col sm:flex-row"  :data-aos="isSmallScreen ? 'fade-up' : 'fade-left'">
      <iframe :src="organigrama.imagen" frameborder="0" width="100%" height="580px"></iframe>
    </div>
  </div>
</template>
