<template>
  <SubHero :title="'Políticas Institucionales'" :bg="imageSubHero" />
  <div class="">
    <p class="max-w-xl mx-auto text-justify">
      La Clínica de Urgencias Bucaramanga S.A.S. cuenta con un Código de ética y
      buen gobierno, que contiene los principios y valores institucionales y las
      políticas que rigen a la institución. Dentro de ellas se encuentran:
    </p>
  </div>
  <div class="container mx-auto m-8 max-w-4xl">
    <div
      class="flex flex-wrap justify-center"
      v-for="(value, index) in values"
      :key="index"
    >
      <CollapsibleSection :title="value.title">
        <div v-html="value.description" class="text-justify">
        </div>
      </CollapsibleSection>
    </div>
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue";
import CollapsibleSection from "../components/CollapsibleSection.vue";
import SubHero from "../components/SubHero.vue";
import imageSubHero from "@/assets/administrativo/3.webp";
import axios from "axios";
import api from "@/plugins/axios";

// Lista de valores iniciales con títulos predefinidos y enlaces de documentos
const values = ref([
  { title: "", description: "" },
  { title: "", description: "" },
  { title: "", description: "" },
  { title: "", description: "" },
  { title: "", description: "" },
  { title: "", description: "" },
  { title: "", description: "" },
  { title: "", description: "" },
  { title: "", description: "" },
]);

// URLs de las políticas en orden para iterar
const policyUrls = [
  "api/item-submenu/politica-seguridad-del-paciente",
  "api/item-submenu/politica-de-tratamiento-de-la-informacion",
  "api/item-submenu/politica-humanizacion",
  "api/item-submenu/politica-de-clientes-y-proveedores",
  "api/item-submenu/politica-de-gestion-de-la-tecnologia",
  "api/item-submenu/politica-de-discapacidad",
  "api/item-submenu/politica-de-confidencialidad-de-la-informacion-del-paciente",
  "api/item-submenu/politica-de-sarlaft",
  "api/item-submenu/politica-de-gestion-del-riesgo",
];

// Función para obtener los datos de las políticas y asignarlos en `values`
async function apiPoliticas() {
  await Promise.all(
    policyUrls.map((url, index) =>
      api
        .get(url)
        .then((resp) => {
          values.value[index].title = resp.data.nombre;
          values.value[index].description = resp.data.descripcion;
        })
        .catch((error) =>
          console.error(`Error al obtener la política ${index + 1}:`, error)
        )
    )
  );
}

onMounted(apiPoliticas);
</script>

<style scoped></style>
