<template>
  <SubHero :title="'Preguntas Frecuentes'" :bg="imageSubHero" />
  <div class="px-10" data-aos="fade-down">
    <div
      class="mx-auto max-w-[1200px] flex flex-col md:flex-row items-start py-10"
    >
      <div class="mb-6 md:w-2/5 md:mr-20">
        <div class="paragraph-container">
          <p class="text-3xl text-gray-500 mb-6">
            Respuestas a las preguntas más comunes de nuestros usuarios.
          </p>
        </div>
        <!-- <a class="text-2xl font-bold mb-6"
          >¿Tienes una pregunta diferente? <br />
          Hazla aquí</a
        > -->
        <!-- formulario pregunta -->
        <!-- <div
          v-if="visible"
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg px-3"
          data-aos="fade-down"
        >
          <Form
            id="formulario"
            @submit="submitForm"
            class="m-2"
            ref="form"
            v-slot="{ errors }"
          >
            <div
              :class="errors.name ? 'border-2 border-rose-500' : ''"
              class="flex rounded-lg mb-2 ring-1 ring-gray-300"
            >
              <span
                class="flex select-none items-center pl-3 text-gray-500 sm:text-sm"
              >
                <font-awesome-icon icon="user" />
              </span>
              <Field
                type="text"
                name="name"
                id="name"
                class="flex-1 outline-none border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="Nombre Completo"
                rules="required"
              />

              <ErrorMessage
                class="inline-block h-6 w-6 rounded-full ring-2 ring-white bg-red-500 text-center text-white italic my-auto mr-2 font-extrabold"
                name="name"
              />
            </div>

            <select
              v-model="selectedDocument"
              id="id"
              name="id"
              class="w-full rounded-lg mb-2 py-2 pl-3 text-gray-900 ring-1 ring-gray-300"
            >
              <option disabled value=" ">Seleccione Tipo Documento</option>
              <option
                v-for="option in optionsDoc"
                :key="option.tipo"
                :value="option"
              >
                {{ option.tipo }}
              </option>
            </select>

            <div
              :class="errors.document ? 'border-2 border-rose-500' : ''"
              class="flex rounded-lg mb-2 ring-1 ring-gray-300"
            >
              <span
                class="flex select-none items-center pl-3 text-gray-500 sm:text-sm"
              >
                <font-awesome-icon icon="id-card" />
              </span>
              <Field
                type="text"
                name="document"
                id="document"
                class="flex-1 outline-none border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="Documento"
                rules="required"
              />
              <ErrorMessage
                class="inline-block h-6 w-6 rounded-full ring-2 ring-white bg-red-500 text-center text-white italic my-auto mr-2 font-extrabold"
                name="document"
              />
            </div>

            <div class="flex flex-col lg:flex-row gap-2">
              <div
                :class="errors.email ? 'border-2 border-rose-500' : ''"
                class="flex w-full lg:w-[216px] xl:w-[216px] rounded-lg mb-2 ring-1 ring-gray-300"
              >
                <span
                  class="flex select-none items-center pl-3 text-gray-500 sm:text-sm"
                >
                  <font-awesome-icon icon="at" />
                </span>
                <Field
                  type="email"
                  name="email"
                  id="email"
                  class="flex-1 outline-none border-0 bg-transparent py-2 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                  placeholder="Correo"
                  rules="required"
                />
                <ErrorMessage
                  class="inline-block h-6 w-6 rounded-full ring-2 ring-white bg-red-500 text-center text-white italic my-auto mr-2 font-extrabold"
                  name="email"
                />
              </div>

              <div
                :class="errors.phone ? 'border-2 border-rose-500' : ''"
                class="flex w-full lg:w-[216px] xl:w-[216px] rounded-lg mb-2 ring-1 ring-gray-300"
              >
                <span
                  class="flex select-none items-center py-2 pl-3 text-gray-500 sm:text-sm"
                >
                  <font-awesome-icon icon="phone" />
                </span>
                <Field
                  type="text"
                  name="phone"
                  id="phone"
                  class="flex-1 outline-none border-0 bg-transparent py-2 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                  placeholder="Teléfono"
                  rules="required"
                />
                <ErrorMessage
                  class="inline-block h-6 w-6 rounded-full ring-2 ring-white bg-red-500 text-center text-white italic my-auto mr-2 font-extrabold"
                  name="phone"
                />
              </div>
            </div>

            <div class="">
              <textarea
                id="about"
                name="about"
                rows="3"
                class="w-full rounded-lg mb-2 border-0 py-2 pl-3 text-gray-900 ring-1 ring-gray-300 placeholder:text-gray-400 outline-none"
                placeholder="Pregunta..."
                rules="required"
                :class="errors.about ? 'border-2 border-rose-500' : ''"
              />
              <ErrorMessage
                class="inline-block h-6 w-6 rounded-full ring-2 ring-white bg-red-500 text-center text-white italic my-auto mr-2 font-extrabold"
                name="about"
              />
            </div>
            <button
              type="submit"
              form="formulario"
              class="rounded-lg mb-2 bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500"
            >
              Enviar Pregunta
            </button>
          </Form>
          <template> </template>
        </div> -->
        <!-- formulario pregunta -->
      </div>
      <div class="md:flex-1">
        <div v-for="(faq, index) in faqs" :key="index" class="mb-5">
          <div
            class="flex justify-between items-center bg-white rounded-lg cursor-pointer border border-solid px-5 py-3"
            @click="toggleAnswer(index)"
          >
            <div class="flex font-bold uppercase">{{ faq.question }}</div>
            <div class="text-xl ml-3">{{ faq.open ? "-" : "+" }}</div>
          </div>
          <div
            v-if="faq.open"
            class="mt-3 px-5 py-3 border border-solid rounded-lg"
            :data-aos="isSmallScreen ? 'fade-up' : 'fade-right'"
            v-html="faq.answer"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, reactive, onMounted, onBeforeUnmount } from "vue";
import SubHero from "../components/SubHero.vue";
import imageSubHero from "@/assets/subhero/preguntas.webp"

const faqs = reactive([
  {
    question: "¿DÓNDE SE ENCUENTRA UBICADA LA CLINICA?",
    answer:
      "Nuestra institución se encuentra ubicada en la Carrera 33 #53-27 Cabecera del Llano, Bucaramanga Santander.",
    open: true,
  },
  {
    question:
      "¿CUÁLES SON LOS HORARIOS DE VISITA DE LA CLINICA EN EL SERVICIO DE HOSPITALIZACIÓN?",
    answer:
      "La visita para los pacientes que se encuentran en el servicio de hospitalización es de Lunes a Domingo de 9:00 am a 7:00 pm.",
    open: false,
  },
  {
    question:
      "¿CUÁLES SON LOS HORARIOS DE VISITA DE LA CLINICA EN EL SERVICIO DE UCI?",
    answer:
      "La visita para los pacientes que se encuentran en el servicio de UCI es de Lunes a Domingo de 11:00 a 12:00 m y de 4:00 pm a 6:00 pm.",
    open: false,
  },
  {
    question:
      "¿CUÁLES SON LOS HORARIOS DE ATENCIÓN EN EL AREA ADMINISTRATIVA DE LA CLINICA?",
    answer:
      "El ingreso de visitantes al área administrativa es de Lunes a Viernes de 8:00 am a 11:00 am y de 2:00 pm a 4:00 pm.",
    open: false,
  },
  {
    question: "¿CUÁL ES EL HORARIOS DE ATENCIÓN DEL SIAU?",
    answer:
      "El SIAU se encuentra disponible de Lunes a sábado en los siguientes horarios: Lunes a Viernes: 7:30 am a 12:00 M y de 2:00 a 6:00 pm. Sábados: 8:00 am a 12:00 pm.",
    open: false,
  },
  {
    question: "¿Cómo solicito una cita presencialmente?",
    answer:
      "La Clínica de Urgencias Bucaramanga S.A.S. ofrece atención personalizada para la asignación de citas médicas. <br><br>El horario de atención en la sede principal es de lunes a viernes, de 7:00 a.m. a 12:00 p.m. y de 2:00 p.m. a 5:00 p.m. <br><br>Las sedes ambulatorias están disponibles de lunes a viernes, de 7:00 a.m. a 12:00 p.m. y de 1:00 p.m. a 5:00 p.m.",
    open: false,
  },
  {
    question: "¿Cómo solicito una cita telefónicamente?",
    answer:
      "La Clínica ofrece un servicio telefónico para facilitar la solicitud de citas médicas, brindando comodidad y ahorro de tiempo a los usuarios. <br><br>Las líneas disponibles son: <br><br><strong>WhatsApp Línea Especialidades:</strong> 318-3125540 <br><br><strong>WhatsApp Línea General:</strong> 318-5484699 <br><br><strong>Celular Medicina Laboral:</strong> 318-7083838<br><br> <strong>WhatsApp Sede Ambulatoria Girón:</strong> 316-0186503<br><br> <strong>Línea fija Sede Ambulatoria Bucaramanga:</strong> 601-3076503<br><br> <strong>Línea fija Sede Principal:</strong> 607-6436131<br><br> <strong>Línea fija Sede Ambulatoria Girón:</strong> 601-3076444<br><br> <strong>WhatsApp Programación de Terapias:</strong> 601-3076503<br><br> <strong>WhatsApp Imágenes Diagnósticas:</strong> 318-5484635<br><br> <strong>Laboratorio Clínico:</strong> 607-6436131 Ext. 124<br><br> <strong>Celular Procedimientos Menores:</strong> 607-6436131 Ext. 133.",
    open: false,
  },
  {
    question: "¿Cómo solicito una cita por correo electrónico?",
    answer:
      "La Clínica de Urgencias Bucaramanga S.A.S. permite solicitar servicios ambulatorios por correo electrónico para mayor comodidad. <br><br> Los correos son: <br><br><strong> Sede Girón: </strong>citasgiron@cub.com.co <br><br>  <strong>Sede Bucaramanga: </strong>consultaexterna@cub.com.co.",
    open: false,
  },
  {
    question: "¿Qué debo tener en cuenta para asistir a mi cita?",
    answer:
      "Se recomienda llegar 30 minutos antes para realizar la admisión y, si es necesario, el pago de la cuota moderadora. <br><br> Traiga consigo la autorización de la EPS, orden de consulta, documento de identidad y la última historia clínica. <br><br> Para pacientes atendidos por SOAT, deben presentarse con la historia clínica de atención inicial, copia del documento de identidad, tarjeta de propiedad, SOAT y orden médica.<br><br>  Para pacientes referidos de otras instituciones, los documentos requeridos son: certificado de gastos, facturas, historia clínica y FURIPS.",
    open: false,
  },
  {
    question: "¿Como solicito una toma de ecografía?",
    answer:
      "<strong>Puede solicitarla por correo electrónico:</strong> ecografias@cub.com <br><br> <strong>Anexando estos datos y soportes:</strong> Nombre completo del paciente, tipo y número de documento, líneas de contacto telefónico, orden médica, autorización de la EPS en fotos legibles o documentos PDF. ",
    open: false,
  },
  {
    question: "¿Como solicito una toma de Tomografía?",
    answer:
      "<strong>Puede solicitarla por correo electrónico:</strong> tomografia@cub.com <br><br> <strong>Anexando estos datos y soportes:</strong> Nombre completo del paciente, tipo y número de documento, líneas de contacto telefónico, orden médica, autorización de la EPS en fotos legibles o documentos PDF. ",
    open: false,
  },
  {
    question: "¿Como solicito una toma de rayos X?",
    answer:
      "En los siguientes horarios de atencion: <br><br> <strong>Lunes a viernes:</strong> 7:00 am a 05:00pm jornada continua <br><strong>Sábados:</strong> 07:00am a 01:00 pm <br><br> <strong>Anexando estos datos y soportes:</strong> Nombre completo del paciente, tipo y número de documento, líneas de contacto telefónico, orden médica, autorización de la EPS en fotos legibles o documentos PDF. ",
    open: false,
  },

  // Agrega más preguntas y respuestas según sea necesario
]);

const toggleAnswer = (index) => {
  faqs[index].open = !faqs[index].open;
};

const selectedDocument = ref(" ");
const optionsDoc = ref([
  { tipo: "Cédula de Ciudadanía" },
  { tipo: "Cédula de Extranjería" },
  { tipo: "Pasaporte" },
  { tipo: "Registro Civil" },
  { tipo: "Tarjeta de Identidad" },
  { tipo: "Permiso Especial de Permanencia" },
]);

const submitForm = async () => {
  console.log("Formulario válido, enviando datos...", formData.value);
};

const visible = ref(false);

onMounted(() => {
  // Abrir el formulario automáticamente después de 5 segundos
  setTimeout(() => {
    visible.value = true;
  }, 1000); // 5000 milisegundos = 5 segundos

  updateScreenSize();
  window.addEventListener("resize", updateScreenSize);
});

// Propiedad reactiva para el tamaño de la pantalla
const isSmallScreen = ref(false);

// Función para manejar cambios en el tamaño de la pantalla
const updateScreenSize = () => {
  isSmallScreen.value = window.innerWidth < 768; // Define pantallas pequeñas como ancho menor a 768px
};


onBeforeUnmount(() => {
  window.removeEventListener("resize", updateScreenSize);
});
</script>

<style scoped>
@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    /* Añade un poco de espacio alrededor del contenedor en pantallas más pequeñas */
    padding-right: 20px;
  }
}
</style>
