<script setup>
import UnderConstruction from '../components/UnderConstruction.vue'
</script>

<template>
  <UnderConstruction pageTitle="Consultar Resultados" />
</template>

<style scoped>

</style>
