<script setup>
import { ref, onMounted, onBeforeUnmount } from "vue";
import SubHero from "@/components/SubHero.vue";
import imageSubHero from "@/assets/hero-image.jpg"
import svg1 from "@/assets/mision.vue"
import svg2 from "@/assets/vision.vue"
import Titles from "../components/Titles.vue";
import Paragraph from "../components/Paragraph.vue";

// Propiedad reactiva para el tamaño de la pantalla
const isSmallScreen = ref(false);

// Función para manejar cambios en el tamaño de la pantalla
const updateScreenSize = () => {
  isSmallScreen.value = window.innerWidth < 768; // Define pantallas pequeñas como ancho menor a 768px
};

// Escuchar cambios en el tamaño de la ventana
onMounted(() => {
  updateScreenSize();
  window.addEventListener("resize", updateScreenSize);
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", updateScreenSize);
});
// import axios from "axios"
// import { onMounted, ref } from "vue";

// onMounted(() => apiMisionVision())

// const mision = ref({})
// const vision = ref({})

// function apiMisionVision() {
//   api.get("http://192.168.20.250:2000/api/item-submenu/mision").then((resp) => {
//     console.log(resp.data)
//     mision.value = resp.data

//     api.get("http://192.168.20.250:2000/api/item-submenu/vision").then((resp) => {
//       console.log(resp.data)
//       vision.value = resp.data
//     })
//   })
// }
</script>

<template>
  <SubHero :title="'Programa Institucional de Seguridad del Paciente'" :bg="imageSubHero" />


  <div class="container lg:px-0 px-10 sm:mx-auto md:px-48 relative py-10">
    <div class="flex flex-col lg:flex-row" :data-aos="isSmallScreen ? 'fade-up' : 'fade-left'">
      <!-- <svg1  /> -->
    <img class="w-full lg:w-1/4 lg:basis-6/12 rounded-xl" src="../assets/hospitalizacion/11.webp" alt="">
      <div class="flex flex-col basis-3/4 place-content-center mx-10">
        <!-- <Titles span="hola" /> -->
        <Paragraph parrafo="La seguridad del paciente tiene un alcance en la protección de la salud que se ha convertido en uno de los parámetros más importantes del sistema Obligatorio de Garantía de Calidad en Salud de la República de Colombia y continúa siendo obligatorio como parte de los procesos prioritarios de la habilitación en salud, actualmente en la Resolución 3100 de 2019. Igualmente se ha fortalecido en la Acreditación en salud como eje de Gestión Clínica Excelente y Segura, con estándares superiores en busca de la excelencia." />
         <!-- <p class="text-justify text-sm sm:text-lg">La Clínica CUB S.A.S ejecuta procesos asistenciales y administrativos con la finalidad de prestar servicios de salud en los tres niveles de atención, contando con un equipo de trabajo de excelentes competencias humanas e innovaciones tecnológicas, comprometidos con la gestión del riesgo. Enfocándonos en la preservación y mejoramiento del desarrollo físico, mental, social y ambiental de nuestra comunidad en el Nor Oriente Colombiano.</p> -->
      </div>
    </div>
  </div>
</template>
