<template>
  <SubHero :title="'Nuestros Servicios'" :bg="imageSubHero" />
  <div class="container lg:px-0 px-10 sm:mx-auto md:px-48 relative py-10">
    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-[30px]">


      <VCard v-for="(service, index) in services" :key="index" :img="service.img" :title="service.title"
        :parrafo="service.description" 
        titleClass="title h5 text-lg font-medium hover:text-green-600" pClass="text-slate-400 mt-3 text-justify"/>
    </div>
  </div>
</template>

<script setup>
import SubHero from "@/components/SubHero.vue";
import VCard from "@/components/VCard.vue"
import imageSubHero from "@/assets/hero-image.jpg"
import cirugia from "@/assets/svg/servicio-cirugia.svg"
import consultaext from "@/assets/svg/servicio-consulta-ext.svg"
import hospitalizacion from "@/assets/svg/servicio-hospitalizacion.svg"
import imgdiagx from "@/assets/svg/servicio-imagen.svg"
import laboratorio from "@/assets/svg/servicio-laboratorio.svg"
import oncologia from "@/assets/svg/servicio-oncologia.svg"
import prograex from "@/assets/svg/servicio-programa-especial.svg"
import uci2 from "@/assets/svg/servicio-uci.svg"
import urgencia from "@/assets/svg/servicio-urgencia.svg"

const services = [
  {
    img: cirugia,
    title: "Cirugía",
    description:
      "El área de cirugía ambulatoria de la Clínica de Urgencias Bucaramanga tiene salas totalmente equipadas para varios procedimientos diagnósticos y terapéuticos. Los servicios incluyen broncoscopia, endoscopia digestiva, cirugía general y especializada.",
  },
  {
    img: consultaext,
    title: "Consulta Externa",
    description:
      "Este servicio médico se ofrece a pacientes que no requieren hospitalización, permitiéndoles ser atendidos por especialistas en diversas áreas de salud. Los médicos realizan evaluaciones, diagnósticos, tratamientos y seguimiento de enfermedades crónicas. Es una forma eficiente de recibir atención especializada sin necesidad de hospitalización, ayudando en la prevención y tratamiento oportuno.",
  },
  {
    img: hospitalizacion,
    title: "Hospitalización",
    description:
      "La hospitalización es esencial en la atención médica, ya que permite ofrecer cuidados intensivos y especializados a pacientes que necesitan supervisión constante y tratamiento continuo. Los pacientes reciben atención médica las 24 horas del día, asegurando la atención adecuada en todo momento.",
  },
  {
    img: imgdiagx,
    title: "Imagen Diagnóstica",
    description:
      "Nuestro servicio de imágenes diagnósticas es clave en la atención médica moderna. Estas tecnologías permiten a los profesionales de salud ver el interior del cuerpo humano para diagnosticar enfermedades y lesiones. Las técnicas comunes incluyen radiografías, resonancias magnéticas, tomografías computarizadas, ecografías y mamografías.",
  },
  {
    img: laboratorio,
    title: "Laboratorio",
    description:
      "El servicio de laboratorio clínico es fundamental en la atención médica, proporcionando información valiosa que ayuda a los médicos a tomar decisiones informadas sobre la salud de los pacientes. Los resultados de laboratorio son cruciales para el diagnóstico, monitoreo de tratamientos, prevención de enfermedades y promoción de la salud.",
  },
  {
    img: oncologia,
    title: "Oncologia",
    description:
      "El servicio de oncología de la Clínica de Urgencias Bucaramanga ofrece diagnóstico y tratamiento especializado para pacientes con cáncer. Contamos con un equipo multidisciplinario que brinda atención integral, incluyendo quimioterapia, radioterapia y apoyo psicológico, asegurando un tratamiento personalizado y humanizado para cada paciente.",
  },
  {
    img: prograex,
    title: "Programa Especial",
    description:
      "Nuestro programa de Piel Sana busca estandarizar y fortalecer los lineamientos del equipo de salud en la prevención y tratamiento de lesiones de la piel para disminuir su incidencia. Nuestro programa Vascular se enfoca en preservar la economía vascular y reducir complicaciones por acceso venoso, definiendo el dispositivo vascular adecuado.",
  },
  {
    img: uci2,
    title: "UCI",
    description:
      "El servicio de cuidados intensivos (UCI) brinda atención médica intensiva a pacientes en estado crítico o que requieren monitoreo constante y cuidados especializados. Son atendidos por un equipo multidisciplinario de profesionales de la salud, incluyendo médicos, enfermeras, terapeutas respiratorios y otros especialistas.",
  },
  {
    img: urgencia,
    title: "Urgencias",
    description:
      "El servicio de urgencias disponible las 24 horas garantiza que las personas tengan acceso a atención médica cuando más la necesitan. La unidad de urgencias tiene 4 consultorios médicos, 21 camas para adultos y 3 camas pediátricas. Además, cuenta con salas especializadas en yesos, suturas, reanimación y nebulizaciones, diferenciadas por edades y género.",
  },
];
</script>

<style scoped></style>
