<template>
  <SubHero :title="'Valores Corporativos'" :bg="imageSubHero" />

  <div>
    <p class="max-w-xl mx-auto mt-4 text-justify px-10 sm:px-0">
      La Gestión del Riesgo, la seguridad del paciente, la humanización de la
      atención, el análisis del contexto, el impacto estratégico, la atención
      de las necesidades, el talento humano y la mejora continua son
      considerados parte vital de nuestra cultura organizacional, es por esto
      por lo que la institución adopta y resalta los siguientes valores
      institucionales:
    </p>
  </div>
  
  <div class="container mx-auto m-8 max-w-4xl">
  <div
  class="flex flex-wrap justify-center"
    v-for="(value, index) in values"
    :key="index"
    >
    <CollapsibleSection :title="value.title">
      <div>
        {{ value.description }}
      </div>
    </CollapsibleSection>
  </div>
</div>
</template>

<script setup>
import SubHero from "../components/SubHero.vue";
import CollapsibleSection from "../components/CollapsibleSection.vue";
import imageSubHero from "@/assets/subhero/2.webp";

const values = [
// {
//     title: "Equidad",
//     description:
//       "Es la justicia entendida brindando valor a todas las personas sin importar las diferencias culturales, sociales o de género, dando a cada uno de nuestros usuarios y colaboradores lo que le corresponde según sus necesidades, méritos, capacidades y atributos.",
//     icon: "src/assets/equidad-icon.png",
//   },
  {
    title: "Respeto",
    description:
      "Comprendemos y aceptamos las diferencias de las personas, logrando situarnos en el lugar del otro; valorando sus cualidades, opiniones y su tiempo; teniendo presente el trato digno, fortaleciendo la confianza entre las partes.",
    icon: "src/assets/Respeto-icon.png",
  },
  {
    title: "Responsabilidad",
    description:
      "La intención inequívoca de cumplir con los  compromisos, velando por los bienes, tanto de la sociedad, como de sus grupos de interés. Responder de acuerdo con las circunstancias, deberes y compromisos adquiridos, asumiendo las consecuencias de los actos que resulten de las decisiones tomadas.",
    icon: "src/assets/Responsabilidad-icon.png",
  },
  // {
  //   title: "Solidaridad",
  //   description:
  //     "Es un valor que se caracteriza por la colaboración entre individuos, lo que permite lograr la superación de pesadumbres, padecimientos, desastres, enfermedades, entre otros.",
  //   icon: "src/assets/Solidaridad-icon.png",
  // },
  {
    title: "Diligencia",
    description:
      "Es el cumplimiento de los deberes, funciones y responsabilidades asignadas de la mejor manera posible, con atención, prontitud y eficiencia, para así optimizar el uso de los recursos.",
    icon: "src/assets/Diligencia-icon.png",
  },
  {
    title: "Dignidad",
    description:
      "Es la cualidad que se le otorga a un ser humano proporcionándole características de valor, honorabilidad, las cuales proporcionan sensación de plenitud y satisfacción.",
    icon: "src/assets/Dignidad-icon.png",
  },
  {
    title: "Etica",
    description:
      "Aplicamos una conducta personal y profesional que respeta las costumbres y normas institucionales, obrando con transparencia y rectitud a favor de los intereses de la clínica y de los requerimientos de los pacientes.",
    icon: "src/assets/Etica-icon.png",
  },
  // {
  //   title: "Honestidad",
  //   description:
  //     "Implica mostrar respeto hacia los demás y tener integridad y conciencia de sí mismo, actuando con rectitud y sinceridad en todas las circunstancias que se presenten.",
  //   icon: "src/assets/Honestidad-icon.png",
  // },
  // {
  //   title: "Justicia",
  //   description:
  //     "Es la voluntad constante de dar a cada uno lo que es suyo. Es el sentimiento de rectitud, que gobierna la conducta y hace acatar debidamente los derechos de los demás.",
  //   icon: "src/assets/Justicia-icon.png",
  // },
  // {
  //   title: "Lealtad",
  //   description:
  //     "Es el Sentimiento de respeto y fidelidad a los principios morales y los compromisos establecidos con la institución, los usuarios y los compañeros.",
  //   icon: "src/assets/Lealtad-icon.png",
  // },
  // ...más valores
];
</script>

<style scoped></style>
