<template>
    <div class="after:content-[''] after:absolute after:h-40 after:w-40 after:bg-red-600/20 after:-z-10 after:rounded-3xl after:animate-[spin_10s_linear_infinite]"
        :class="`after:top-${Top} after:start-${Start} after:end-${End} after:-start-${Startm} after:-end-${Endm}`"
        data-aos="zoom-in"></div>
</template>

<script setup>
import { defineProps } from "vue";

const props = defineProps({
    Top: {
        type: String,
        default: " ",
    },
    Start: {
        type: String,
        default: " ",
    },
    End: {
        type: String,
        default: " ",
    },
    Startm: {
        type: String,
        default: " ",
    },
    Endm: {
        type: String,
        default: " ",
    },
});
</script>

<style scoped>
/* Estilos específicos si es necesario */
</style>
