<template>
  <div class="hidden sm:block md:block lg:block">

    <swiper :spaceBetween="30" :centeredSlides="true" :autoplay="{
      delay: 5000,
      disableOnInteraction: false,
    }" :modules="modules" class="mySwiper bg-green-600 text-white text-center">
      <swiper-slide v-for="item in dir" :key="item.id">
        <span class="icon mx-2">
          <font-awesome-icon :icon="['fas', 'building']" />
        </span>
        {{ item.ubicacion }}
        <span class="icon mx-2">
          <font-awesome-icon :icon="['fas', 'location-dot']" />
        </span>
        {{ item.direccion }}
        <span class="icon mx-2"> <font-awesome-icon :icon="['fas', 'phone']" /> </span>{{ item.telefono }}
        <span class="icon mx-2"> <font-awesome-icon :icon="['fas', 'envelope']" /> </span>{{ item.correo }}
      </swiper-slide>
    </swiper>
  </div>
</template>

<script setup>
import { Swiper, SwiperSlide } from "swiper/vue";
// import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { Autoplay } from "swiper/modules";
import { onMounted, ref } from "vue";
import api from "@/plugins/axios";

onMounted(() => apiDir())

const dir = ref([])

function apiDir() {
  api.get("api/contactenos").then((resp) => {
    console.log(resp.data)
    dir.value = resp.data
  })
}

const modules = [Autoplay];
</script>
