<script setup>
import { ref, computed } from "vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import { Autoplay } from "swiper/modules";
import Titles from "./Titles.vue";
import BlogCards from "./BlogCards.vue";
import img1 from "@/assets/imagenologia/1.webp";
import img2 from "@/assets/home/home1.webp";
import img3 from "@/assets/ambulatorio/2.webp";
import img4 from "@/assets/hospitalizacion/1.webp";
import img5 from "@/assets/quirurgicos/quirurgicos1.webp";
import img6 from "@/assets/urgencias/1.webp";
import med1 from "@/assets/medicos/medico6.webp";
import med2 from "@/assets/medicos/medico2.webp";
import med3 from "@/assets/medicos/medico3.webp";
import med4 from "@/assets/medicos/medico4.webp";
import med5 from "@/assets/medicos/medico5.webp";
import med6 from "@/assets/laboratorio/1.webp";

const blogPosts = [
  {
    title: "Título Blog 1",
    doc: "Dr. Jane Smith",
    picdoc: med1,
    cardimg: img1,
    href: "/blog-details/blog1",
    date: "July 10, 2021",
  },
  {
    title: "Título Blog 2",
    doc: "Dr. John Doe",
    picdoc: med2, // URL de la imagen del avatar
    cardimg: img2, // URL de la imagen del avatar
    href: "/blog-details/blog2",
    date: "June 23, 2021",
  },
  {
    title: "Título Blog 3",
    doc: "Dr. Jane Smith",
    picdoc: med3,
    cardimg: img3,
    href: "/blog-details/blog3",
    date: "July 10, 2021",
  },


  // Agrega más objetos para completar las 10 tarjetas
];

import "swiper/css";
import "swiper/css/autoplay";

// Configuración del componente
const modules = [Autoplay];

const swiperOptions = ref({
  slidesPerView: "auto",
  centeredSlides: true,
  spaceBetween: 30,
  loop: true,
  navigation: true,
  pagination: {
    clickable: true,
  },
  autoplay: {
    delay: 5000, // Intervalo de tiempo entre cada slide (en milisegundos)
    disableOnInteraction: false, // Deshabilita el autoplay al interactuar con el carrusel
  },
});

const activeIndex = ref(1); // Empieza con 1 para resaltar la tarjeta en el medio por defecto

const slidesPerView = computed(() => {
  // Calcula el número de tarjetas visibles dependiendo del ancho de la pantalla
  return window.innerWidth < 768 ? 1 : 3;
});
</script>

<template>
  <div
    class="container mx-auto text-center px-4 sm:px-6 lg:px-8"
    data-aos="fade-up"
  >
    <Titles title="Blog" />
    <swiper
      :modules="modules"
      :breakpoints="{
        320: { slidesPerView: 1, spaceBetween: 20 },
        480: { slidesPerView: 1, spaceBetween: 30 },
        768: { slidesPerView: 2, spaceBetween: 10 },
        1024: { slidesPerView: 2, spaceBetween: 10 },
        1080: { slidesPerView: 3, spaceBetween: 10 },
      }"
      :loop="true"
      :autoplay="{
        delay: 3000,
        disableOnInteraction: false,
        pauseOnMouseEnter: true,
      }"
      :speed="4000"
    >
      <swiper-slide v-for="(post, index) in blogPosts" :key="index">
        <div class="flex">
          <BlogCards
            :key="index"
            :title="post.title"
            :doc="post.doc"
            :picdoc="post.picdoc"
            :cardimg="post.cardimg"
            :href="post.href"
            :date="post.date"
          />
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>