<script setup>
import CTABtn from "./CTA-btn.vue";

defineProps({
  title: {
    type: String,
    default: "Título Blog",
  },
  doc: {
    type: String,
    default: "Nombre Médico",
  },
  picdoc: {
    type: String,
    default: "",
  },
  href: {
    type: String,
    default: "",
  },
  cardimg: {
    type: String,
    default: "",
  },
});
</script>

<template>
  <div class="card">
    <img
      class="h-72 w-full rounded-lg object-cover object-center"
      :src="cardimg"
      alt="image"
    />
    <div class="absolute inset-0 flex h-full w-full flex-col justify-end">
      <div
        class="space-y-1.5 rounded-lg bg-gradient-to-t from-[#19213299] via-[#19213266] to-transparent px-4 pb-3 pt-12"
      >
        <div class="line-clamp-2">
          <a href="#" class="text-base font-medium text-white">
            {{ title }}
          </a>
        </div>
        <div class="flex flex-col xl:flex-row items-center justify-between">
          <div class="flex items-center text-xs text-slate-200">
            <div class="flex items-center text-xs">
              <a
                href="/nuestro-equipo"
                class="flex items-center space-x-2 hover:text-slate-800 dark:hover:text-navy-100"
              >
                <div class="avatar size-6">
                  <img
                    class="rounded-full object-top"
                    :src="picdoc"
                    alt="avatar"
                  />
                </div>
                <span class="line-clamp-1">{{ doc }}</span>
              </a>
              <div
                class="mx-3 my-1 w-px self-stretch bg-slate-200 dark:bg-navy-500"
              ></div>
              <span class="shrink-0">June 23, 2021 </span>
            </div>
          </div>
          <div class="-mr-1.5 flex">
            <CTABtn btnInfo="Leer más" :href="href" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>