<template>
  <div class="card-container group h-fit relative">
    <a
      v-if="!boton1 && !boton2"
      class="flex flex-col lg:flex-row items-center"
      :href="link"
      :target="target"
    >
      <div class="flex flex-col lg:flex-row items-center">
        <div class="img-card-container">
          <img :src="img" />
        </div>
        <div class="text-card-container">
          <h2 class="title-card">{{ title }}</h2>
          <p class="description-card">{{ parrafo }}</p>
        </div>
      </div>

      <!-- Botones que aparecen al hacer hover en pantallas grandes y siempre están visibles en pantallas pequeñas -->
      <div
        v-if="boton1 || boton2"
        class="flex flex-col lg:flex-row gap-4 opacity-100 lg:opacity-0 lg:group-hover:opacity-100 transition-opacity duration-300 md:absolute md:inset-0 md:justify-center md:items-end md:mb-2 mx-10 mt-2"
      >
        <button @click="link1" v-if="boton1" class="btn" target="_blank">
          {{ boton1 }}
        </button>
        <button @click="link2" v-if="boton2" class="btn" target="_blank">
          {{ boton2 }}
        </button>
      </div>
    </a>
    <div
      v-else
      class="flex flex-col lg:flex-row items-center"
      :href="link"
      :target="target"
    >
      <div class="flex flex-col lg:flex-row items-center">
        <div class="img-card-container">
          <img :src="img" />
        </div>
        <div class="text-card-container">
          <h2 class="title-card">{{ title }}</h2>
          <p class="description-card">{{ parrafo }}</p>
        </div>
      </div>

      <!-- Botones que aparecen al hacer hover en pantallas grandes y siempre están visibles en pantallas pequeñas -->
      <div
        v-if="boton1 || boton2"
        class="flex flex-col lg:flex-row gap-4 opacity-100 lg:opacity-0 lg:group-hover:opacity-100 transition-opacity duration-300 md:absolute md:inset-0 md:justify-center md:items-end md:mb-2 mx-10 mt-2"
      >
        <a :href="link1" v-if="boton1" class="btn" target="_blank">
          {{ boton1 }}
        </a>
        <a :href="link2" v-if="boton2" class="btn" target="_blank">
          {{ boton2 }}
        </a>
      </div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  title: { type: String, default: " " },
  parrafo: { type: String, default: " " },
  boton1: { type: String, default: " " },
  boton2: { type: String, default: " " },
  img: { type: String, default: " " },
  link: { type: String, default: "#" },
  link1: { type: String, default: "" },
  link2: { type: String, default: "" },
  target: { type: String, default: " " },
});
</script>

<style scoped>
/* Aquí puedes añadir estilos adicionales si los necesitas */
</style>
