<template>
  <div
    class="collapse collapse-arrow py-4 my-1 p-6 bg-white rounded-lg shadow-lg mx-5 lg:mx-0"
    data-aos="fade-down"
  >
    <input type="radio" :name="accordionGroup" />
    <div class="collapse-title text-xl font-semibold text-green-600 uppercase">
      {{ title }}
    </div>
    <div class="collapse-content">
      <slot />
    </div>
  </div>
</template>

<script setup>
defineProps({
  title: String,
  accordionGroup: {
    type: String,
    default: "default-accordion",
  },
});
</script>

<style scoped>
/* Añadir estilos personalizados si es necesario */
</style>
