<template>
  <div class="contact-section" :data-aos="isSmallScreen ? 'fade-up' : 'fade-right'" >
    <div class="custom-container flex flex-col md:flex-row">
      <div class="contact">
        <div class="CTA text-center py-20 px-10 md:py-40 md:px-20 md:w-full">
          <h2 class="text-white text-4xl md:text-8xl font-bold mb-4 text-left">¡Contáctanos Hoy!</h2>
          <p class="text-white text-lg md:text-2xl text-left pr-20 md:pr-8 lg:pr-60">
            ¿Tienes preguntas, sugerencias o simplemente quieres hablar con nosotros? Estamos aquí para ayudarte. Tu mensaje es importante para nosotros.
          </p>
        </div>
      </div>

      <div class="form-container md:w-full px-5 md:px-20">
        <h2 class="text-2xl font-bold mb-4 py-10 md:pt-40 px-10">Contáctanos</h2>

        <form @submit.prevent="submitForm" class="md:pb-40 md:pr-20">
          <div class="mb-4">
            <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
            <input v-model="formData.name" type="text" id="name" name="name" class="w-full p-2 border border-green-300 rounded-md focus:outline-none focus:ring-green-600 focus:border-green-300" required />
          </div>

          <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Correo Electrónico:</label>
            <input v-model="formData.email" type="email" id="email" name="email" class="w-full p-2 border border-green-300 rounded-md focus:outline-none focus:ring-green-600 focus:border-green-300" required />
          </div>

          <div class="mb-4">
            <label for="message" class="block text-gray-700 text-sm font-bold mb-2">Mensaje:</label>
            <textarea v-model="formData.message" id="message" name="message" rows="4" class="w-full p-2 border border-green-300 rounded-md focus:outline-none focus:ring-green-600 focus:border-green-300" required></textarea>
          </div>

          <button type="submit" class="btn-form w-full bg-green-500 text-white py-2 px-4 rounded-md transition duration-300 hover:bg-green-600 focus:outline-none focus:ring-green-600 focus:border-green-300">Enviar Mensaje</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, onBeforeUnmount } from "vue";
import AOS from 'aos';
import 'aos/dist/aos.css';

// Propiedad reactiva para el tamaño de la pantalla
const isSmallScreen = ref(false);

// Función para manejar cambios en el tamaño de la pantalla
const updateScreenSize = () => {
  isSmallScreen.value = window.innerWidth < 768; // Define pantallas pequeñas como ancho menor a 768px
};

// Escuchar cambios en el tamaño de la ventana
onMounted(() => {
  AOS.init();
  updateScreenSize();
  window.addEventListener("resize", updateScreenSize);
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", updateScreenSize);
});

const formData = ref({
  name: "",
  email: "",
  message: "",
});

const submitForm = () => {
  console.log("Formulario enviado:", formData.value);
  resetForm();
};

const resetForm = () => {
  formData.value = {
    name: "",
    email: "",
    message: "",
  };
};
</script>

<style scoped>
.custom-container {
  min-height: 200px;
}

.contact {
  min-height: inherit;
  z-index: -2;
  background-image: url("src/assets/servicios.jpg");
  background-size: cover;
  background-position: 50% 100%;
  background-attachment: fixed;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  clip-path: circle(96% at 0 50%);
}

.CTA {
  z-index: 1;
}

.contact::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.637);
}

@media (min-width: 769px) and (max-width: 1439px) {
  .contact::before {
    background-color: rgba(0, 0, 0, 0.637);
  }
}

@media (max-width: 768px) {
  .CTA {
    padding: 20px;
  }

  .contact::before {
    background-color: rgba(0, 0, 0, 0.637);
  }
}

@media (min-width: 1440px) and (min-height: 900px) {
  .contact {
    clip-path: circle(105% at 0 50%);
  }

  .contact::before {
    background-color: rgba(0, 0, 0, 0.637);
  }
}
</style>