<template>
  <div class="convenios-section relative flex justify-center" data-aos="fade-up">
    <div class="container mx-auto text-center">
      <Titles :title="'Convenios'" />
      <swiper :modules="modules" :breakpoints="{
        320: { slidesPerView: 3, spaceBetween: 20 },
        480: { slidesPerView: 3, spaceBetween: 30 },
        768: { slidesPerView: 3, spaceBetween: 30 },
        1024: { slidesPerView: 7, spaceBetween: 60 },
      }" :loop="true" :autoplay="{
          delay: 10,
          disableOnInteraction: false,
          pauseOnMouseEnter: true,
        }" :speed="4000">
        <swiper-slide v-for="(convenio, index) in convenios" :key="index">
          <a :href="convenio.link" target="_blank" class="flex items-center justify-center h-full">
            <img :src="convenio.image" alt="imagen"
              class="carousel-image grayscale aspect-[3/2] object-contain mix-blend-darken ease-in duration-300"
              @mouseover="applyHoverStyles($event)" @mouseout="removeHoverStyles($event)" />
          </a>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import { Autoplay } from "swiper/modules";
import Titles from "../components/Titles.vue";

import "swiper/css";
import "swiper/css/autoplay";

import image1 from "@/assets/convenio1.png"
import image2 from "@/assets/convenio2.png"
import image3 from "@/assets/convenio3.png"
import image4 from "@/assets/convenio4.png"
import image5 from "@/assets/convenio5.png"
import image6 from "@/assets/convenio6.png"
import image7 from "@/assets/convenio7.png"
import image8 from "@/assets/convenio8.png"
import image9 from "@/assets/convenio9.png"

// Configuración del componente
const modules = [Autoplay];

const applyHoverStyles = (event) => {
  event.target.classList.remove("grayscale");
  event.target.style.transform = "scale(1.5)"; // Zoom del 5%
};

const removeHoverStyles = (event) => {
  event.target.classList.add("grayscale");
  event.target.style.transform = "scale(1)";
};

// Datos de ejemplo de convenios con enlaces
const convenios = [
  {
    image: image1,
    link: "https://www.angiografiadecolombia.com/",
  },
  {
    image: image2,
    link: "https://sociedadcardiovasculardesantander.com/",
  },
  {
    image: image3,
    link: "https://laboratoriodehistocitopatologia.com/",
  },
  {
    image: image4,
    link: "https://www.dishospital.com/",
  },
  {
    image: image5,
    link: "https://udes.edu.co/",
  },
  {
    image: image6,
    link: "https://www.unad.edu.co/",
  },
  {
    image: image7,
    link: "https://www.uniminuto.edu/",
  },
  {
    image: image8,
    link: "https://www.sena.edu.co/es-co/Paginas/default.aspx",
  },
  {
    image: image9,
    link: "https://www.eforsalud.edu.co/",
  },
  // Agrega más convenios según sea necesario
];

const slidesPerView = [3, 4, 7];
</script>

<style scoped>
/* Media queries para ajustar la altura del contenedor de la imagen en diferentes tamaños de pantalla */
@media (min-width: 640px) {
  .swiper-slide {
    height: auto;
  }
}

@media (min-width: 768px) {
  .swiper-slide {
    height: auto;
  }
}

@media (min-width: 1024px) {
  .swiper-slide {
    height: auto;
  }
}

@media (min-width: 1280px) {
  .swiper-slide {
    height: auto;
  }
}

@media (min-width: 1536px) {
  .swiper-slide {
    height: auto;
  }
}
</style>
