<template>
  <div>
    <a :href="href" class="btn">
      <i class="uil uil-envelope" />
      {{ btnInfo }}
    </a>
  </div>
</template>

<script setup>
defineProps({
  btnInfo: {
    type: String,
    default: "",
  },
  href: {
    type: String,
    default: "",
  },
});
</script>

<style lang="scss" scoped></style>
