<script setup>
import { onMounted } from "vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import Titles from "../components/Titles.vue";
import AOS from "aos";
import "aos/dist/aos.css";

onMounted(() => {
  AOS.init();
});

// Props
defineProps({
  title: {
    type: String,
    required: true,
  },
  services: {
    type: Array,
    required: true,
  },
  bgImage: {
    type: String,
    required: true,
  },
  order: {
    type: String,
    required: true,
    default: "md:grid-cols-4",
  }
});
</script>

<template>
  <div
    class="services-section justify-center relative flex text-white bg-cover bg-center bg-fixed -z-10 before:-z-10 before:absolute before:top-0 before:right-0 before:bottom-0 before:left-0 before:bg-green-800/50"
    :style="{ backgroundImage: `url(${bgImage})` }"
    data-aos="fade-up"
  >
    <div class="container mx-auto text-center py-10">
      <div>
        <Titles class="py-10" :title="title" v-if="title" />
      </div>
      <div class="services-container justify-around grid" :class="order">
        <div
          v-for="(service, index) in services"
          :key="index"
          class="service max-w-80 p-5"
          :data-aos="'fade-up'"
          :data-aos-delay="(index + 1) * 100"
        >
          <font-awesome-icon
            :icon="service.icon"
            class="text-white lg:text-8xl text-7xl pb-2"
          />
          <h2 class="text-5xl font-bold mb-3">{{ service.parrafo }}</h2>
          <p class="text-xl">{{ service.title }}</p>
          <p class="text-xs">{{ service.span }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
