<script setup>
import CTAbtn from "../components/CTA-btn.vue";
import Titles from "../components/Titles.vue";
import Paragraph from "../components/Paragraph.vue";
import svgFaq from "@/assets/faq.vue"
import { ref, onMounted, onBeforeUnmount } from "vue";

// Propiedad reactiva para el tamaño de la pantalla
const isSmallScreen = ref(false);

// Función para manejar cambios en el tamaño de la pantalla
const updateScreenSize = () => {
  isSmallScreen.value = window.innerWidth < 768; // Define pantallas pequeñas como ancho menor a 768px
};

// Escuchar cambios en el tamaño de la ventana
onMounted(() => {
  updateScreenSize();
  window.addEventListener("resize", updateScreenSize);
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", updateScreenSize);
});
</script>

<template>
  <div class="container lg:px-0 px-10 sm:mx-auto md:px-48 relative">
    <div class="flex xl:flex-row lg:flex-row flex-col">
      <div class="xl:w-1/2 lg:w-10/12" :data-aos="isSmallScreen ? 'fade-up' : 'fade-right'" >
        <svgFaq  />
        </div>
    <div class="grid grid-cols-1 place-content-center text-center sm:text-center md:text-center xl:text-left lg:text-left sm:pl-10 " :data-aos="isSmallScreen ? 'fade-up' : 'fade-left'">
      <Titles :title="'¿Tiene alguna pregunta?'" customClass="text-wrap"/>
      <Paragraph
        :parrafo="'¿Tienes alguna duda sobre nuestros servicios, horarios u otro tema? En nuestra sección de Preguntas Frecuentes encontrarás respuestas rápidas y claras.'" />

      <div class="mt-6">
        <CTAbtn :btnInfo="'Ver más'" :href="'/preguntas-frecuentes'" />
      </div>
    </div>
  </div>
  </div>
</template>
