<script setup>
import api from "@/plugins/axios";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { onMounted, ref } from "vue";

onMounted(() => apiDir());

const dir = ref([]);

function apiDir() {
  api.get("api/contactenos").then((resp) => {
    console.log(resp.data);
    dir.value = resp.data;
  });
}

const contact = [
  {
    title: "Régimen Especial y Aseguradoras:",
    phone: "3183125540",
    icon: "fa-brands fa-whatsapp",
    description:
      "(Dispensario Médico, SENA, Magisterio, Citas Particulaes, UIS)",
  },
  {
    title: "EPS, ARL y Aseguradoras:",
    phone: "3185484699",
    icon: "fa-brands fa-whatsapp",
    description: "(Salud Total, Sanitas, Famisanar, ARL, Sura)",
  },
  {
    title: "FOMAG:",
    phone: "3183125540",
    icon: "fa-brands fa-whatsapp",
    description: "",
  },
  {
    title: "Linea Fija:",
    phone: "6013076503",
    icon: "fa-solid fa-phone",
    description: "",
  },
];

// const list = [
//   {
//     title: 'Compañía',
//     items: [
//       { text: 'Correo Corporativo', href: 'https://correo.cub.com.co/' },
//       { text: 'Intranet', href: 'http://intranet.clinicub.cub/' },
//       { text: 'Calidad', href: '#' },
//       { text: 'Proveedores', href: '#' },
//       { text: 'Responsabilidad Social', href: '#' },
//       { text: 'Judiciales', href: '#' },
//       { text: 'Politica Institucional', href: '#' },
//     ],
//   },
// ]
</script>

<template>
  <footer class="shadow-inner footer-section bg-slate-100">
    <div class="container mx-auto text-center">
      <div
        class="flex flex-col justify-between mb-5 footer-content md:flex-row"
      >
        <div
          class="flex flex-col items-center justify-center mb-4 md:justify-start"
        >
          <img src="../assets/logo_cub.png" alt="Logo" class="mt-5" />
          <div class="flex justify-center mt-4 md:justify-start">
            <a
              href="https://www.facebook.com/clinicadeurgenciasbucaramanga"
              target="_blank"
              rel="noopener noreferrer"
              class="mx-2 text-gray-500 hover:text-green-500"
            >
              <font-awesome-icon
                icon="fa-brands fa-square-facebook"
                class="text-2xl font-semibold leading-7 rounded-lg"
              />
            </a>
            <a
              href="https://x.com/i/flow/login?redirect_after_login=%2FCLINICADEURGEN1"
              target="_blank"
              rel="noopener noreferrer"
              class="mx-2 text-gray-500 hover:text-green-500"
            >
              <font-awesome-icon
                icon="fa-brands fa-square-x-twitter"
                class="text-2xl font-semibold leading-7 rounded-lg"
              />
            </a>
            <a
              href="https://www.instagram.com/clinicadeurgenciasbucaramanga/?hl=es-la"
              target="_blank"
              rel="noopener noreferrer"
              class="mx-2 text-gray-500 hover:text-green-500"
            >
              <font-awesome-icon
                icon="fa-brands fa-instagram"
                class="text-2xl font-semibold leading-7 rounded-lg"
              />
            </a>
          </div>
          <img
            src="../assets/supersalud/logo_supersalud1.png"
            alt="Logo"
            class="mt-5 w-72"
          />
        </div>
        <!-- <div class="grid grid-cols-1 gap-4 text-left md:grid-cols-1">
          <div v-for="listItem in list" :key="listItem.title">
            <h5 class="text-lg font-semibold text-center sm:text-left">{{ listItem.title }}</h5>
            <ul class="list-disc list-inside">
              <li v-for="item in listItem.items" :key="item.text">
                <a :href="item.href" target="blank"
                  class="text-gray-600 transition-colors duration-300 text-md hover:text-green-500">{{ item.text }}</a>
              </li>
            </ul>
          </div>
        </div> -->

        <div class="px-20 mt-5">
          <div
            class="mt-6 md:text-justify md:mt-0"
            v-for="item in dir"
            :key="item.id"
          >
            <div class="">
              <p class="mb-1 text-lg font-bold">{{ item.ubicacion }}</p>
              <p class="text-xs">
                <span class="pr-2 icon">
                  <font-awesome-icon icon="location-dot" />
                </span>
                {{ item.direccion }}
              </p>
              <p class="text-xs">
                <span class="pr-2 icon">
                  <font-awesome-icon icon="phone" />
                </span>
                {{ item.telefono }}
              </p>
              <p class="text-xs">
                <span class="pr-2 icon">
                  <font-awesome-icon icon="envelope" />
                </span>
                <a href="mailto:siau@cub.com.co">{{ item.correo }}</a>
              </p>
              <div
                class="flex flex-row text-xs place-content-center md:place-content-start"
              >
                <span class="pr-2 icon">
                  <font-awesome-icon icon="clock" />
                </span>
                <div v-html="item.horario"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-20">
          <div
            class="mt-6 text-center md:text-left md:mt-0"
            v-for="item in contact"
            :key="item.title"
          >
            <div class="my-4">
              <p class="mb-1 text-lg font-bold sede">{{ item.title }}</p>
              <p class="text-xs">
                <span class="pr-2 icon">
                  <font-awesome-icon :icon="item.icon" />
                </span>
                {{ item.phone }}
              </p>
              <p class="text-xs">
                {{ item.description }}
              </p>
            </div>
          </div>
        </div>

        <div class="px-20">
          <div class="mt-6 text-center md:text-left md:mt-0">
            <div class="my-4">
              <p class="mb-1 text-lg font-bold">Notificaciones Judiciales</p>
              <p class="text-xs">
                <span class="pr-2 icon">
                  <font-awesome-icon icon="envelope" />
                </span>
                gerencia@cub.com.co
              </p>
            </div>
            <div class="my-4">
              <p class="mb-1 text-lg font-bold">Notificacion de Glosas</p>
              <p class="text-xs">
                <span class="pr-2 icon">
                  <font-awesome-icon icon="envelope" />
                </span>
                glosas2@cub.com.co
              </p>
            </div>
            <div class="my-4">
              <p class="mb-1 text-lg font-bold">Notificacion de Devoluciones</p>
              <p class="text-xs">
                <span class="pr-2 icon">
                  <font-awesome-icon icon="envelope" />
                </span>
                devoluciones@cub.com.co
              </p>
            </div>
            <div class="my-4">
              <p class="mb-1 text-lg font-bold">Notificacion de Cartera</p>
              <p class="text-xs">
                <span class="pr-2 icon">
                  <font-awesome-icon icon="envelope" />
                </span>
                cartera@cub.com.co
              </p>
            </div>
            <div class="my-4">
              <p class="mb-1 text-lg font-bold">PQRFS</p>
              <p class="text-xs">
                <span class="pr-2 icon">
                  <font-awesome-icon icon="envelope" />
                </span>
                siau@cub.com.co
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="px-20 footer-info">
        <p class="text-xs text-gray-600">
          &copy; 2024 - Equipo de Desarrollo CUB. Todos los derechos reservados.
        </p>
      </div>
    </div>
  </footer>
</template>
