<template>
  <div>
    <!-- Icono de hamburguesa siempre visible -->
    <button @click="toggleMenu" class="text-gray-700 focus:outline-none">
      <svg class="h-8 w-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path v-if="!isMenuOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
        <path v-else stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>

    <!-- Contenedor del menú desplegable -->
    <div :class="{ 'menu-open': isMenuOpen }" class="menu-container">
      <!-- Botón para cerrar el menú -->
      <div class="flex items-center justify-end p-4">
        <button @click="toggleMenu" class="text-gray-700 focus:outline-none">
          <!-- Ícono de cierre -->
          <svg class="h-8 w-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <!-- Lista de opciones del menú -->
      <ul class="flex flex-col items-center justify-center h-full">
        <!-- Elementos del menú -->
        <li><NavbarItem @click.native="handleMenuItemClick('/quienes-somos')" to="/quienes-somos" label="Quiénes Somos"></NavbarItem></li>
        <li><NavbarItem @click.native="handleMenuItemClick('/institucional')" to="/institucional" label="Institucional"></NavbarItem></li>
        <li><NavbarItem @click.native="handleMenuItemClick('/servicios')" to="/servicios" label="Servicios"></NavbarItem></li>
        <li><NavbarItem @click.native="handleMenuItemClick('/atencion-usuarios')" to="/atencion-usuarios" label="Atención al Usuario"></NavbarItem></li>
        <li><NavbarItem @click.native="handleMenuItemClick('/blog')" to="/blog" label="Blog"></NavbarItem></li>
        <li><NavbarItem @click.native="handleMenuItemClick('/consultar-resultados')" to="/consultar-resultados" label="Consultar Resultados"></NavbarItem></li>
        <!-- Agrega más elementos según sea necesario -->
      </ul>
    </div>
  </div>
</template>

<script setup>
import NavbarItem from "./NavbarItem.vue";
import { ref, defineEmits } from 'vue';

const isMenuOpen = ref(false);
const emit = defineEmits();

const toggleMenu = () => {
  // Alternar la visibilidad del menú desplegable
  isMenuOpen.value = !isMenuOpen.value;
};

const handleMenuItemClick = (route) => {
  // Redirigir a la página seleccionada
  window.location.href = route;
};
</script>

<style scoped>
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000; /* Asegúrate de que esté encima del contenido principal */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-open {
  opacity: 1;
  visibility: visible;
}

.menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-container li {
  margin-bottom: 1rem;
}

.menu-container a {
  font-size: 1.5rem; /* Tamaño de la fuente más grande */
  font-weight: bold; /* Texto más grueso */
}
</style>
