<template>
  <div data-aos="fade-up" class="h-full md:h-[500px] xl:h-full">
    <swiper
      :style="{
        '--swiper-navigation-color': '#fff',
        '--swiper-pagination-color': '#fff',
      }"
      :loop="true"
      :spaceBetween="10"
      :navigation="true"
      :autoplay="{
        delay: 20000,
        disableOnInteraction: false,
      }"
      :thumbs="{ swiper: thumbsSwiper ? thumbsSwiper.value : null }"
      :modules="modules"
      class="mySwiper"
    >
      <swiper-slide v-for="(slide, index) in slides" :key="index">
        <div class="hero-container">
          <!-- Condicional para video o imagen de fondo -->
          <template v-if="slide.image.endsWith('.mp4')">
            <video
              autoplay
              loop
              muted
              class="w-full h-full md:h-[500px] xl:h-full object-cover object-bottom rounded-b-2xl"
              :src="slide.image"
            ></video>
          </template>
          <template v-else>
            <div
              class="w-full h-full md:h-[500px] xl:h-full bg-cover bg-center object-bottom rounded-b-2xl"
              :style="{ 'background-image': `url(${slide.image})` }"
            ></div>
          </template>
          <!-- Gradiente y contenido -->
          <div class="bg-gradient">
            <div class="container mx-auto px-4 md:mb-52 mt-48">
              <div class="text-center md:text-left">
                <h1 class="hero-title">
                  {{ slide.title }}
                </h1>
                <p class="hero-description">
                  {{ slide.description }}
                </p>
                <CTAbtn
                  :btnInfo="'Ver más'"
                  :href="slide.href"
                  v-if="slide.href"
                />
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import CTAbtn from "../components/CTA-btn.vue";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/thumbs";
import { Autoplay, FreeMode, Navigation, Thumbs } from "swiper/modules";

import image2 from "@/assets/quirurgicos/quirurgicos7.webp";
import image3 from "@/assets/hospitalizacion/2.webp";
import image4 from "@/assets/ambulatorio/9.webp";
import image5 from "@/assets/laboratorio/1.webp";
import image6 from "@/assets/uci/1.webp";
import image7 from "@/assets/urgencias/5.webp";
import image8 from "@/assets/imagenologia/3.webp";
import vid1 from "../../public/video/1.mp4";

const thumbsSwiper = ref(null);
const modules = [FreeMode, Navigation, Thumbs, Autoplay];
const slides = [
  {
    title: "Clínica de Urgencias Bucaramanga",
    description: "Hoy estamos más cerca de ti.",
    image: vid1,
  },
  {
    title: "Cirugía",
    description:
      "Procedimientos quirúrgicos especializados con el mejor equipo médico",
    image: image2,
    href: "/servicio/cirugia",
  },
  {
    title: "Hospitalización",
    description:
      "Tu recuperación en un ambiente cálido y seguro",
    image: image3,
    href: "/servicio/hospitalizacion",
  },
  // {
  //   title: "Ambulatorios",
  //   description:
  //     "Descubre nuestro programa para accesos vasculares: innovación y seguridad.",
  //   image: image4,
  //   href: "/servicio/ambulatoria_especializada",
  // },
  {
    title: "Laboratorio",
    description:
      "Análisis clínicos precisos y confiables para cuidar tu salud.",
    image: image5,
    href: "/servicio/laboratorio",
  },
  {
    title: "UCI",
    description:
      "Cuidado intensivo de alta tecnología para tu salud crítica.",
    image: image6,
    href: "/servicio/uci",
  },
  {
    title: "Urgencias",
    description:
      "Atención inmediata respuesta oportuna a tu emergencia.",
    image: image7,
    href: "/servicio/urgencias",
  },
  {
    title: "Imagenología",
    description:
      "Diagnósticos precisos con tecnología de punta para tu salud.",
    image: image8,
    href: "/servicio/imagenologia",
  },
];
</script>

<style scoped>
/* Aplicamos el cambio de opacidad en móviles */
@media (max-width: 768px) {
  .bg-gradient-to-l {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
</style>
