<template>

    <div class="container mx-auto m-8 max-w-7xl px-4 sm:px-6 lg:px-8">
      <p class="text-lg text-justify mb-8">{{  info.descripcion }}
      </p>
    </div>

    <div class="xl:mx-96 px-10 xl:px-56 pb-10">
      <ul role="list" class="divide-y divide-gray-100">
        <li v-for="info in info.archivo" :key="info.id" class="flex justify-between gap-x-6 py-5">
          <div class="flex min-w-0 gap-x-4">
            <div class="min-w-0 flex-auto my-auto">
              <p class="text-sm font-semibold leading-6 text-gray-900">{{ info.nombre }}</p>
            </div>
          </div>
          <div class="shrink-0 flex flex-col sm:items-end">
            <a :href="url+info.url_archivo" target="_blank"
              class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
              <font-awesome-icon class="text-2xl" :icon="['fas', 'file-arrow-down']" />
            </a>
          </div>
        </li>
      </ul>
    </div>

</template>

<script setup>
import api from "@/plugins/axios";

import { onMounted, ref } from "vue";

onMounted(() => apiFin())

const url= ref("")
const info = ref([])

function apiFin() {
  api.get("api/submenu/informacion-financiera").then((resp) => {
    console.log(resp.data);
    // Reemplaza "public" por "storage" en cada url_archivo
    const transformedData = resp.data.archivo.map(item => ({
      ...item,
      url_archivo: "https://backend.cub.com.co/"+item.url_archivo.replace(/^public\//, 'storage/')
    }));
    info.value = { ...resp.data, archivo: transformedData };
  });
}


</script>
