<script setup>
defineProps({
  jobTitle: {
    type: String,
    default: "",
  },
  exp: {
    type: String,
    default: "",
  },
  type: {
    type: String,
    default: "",
  },
  tags: {
    type: Array,
    default: () => ["Entry Level", "Full-Time", "Full-Time"],
  },
  description: {
    type: String,
    default: "",
  },
  rate: {
    type: String,
    default: "",
  },
  schedule: {
    type: String,
    default: "",
  },
});
</script>

<template>
  <div
    class="max-w-md p-4 bg-white rounded-lg shadow-md border border-gray-200 grid md:max-w-lg lg:max-w-xl xl:max-w-2xl"
  >
    <!-- Header -->
    <div class="flex justify-between items-start">
      <div class="flex items-center space-x-2">
        <font-awesome-icon
          class="p-2 bg-gray-300 rounded-full"
          icon="briefcase"
          size="lg"
        />
        <h3 class="text-lg font-semibold text-gray-800">{{ jobTitle }}</h3>
      </div>
    </div>
    
    <div class="flex justify-between items-start my-2">
      <div class="flex flex-wrap gap-2">
        <span
          v-for="(tag, index) in tags"
          :key="index"
          class="text-xs font-medium px-2.5 py-1 rounded-full"
          :class="{
            'bg-purple-100 text-purple-700': tag === 'Prestaciones legales',
            'bg-green-100 text-green-700': tag === 'Subsidio de transporte',
            'bg-blue-100 text-blue-700': tag === 'Recargos',
          }"
        >
          {{ tag }}
        </span>
      </div>
    </div>
    
    <div>
      <!-- Experience -->
      <h3 class="text-sm font-semibold text-gray-700">Experiencia</h3>
      <p class="text-sm text-gray-600 mb-2" v-html="exp"></p>

      <!-- Competencies -->
      <h3 class="text-sm font-semibold text-gray-700">Competencias</h3>
      <p class="text-gray-600 text-sm mb-4">{{ description }}</p>
      
      <h3 class="text-sm font-semibold text-gray-700" v-if="type">Tipo de Contrato</h3>
      <p class="text-sm text-gray-600 mb-2">{{ type }}</p>
    </div>
    
    <!-- Footer -->
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center text-gray-500 text-sm">
      <p class="font-semibold text-gray-800 mb-2 sm:mb-0">
        <font-awesome-icon icon="money-bill" />
        $ {{ rate }}
      </p>
      
      <div class="flex items-center space-x-1">
        <font-awesome-icon icon="clock" />
        <span>{{ schedule }}</span>
      </div>
    </div>
  </div>
</template>

<style scoped>
/* Estilos adicionales */
</style>
