<template>
    <div class="map-section">
      <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-6">Ubicación</h2>
        <div id="google-map" style="height: 400px; border-radius: 8px; overflow: hidden;"></div>
      </div>
    </div>
  </template>
  
  <script setup>
import { ref, onMounted } from 'vue';

let map = ref(null);


  // Reemplaza "TU_CLAVE_DE_API" con tu clave real
  const apiKey = "AIzaSyAi-jcGp8iybWhGsZ1i_H3EzuHk_MH0wBM";

  const initMap = () => {
  const script = document.createElement("script");
  script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`;
  script.defer = true;
  script.async = true;
  window.initMap = initMapCallback;
  document.head.appendChild(script);
};

const initMapCallback = () => {
  // Configura el mapa
  map.value = new window.google.maps.Map(document.getElementById("google-map"), {
    center: { lat: 7.111452394846634, lng: -73.1100159263594 }, // Coordenadas de tu ubicación
    zoom: 17,
  });
  // Marcador en la ubicación específica
  const marker = new window.google.maps.Marker({
    position: { lat: 7.111452394846634, lng: -73.1100159263594 }, // Coordenadas de tu ubicación
    map: map.value,
    title: "Ubicación Específica",
  });
};

onMounted(initMap);
</script>

  
  <style scoped>
  .map-section {
    background-color: #f0f0f0;
    padding: 40px 0;
  }
  </style>
  