<script setup>
import { ref, computed } from "vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import logo from "@/assets/logo.png";
import api from "@/plugins/axios";

const props = defineProps(["visible2"]);
const visible = computed(() => props.visible2);
const emits = defineEmits(["close"]);

const PatientEps = ref("");
const PatientName = ref("");
const PatientDoc = ref("");
const email = ref("");
const phone = ref("");
const message = ref("");
const policyAccepted = ref(false);
const FamiliarName = ref("");
const FamiliarDoc = ref("");
const FamiliarEmail = ref("");
const FamiliarPhone = ref("");

const selectedDocumentPatient = ref("doc");
const selectedSolicitude = ref("type");
const selectedDocumentFamiliar = ref("doc");

const optionsDoc = ref([
  { tipo: "Cédula de Ciudadanía" },
  { tipo: "Cédula de Extranjería" },
  { tipo: "Pasaporte" },
  { tipo: "Registro Civil" },
  { tipo: "Tarjeta de Identidad" },
  { tipo: "Permiso Especial de Permanencia" },
]);

const options = ref([
  { tipo: "Queja" },
  { tipo: "Reclamo" },
  { tipo: "Petición" },
  { tipo: "Sugerencia" },
  { tipo: "Felicitaciones" },
  { tipo: "Solicitud de Información" },
]);

const submitForm = async () => {
  const formData = {
    nombre: PatientName.value,
    tipo_documento: selectedDocumentPatient.value.tipo,
    documento: PatientDoc.value,
    tipo_solicitud: selectedSolicitude.value.tipo,
    correo: email.value,
    telefono: phone.value,
    mensaje: message.value,
    politica: policyAccepted.value,
  };

  try {
    const response = await api.post("/api/formulario", formData, {
      headers: {
        "Content-Type": "application/json",
      },
    });
    console.log("Formulario enviado con éxito:", response.data);
    alert("Formulario enviado correctamente.");
  } catch (error) {
    console.error(
      "Error al enviar el formulario:",
      error.response?.data || error.message
    );
    alert(
      "Error al enviar el formulario. Revisa los datos e inténtalo de nuevo."
    );
  }
};

const closeModal = () => {
  emits("close");
};
</script>

<template>
  <Dialog v-model:visible="visible" modal header="Formulario de Contacto" class="">
    <template #header>
      <div class="flex items-center gap-2">
        <Avatar :image="logo" />
        <span class="text-2xl font-bold whitespace-nowrap">Formulario de Radicación</span>
      </div>
    </template>

    <Form id="formulario" @submit="submitForm" class="m-2" ref="form" v-slot="{ errors }">
      <div>
        <select v-model="selectedSolicitude" id="tipo" name="tipo"
          class="w-full py-2 pl-3 mb-2 rounded-lg outline-none required ring-1 ring-gray-300" rules="required">
          <option disabled value="type" class="text-gray-400">
            Seleccione Tipo Solicitud
          </option>
          <option v-for="option in options" :key="option.tipo" :value="option">
            {{ option.tipo }}
          </option>
        </select>
      </div>

      <div :class="errors.name ? 'border-2 border-rose-500' : ''" class="flex mb-2 rounded-lg ring-1 ring-gray-300">
        <span class="flex items-center pl-3 text-gray-500 select-none sm:text-sm">
          <font-awesome-icon icon="user" />
        </span>
        <Field type="text" name="name" id="name"
          class="flex-1 outline-none border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          placeholder="Nombre Completo Paciente" v-model="PatientName" />
        <ErrorMessage
          class="inline-block w-6 h-6 my-auto mr-2 italic font-extrabold text-center text-white bg-red-500 rounded-full ring-2 ring-white"
          name="name" />
      </div>
      
      <div :class="errors.name ? 'border-2 border-rose-500' : ''" class="flex mb-2 rounded-lg ring-1 ring-gray-300">
        <span class="flex items-center pl-3 text-gray-500 select-none sm:text-sm">
          <font-awesome-icon icon="house-medical" />
        </span>
        <Field type="text" name="name" id="name"
          class="flex-1 outline-none border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          placeholder="EPS Paciente" v-model="PatientEps" />
        <ErrorMessage
          class="inline-block w-6 h-6 my-auto mr-2 italic font-extrabold text-center text-white bg-red-500 rounded-full ring-2 ring-white"
          name="name" />
      </div>

      <div>
        <select v-model="selectedDocumentPatient" id="id" name="id"
          class="w-full py-2 pl-3 mb-2 text-gray-900 rounded-lg ring-1 ring-gray-300">
          <option disabled value="doc">Seleccione Tipo Documento</option>
          <option v-for="option in optionsDoc" :key="option.tipo" :value="option">
            {{ option.tipo }}
          </option>
        </select>
      </div>

      <div :class="errors.document ? 'border-2 border-rose-500' : ''" class="flex mb-2 rounded-lg ring-1 ring-gray-300">
        <span class="flex items-center pl-3 text-gray-500 select-none sm:text-sm">
          <font-awesome-icon icon="id-card" />
        </span>
        <Field type="text" name="document" id="document"
          class="flex-1 outline-none border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          placeholder="Documento Paciente" rules="required" v-model="PatientDoc" />
        <ErrorMessage
          class="inline-block w-6 h-6 my-auto mr-2 italic font-extrabold text-center text-white bg-red-500 rounded-full ring-2 ring-white"
          name="document" />
      </div>

      <div class="flex flex-col gap-2 md:flex-row">
        <div :class="errors.email ? 'border-2 border-rose-500' : ''"
          class="flex w-full mb-2 rounded-lg md:w-1/2 ring-1 ring-gray-300">
          <span class="flex items-center pl-3 text-gray-500 select-none sm:text-sm">
            <font-awesome-icon icon="at" />
          </span>
          <Field type="email" name="email" id="email"
            class="flex-1 py-2 pl-3 text-gray-900 bg-transparent border-0 outline-none placeholder:text-gray-400 sm:text-sm sm:leading-6"
            placeholder="Correo" rules="required" v-model="email" />
          <ErrorMessage
            class="inline-block w-6 h-6 my-auto mr-2 italic font-extrabold text-center text-white bg-red-500 rounded-full ring-2 ring-white"
            name="email" />
        </div>

        <div :class="errors.phone ? 'border-2 border-rose-500' : ''"
          class="flex w-full mb-2 rounded-lg md:w-1/2 ring-1 ring-gray-300">
          <span class="flex items-center py-2 pl-3 text-gray-500 select-none sm:text-sm">
            <font-awesome-icon icon="phone" />
          </span>
          <Field type="text" name="phone" id="phone"
            class="flex-1 outline-none border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
            placeholder="Teléfono" rules="required" v-model="phone" />
          <ErrorMessage
            class="inline-block w-6 h-6 my-auto mr-2 italic font-extrabold text-center text-white bg-red-500 rounded-full ring-2 ring-white"
            name="phone" />
        </div>
      </div>
      <div :class="errors.name ? 'border-2 border-rose-500' : ''" class="flex mb-2 rounded-lg ring-1 ring-gray-300">
        <span class="flex items-center pl-3 text-gray-500 select-none sm:text-sm">
          <font-awesome-icon icon="user" />
        </span>
        <Field type="text" name="name" id="name"
          class="flex-1 outline-none border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          placeholder="Nombre Completo Peticionario" v-model="FamiliarName" />
        <ErrorMessage
          class="inline-block w-6 h-6 my-auto mr-2 italic font-extrabold text-center text-white bg-red-500 rounded-full ring-2 ring-white"
          name="name" />
      </div>

      <div>
        <select v-model="selectedDocumentFamiliar" id="id" name="id"
          class="w-full py-2 pl-3 mb-2 text-gray-900 rounded-lg ring-1 ring-gray-300">
          <option disabled value="doc">Seleccione Tipo Documento Peticionario</option>
          <option v-for="option in optionsDoc" :key="option.tipo" :value="option">
            {{ option.tipo }}
          </option>
        </select>
      </div>

      <div :class="errors.document ? 'border-2 border-rose-500' : ''" class="flex mb-2 rounded-lg ring-1 ring-gray-300">
        <span class="flex items-center pl-3 text-gray-500 select-none sm:text-sm">
          <font-awesome-icon icon="id-card" />
        </span>
        <Field type="text" name="document" id="document"
          class="flex-1 outline-none border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
          placeholder="Documento Peticionario" rules="required" v-model="FamiliarDoc" />
        <ErrorMessage
          class="inline-block w-6 h-6 my-auto mr-2 italic font-extrabold text-center text-white bg-red-500 rounded-full ring-2 ring-white"
          name="document" />
      </div>

      <div class="flex flex-col gap-2 md:flex-row">
        <div :class="errors.email ? 'border-2 border-rose-500' : ''"
          class="flex w-full mb-2 rounded-lg md:w-1/2 ring-1 ring-gray-300">
          <span class="flex items-center pl-3 text-gray-500 select-none sm:text-sm">
            <font-awesome-icon icon="at" />
          </span>
          <Field type="email" name="email" id="email"
            class="flex-1 py-2 pl-3 text-gray-900 bg-transparent border-0 outline-none placeholder:text-gray-400 sm:text-sm sm:leading-6"
            placeholder="Correo Peticionario" rules="required" v-model="FamiliarEmail" />
          <ErrorMessage
            class="inline-block w-6 h-6 my-auto mr-2 italic font-extrabold text-center text-white bg-red-500 rounded-full ring-2 ring-white"
            name="email" />
        </div>

        <div :class="errors.phone ? 'border-2 border-rose-500' : ''"
          class="flex w-full mb-2 rounded-lg md:w-1/2 ring-1 ring-gray-300">
          <span class="flex items-center py-2 pl-3 text-gray-500 select-none sm:text-sm">
            <font-awesome-icon icon="phone" />
          </span>
          <Field type="text" name="phone" id="phone"
            class="flex-1 outline-none border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
            placeholder="Teléfono Peticionario" rules="required" v-model="FamiliarPhone" />
          <ErrorMessage
            class="inline-block w-6 h-6 my-auto mr-2 italic font-extrabold text-center text-white bg-red-500 rounded-full ring-2 ring-white"
            name="phone" />
        </div>
      </div>

      <div>
        <textarea id="about" name="about" rows="3"
          class="w-full py-2 pl-3 mb-2 text-gray-900 border-0 rounded-lg outline-none ring-1 ring-gray-300 placeholder:text-gray-400"
          placeholder="Mensaje..." rules="required" :class="errors.about ? 'border-2 border-rose-500' : ''"
          v-model="message" />
        <ErrorMessage
          class="inline-block w-6 h-6 my-auto mr-2 italic font-extrabold text-center text-white bg-red-500 rounded-full ring-2 ring-white"
          name="about" />
      </div>
      <div class="w-full">
        <p class="text-xs">
          La información contenida en el presente registro será utilizada
          únicamente para la gestión de la queja, sugerencia y felicitación por
          parte de los procesos institucionales que se vean involucrados. La
          divulgación, difusión, distribución, copia o la toma de cualquier
          acción basada en la información aquí contenida está prohibida y será
          considerada ilegal conforme a la Ley 1581 de 2012 de Protección de
          Datos Personales.
        </p>
        <div class="flex items-center gap-2 my-2">
          <input type="checkbox" id="policy" v-model="policyAccepted"
            class="w-3 h-3 text-green-600 border-gray-300 rounded" />
          <label for="policy" class="text-xs text-gray-700">
            Conozco, entiendo y autorizo lo contenido en el aviso de privacidad
            y la política de tratamiento de datos personales de La Clinica de
            Urgencias Bucaramanga S.A.S
          </label>
        </div>
      </div>
    </Form>

    <template #footer>
      <button @click="closeModal" type="button"
        class="px-3 py-2 text-sm font-semibold text-gray-900 rounded-lg hover:text-red-500">
        Cancelar
      </button>
      <button type="submit" form="formulario"
        class="px-3 py-2 text-sm font-semibold text-white bg-green-600 rounded-lg shadow-sm hover:bg-green-500">
        Enviar Formulario
      </button>
    </template>
  </Dialog>
</template>
