<template>
  <Dialog v-model:visible="visible" modal header="Header" class="w-96 sm:mx-20">
    <template #header>
      <span class="text-2xl font-bold">{{ title }}</span>
    </template>

    <!-- Usa v-html para renderizar el HTML de la descripción -->
    <div v-html="description" class="content"></div>

    <template #footer>
      <!-- Botón para descargar el documento, solo si está disponible -->
      <button
        v-if="doc"
        @click="downloadDoc"
        type="button"
        class="rounded-lg mb-2 px-3 py-2 bg-blue-600 text-sm font-semibold text-white hover:text-blue-500 mr-2"
      >
        Descargar Documento
      </button>

      <!-- Botón para cerrar el modal -->
      <button
        @click="closeModal"
        type="button"
        class="rounded-lg mb-2 px-3 py-2 bg-red-600 text-sm font-semibold text-white hover:text-red-500"
      >
        Cerrar
      </button>
    </template>
  </Dialog>
</template>

<script setup>
import { defineProps, defineEmits, computed } from "vue";

// Define las props del componente
const props = defineProps({
  visible2: Boolean,
  title: {
    type: String,
    default: 'Title'
  },
  description: {
    type: String,
    default: ''
  },
  doc: {
    type: String,
    default: ''
  },
  size: {
    type: String,
    default: 'w-2/5'
  }
});

// Define el estado visible del modal
const visible = computed(() => props.visible2);

// Define los eventos emitidos por el componente
const emits = defineEmits(["close"]);

// Función para cerrar el modal
const closeModal = () => {
  emits("close");
};

// Función para descargar el documento
const downloadDoc = () => {
  if (props.doc) {
    const link = document.createElement("a");
    link.href = props.doc;
    link.download = props.doc.split('/').pop(); // Asigna el nombre del archivo a descargar
    link.click();
  }
};
</script>

<style scoped>
/* Ocultar el botón de cerrar del diálogo */
.p-dialog-header-icons.flex.items-center {
  display: none;
}

/* Asegúrate de que las listas ul y li se muestren correctamente */
.content ul {
  list-style-type: disc; /* Asegura que se use el tipo de lista con viñetas */
  padding-left: 20px; /* Añade sangría a la izquierda */
}

.content li {
  margin-bottom: 8px; /* Espacio entre los elementos de la lista */
}
</style>
