<template>
  <div>
    <dialog ref="modalRef" class="modal">
      <div class="modal-box w-11/12 max-w-3xl">
        <h1 class="text-3xl font-bold mb-4">{{ title }}</h1>
        <div class="separator"></div>
        <div class="mx-10 mt-5">
        <div class="my-4" v-if="titleLineaW">
          <p class="font-bold text-xl mb-1">
            {{ titleLineaW }}
          </p>
          <p class="text-base flex items-center ml-5">
            <span class="">
              <font-awesome-icon icon="fa-brands fa-whatsapp" class="size-6 mr-2" />
            </span>
            {{ LineaW }}
          </p>
          <p class="text-base flex items-center ml-5" v-if="HLineaW">
            <span class="">
              <font-awesome-icon icon="clock" class="size-6 mr-2" />
            </span>
            {{ HLineaW }}
          </p>
        </div>
        <div class="my-4">
          <p class="font-bold text-xl mb-1" v-if="titleLineaP">
            {{ titleLineaP }}
          </p>
          <p class="text-base flex items-center ml-5">
            <span class="">
              <font-awesome-icon icon="location-dot" class="size-6 mr-2" v-if="LineaP"/>
            </span>
            {{ LineaP }}
          </p>
          <p class="text-base flex items-center ml-5" v-if="HLineaP">
            <span class="">
              <font-awesome-icon icon="clock" class="size-6 mr-2" />
            </span>
            {{ HLineaP }}
          </p>
        </div>
        <div class="my-4" v-if="titleLineaT">
          <p class="font-bold text-xl mb-1">
            {{ titleLineaT }}
          </p>
          <p class="text-base flex items-center ml-5">
            <span class="">
              <font-awesome-icon icon="phone" class="size-6 mr-2" />
            </span>
            {{ LineaT }}
          </p>
          <p class="text-base flex items-center ml-5" v-if="HLineaT">
            <span class="">
              <font-awesome-icon icon="clock" class="size-6 mr-2" />
            </span>
            {{ HLineaT }}
          </p>
        </div>
        <div class="my-4" v-if="titleLineaM">
          <p class="font-bold text-xl mb-1">
            {{ titleLineaM }}
          </p>
          <p class="text-base flex items-center ml-5">
            <span class="">
              <font-awesome-icon icon="envelope" class="size-6 mr-2" />
            </span>
            {{ LineaM }}
          </p>
          <p class="text-base flex items-center ml-5">
            <span class="">
              <font-awesome-icon icon="clock" class="size-6 mr-2" />
            </span>
            {{ HLineaM }}
          </p>
        </div>
        <div class="flex flex-row-reverse">
          <a :href="linkButton" v-if="button" class="btn">{{ button }}</a>
        </div>
      </div>
      </div>
      <form @submit.prevent="closeModal" class="modal-backdrop">
        <button type="submit">Cerrar</button>
      </form>
    </dialog>
  </div>
</template>

<script setup>
import { onMounted, onUnmounted, ref } from "vue";

defineProps({
  title: {
    type: String,
    required: false,
  },
  titleLineaW: {
    type: String,
    required: false,
  },
  LineaW: {
    type: String,
    required: false,
  },
  HLineaW: {
    type: String,
    required: false,
  },
  titleLineaP: {
    type: String,
    required: false,
  },
  LineaP: {
    type: String,
    required: false,
  },
  HLineaP: {
    type: String,
    required: false,
  },
  titleLineaT: {
    type: String,
    required: false,
  },
  LineaT: {
    type: String,
    required: false,
  },
  HLineaT: {
    type: String,
    required: false,
  },
  titleLineaM: {
    type: String,
    required: false,
  },
  LineaM: {
    type: String,
    required: false,
  },
  HLineaM: {
    type: String,
    required: false,
  },
  button: {
    type: String,
    required: false,
  },
  linkButton: {
    type: String,
    required: false,
  },
}
);

const modalRef = ref(null);

const closeModal = () => {
  modalRef.value.close();
};

// Función para abrir el modal
const openModal = () => {
  modalRef.value.showModal();
};

// Escuchar el evento para abrir el modal
onMounted(() => {
  window.addEventListener("openModal", openModal);
});

onUnmounted(() => {
  window.removeEventListener("openModal", openModal);
});
</script>

<style scoped>
/* Estilos específicos del componente */
</style>
