<template>
  <div>
    <dialog :id="modalId" class="modal" ref="modalRef">
      <div class="modal-box sm:w-11/12 lg:max-w-xl p-0 relative">
        <img src="../assets/fomag.jpg" alt="" />
        <form
          @submit.prevent="closeModal"
          class="absolute top-0 right-0 m-4 bg-red-500 rounded-full size-7 flex items-center justify-center"
        >
          <button type="submit ">
            <font-awesome-icon :icon="['fas', 'xmark']" class="text-white" />
          </button>
        </form>
      </div>
      <form @submit.prevent="closeModal" class="modal-backdrop">
        <button type="submit">Cerrar</button>
      </form>
    </dialog>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";

const modalId = "my_modal_2";
const modalRef = ref(null);

const closeModal = () => {
  modalRef.value.close();
};

onMounted(() => {
  modalRef.value.showModal();
});
</script>

<style scoped>
/* Estilos específicos del componente */
</style>
