<template>
  <header class="fixed top-0 left-0 right-0 z-50 bg-white shadow-md">
    <!-- <header class="sm:bg-blue-600 md:bg-red-600 lg:bg-green-600 xl:bg-gray-600 bg-white"> -->
    <Banner />
    <!-- Nav Pantallas Grandes -->
    <nav class="mx-auto flex max-w-screen-xl items-center justify-between px-6 py-4">
      <!-- Logo -->
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Clínica Urgencias Bucaramanga</span>
          <img
            class="transition-opacity duration-700 ease-in-out"
            :src="currentImage.src"
            :alt="currentImage.alt"
            :class="[currentImage.class, 'opacity-100']"
          />
        </a>
      </div>
      <!-- Fin Logo -->
      <!-- Menú Hamburguesa -->
      <div class="flex lg:hidden">
        <button
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
          @click="mobileMenuOpen = true"
        >
          <span class="sr-only">Open main menu</span>
          <font-awesome-icon
            :icon="['fas', 'bars']"
            aria-hidden="true"
            class="h-6 w-6"
          />
        </button>
      </div>
      <!-- Fin Menú Hamburguesa -->
      <!-- Menu Pantallas Grandes -->
      <PopoverGroup class="hidden lg:flex lg:gap-x-12">
        <!-- Quienes Somos -->
        <Popover class="relative" v-slot="{ open, close }">
          <PopoverButton
            class="flex items-center outline-none gap-x-1 text-1xl font-semibold leading-6 text-gray-900"
            @mouseover="(e) => hoverPopover(e, open)"
            @mouseleave="closePopover(close)"
          >
            Quienes somos
            <font-awesome-icon icon="fa-solid fa-chevron-down" />
          </PopoverButton>

          <transition
            enter-active-class="transition ease-out duration-200"
            enter-from-class="opacity-0 translate-y-1"
            enter-to-class="opacity-100 translate-y-0"
            leave-active-class="transition ease-in duration-150"
            leave-from-class="opacity-100 translate-y-0"
            leave-to-class="opacity-0 translate-y-1"
          >
            <PopoverPanel
              class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
              @mouseover.prevent="popoverHover = true"
              @mouseleave.prevent="closePopover(close)"
            >
              <div class="p-4">
                <div
                  v-for="item in somos"
                  :key="item.name"
                  class="group relative flex items-center gap-x-6 rounded-lg p-1.5 px text-1xl leading-6 hover:bg-gray-50"
                >
                  <div
                    class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
                  >
                    <font-awesome-icon
                      class="rounded-lg px-3 my-2.5 font-semibold leading-7 text-gray-900 hover:text-green-500 text-3xl group-hover:text-green-600"
                      :icon="item.icon"
                    />
                  </div>
                  <div class="flex-auto">
                    <a
                      :href="item.href"
                      class="block font-semibold text-gray-900"
                    >
                      {{ item.name }}
                      <span class="absolute inset-0" />
                    </a>
                    <p class="mt-1 text-gray-600">{{ item.description }}</p>
                  </div>
                </div>
              </div>
            </PopoverPanel>
          </transition>
        </Popover>
        <!-- Servicios -->
        <Popover class="relative" v-slot="{ open, close }">
          <PopoverButton
            class="flex items-center outline-none gap-x-1 text-1xl font-semibold leading-6 text-gray-900"
            @mouseover="(e) => hoverPopover(e, open)"
            @mouseleave="closePopover(close)"
          >
            Servicios
            <font-awesome-icon icon="fa-solid fa-chevron-down" />
          </PopoverButton>

          <transition
            enter-active-class="transition ease-out duration-200"
            enter-from-class="opacity-0 translate-y-1"
            enter-to-class="opacity-100 translate-y-0"
            leave-active-class="transition ease-in duration-150"
            leave-from-class="opacity-100 translate-y-0"
            leave-to-class="opacity-0 translate-y-1"
          >
            <PopoverPanel
              class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
              @mouseover.prevent="popoverHover = true"
              @mouseleave.prevent="closePopover(close)"
            >
              <div class="p-4">
                <div
                  v-for="item in servicios"
                  :key="item.name"
                  class="group relative flex items-center gap-x-6 rounded-lg p-1.5 text-1xl leading-6 hover:bg-gray-50"
                >
                  <div
                    class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
                  >
                    <font-awesome-icon
                      class="rounded-lg px-3 my-2.5 font-semibold leading-7 text-gray-900 hover:text-green-500 text-3xl group-hover:text-green-600"
                      :icon="item.icon"
                    />
                  </div>
                  <div class="flex-auto">
                    <a
                      :href="item.href"
                      class="block font-semibold text-gray-900"
                    >
                      {{ item.name }}
                      <span class="absolute inset-0" />
                    </a>
                    <p class="mt-1 text-gray-600">{{ item.description }}</p>
                  </div>
                </div>
                <Disclosure as="div" class="-mx-3" v-slot="{ open }">
                  <DisclosureButton
                    class="flex w-full items-center justify-between rounded-lg pl-2 pr-10 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >
                    <div
                      class="group relative flex items-center gap-x-6 rounded-lg p-1.5 text-1xl leading-6 hover:bg-gray-50"
                    >
                      <div
                        class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
                      >
                        <font-awesome-icon
                          class="rounded-lg px-3 my-2.5 font-semibold leading-7 text-gray-900 hover:text-green-500 text-3xl group-hover:text-green-600"
                          icon="fa-solid fa-microscope"
                        />
                      </div>
                      <div class="flex-auto">
                        <a class="block font-semibold text-gray-900">
                          Servicio de Apoyo Diagnóstico
                          <span class="absolute inset-0" />
                        </a>
                      </div>
                    </div>
                    <font-awesome-icon
                      :class="[open ? 'rotate-180' : '', 'h-5 w-5 flex-none']"
                      aria-hidden="true"
                      icon="fa-solid fa-chevron-down"
                    />
                  </DisclosureButton>
                  <DisclosurePanel class="mt-2 space-y-2">
                    <DisclosureButton
                      v-for="item in diagnostico"
                      :key="item.name"
                      as="a"
                      :href="item.href"
                      class="block rounded-lg py-2 pl-6 pr-3 text-1xl font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >
                      {{ item.name }}</DisclosureButton
                    >
                  </DisclosurePanel>
                </Disclosure>
                <Disclosure as="div" class="-mx-3" v-slot="{ open }">
                  <DisclosureButton
                    class="flex w-full items-center justify-between rounded-lg pl-2 pr-10 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >
                    <div
                      class="group relative flex items-center gap-x-6 rounded-lg p-1.5 text-1xl leading-6 hover:bg-gray-50"
                    >
                      <div
                        class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
                      >
                        <font-awesome-icon
                          class="rounded-lg px-3 my-2.5 font-semibold leading-7 text-gray-900 hover:text-green-500 text-3xl group-hover:text-green-600"
                          icon="house-medical-flag"
                        />
                      </div>
                      <div class="flex-auto">
                        <a class="block font-semibold text-gray-900">
                          Programas Especiales
                          <span class="absolute inset-0" />
                        </a>
                      </div>
                    </div>
                    <font-awesome-icon
                      :class="[open ? 'rotate-180' : '', 'h-5 w-5 flex-none']"
                      aria-hidden="true"
                      icon="fa-solid fa-chevron-down"
                    />
                  </DisclosureButton>
                  <DisclosurePanel class="mt-2 space-y-2">
                    <DisclosureButton
                      v-for="item in especiales"
                      :key="item.name"
                      as="a"
                      :href="item.href"
                      class="block rounded-lg py-2 pl-6 pr-3 text-1xl font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >
                      {{ item.name }}</DisclosureButton
                    >
                  </DisclosurePanel>
                </Disclosure>
              </div>
            </PopoverPanel>
          </transition>
        </Popover>
        <!-- Nuestros Profesionales -->
        <a
          href="/nuestro-equipo"
          class="text-1xl font-semibold leading-6 text-gray-900"
        >
          Nuestros Profesionales
        </a>
        <!-- Blog -->
        <!-- <a href="/blog" class="text-1xl font-semibold leading-6 text-gray-900"
          >Blog</a
        > -->
        <!-- Info. de Interes -->
        <Popover class="relative" v-slot="{ open, close }">
          <PopoverButton
            class="flex items-center outline-none gap-x-1 text-1xl font-semibold leading-6 text-gray-900"
            @mouseover="(e) => hoverPopover(e, open)"
            @mouseleave="closePopover(close)"
          >
            Info. de Interes
            <font-awesome-icon icon="fa-solid fa-chevron-down" />
          </PopoverButton>

          <transition
            enter-active-class="transition ease-out duration-200"
            enter-from-class="opacity-0 translate-y-1"
            enter-to-class="opacity-100 translate-y-0"
            leave-active-class="transition ease-in duration-150"
            leave-from-class="opacity-100 translate-y-0"
            leave-to-class="opacity-0 translate-y-1"
          >
            <PopoverPanel
              class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
              @mouseover.prevent="popoverHover = true"
              @mouseleave.prevent="closePopover(close)"
            >
              <div class="p-4">
                <div
                  v-for="item in info"
                  :key="item.name"
                  class="group relative flex items-center gap-x-6 rounded-lg p-1.5 text-1xl leading-6 hover:bg-gray-50"
                >
                  <div
                    class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
                  >
                    <font-awesome-icon
                      class="rounded-lg px-3 my-2.5 font-semibold leading-7 text-gray-900 hover:text-green-500 text-3xl group-hover:text-green-600"
                      :icon="item.icon"
                    />
                  </div>
                  <div class="flex-auto">
                    <a
                      :href="item.href"
                      class="block font-semibold text-gray-900"
                    >
                      {{ item.name }}
                      <span class="absolute inset-0" />
                    </a>
                    <p class="mt-1 text-gray-600">{{ item.description }}</p>
                  </div>
                </div>
              </div>
            </PopoverPanel>
          </transition>
        </Popover>
        <!-- Atencion al Usuario -->
        <Popover class="relative" v-slot="{ open, close }">
          <PopoverButton
            class="flex items-center outline-none gap-x-1 text-1xl font-semibold leading-6 text-gray-900"
            @mouseover="(e) => hoverPopover(e, open)"
            @mouseleave="closePopover(close)"
          >
            Atención al Usuario
            <font-awesome-icon icon="fa-solid fa-chevron-down" />
          </PopoverButton>

          <transition
            enter-active-class="transition ease-out duration-200"
            enter-from-class="opacity-0 translate-y-1"
            enter-to-class="opacity-100 translate-y-0"
            leave-active-class="transition ease-in duration-150"
            leave-from-class="opacity-100 translate-y-0"
            leave-to-class="opacity-0 translate-y-1"
          >
            <PopoverPanel
              class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
              @mouseover.prevent="popoverHover = true"
              @mouseleave.prevent="closePopover(close)"
            >
              <div class="p-4">
                <div
                  v-for="item in atencion"
                  :key="item.name"
                  class="group relative flex items-center gap-x-6 rounded-lg p-1.5 text-1xl leading-6 hover:bg-gray-50"
                >
                  <div
                    class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
                  >
                    <font-awesome-icon
                      class="rounded-lg px-3 my-2.5 font-semibold leading-7 text-gray-900 hover:text-green-500 text-3xl group-hover:text-green-600"
                      :icon="item.icon"
                    />
                  </div>
                  <div class="flex-auto">
                    <a
                      :href="item.href"
                      class="block font-semibold text-gray-900"
                    >
                      {{ item.name }}
                      <span class="absolute inset-0" />
                    </a>
                    <p class="mt-1 text-gray-600">{{ item.description }}</p>
                  </div>
                </div>
              </div>
            </PopoverPanel>
          </transition>
        </Popover>
      </PopoverGroup>
      <!-- Fin Menu Pantallas Grandes -->
      <!-- Redes Sociales -->
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a
          v-for="social in socialLinks"
          :key="social.label"
          :href="social.url"
          target="_blank"
          rel="noopener noreferrer"
          class="aos-init"
          :aria-label="social.label"
        >
          <font-awesome-icon
            class="rounded-lg px-3 my-2.5 font-semibold leading-7 text-gray-900 hover:text-green-500 text-2xl"
            :icon="social.icon"
          />
        </a>
      </div>
      <!-- Fin Redes Sociales -->
    </nav>
    <!-- Fin Nav Pantallas Grandes -->
    <!-- Nav Pantallas Pequeñas -->
    <Dialog
      as="div"
      class="lg:hidden"
      @close="mobileMenuOpen = false"
      :open="mobileMenuOpen"
    >
      <div class="fixed inset-0 z-10" />
      <!-- Menú Lateral Pantallas Pequeñas -->
      <DialogPanel
        class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
      >
        <!-- Logo Pantallas Pequeñas -->
        <div class="flex items-center justify-between">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Clínica Urgencias Bucaramanga</span>
            <img class="h-8 w-auto" src="../assets/logo.png" alt="" />
          </a>
          <button
            type="button"
            class="-m-2.5 rounded-md p-2.5 text-gray-700"
            @click="mobileMenuOpen = false"
          >
            <span class="sr-only">Close menu</span>

            <font-awesome-icon
              class="h-6 w-6"
              aria-hidden="true"
              :icon="['fas', 'xmark']"
            />
          </button>
        </div>
        <!-- Fin Logo Pantallas Pequeñas -->
        <!-- Menú Pantallas Pequeñas -->
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <Disclosure as="div" class="-mx-3" v-slot="{ open }">
                <DisclosureButton
                  class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                  Quienes somos
                  <font-awesome-icon
                    :class="[open ? 'rotate-180' : '', 'h-5 w-5 flex-none']"
                    aria-hidden="true"
                    icon="fa-solid fa-chevron-down"
                  />
                </DisclosureButton>
                <DisclosurePanel class="mt-2 space-y-2">
                  <DisclosureButton
                    v-for="item in somos"
                    :key="item.name"
                    as="a"
                    :href="item.href"
                    class="block rounded-lg py-2 pl-6 pr-3 text-1xl font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >
                    {{ item.name }}</DisclosureButton
                  >
                </DisclosurePanel>
              </Disclosure>
              <Disclosure as="div" class="-mx-3" v-slot="{ open }">
                <DisclosureButton
                  class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                  Servicios
                  <font-awesome-icon
                    :class="[open ? 'rotate-180' : '', 'h-5 w-5 flex-none']"
                    aria-hidden="true"
                    icon="fa-solid fa-chevron-down"
                  />
                </DisclosureButton>
                <DisclosurePanel class="mt-2 space-y-2">
                  <DisclosureButton
                    v-for="item in servicios"
                    :key="item.name"
                    as="a"
                    :href="item.href"
                    class="block rounded-lg py-2 pl-6 pr-3 text-1xl font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >
                    {{ item.name }}</DisclosureButton
                  >

                  <Disclosure as="div" v-slot="{ open }">
                    <DisclosureButton
                      class="flex items-center w-full justify-between rounded-lg py-2 pl-6 text-1xl font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >
                      <div class="group relative flex">
                        <a class="block font-semibold text-gray-900">
                          Servicio de Apoyo Diagnóstico
                          <span class="absolute inset-0" />
                        </a>
                      </div>
                      <font-awesome-icon
                        class="pr-6"
                        :class="[open ? 'rotate-180' : '', 'h-5 w-5 flex-none']"
                        aria-hidden="true"
                        icon="fa-solid fa-chevron-down"
                      />
                    </DisclosureButton>
                    <DisclosurePanel class="mt-2 space-y-2">
                      <DisclosureButton
                        v-for="item in diagnostico"
                        :key="item.name"
                        as="a"
                        :href="item.href"
                        class="block rounded-lg py-2 pl-6 pr-3 text-1xl font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                      >
                        {{ item.name }}</DisclosureButton
                      >
                    </DisclosurePanel>
                  </Disclosure>
                  <Disclosure as="div" v-slot="{ open }">
                    <DisclosureButton
                      class="flex items-center w-full justify-between rounded-lg py-2 pl-6 text-1xl font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >
                      <div class="group relative flex">
                        <a class="block font-semibold text-gray-900">
                          Programas Especiales
                          <span class="absolute inset-0" />
                        </a>
                      </div>
                      <font-awesome-icon
                        class="pr-6"
                        :class="[open ? 'rotate-180' : '', 'h-5 w-5 flex-none']"
                        aria-hidden="true"
                        icon="fa-solid fa-chevron-down"
                      />
                    </DisclosureButton>
                    <DisclosurePanel class="mt-2 space-y-2">
                      <DisclosureButton
                        v-for="item in especiales"
                        :key="item.name"
                        as="a"
                        :href="item.href"
                        class="block rounded-lg py-2 pl-6 pr-3 text-1xl font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                      >
                        {{ item.name }}</DisclosureButton
                      >
                    </DisclosurePanel>
                  </Disclosure>
                </DisclosurePanel>
              </Disclosure>
              <!-- <a
                href="/servicios"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Servicios</a
              > -->
              <a
                href="/nuestro-equipo"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Nuestros Profesionales</a
              >
              <!-- <a
                href="/blog"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Blog</a
              > -->

              <Disclosure as="div" class="-mx-3" v-slot="{ open }">
                <DisclosureButton
                  class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                  Info. de Interes
                  <font-awesome-icon
                    :class="[open ? 'rotate-180' : '', 'h-5 w-5 flex-none']"
                    aria-hidden="true"
                    icon="fa-solid fa-chevron-down"
                  />
                </DisclosureButton>
                <DisclosurePanel class="mt-2 space-y-2">
                  <DisclosureButton
                    v-for="item in info"
                    :key="item.name"
                    as="a"
                    :href="item.href"
                    class="block rounded-lg py-2 pl-6 pr-3 text-1xl font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >
                    {{ item.name }}</DisclosureButton
                  >
                </DisclosurePanel>
              </Disclosure>

              <Disclosure as="div" class="-mx-3" v-slot="{ open }">
                <DisclosureButton
                  class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                  Atencion al usuario
                  <font-awesome-icon
                    :class="[open ? 'rotate-180' : '', 'h-5 w-5 flex-none']"
                    aria-hidden="true"
                    icon="fa-solid fa-chevron-down"
                  />
                </DisclosureButton>
                <DisclosurePanel class="mt-2 space-y-2">
                  <DisclosureButton
                    v-for="item in atencion"
                    :key="item.name"
                    as="a"
                    :href="item.href"
                    class="block rounded-lg py-2 pl-6 pr-3 text-1xl font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >
                    {{ item.name }}</DisclosureButton
                  >
                </DisclosurePanel>
              </Disclosure>
            </div>
            <!-- Redes Sociales Pantallas Pequeñas -->
            <div class="py-6">
              <a
                v-for="social in socialLinks"
                :key="social.label"
                :href="social.url"
                target="_blank"
                rel="noopener noreferrer"
                class="aos-init"
                :aria-label="social.label"
              >
                <font-awesome-icon
                  class="rounded-lg px-3 my-2.5 font-semibold leading-7 text-gray-900 hover:text-green-500 text-3xl"
                  :icon="social.icon"
                />
              </a>
            </div>
            <!-- Fin Redes Sociales Pantallas Pequeñas -->
          </div>
        </div>
        <!-- Fin Menú Pantallas Pequeñas -->
      </DialogPanel>
      <!-- Fin Menú Lateral Pantallas Pequeñas -->
    </Dialog>
    <!-- Fin Nav Pantallas Pequeñas -->
  </header>
</template>

<script setup>
import Banner from "./Banner.vue";
import {
  Dialog,
  DialogPanel,
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  Popover,
  PopoverButton,
  PopoverGroup,
  PopoverPanel,
} from "@headlessui/vue";
import axios from "axios";
import logo1 from "@/assets/logo.png";
import logo2 from "@/assets/slogan.webp";
import { onMounted, ref, computed } from "vue";

// Arreglo de imágenes
const images = ref([
  { src: logo1, alt: "Logo de la clínica", class: "h-7 lg:h-10 w-auto" },
  { src: logo2, alt: "Slogan de la clínica", class: "h-7 w-auto" },
]);

// Índice de la imagen actual
const currentIndex = ref(0);

// Computar la imagen actual
const currentImage = computed(() => images.value[currentIndex.value]);

// Iniciar rotación de imágenes
const startImageRotation = () => {
  setInterval(() => {
    currentIndex.value = (currentIndex.value + 1) % images.value.length;
  }, 5000); // Cambiar cada 5 segundos
};

// Montar el componente
onMounted(() => {
  startImageRotation();
});

// onMounted(()=>apiNav())

// const somos = ref([])

// function apiNav() {
//   api.get("http://192.168.20.250:2000/api/menu/quienes-somos").then((resp)=>
//   {
//     somos.value=resp.data.submenus
//     console.log(somos.value)
//   })
// }

const somos = [
  {
    name: "Nuestra Historia",
    description: "",
    href: "/nuestra-historia",
    icon: ["fas", "clock-rotate-left"],
  },
  {
    name: "Misión y Visión",
    description: "",
    href: "/mision-vision",
    icon: ["fas", "ranking-star"],
  },
  {
    name: "Valores Corporativos",
    description: "",
    href: "/valores-corporativos",
    icon: ["fas", "hand-holding-medical"],
  },
  {
    name: "Politicas Institucionales",
    description: "",
    href: "/politicas-institucionales",
    icon: ["fas", "book"],
  },
  {
    name: "Programa Institucional de Seguridad del Paciente",
    description: "",
    href: "/seguridad-paciente",
    icon: ["fas", "user-shield"],
  },
  /*{
    name: "Responsabilidad Corporativa",
    description: "",
    href: "#",
    icon: ["fas", "building"],
  },*/
];
const servicios = [
  {
    name: "Cirugia",
    description: "",
    href: "/servicio/cirugia", // Modifica según sea necesario
    icon: ["fas", "user-doctor"],
  },
  {
    name: "Hospitalizacion",
    description: "",
    href: "/servicio/hospitalizacion",
    icon: ["fas", "user-nurse"],
  },
  {
    name: "Consulta Ambulatoria y Especializada",
    description: "",
    href: "/servicio/ambulatoria_especializada",
    icon: ["fas", "stethoscope"],
  },
  {
    name: "UCI",
    description: "",
    href: "/servicio/uci",
    icon: ["fas", "bed-pulse"],
  },
  {
    name: "Urgencias",
    description: "",
    href: "/servicio/urgencias",
    icon: ["fas", "truck-medical"],
  },
];
const diagnostico = [
  {
    name: "Laboratorio",
    href: "/servicio/laboratorio",
  },
  {
    name: "Imagenología",
    href: "/servicio/imagenologia",
  },
];
const especiales = [
  {
    name: "Piel Sana",
    href: "/servicio/piel_sana",
  },
  {
    name: "Accesos Vasculares",
    href: "/servicio/accesos_vasculares",
  },
];
const atencion = [
  {
    name: "Canales de PQRSF",
    description: "",
    href: "/canales-PQRSF",
    icon: ["fas", "headset"],
  },
  {
    name: "Derechos y deberes",
    description: "",
    href: "/derechos-deberes",
    icon: ["fas", "handshake-simple"],
  },
  {
    name: "Informes PQRFS",
    description: "",
    href: "/informes-PQRSF",
    icon: ["fas", "file"],
  },
  {
    name: "Instancia de Participación",
    description: "",
    href: "/instancia-participacion",
    icon: ["fas", "people-group"],
  },
  /*{
    name: "Notificaciones Judiciales",
    description: "",
    href: "#",
    icon: ["fas", "virus"],
  },*/
];
const info = [
  {
    name: "Trabaja con Nosotros",
    description: "",
    href: "/vacantes",
    icon: ["fas", "briefcase"],
  },
  {
    name: "Información Financiera",
    description: "",
    href: "/informacion-financiera",
    icon: ["fas", "money-bill"],
  },
  // {
  //   name: "Informes COPASST",
  //   description: "",
  //   href: "/informes-PQRSF",
  //   icon: ["fas", "file"],
  // },
  {
    name: "Preguntas Frecuentes",
    description: "",
    href: "/preguntas-frecuentes",
    icon: ["fas", "question"],
  },
  {
    name: "Tramita tu Cita",
    description: "",
    href: "/citas",
    icon: ["fas", "circle-info"],
  },
  /*{
    name: "Notificaciones Judiciales",
    description: "",
    href: "#",
    icon: ["fas", "virus"],
  },*/
];
// Array redes sociales
const socialLinks = [
  {
    label: "Facebook",
    url: "https://www.facebook.com/clinicadeurgenciasbucaramanga",
    icon: ["fa-brands", "fa-square-facebook"],
  },
  {
    label: "Twitter",
    url: "https://x.com/i/flow/login?redirect_after_login=%2FCLINICADEURGEN1",
    icon: ["fa-brands", "fa-square-x-twitter"],
  },
  {
    label: "Instagram",
    url: "https://www.instagram.com/clinicadeurgenciasbucaramanga/?hl=es-la",
    icon: ["fa-brands", "fa-instagram"],
  },
];
// Variable reactiva para controlar el estado del menú móvil
const mobileMenuOpen = ref(false);
const popoverHover = ref(false);
const popoverTimeout = ref(null);
const hoverPopover = (e, open) => {
  popoverHover.value = true;
  if (!open) e.target.click();
};
const closePopover = (close) => {
  popoverHover.value = false;
  if (popoverTimeout.value) clearTimeout(popoverHover.value);
  popoverTimeout.value = setTimeout(() => {
    if (!popoverHover.value) close();
  }, 100);
};
</script>
