<template>
  <div class="options-container" data-aos="fade-up">
    <Card
      v-for="(tarjeta, index) in tarjetas"
      :key="index"
      :title="tarjeta.titulo"
      :parrafo="tarjeta.parrafo"
      :img="tarjeta.src"
      :link="tarjeta.link"
      :target="tarjeta.target"
      :boton1="tarjeta.boton1 || ''"
      :boton2="tarjeta.boton2 || ''"
      :link1="tarjeta.link1"
      :link2="tarjeta.link2"
      class="pr-4"
    />
  </div>
</template>

<script setup>
import { ref } from "vue";
import Card from "../components/Card.vue";
import image1 from "@/assets/heart.png";
import image2 from "@/assets/lupa.png";
import image3 from "@/assets/trabajo.png";

const tarjetas = ref([
  {
    titulo: "Cita",
    parrafo: "Agende su cita con nosotros fácil y rápidamente.",
    src: image1,
    link: "/citas",
    target: "",
  },
  {
    titulo: "Consultar Resultados",
    parrafo: "Descubre tus resultados con una consulta simple y eficiente.",
    src: image2,
    target: "_blank",
    boton1: "Imagenología",
    boton2: "Laboratorio",
    link1: "https://portalmediweb.cub.com.co/PortalMediWeb/login",
    link2: "http://cub.resultadoslab.com.co/",
  },
  {
    titulo: "Trabaja con Nosotros",
    parrafo: "Únete a nuestro equipo y construye una carrera profesional con nosotros.",
    src: image3,
    link: "/vacantes",
    target: "",
  },
]);
</script>
