<template>
    <p class=" text-sm sm:text-xl text-justify">
        {{ parrafo }}
    </p>
</template>

<script setup>
import { defineProps } from "vue";

// Definimos los props
const props = defineProps({
    parrafo: {
        type: String,
        default: "",
    },
});
</script>

<style scoped></style>
