<template>
  <div class="container lg:px-0 px-10 sm:mx-auto md:px-48 relative">
    <div
      class="lg:grid xl:grid-cols-12 items-center gap-[30px]"
    >
      <div class="md:col-span-7">
        <AnimatedBoxR :Top="'0'" :start="'0'" />
        <!-- text -->
        <div class="lg:ms-4" 
        :data-aos="isSmallScreen ? 'fade-up' : 'fade-right'">
          <Titles title="¿Que nos hace diferentes a" span="las demas IPS?" customClass="text-wrap text-slate-700" />

          <Paragraph
            class="pb-4"
            parrafo="Nuestra razón de ser es brindar una excelente prestación de servicios en salud y consideramos a nuestros clientes como aliados estratégicos."
          />

          <Paragraph
            class="pb-4"
            parrafo="Nosotros entendemos que la única manera de consolidar relaciones a largo plazo es lograr la satisfacción de los usuarios."
          />
          <!-- <CTAbtn :btnInfo="'Ver más'" :href="'/servicios'" /> -->
        </div>
        <!-- text -->
      </div>
      <div class="md:col-span-5">
        <div class="relative">
          <!-- collage -->
          <div class="w-[100%]">
            <div class="grid grid-cols-8 grid-rows-8 gap-1">
              <a
                class="col-start-1 col-end-3 row-start-1 row-end-3"
                data-aos="fade-down"
              >
                <img
                  src="../assets/home/home4.webp"
                  alt="Gallery image 1"
                  class="w-full h-full object-cover block rounded-lg"
                />
              </a>
              <a
                class="col-start-3 col-end-5 row-start-1 row-end-3"
                data-aos="fade-down"
              >
                <img
                  src="../assets/home/home5.webp"
                  alt="Gallery image 2"
                  class="w-full h-full object-cover block rounded-lg"
                />
              </a>
              <a
                class="col-start-5 col-end-9 row-start-1 row-end-6"
                data-aos="zoom-in"
              >
                <img
                  src="../assets/home/home1.webp"
                  alt="Gallery image 3"
                  class="w-full h-full object-cover block rounded-lg"
                />
              </a>
              <a
                class="col-start-1 col-end-5 row-start-3 row-end-6"
                
                :data-aos="isSmallScreen ? 'fade-up' : 'fade-right'"
              >
                <img
                  src="../assets/hero/1.webp"
                  alt="Gallery image 4"
                  class="w-full h-full object-cover block rounded-lg"
                />
              </a>
              <a
                class="col-start-1 col-end-5 row-start-6 row-end-9"
                data-aos="fade-up"
              >
                <img
                  src="../assets/home/home2.webp"
                  alt="Gallery image 5"
                  class="w-full h-full object-cover block rounded-lg"
                />
              </a>
              <a
                class="col-start-5 col-end-9 row-start-6 row-end-9"
                data-aos="fade-down"
              >
                <img
                  src="../assets/home/home3.webp"
                  alt="Gallery image 6"
                  class="w-full h-full object-cover block rounded-lg"
                />
              </a>
            </div>
          </div>
          <!-- collage -->
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import Titles from "../components/Titles.vue";
import Paragraph from "../components/Paragraph.vue";
import AnimatedBoxR from "../components/AnimatedBoxR.vue";
import CTAbtn from "../components/CTA-btn.vue";
import { ref, onMounted, onBeforeUnmount } from "vue";

// Propiedad reactiva para el tamaño de la pantalla
const isSmallScreen = ref(false);

// Función para manejar cambios en el tamaño de la pantalla
const updateScreenSize = () => {
  isSmallScreen.value = window.innerWidth < 768; // Define pantallas pequeñas como ancho menor a 768px
};

// Escuchar cambios en el tamaño de la ventana
onMounted(() => {
  updateScreenSize();
  window.addEventListener("resize", updateScreenSize);
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", updateScreenSize);
});
</script>

<style scoped></style>
