<script setup>
import { ref, onMounted, onBeforeUnmount } from "vue";

defineProps({
  titleL: {
    type: String,
    required: false,
  },
  titleC: {
    type: String,
    required: false,
  },
  titleR: {
    type: String,
    required: false,
  },
  paragraphL: {
    type: String,
    required: false,
  },
  paragraphC: {
    type: String,
    required: false,
  },
  paragraphR: {
    type: String,
    required: false,
  },
  imageSrcL: {
    type: String,
    required: false,
  },
  imageSrcC: {
    type: String,
    required: false,
  },
  imageSrcR: {
    type: String,
    required: false,
  },
});

// Propiedad reactiva para el tamaño de la pantalla
const isSmallScreen = ref(false);

// Función para manejar cambios en el tamaño de la pantalla
const updateScreenSize = () => {
  isSmallScreen.value = window.innerWidth < 768; // Define pantallas pequeñas como ancho menor a 768px
};

// Escuchar cambios en el tamaño de la ventana
onMounted(() => {
  updateScreenSize();
  window.addEventListener("resize", updateScreenSize);
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", updateScreenSize);
});
</script>

<template>
  <div class="flex flex-col md:flex-row gap-4 items-center m-2 lg:m-0">
    <!-- Tarjeta izquierda -->
    <div class="card mb-3 bg-green-500 h-full md:w-1/4 w-full xl:max-w-[540px]" :data-aos="isSmallScreen ? 'fade-up' : 'fade-left'">
      <div class="p-4 text-white">
        <h5 class="card-title">{{ titleL }}</h5>
        <p class="card-text text-justify">{{ paragraphL }}</p>
      </div>
      <div class="px-4 pb-4">
        <img :src="imageSrcL" class="rounded-start rounded-xl" alt="Card title" />
      </div>
    </div>

    <!-- Tarjeta central -->
    <div class="card mb-3 bg-green-500 h-full md:w-1/2 w-full xl:min-w-[540px]" data-aos="zoom-in">
      <div class="p-4 text-white">
        <h5 class="card-title">{{ titleC }}</h5>
        <p class="card-text text-justify">{{ paragraphC }}</p>
      </div>
      <div class="px-4 pb-4">
        <img :src="imageSrcC" class="rounded-start rounded-xl" alt="Card title" />
      </div>
    </div>

    <!-- Tarjeta derecha -->
    <div class="card mb-3 bg-green-500 h-full md:w-1/4 w-full xl:max-w-[540px" :data-aos="isSmallScreen ? 'fade-up' : 'fade-right'">
      <div class="p-4 text-white">
        <h5 class="card-title">{{ titleR }}</h5>
        <p class="card-text text-justify">{{ paragraphR }}</p>
      </div>
      <div class="px-4 pb-4">
        <img :src="imageSrcR" class="rounded-start rounded-xl" alt="Card title" />
      </div>
    </div>
  </div>
</template>
