<template>
    <div class="flex flex-row">
      <!-- Imagen a la izquierda -->
      <div class="">
        <h3 class="text-xl font-bold mb-2">Título del Texto</h3>
        <p>
          Este es el contenido del texto. 
        </p>
      </div>
      <img 
        src="../assets/33.jpg" 
        alt="Imagen" 
        class=""
      />
  
      <!-- Texto superpuesto a la derecha de la imagen -->
    </div>
  </template>
  
  <style scoped>
  </style>
  