<template>
  <div>
    <CollapsibleSection :title="value.title">
        <div v-html="value.description" class="text-justify">
        </div>
      </CollapsibleSection>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import CollapsibleSection from "../components/CollapsibleSection.vue";

defineProps({
  data: {
    type: Array,
    required: true,
  },
});

const activeIndex = ref(null);

function toggle(index) {
  activeIndex.value = activeIndex.value === index ? null : index;
}
</script>

<style scoped>
.list-circle {
  list-style-type: circle;
}
</style>
