<template>
    <div class="container lg:px-0 px-10 sm:mx-auto md:px-48 relative py-10">
      <div
        class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px] relative"
      >
        <div class="lg:col-span-8 md:col-span-12">
          <div class="grid grid-cols-1 pb-8">
            <h3
              class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold"
            >
              Servicios que ofrece la<br />
              <span class="text-green-600">
                Clinica de Urgencias Bucaramanga
              </span>
            </h3>

            <p class="text-slate-400 max-w-xl">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
              corporis labore atque sequi odio ullam optio voluptatibus,
              temporibus mollitia sunt tempore molestiae! Soluta molestiae quos
              eum nihil facere error sequi.
            </p>
          </div>

          <div class="grid md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]" >
            <div
              class="px-6 py-10 shadow hover:shadow-lg duration-500 rounded-2xl bg-white"
              data-aos="fade-down"
              
            >
              <img
                            v-if="imagenActual === 'original'"
                src="../assets/cx.png"
                class="w-32"
              ></img>
              <img
                              v-else-if="imagenActual === '3d'"
                src="../assets/cirugia.png"
                class="w-32"
              ></img>

              <div class="content mt-7">
                <a
                  href="/servicios"
                  class="title h5 text-lg font-medium hover:text-green-600"
                  >Cirugia</a
                >
                <p class="text-slate-400 mt-3">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, numquam sit. Ducimus sunt labore est vel molestias temporibus autem blanditiis in aperiam odit! Placeat temporibus, assumenda fugiat itaque excepturi reprehenderit!
                </p>

                <div class="mt-5">
                  <a
                    href="/servicios"
                    class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-green-600 hover:text-green-600 after:bg-green-600 duration-500 ease-in-out"
                    >Ver más <i class="uil uil-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>

            <div
              class="px-6 py-10 shadow hover:shadow-lg duration-500 rounded-2xl bg-white"
              data-aos="fade-down"
              
            >
              <img
                            v-if="imagenActual === 'original'"
                src="../assets/consulext.png"
                class="w-32"
              ></img>
              <img
                              v-else-if="imagenActual === '3d'"
                src="../assets/consultaext.png"
                class="w-32"
              ></img>

              <div class="content mt-7">
                <a
                  href="/servicios"
                  class="title h5 text-lg font-medium hover:text-green-600"
                  >Consulta Externa</a
                >
                <p class="text-slate-400 mt-3">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, numquam sit. Ducimus sunt labore est vel molestias temporibus autem blanditiis in aperiam odit! Placeat temporibus, assumenda fugiat itaque excepturi reprehenderit!
                </p>

                <div class="mt-5">
                  <a
                    href="/servicios"
                    class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-green-600 hover:text-green-600 after:bg-green-600 duration-500 ease-in-out"
                    >Ver más <i class="uil uil-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>

            <div
              class="px-6 py-10 shadow hover:shadow-lg duration-500 rounded-2xl bg-white"
              data-aos="fade-down"
              
            >
              <img
                            v-if="imagenActual === 'original'"
                src="../assets/hosp.png"
                class="w-32"
              ></img>
              <img
                              v-else-if="imagenActual === '3d'"
                src="../assets/hospitalizacion.png"
                class="w-32"
              ></img>

              <div class="content mt-7">
                <a
                  href="/servicios"
                  class="title h5 text-lg font-medium hover:text-green-600"
                  >Hospitalización</a
                >
                <p class="text-slate-400 mt-3">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, numquam sit. Ducimus sunt labore est vel molestias temporibus autem blanditiis in aperiam odit! Placeat temporibus, assumenda fugiat itaque excepturi reprehenderit!
                </p>

                <div class="mt-5">
                  <a
                    href="/servicios"
                    class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-green-600 hover:text-green-600 after:bg-green-600 duration-500 ease-in-out"
                    >Ver más <i class="uil uil-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>

            <div
              class="px-6 py-10 shadow hover:shadow-lg duration-500 rounded-2xl bg-white"
              data-aos="fade-down"
              
            >
              <img
                            v-if="imagenActual === 'original'"
                src="../assets/imx.png"
                class="w-32"
              ></img>
              <img
                              v-else-if="imagenActual === '3d'"
                src="../assets/imgdiagx.png"
                class="w-32"
              ></img>

              <div class="content mt-7">
                <a
                  href="/servicios"
                  class="title h5 text-lg font-medium hover:text-green-600"
                  >Imagenes Diagnósticas</a
                >
                <p class="text-slate-400 mt-3">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, numquam sit. Ducimus sunt labore est vel molestias temporibus autem blanditiis in aperiam odit! Placeat temporibus, assumenda fugiat itaque excepturi reprehenderit!
                </p>

                <div class="mt-5">
                  <a
                    href="/servicios"
                    class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-green-600 hover:text-green-600 after:bg-green-600 duration-500 ease-in-out"
                    >Ver más <i class="uil uil-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="lg:col-span-4 md:col-span-12">
          <div
            class="grid lg:grid-cols-1 md:grid-cols-2 grid-cols-1 gap-[30px]"
          >
            <div
              class="px-6 py-10 shadow hover:shadow-lg duration-500 rounded-2xl bg-white"
              data-aos="fade-down"
              
            >
              <img
                            v-if="imagenActual === 'original'"
                src="../assets/lab.png"
                class="w-32"
              ></img>
              <img
                              v-else-if="imagenActual === '3d'"
                src="../assets/laboratorio.png"
                class="w-32"
              ></img>

              <div class="content mt-7">
                <a
                  href="/servicios"
                  class="title h5 text-lg font-medium hover:text-green-600"
                  >Laboratorio</a
                >
                <p class="text-slate-400 mt-3">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, numquam sit. Ducimus sunt labore est vel molestias temporibus autem blanditiis in aperiam odit! Placeat temporibus, assumenda fugiat itaque excepturi reprehenderit!
                </p>

                <div class="mt-5">
                  <a
                    href="/servicios"
                    class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-green-600 hover:text-green-600 after:bg-green-600 duration-500 ease-in-out"
                    >Ver más <i class="uil uil-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>

            <div
              class="px-6 py-10 shadow hover:shadow-lg duration-500 rounded-2xl bg-white"
              data-aos="fade-down"
              
            >
              <img
              v-if="imagenActual === 'original'"
                src="../assets/onco.png"
                class="w-32"
              ></img>
              <img
                v-else-if="imagenActual === '3d'"
                src="../assets/oncologia.png"
                class="w-32"
              ></img>

              <div class="content mt-7">
                <a
                  href="/servicios"
                  class="title h5 text-lg font-medium hover:text-green-600"
                  >Oncología</a
                >
                <p class="text-slate-400 mt-3">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, numquam sit. Ducimus sunt labore est vel molestias temporibus autem blanditiis in aperiam odit! Placeat temporibus, assumenda fugiat itaque excepturi reprehenderit!
                </p>

                <div class="mt-5">
                  <a
                    href="/servicios"
                    class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-green-600 hover:text-green-600 after:bg-green-600 duration-500 ease-in-out"
                    >Ver más <i class="uil uil-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="after:content-[''] after:absolute after:h-40 after:w-40 after:bg-green-600/20 after:top-2/4 after:start-0 after:-z-10 after:rounded-3xl after:animate-[spin_10s_linear_infinite]"
        ></div>
        <div
          class="after:content-[''] after:absolute after:size-[612px] after:bg-green-600/10 after:top-1/4 after:end-0 after:-z-10 after:rounded-full"
        ></div>
      </div>
    </div>
    <button @click="alternarImagen" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
    Alternar Imágenes
  </button>
</template>

<script setup>

import { ref } from 'vue'; // Importa la función ref de Vue

  const imagenActual = ref("original");


  // Función para alternar las imágenes
  const alternarImagen = () => {
    if(imagenActual.value === 'original')
    {
      imagenActual.value = '3d';
    }
    else
    { 
      imagenActual.value = 'original';
    }
  };
</script>


<style scoped></style>
