<template>
  <div class="flex flex-col lg:flex-row gap-8 items-center m-2 lg:m-0">
    <div
      class="text-center lg:text-left basis-1/2"
      data-aos="fade-down"
      data-aos-duration="800"
    >
      <Titles :title="title" :span="span" customClass="text-wrap"/>
      <Paragraph class="pb-4" :parrafo="paragraph1" />
      <Paragraph class="pb-4" :parrafo="paragraph2" />
      <button class="btn" @click="emitOpenModal" v-if="ctaText">
        {{ ctaText }}
      </button>
      <a class="btn" :href="link" v-if="ctaLink">
        {{ ctaLink }}
      </a>
    </div>
    <swiper
      :centeredSlides="true"
      :autoplay="{
        delay: 2500,
        disableOnInteraction: false,
      }"
      :modules="modules"
      class="mySwiper w-full lg:w-auto basis-1/2"
    >
      <swiper-slide v-for="(images, index) in image" :key="index">
        <img
          :src="images"
          alt="Imagen"
          class="rounded-2xl h-auto object-cover"
        />
      </swiper-slide>
    </swiper>
  </div>
</template>

<script setup>
import Titles from "@/components/Titles.vue";
import Paragraph from "@/components/Paragraph.vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/navigation";
import { Autoplay, Pagination, Navigation } from "swiper/modules";

const modules = [Autoplay, Pagination, Navigation];

// Definir las props
defineProps({
  title: {
    type: String,
    required: false,
  },
  span: {
    type: String,
    required: false,
  },
  paragraph1: {
    type: String,
    required: false,
  },
  paragraph2: {
    type: String,
    required: false,
  },
  ctaText: {
    type: String,
    required: false,
  },
  ctaLink: {
    type: String,
    required: false,
  },
  link: {
    type: String,
    required: false,
  },
  image: {
    type: Array,
    required: true,
  },
});

// Emitir el evento para abrir el modal
const emitOpenModal = () => {
  window.dispatchEvent(new Event("openModal"));
};

</script>

<style scoped>
/* Estilos específicos si los necesitas */
</style>
