<template>
  <div class="flex flex-col items-center gap-4 m-2 md:m-0" v-if="list">
    <!-- Imagen a la izquierda -->
    <img
      :src="img"
      alt="Imagen"
      class="w-full md:w-auto h-auto object-cover rounded-2xl"
      data-aos="fade-down"
    />

    <!-- Texto superpuesto a la derecha de la imagen -->
    <div class="bg-green-200 p-6 md:w-full rounded-2xl" data-aos="fade-down" v-if="list && list.length">
      <h3 class="text-2xl font-bold mb-4 text-center md:text-left">{{ title }}</h3>
      
      <!-- Uso de v-for para manejar párrafos dinámicos -->
      <div v-for="(paragraph, index) in paragraphs" :key="index" class="mb-2">
        <p>{{ paragraph }}</p>
      </div>

      <!-- Lista de ítems -->
      <ul
        v-if="list && list.length"
        class="mt-4 list-disc list-outside pl-4 md:grid md:grid-cols-3 gap-2 text-left"
      >
        <li
          v-for="(item, index) in list"
          :key="index"
          class="capitalize text-gray-700 text-wrap"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup>
defineProps({
  title: String,
  img: String,
  // Definimos un array para manejar los párrafos
  paragraphs: {
    type: Array,
    default: () => [],
  },
  list: {
    type: Array,
    default: () => [],
  },
});
</script>
