<template>
  <div>
    <section
      :style="{ backgroundImage: 'url(' + bg + ')' }"
      class="relative w-full py-32 lg:py-36 bg-center bg-no-repeat bg-cover object-none object-bottom"
      data-aos="fade-down"
    >
      <div class="absolute inset-0 bg-green-700 opacity-70"></div>

      <div
        class="relative pb-8 text-center mt-10"
        data-aos="zoom-in"
        data-aos-duration="800"
      >
        <!-- Usamos la propiedad 'title' aquí para mostrar el texto -->
        <h3 class="md:text-5xl text-5xl font-medium text-white">{{ title }}</h3>
      </div>
    </section>
    <!--end section-->
    <div class="relative">
      <div
        class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden z-1 text-white"
      >
        <svg
          class="w-full h-auto scale-[2.0] origin-top"
          viewBox="0 0 2880 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</template>

<script setup>
import { defineProps, onMounted } from "vue";

import AOS from "aos"; // Import AOS
import "aos/dist/aos.css"; // Import AOS CSS

// Initialize AOS when the component is mounted
onMounted(() => {
  AOS.init();
});

// Definimos los props
const props = defineProps({
  title: {
    type: String,
    default: "",
  },
  bg: {
    type: String,
    default: "",
  },
});
</script>

<style scoped>
/* Estilos de Tailwind CSS */
/* Puedes agregar clases personalizadas aquí si es necesario */
</style>
