 <template>
    <div>
        <div class="border-b border-gray-200">
            <nav class="-mb-px flex" aria-label="Tabs">
                <button v-for="(tab, index) in tabs" :key="index"
                    :class="['w-full py-4 px-6 text-sm leading-5 font-medium text-gray-500 bg-white border-b-2 focus:outline-none', activeTab === tab.id ? 'border-indigo-500 text-gray-900' : 'border-transparent hover:text-gray-700 hover:border-gray-300']"
                    @click="setActiveTab(tab.id)">
                    {{ tab.text }}
                </button>
            </nav>
        </div>
        <div>
            <slot :activeTab="activeTab"></slot>
        </div>
    </div>
</template>

<script setup>
import { ref, computed } from 'vue';

const activeTab = ref(props.defaultTab || (props.tabs.length > 0 ? props.tabs[0].id : ""));

const setActiveTab = (tabId) => {
    activeTab.value = tabId;
    // Emit the 'change' event with the new active tab id
    emit('change', tabId);
};

const activeTabData = computed(() => {
    return props.tabs.find(tab => tab.id === activeTab.value);
});
</script>