<template>
  <div>
    <div class="container lg:px-0 px-10 sm:mx-auto md:px-48 relative py-10">

      <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
        <div class="lg:col-span-5 md:col-span-6">
          <div class="grid grid-cols-12 gap-6 items-center">
            <div class="col-span-6">
              <div class="grid grid-cols-1 gap-6" :data-aos="isSmallScreen ? 'fade-up' : 'fade-right'">
                <img src="../assets/medico1.jpg" class="shadow-lg rounded-md" alt="" />
                <img src="../assets/medico2.jpg" class="shadow-lg rounded-md" alt="" />
              </div>
            </div>

            <div class="col-span-6" :data-aos="isSmallScreen ? 'fade-up' : 'fade-right'" data-aos-delay="50">
              <div class="grid grid-cols-1 gap-6">
                <img src="../assets/medico3.jpg" class="shadow-lg rounded-md" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="lg:col-span-7 md:col-span-6" data-aos="zoom-out" data-aos-delay="100">
          <div class="lg:ms-5">
            <Titles :title="'¿ Quienes Somos ?'" />

            <Paragraph
              :parrafo="'En nuestra clínica, contamos con un equipo de médicos especialistas altamente cualificados y comprometidos con la excelencia en la atención médica.Desde cardiólogos y oncólogos hasta pediatras y neurólogos, cada uno de nuestros profesionales está dedicado a proporcionar un cuidado integral y personalizado a nuestros pacientes.Con experiencia y conocimientos en diversas áreas de la medicina, trabajamos en conjunto para garantizar el mejor tratamiento y bienestar para quienes confían en nosotros.'" />
            <div class="mt-6">
              <CTAbtn :btnInfo="'Ver más'" :href="'/nuestro-equipo'" />
            </div>
          </div>
        </div>
      </div>


      <div
        class="after:animate-[spin_10s_linear_infinite] after:content-[''] after:absolute after:h-40 after:w-40 after:bg-green-600/20 after:top-1/2 after:start-0 after:-z-10 after:rounded-3xl ">
      </div>

      <div
        class="after:content-[''] after:absolute after:h-40 after:w-40 after:bg-green-600/20 after:top-1/4 after:start-60 after:-z-10 after:rounded-3xl after:animate-[spin_10s_linear_infinite]">
      </div>
      <div
        class="after:content-[''] after:absolute after:h-40 after:w-40 after:bg-green-600/20 after:top-3/4 after:start-60 after:-z-10 after:rounded-3xl after:animate-[spin_10s_linear_infinite]">
      </div>
      <div
        class="after:content-[''] after:absolute after:h-40 after:w-40 after:bg-green-600/20 after:top-3.5 after:start-0 after:-z-10 after:rounded-3xl after:animate-[spin_10s_linear_infinite]">
      </div>
    </div>
  </div>
</template>

<script setup>
import Titles from "../components/Titles.vue";
import Paragraph from "../components/Paragraph.vue";
import CTAbtn from "../components/CTA-btn.vue";
import AnimatedBoxL from "../components/AnimatedBoxL.vue";
import { ref, onMounted, onBeforeUnmount } from "vue";

// Propiedad reactiva para el tamaño de la pantalla
const isSmallScreen = ref(false);

// Función para manejar cambios en el tamaño de la pantalla
const updateScreenSize = () => {
  isSmallScreen.value = window.innerWidth < 768; // Define pantallas pequeñas como ancho menor a 768px
};

// Escuchar cambios en el tamaño de la ventana
onMounted(() => {
  updateScreenSize();
  window.addEventListener("resize", updateScreenSize);
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", updateScreenSize);
});
</script>

<style scoped></style>
