<template>
    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold" :class="customClass">
        {{ title }}<br />
        <span class="text-green-600">
            {{ span }}
        </span>
    </h3>
</template>

<script setup>
import { defineProps } from 'vue';



// Definimos los props
const props = defineProps({
    title: {
        type: String,
        default: ''
    },
    span: {
        type: String,
        default: ''
    },
    customClass: {
        type: String,
        default: 'text-nowrap'
    }
});
</script>


<style scoped></style>