<template>
  <div class="page-wrapper pb-60" data-aos="fade-up">
    <div class="sky">
      <div class="component-wrapper">
        <div class="sun"></div>
        <div class="background-grid">
          <!-- Fondos simplificados o reorganizados para pantallas pequeñas -->
          <div class="background one">
            <img
              class=""
              src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1947284/background-1.svg"
            />
          </div>
          <div class="background two">
            <img
              class=""
              src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1947284/background-2.svg"
            />
          </div>
          <div class="background three">
            <img
              class=""
              src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1947284/background-3.svg"
            />
          </div>
          <div class="background four">
            <img
              class=""
              src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1947284/background-4.svg"
            />
          </div>
        </div>
        <div class="svg-image limit">
          <div class="weld-wrapper">
            <div class="weld-container"></div>
            <div class="weld-container"></div>
          </div>
        </div>
        <img
          class="svg-image"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1947284/crane.svg"
        />
        <div class="svg-components">
          <!-- SVG components here -->
        </div>
        <div class="svg-image limit">
          <!-- Light wrapper and elements -->
        </div>
        <div class="svg-image limit">
          <!-- Spark wrapper and elements -->
        </div>
      </div>
    </div>
    <div class="ground">
      <h2 class="text-2xl lg:text-6xl font-bold text-center text-white">
        {{ pageTitle }}
      </h2>
      <h1 class="text-5xl lg:text-9xl font-bold text-center text-white">
        EN CONSTRUCCIÓN
      </h1>
      <h3 class="text-xl lg:text-4xl font-bold text-center text-white">
        Disculpen los incovenientes
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pageTitle: {
      type: String,
      required: true,
    },
  },
  mounted() {
    this.initAnimationManager();
  },
  methods: {
    initAnimationManager() {
      const animationManager = {
        init: function () {
          this.buildElements();
          this.startIntervalCounter();
        },
        getRandomInt: function (min, max, string = true) {
          min = Math.ceil(min);
          max = Math.floor(max);
          if (string) {
            return String(Math.floor(Math.random() * (max - min)) + min);
          }
          return Math.floor(Math.random() * (max - min)) + min;
        },
        buildElements: function () {
          const sparkElements = document.querySelectorAll(".spark");
          const weldElements = document.querySelectorAll(".weld-container");

          sparkElements.forEach((spark, index) => {
            // create weld item first
            let sibling = weldElements[index];
            let baseAnimationDelay = animationManager.getRandomInt(1, 15);
            let weld = document.createElement("div");
            weld.classList = "weld";
            weld.style.animationDelay = String(baseAnimationDelay) + "s";
            sibling.appendChild(weld);

            // sparks start here
            sparkCount = 25;
            for (var i = 0; i <= sparkCount; i++) {
              sparkDiv = animationManager.generateSpark(baseAnimationDelay);
              spark.appendChild(sparkDiv);
            }
          });
        },
        generateSpark: function (delay) {
          let sparkDiv = document.createElement("div");
          // set standard properties
          sparkDiv.classList = "particle";
          sparkDiv.style.top = animationManager.getRandomInt(25, 35) + "px";
          sparkDiv.style.left = animationManager.getRandomInt(0, 5) + "px";
          sparkDiv.style.width = animationManager.getRandomInt(1, 2) + "px";
          sparkDiv.style.height = animationManager.getRandomInt(4, 7) + "px";
          // make some uniqueness
          if (animationManager.getRandomInt(1, 3) == 2) {
            sparkDiv.classList = sparkDiv.classList + " negative-X";
          } else {
            sparkDiv.classList = sparkDiv.classList + " positive-X";
          }
          // create a base delay
          let combinedDelay =
            animationManager.getRandomInt(0, 9) / 10 + parseFloat(delay);
          sparkDiv.style.animationDelay = String(combinedDelay) + "s";
          return sparkDiv;
        },
        startIntervalCounter: function () {
          setInterval(() => {
            const materialSVG = document.getElementById("material-group");
            materialSVG.classList.toggle("hidden");
          }, 45000);
        },
      };
      animationManager.init();
    },
  },
};
</script>

<style scoped>
/* Modificar estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
  .sky {
    height: 50vh; /* Reducir la altura del cielo en pantallas pequeñas */
  }

  .sun {
    /* Estilos adaptados para pantallas pequeñas */
  }

  /* Otros estilos modificados para pantallas pequeñas */
}

/* Estilos generales que se aplican a todos los dispositivos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

path {
  stroke: #000000;
  fill: #000000;
}

.page-wrapper {
  overflow: hidden;
}

.sky {
  background: linear-gradient(
    to bottom,
    #000508 0%,
    #163c52 25%,
    #4f4f47 40%,
    #c5752d 53%,
    #b7490f 85%,
    #2f1107 100%
  );
  width: 100%;
  height: 75vh;
}

.component-wrapper {
  position: relative;
}

.sun {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 45%;
  left: 20%;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    #ffe483 0%,
    #ffc700 10%,
    #ff8117 11%,
    #f5740300 35%,
    #f5740300 100%
  );
}

.svg-image {
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-height: 75vh;
}

.background-left {
  width: 60%;
  margin-left: -36px;
  transform: scaleX(-1);
  bottom: -15px;
}

.background-right {
  margin-right: 0;
}

.background {
  width: 100%;
  margin: 0 -20px;
  margin-bottom: -10px;
}

.background-grid {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  top: 0;
  align-items: flex-end;
}

.limit {
  max-height: 75vh;
  max-width: 100vh;
  width: calc((768 / 1024) * 107%);
  bottom: 0;
}

.light-wrapper,
.weld-wrapper,
.spark-wrapper {
  position: relative;
  padding-bottom: calc((768 / 1024) * 100%);
  height: 0;
}

.ground {
  background: black;
  width: 100%;
  position: relative; /* Added position relative */
}

svg {
  width: 100%;
  height: 100%;
}

.svg-components {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 75vh;
  margin: auto;
  margin-left: -10%;

  svg {
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    bottom: -7px;
    right: 0;
    margin: auto;
    max-height: calc(80vw / 1.33);
    margin-right: 0;
  }
}

.container {
  position: relative;
}

.light-bar {
  transform: rotate(4deg) translateX(15px);
  display: flex;
  justify-content: space-between;
  width: 85%;
  position: absolute;
  height: 100%;
  bottom: -18%;
}

.light {
  &.red {
    visibility: visible;
    opacity: 1;
    width: 1px;
    height: 1px;
    box-shadow: 0 0 5px 5px #ff1818;
    background-color: #ff1818;
    animation: strobe 3s steps(2, start) infinite;
    animation-direction: alternate;
  }
  &.top {
    position: absolute;
    top: 9%;
    right: 29%;
  }
}

.material {
  &.hidden {
    visibility: hidden;
  }
  path {
    animation: move-trolly-components 45s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
}

.hook {
  animation: move-trolly-components 45s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.cable {
  stroke-width: 1;
  stroke: black;
  stroke-dasharray: 485;
  stroke-dashoffset: 485;
  animation: move-cable 45s infinite, move-trolly-components 45s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.material,
.trolly-movement,
.cable,
.hook {
  --transX1: -55%;
  --transX2: -50%;
  --transX3: -5%;
  --transX4: -5%;

  --transY1: -6.5%;
  --transY2: -6.5%;
  --transY3: 0%;
  --transY4: 0%;

  --scale1: 1.1;
  --scale2: 1;
}

.hook,
.material {
  --transY1: 55%;
  --transY2: -6.5%;
  --transY3: 0%;
  --transY4: 55%;
}

.trolly-movement {
  animation: move-trolly-components 45s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.spark {
  position: relative;
  width: 10%;
  margin-top: -20px;
  animation-timing-function: linear;
}

.weld-container,
.spark-container {
  width: 10px;
  height: 10px;
  position: absolute;
  &:first-child {
    left: 81.2%;
    top: 50.2%;
  }
  &:last-child {
    left: 52%;
    top: 71.9%;
  }
}

.weld {
  opacity: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: welding 8s infinite;
  background: radial-gradient(
    circle,
    #ffffff 0%,
    #ddedff 25%,
    #e1ecf9 35%,
    #cee4ff 40%,
    rgb(186, 218, 255) 50%,
    rgba(186, 218, 255, 0.4) 80%,
    rgba(186, 218, 255, 0.1) 100%
  );
}

.particle {
  opacity: 0;
  position: absolute;
  background-color: rgba(255, 251, 209, 1);

  &.negative-X {
    animation: sparks-neg-X 0.7s infinite, welding 8s infinite;
  }
  &.positive-X {
    animation: sparks-pos-X 0.7s infinite, welding 8s infinite;
  }
}

@keyframes welding {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  11% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  59% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sparks-neg-X {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(1500%) translateX(-5px);
  }
}
@keyframes sparks-pos-X {
  0% {
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
  }
  93% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(1500%) translateX(5px);
  }
}
@keyframes strobe {
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes move-trolly-components {
  0% {
    transform: translateX(var(--transX1)) translateY(var(--transY1))
      scale(var(--scale1));
  }
  25% {
    transform: translateX(var(--transX2)) translateY(var(--transY2))
      scale(var(--scale1));
  }
  75% {
    transform: translateX(var(--transX3)) translateY(var(--transY3))
      scale(var(--scale2));
  }
  100% {
    transform: translateX(var(--transX4)) translateY(var(--transY4))
      scale(var(--scale2));
  }
}

@keyframes move-cable {
  0% {
    stroke-dashoffset: 970;
  }
  25% {
    stroke-dashoffset: 543;
  }
  75% {
    stroke-dashoffset: 543;
  }
  100% {
    stroke-dashoffset: 970;
  }
}
</style>
