<template>
  <div>
    <div
      class="flex flex-col p-6 h-full shadow-xl hover:bg-green-50 hover:shadow-green-100 rounded-2xl text-center items-center justify-center"
    >
      <img :src="img" :class="imgClass" class="pt-5" />
      <font-awesome-icon :icon="icon" class="size-14" />

      <div class="content pt-2">
        <h3 :class="titleClass">{{ title }}</h3>
        <p :class="pClass">{{ parrafo }}</p>
      </div>
    </div>
  </div>
</template>

<script setup>
import { defineProps } from "vue";

const props = defineProps({
  title: { type: String, default: " " },
  parrafo: { type: String, default: " " },
  img: { type: String, default: " " },
  imgClass: { type: String, default: " w-28 mx-auto" },
  titleClass: { type: String, default: " " },
  pClass: { type: String, default: " " },
  icon: { type: String, default: " " },
});
</script>

<style lang="scss" scoped></style>
