<template>
  <div class="relative">
    <!-- Botón circular -->
    <button
      @click="toggleTooltip"
      class="w-12 h-12 bg-green-500 text-white rounded-full flex items-center justify-center shadow-lg hover:bg-green-600"
    >
      <font-awesome-icon
        icon="fa-brands fa-whatsapp"
        class="text-white lg:text-3xl text-2xl"
      />
    </button>

    <!-- Tooltip con números de teléfono -->
    <div
      v-show="showTooltip"
      class="absolute bottom-14 right-0 bg-white border rounded-lg shadow-md p-5 w-[450px]"
    >
      <div
        v-for="(phone, index) in phoneNumbers"
        :key="index"
        class="flex justify-between items-center"
      >
        <span class="font-medium">{{ phone.label }}</span>
        <span class="text-gray-600">
          <a
            v-if="phone.label.toLowerCase().includes('whatsapp')"
            :href="`https://wa.me/${formatPhoneNumber(phone.number)}`"
            target="_blank"
            rel="noopener noreferrer"
            class="text-green-500 underline hover:text-green-700"
          >
            {{ phone.number }}
          </a>
          <span v-else>{{ phone.number }}</span>
        </span>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";

// Estado para mostrar/ocultar el tooltip
const showTooltip = ref(false);

// Lista de números de teléfono
// const phoneNumbers = ref(["+573001234567", "+573004567890"]);

// Función para alternar la visibilidad del tooltip
const toggleTooltip = () => {
  showTooltip.value = !showTooltip.value;
};

const phoneNumbers = ref([
  { label: "WhatsApp Línea Especiales", number: "318-3125540" },
  { label: "WhatsApp Línea General", number: "318-5484699" },
  { label: "WhatsApp Sede Ambulatoria Girón", number: "316-0186503" },
  { label: "WhatsApp Imágenes Diagnósticas", number: "318-5484635" },
]);

const formatPhoneNumber = (phone) => {
  const countryCode = "57";
  return `${countryCode}${phone.replace(/[^0-9]/g, "")}`;
};
</script>
