<template>
  <svg
    class="animated"
    id="freepik_stories-creative-team"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 500 500"
    version="1.1"
    xmlns:svgjs="http://svgjs.com/svgjs"
  >
    <g
      id="freepik--background-simple--inject-2"
      class="animable"
      style="transform-origin: 244.074px 250.609px"
    >
      <g id="elfb4cxxh4gxv">
        <path
          d="M67.93,167.09s-27.88,72,11.3,144.5S199.11,422.39,263.7,455.14s131.66,16.8,163.53-36.84-11.84-91.93-11.9-168.42,11.45-96.74-30-161.36-143.06-78.93-219.9-31S67.93,167.09,67.93,167.09Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.7;
            transform-origin: 248.588px 250.609px;
          "
          class="animable"
        ></path>
      </g>
      <path
        d="M404.16,463.3s89.4-122.39,34-216.46S272.75,217.33,251.8,129.54s-97.42-102.19-169.94,7.6S26.69,399.59,65.09,463.3Z"
        style="fill: rgb(146, 227, 169); transform-origin: 244.074px 261.263px"
        id="elg7vkxpsetyc"
        class="animable"
      ></path>
      <g id="el2ikjsudzymi">
        <path
          d="M404.16,463.3s89.4-122.39,34-216.46S272.75,217.33,251.8,129.54s-97.42-102.19-169.94,7.6S26.69,399.59,65.09,463.3Z"
          style="
            fill: rgb(255, 255, 255);
            opacity: 0.7;
            transform-origin: 244.074px 261.263px;
          "
          class="animable"
        ></path>
      </g>
    </g>
    <g
      id="freepik--Floor--inject-2"
      class="animable"
      style="transform-origin: 250.94px 463.3px"
    >
      <line
        x1="51.66"
        y1="463.3"
        x2="450.22"
        y2="463.3"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 250.94px 463.3px;
        "
        id="el1h2z9vpil54"
        class="animable"
      ></line>
    </g>
    <g
      id="freepik--Bricks--inject-2"
      class="animable"
      style="transform-origin: 258.805px 250.601px"
    >
      <g id="elz50tao5b9ia">
        <rect
          x="91.23"
          y="133.39"
          width="24.95"
          height="10.02"
          style="
            fill: none;
            stroke: rgb(38, 50, 56);
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 103.705px 138.4px;
            transform: rotate(180deg);
          "
          class="animable"
        ></rect>
      </g>
      <g id="elcsdih51i4uh">
        <rect
          x="111.21"
          y="144.86"
          width="24.95"
          height="10.02"
          style="
            fill: none;
            stroke: rgb(38, 50, 56);
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 123.685px 149.87px;
            transform: rotate(180deg);
          "
          class="animable"
        ></rect>
      </g>
      <g id="elwealuyvvf8">
        <rect
          x="168.49"
          y="209.83"
          width="24.95"
          height="10.02"
          style="
            fill: none;
            stroke: rgb(38, 50, 56);
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 180.965px 214.84px;
            transform: rotate(180deg);
          "
          class="animable"
        ></rect>
      </g>
      <g id="elh3h9f1f22dr">
        <rect
          x="156.01"
          y="223.06"
          width="24.95"
          height="10.02"
          style="
            fill: none;
            stroke: rgb(38, 50, 56);
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 168.485px 228.07px;
            transform: rotate(180deg);
          "
          class="animable"
        ></rect>
      </g>
      <g id="elumb7j91or3p">
        <rect
          x="78.76"
          y="303.96"
          width="24.95"
          height="10.02"
          style="
            fill: none;
            stroke: rgb(38, 50, 56);
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 91.235px 308.97px;
            transform: rotate(180deg);
          "
          class="animable"
        ></rect>
      </g>
      <g id="elrs2rx4z28m">
        <rect
          x="92.43"
          y="316.43"
          width="24.95"
          height="10.02"
          style="
            fill: none;
            stroke: rgb(38, 50, 56);
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 104.905px 321.44px;
            transform: rotate(180deg);
          "
          class="animable"
        ></rect>
      </g>
      <g id="ell50jwm0py6s">
        <rect
          x="237.75"
          y="328.34"
          width="24.95"
          height="10.02"
          style="
            fill: none;
            stroke: rgb(38, 50, 56);
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 250.225px 333.35px;
            transform: rotate(180deg);
          "
          class="animable"
        ></rect>
      </g>
      <g id="elxtl6b6w4x1">
        <rect
          x="224.57"
          y="341.68"
          width="24.95"
          height="10.02"
          style="
            fill: none;
            stroke: rgb(38, 50, 56);
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 237.045px 346.69px;
            transform: rotate(180deg);
          "
          class="animable"
        ></rect>
      </g>
      <g id="el6bi5enr8j9">
        <rect
          x="86.64"
          y="394.04"
          width="24.95"
          height="10.02"
          style="
            fill: none;
            stroke: rgb(38, 50, 56);
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 99.115px 399.05px;
            transform: rotate(180deg);
          "
          class="animable"
        ></rect>
      </g>
      <g id="eltqaihkj4lz">
        <rect
          x="106.71"
          y="303.96"
          width="24.95"
          height="10.02"
          style="
            fill: none;
            stroke: rgb(38, 50, 56);
            stroke-linecap: round;
            stroke-linejoin: round;
            transform-origin: 119.185px 308.97px;
            transform: rotate(180deg);
          "
          class="animable"
        ></rect>
      </g>
      <path
        d="M225.31,274.84c-24.26.27-49.26.27-72.76,0"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 188.93px 274.941px;
        "
        id="elrfx7bkqpum9"
        class="animable"
      ></path>
      <path
        d="M235.3,274.84h-6.1"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 232.25px 274.84px;
        "
        id="eltii0u6xioth"
        class="animable"
      ></path>
      <path
        d="M433.4,416.51c-24.26.27-49.26.27-72.76,0"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 397.02px 416.611px;
        "
        id="elhxtehsbu7f8"
        class="animable"
      ></path>
      <path
        d="M443.39,416.51h-6.1"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 440.34px 416.51px;
        "
        id="el0wrmmmevyva"
        class="animable"
      ></path>
      <path
        d="M329.74,111.3c-24.26.27-49.26.27-72.76,0"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 293.36px 111.401px;
        "
        id="el6i3igeklczv"
        class="animable"
      ></path>
      <path
        d="M339.73,111.3h-6.1"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 336.68px 111.3px;
        "
        id="el9jeunr8j51p"
        class="animable"
      ></path>
      <path
        d="M114.26,184.88q-16,.27-31.93.11"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 98.295px 184.965px;
        "
        id="elog9mntylxv"
        class="animable"
      ></path>
      <path
        d="M319.77,396.41q-16,.27-31.92.11"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 303.81px 396.495px;
        "
        id="elf622aikrdz"
        class="animable"
      ></path>
      <path
        d="M110.47,378.28h3.44"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 112.19px 378.28px;
        "
        id="elbn2k31fxjzd"
        class="animable"
      ></path>
      <path
        d="M74.22,378.28h32.34"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 90.39px 378.28px;
        "
        id="elcbzdva394yq"
        class="animable"
      ></path>
      <path
        d="M196.26,84.49h3.44"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 197.98px 84.49px;
        "
        id="el4i69om8p55c"
        class="animable"
      ></path>
      <path
        d="M160,84.49h32.34"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 176.17px 84.49px;
        "
        id="els1hc4jdjrrm"
        class="animable"
      ></path>
      <rect
        x="390.73"
        y="367.04"
        width="24.95"
        height="10.02"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 403.205px 372.05px;
        "
        id="elbs37uenpe85"
        class="animable"
      ></rect>
      <rect
        x="370.75"
        y="355.58"
        width="24.95"
        height="10.02"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 383.225px 360.59px;
        "
        id="el2g66zklskb"
        class="animable"
      ></rect>
      <rect
        x="313.48"
        y="290.6"
        width="24.95"
        height="10.02"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 325.955px 295.61px;
        "
        id="ele2pjwhg9zww"
        class="animable"
      ></rect>
      <rect
        x="325.95"
        y="277.37"
        width="24.95"
        height="10.02"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 338.425px 282.38px;
        "
        id="elqo1lvqdybe"
        class="animable"
      ></rect>
      <rect
        x="403.21"
        y="196.48"
        width="24.95"
        height="10.02"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 415.685px 201.49px;
        "
        id="elvzhl7jgq6n"
        class="animable"
      ></rect>
      <rect
        x="389.54"
        y="184.01"
        width="24.95"
        height="10.02"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 402.015px 189.02px;
        "
        id="elpwtpimejsl"
        class="animable"
      ></rect>
      <rect
        x="244.22"
        y="172.1"
        width="24.95"
        height="10.02"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 256.695px 177.11px;
        "
        id="eltll03mmg9td"
        class="animable"
      ></rect>
      <rect
        x="257.4"
        y="158.76"
        width="24.95"
        height="10.02"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 269.875px 163.77px;
        "
        id="el4rllhpa56is"
        class="animable"
      ></rect>
      <rect
        x="337.1"
        y="84.89"
        width="24.95"
        height="10.02"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 349.575px 89.9px;
        "
        id="elz8860ddqn3"
        class="animable"
      ></rect>
      <rect
        x="375.25"
        y="196.48"
        width="24.95"
        height="10.02"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 387.725px 201.49px;
        "
        id="elx1onu2e5lm"
        class="animable"
      ></rect>
      <path
        d="M281.61,235.62c24.25-.27,49.25-.27,72.76,0"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 317.99px 235.519px;
        "
        id="el02dfa49rhxy1"
        class="animable"
      ></path>
      <path
        d="M271.62,235.62h6.09"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 274.665px 235.62px;
        "
        id="elykmfq4dvsyp"
        class="animable"
      ></path>
      <path
        d="M392.65,325.58q16-.27,31.93-.12"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 408.615px 325.493px;
        "
        id="elebrjmd70cmn"
        class="animable"
      ></path>
      <path
        d="M396.44,132.18H393"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 394.72px 132.18px;
        "
        id="ellenswj2h6e"
        class="animable"
      ></path>
      <path
        d="M432.7,132.18H400.35"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 416.525px 132.18px;
        "
        id="elidi78of3gs"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--character-3--inject-2"
      class="animable"
      style="transform-origin: 296.948px 281.093px"
    >
      <path
        d="M353.72,206,337,193.3S316.76,155,315.61,153.6l-6.06,7.83s11.42,33.35,13.11,38,8.64,9.9,12,13.47,16.69,12.95,16.69,12.95Z"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 331.635px 189.725px;
        "
        id="el8khbquq30o7"
        class="animable"
      ></path>
      <path
        d="M270.46,318.29H255.05a18.17,18.17,0,0,1-18.14-17.14l-.84-14.8h53.36l-.84,14.8A18.16,18.16,0,0,1,270.46,318.29Z"
        style="fill: rgb(38, 50, 56); transform-origin: 262.75px 302.32px"
        id="elwqlvo6zg7g"
        class="animable"
      ></path>
      <path
        d="M343.05,179.18A80.29,80.29,0,0,0,260.82,98.9c-43.42,1-78.47,37-78.37,80.47a80,80,0,0,0,22.11,55.12,66.73,66.73,0,0,1,16.86,30.63l.53,2.26h81.61l.31-1.33a70.46,70.46,0,0,1,17.45-32A79.91,79.91,0,0,0,343.05,179.18Z"
        style="fill: rgb(255, 255, 255); transform-origin: 262.75px 183.128px"
        id="el7gr3tiev21h"
        class="animable"
      ></path>
      <g
        style="
          clip-path: url('#freepik--clip-path--inject-2');
          transform-origin: 262.733px 183.129px;
        "
        id="elisv79imkzi"
        class="animable"
      >
        <g id="elmiguwb81osg">
          <path
            d="M260.82,98.9c-43.42,1-78.47,37-78.37,80.47a80,80,0,0,0,22.11,55.12,66.73,66.73,0,0,1,16.86,30.63l.53,2.26h81.61l.31-1.33a70.39,70.39,0,0,1,17.46-32A80.29,80.29,0,0,0,260.82,98.9ZM262.49,244a71.69,71.69,0,1,1,71.7-71.69A71.69,71.69,0,0,1,262.49,244Z"
            style="
              fill: rgb(146, 227, 169);
              opacity: 0.4;
              transform-origin: 262.733px 183.129px;
            "
            class="animable"
          ></path>
        </g>
      </g>
      <path
        d="M343.05,179.18A80.29,80.29,0,0,0,260.82,98.9c-43.42,1-78.47,37-78.37,80.47a80,80,0,0,0,22.11,55.12,66.73,66.73,0,0,1,16.86,30.63l.53,2.26h81.61l.31-1.33a70.46,70.46,0,0,1,17.45-32A79.91,79.91,0,0,0,343.05,179.18Z"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-miterlimit: 10;
          transform-origin: 262.75px 183.128px;
        "
        id="eljmr4f1a58h"
        class="animable"
      ></path>
      <path
        d="M235.35,307.92h54.81a30.15,30.15,0,0,0,15.51-24.69l1.39-24.57H218.45l1.38,24.57A30.18,30.18,0,0,0,235.35,307.92Z"
        style="
          fill: rgb(146, 227, 169);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 262.755px 283.29px;
        "
        id="el5v6urae1soe"
        class="animable"
      ></path>
      <path
        d="M306.65,267.58l-86.15,6.95a3.29,3.29,0,0,1-3.55-3h0a3.3,3.3,0,0,1,3-3.55L306.12,261a3.29,3.29,0,0,1,3.55,3h0A3.3,3.3,0,0,1,306.65,267.58Z"
        style="
          fill: rgb(146, 227, 169);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 263.311px 267.765px;
        "
        id="elrfdkktzvvs"
        class="animable"
      ></path>
      <path
        d="M306.63,280.62,221.4,287.5a3.31,3.31,0,0,1-3.55-3h0a3.3,3.3,0,0,1,3-3.55L306.1,274a3.3,3.3,0,0,1,3.55,3h0A3.29,3.29,0,0,1,306.63,280.62Z"
        style="
          fill: rgb(146, 227, 169);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 263.754px 280.75px;
        "
        id="elij26cdbpe5"
        class="animable"
      ></path>
      <path
        d="M304,293.94l-78.54,6.34a3.31,3.31,0,0,1-3.55-3h0a3.3,3.3,0,0,1,3-3.56l78.54-6.34a3.31,3.31,0,0,1,3.55,3h0A3.31,3.31,0,0,1,304,293.94Z"
        style="
          fill: rgb(146, 227, 169);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 264.455px 293.83px;
        "
        id="el33hmu31xfnp"
        class="animable"
      ></path>
      <path
        d="M325.19,447s1.82,11.12,0,16.31H288.41s-1.55-3.89,0-6.35,13.21-3.85,16.84-7.17a62.79,62.79,0,0,0,7.51-9Z"
        style="
          fill: rgb(38, 50, 56);
          stroke: rgb(38, 50, 56);
          stroke-miterlimit: 10;
          transform-origin: 306.86px 452.05px;
        "
        id="elk4o1admyx5k"
        class="animable"
      ></path>
      <polygon
        points="287.72 461.34 325.68 461.34 326 463.3 287.72 463.3 287.72 461.34"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 306.86px 462.32px;
        "
        id="elvscg7vvneyl"
        class="animable"
      ></polygon>
      <path
        d="M316.35,445.64s-3.46.83-3.85,1-3.75,5.31-7.12,6.22-6.74.73-6.22,2.37"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 307.728px 450.435px;
        "
        id="elbijazj1nnd"
        class="animable"
      ></path>
      <line
        x1="308.69"
        y1="445.64"
        x2="312.63"
        y2="448.54"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 310.66px 447.09px;
        "
        id="el5afmoi0ssnf"
        class="animable"
      ></line>
      <line
        x1="306.86"
        y1="448.18"
        x2="310.66"
        y2="450.97"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 308.76px 449.575px;
        "
        id="el4xbn9m7zaqy"
        class="animable"
      ></line>
      <line
        x1="304.43"
        y1="450.41"
        x2="307.73"
        y2="453.6"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 306.08px 452.005px;
        "
        id="el92i1pma7p6b"
        class="animable"
      ></line>
      <line
        x1="301.1"
        y1="452.04"
        x2="302.53"
        y2="455.19"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 301.815px 453.615px;
        "
        id="el99pq0z0b7zk"
        class="animable"
      ></line>
      <path
        d="M325.79,452a31,31,0,0,0-12.64,1.57c-6.61,2.32-8.89,4.34-8.72,4.95s.95,2.41.95,2.41h3.31s-1.2-2.11-1-2.41,11.53-4.71,18.06-3.93Z"
        style="fill: rgb(255, 255, 255); transform-origin: 315.106px 456.411px"
        id="elez33vr78m2"
        class="animable"
      ></path>
      <path
        d="M378.92,463.3s1.42-5.41-.24-7.42c-3-3.6.36-6.62-2.63-7.87l-1.25,1.45c-.24-1.47.46-5.95-5.08-6.54-6.7-.7-6.83,4.17-7.19,5.78l.11-2.25c-2.86,0-1.38,2.85-5.71,7.52a12.3,12.3,0,0,0-3.12,9.33Z"
        style="
          fill: rgb(38, 50, 56);
          stroke: rgb(38, 50, 56);
          stroke-miterlimit: 10;
          transform-origin: 366.624px 453.076px;
        "
        id="el3f2cbtcwr3k"
        class="animable"
      ></path>
      <polygon
        points="353.78 461.34 379.48 461.34 378.92 463.3 353.81 463.3 353.78 461.34"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 366.63px 462.32px;
        "
        id="elx6hi4ud48u"
        class="animable"
      ></polygon>
      <path
        d="M362,453.74s8.44-2.79,12.51.7"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 368.255px 453.562px;
        "
        id="elvt73dpgnhjm"
        class="animable"
      ></path>
      <path
        d="M362,451.9s7.42-2.35,12.51.79"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 368.255px 451.873px;
        "
        id="elrjmj1mzz9f"
        class="animable"
      ></path>
      <path
        d="M362.47,450.08s7-2.63,12.07,1"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 368.505px 450.12px;
        "
        id="elldwj4v5tolf"
        class="animable"
      ></path>
      <path
        d="M356.93,454l.84.82a.69.69,0,0,1,.09.87,10.32,10.32,0,0,0-1.72,5.68h-1.23a17.94,17.94,0,0,1,1.78-5.66l-.63-.64Z"
        style="fill: rgb(255, 255, 255); transform-origin: 356.442px 457.685px"
        id="el1eu56a1senh"
        class="animable"
      ></path>
      <path
        d="M331.81,394.71s-5.46,9.28-14.69,7.3"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 324.465px 398.499px;
        "
        id="el9jk45iwgp8"
        class="animable"
      ></path>
      <path
        d="M337.58,289.08,334,296.65a401.28,401.28,0,0,0-23.84,65.54c-.22.83-4.9,17.4-1.15,58.67l-2.14,7.24,2.34,12s-3.52,5.08-3.39,6.75c0,0,8.68,1.62,11.58,3.17,2.25,1.21,9,7.9,9,7.9,1.92-.4,2.08-8.16,2.08-8.16s4-68.88,5.17-71.86,8.2-15.76,19.19-45.05c0,0,.25,40.91,3.19,51.26,2.61,9.21-.48,35-.48,35l1.76,28.68s-6.18,6.42-1.17,8.15c0,0,3.35-6.45,12.9-7.91,4.85-.75,10.9,7.87,10.9,7.87,2.12-.68-.9-11.51-.9-11.51,6.76-51.05,1.77-41.81,3.12-66.77.87-16,5.41-84.54.08-90.1Z"
        style="fill: rgb(117, 117, 117); transform-origin: 345.304px 372.72px"
        id="el32hhz0f0h8x"
        class="animable"
      ></path>
      <g
        style="
          clip-path: url('#freepik--clip-path-2--inject-2');
          transform-origin: 355.99px 355.04px;
        "
        id="elp2yd1w7mqp"
        class="animable"
      >
        <g id="elw8ts9lcy5i">
          <path
            d="M384.82,312.67c-23.9,1.88-44.6-5.94-53.57-10,1.7-3.83,2.75-6,2.75-6l3.58-7.57,44.68-1.62C384.19,289.47,384.82,299.68,384.82,312.67Z"
            style="opacity: 0.2; transform-origin: 358.035px 300.218px"
            class="animable"
          ></path>
        </g>
        <g id="elx5i4iwznxur">
          <path
            d="M352.67,333.33c-10.88,28.92-17.86,41.58-19,44.53-.66,1.71-2.26,25.1-3.5,44.74-1.44-17.86-2.91-36.71-3-40.41-.27-7.36,5.05-17.46,5.85-20.07s-1-5.43-1-5.43l9.57-12.06c-.32-4.1,4.74-22,4.74-22C349.3,325.52,352,331.58,352.67,333.33Z"
            style="opacity: 0.2; transform-origin: 339.915px 372.615px"
            class="animable"
          ></path>
        </g>
      </g>
      <path
        d="M337.58,289.08,334,296.65a401.28,401.28,0,0,0-23.84,65.54c-.22.83-4.9,17.4-1.15,58.67l-2.14,7.24,2.34,12s-3.52,5.08-3.39,6.75c0,0,8.68,1.62,11.58,3.17,2.25,1.21,9,7.9,9,7.9,1.92-.4,2.08-8.16,2.08-8.16s4-68.88,5.17-71.86,8.2-15.76,19.19-45.05c0,0,.25,40.91,3.19,51.26,2.61,9.21-.48,35-.48,35l1.76,28.68s-6.18,6.42-1.17,8.15c0,0,3.35-6.45,12.9-7.91,4.85-.75,10.9,7.87,10.9,7.87,2.12-.68-.9-11.51-.9-11.51,6.76-51.05,1.77-41.81,3.12-66.77.87-16,5.41-84.54.08-90.1Z"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 345.304px 372.72px;
        "
        id="elwr1mmgl2q9"
        class="animable"
      ></path>
      <path
        d="M352.86,332.81s-5.46-10.54-10.12-13.48"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 347.8px 326.07px;
        "
        id="el6jvzn2hwbjd"
        class="animable"
      ></path>
      <path
        d="M340.7,315.92s16.59,5,22.34,6"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 351.87px 318.92px;
        "
        id="eljjtl995z18f"
        class="animable"
      ></path>
      <path
        d="M349.19,299c-.72,13.82-5.59,16.17-.88,19.18,0,0-.13,6.46,2.21,10.56"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 348.401px 313.87px;
        "
        id="el9hgxptut7h"
        class="animable"
      ></path>
      <path
        d="M378.26,293.71s-2,21.23,4.57,25.22"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 380.402px 306.32px;
        "
        id="el59kl35nuubg"
        class="animable"
      ></path>
      <path
        d="M382.83,300.55s.49,14.13,0,25.52c0,0-1.63,48.13-3.26,54.18s2.51,15.16,2.15,41.3"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 381.118px 361.05px;
        "
        id="elfwn49jy0kwj"
        class="animable"
      ></path>
      <path
        d="M367.15,442a6.85,6.85,0,0,1,4.58.61"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 369.44px 442.229px;
        "
        id="elj7y3t7u9mnl"
        class="animable"
      ></path>
      <path
        d="M357.33,447.73a25.27,25.27,0,0,1,7-4.82"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 360.83px 445.32px;
        "
        id="elcrxef0o1bwb"
        class="animable"
      ></path>
      <path
        d="M360.06,336.15c3.67,4.1,9.47,11.85,15.42,12.51"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 367.77px 342.405px;
        "
        id="el26zsub1ckvs"
        class="animable"
      ></path>
      <path
        d="M354.42,329.45c1.12,1.43,2.29,2.82,3.47,4.2"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 356.155px 331.55px;
        "
        id="elxnhgenqjo1d"
        class="animable"
      ></path>
      <path
        d="M359.64,377.56s8.33,11.34,12.9,12"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 366.09px 383.56px;
        "
        id="el7mkt4jt8j8c"
        class="animable"
      ></path>
      <path
        d="M349.84,330.76s-14.83,41.32-20,45.4c0,0-.59,30.38-.75,41s-2.61,24.72-2.61,24.72"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 338.16px 386.32px;
        "
        id="el3ldf9be49qy"
        class="animable"
      ></path>
      <path
        d="M310.65,441.57s5.71,2,8.49,3.23a7.66,7.66,0,0,1,3.76,4"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 316.775px 445.185px;
        "
        id="el0qjcto249spp"
        class="animable"
      ></path>
      <path
        d="M325.1,361.26c8-5,18.47-11.24,22.7-20.05"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 336.45px 351.235px;
        "
        id="el70azfqdv7cb"
        class="animable"
      ></path>
      <path
        d="M318.16,365.38c1.51-.83,3-1.7,4.46-2.59"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 320.39px 364.085px;
        "
        id="elbbet044vl48"
        class="animable"
      ></path>
      <path
        d="M343.26,304.57c4.28-.06,9-.63,12.63-3"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 349.575px 303.07px;
        "
        id="el3r4elwi64uk"
        class="animable"
      ></path>
      <path
        d="M336.45,304.17c1.23.17,2.46.28,3.7.34"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 338.3px 304.34px;
        "
        id="elvjk4t8xvhz"
        class="animable"
      ></path>
      <path
        d="M358.63,214.59s25.18-7.15,39.66.6c3.6,1.92,11.83,8.17,11.54,15.66s-24.12,42.36-23.83,47,0,16.64-1.76,17.46-40,1.93-49.44-.5c-3.77-1,3.64-18.81,3.64-18.81S345.66,237.35,358.63,214.59Z"
        style="
          fill: rgb(146, 227, 169);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 371.784px 253.936px;
        "
        id="els9mmxr20mvh"
        class="animable"
      ></path>
      <path
        d="M394.48,213.26s-15.92,6.37-21.14-.29a5.26,5.26,0,0,0,4.58-2.19,8,8,0,0,0,1.29-4.25c.08-1.18-2.26-16.32-1.29-17.68,14.67-20.5,17.91,9.6,17.91,9.6S390.64,211.37,394.48,213.26Z"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 384.585px 198.854px;
        "
        id="elu4l9krart3m"
        class="animable"
      ></path>
      <path
        d="M383.33,205.05s-1,4.73-5.41,5.73a8,8,0,0,0,1.29-4.25A24.18,24.18,0,0,0,383.33,205.05Z"
        style="fill: rgb(38, 50, 56); transform-origin: 380.625px 207.915px"
        id="elip57ocv80a"
        class="animable"
      ></path>
      <path
        d="M397.33,207.92l-16.46,4.37v8.55s-4.78,11.95-4.63,13.89,4.63,79.84,4.63,79.84,13.37-1,18.2-9.3c0,0-1.94-30.2,0-35.17a42,42,0,0,0,2.18-11.51s12.59-23.53,9.79-30.71-11.54-14.17-11.54-14.17Z"
        style="fill: rgb(38, 50, 56); transform-origin: 393.841px 261.245px"
        id="elsxzn8b81wll"
        class="animable"
      ></path>
      <path
        d="M382.77,213.51s2.71,8.86,3.05,8.68,9.75-4,12.29-7.78"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 390.44px 217.851px;
        "
        id="elr7sehpsh42r"
        class="animable"
      ></path>
      <path
        d="M377.13,211.67c-.24-.34-10.48-6.62-10.48-6.62l-5.27,1.4-7.78-4.86s-7.88,24-7.65,29.55-8.17,36.28-9.4,48.41c0,0,10-19.72,11.43-23.16s6.07-26.6,9.91-32,12.82-12.11,12.82-12.11Z"
        style="fill: rgb(38, 50, 56); transform-origin: 356.84px 240.57px"
        id="el5wm5m5m20m2"
        class="animable"
      ></path>
      <path
        d="M396.4,196.41a14.44,14.44,0,0,0,.88-6.29c-1.08-15.17-4.66-18.7-10.57-17.71-22.07,3.68-15.53,14.88-16.37,18.6s-4,4-3.55,5.69c.17.67,2.77.74,2.77.74l.16,3.5,1,.24s.8,8,2.83,8.89c2.57,1.17,10.25-3.47,10.23-6.35"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 382.038px 191.256px;
        "
        id="ell3h61puiv"
        class="animable"
      ></path>
      <path
        d="M372.06,185.56s3.1-.63,4.65,1.85"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 374.385px 186.449px;
        "
        id="elh92m6z2zlof"
        class="animable"
      ></path>
      <path
        d="M373.35,190.15c.11.74.52,1.28.9,1.22s.6-.7.49-1.43-.52-1.28-.9-1.22S373.24,189.42,373.35,190.15Z"
        style="fill: rgb(38, 50, 56); transform-origin: 374.045px 190.045px"
        id="el4f14nftuo7y"
        class="animable"
      ></path>
      <path
        d="M370.71,201.18a16.65,16.65,0,0,0,4.81-.7"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 373.115px 200.83px;
        "
        id="el0vkzn6kow92"
        class="animable"
      ></path>
      <path
        d="M374.85,200.7s-1.28,1.78-2.43,1.78-1.22-.89-1.22-.89"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 373.025px 201.59px;
        "
        id="elji83z7q7ed"
        class="animable"
      ></path>
      <path
        d="M397.73,174.8s1.1-4.71-9.88-5.34c-8.57-.49-16.4.26-19.29,5.81s-2.59,10.54,1.54,11.18a15.57,15.57,0,0,1,6.61-10.22s-2.4,6.2,1.21,9.26a9.15,9.15,0,0,0,2.67,1.6,6.46,6.46,0,0,0,1,1.46c1.74,2,1.81,6.14,1.81,6.14l1.68-1s-2.44-6.46,4.65-4.94c3.64.78,3,5.18,3.53,7.92s2,3.49,2,3.49a20.38,20.38,0,0,0,3.82-6.32h0s3.62-2.58,3.62-6.37S401.68,177.52,397.73,174.8Z"
        style="fill: rgb(38, 50, 56); transform-origin: 384.676px 184.747px"
        id="el5z3dqm7c77r"
        class="animable"
      ></path>
      <path
        d="M385.82,188.86s2.3-3.54,4.34-3.62,3.41,7,1.54,9.75-3.71,3.67-4.56,2.85a2.38,2.38,0,0,1-.6-2"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 389.203px 191.684px;
        "
        id="elqd2b3fwnvir"
        class="animable"
      ></path>
      <path
        d="M359,216.78a62.79,62.79,0,0,0,6.69-8.86"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 362.345px 212.35px;
        "
        id="el5317oqgk87p"
        class="animable"
      ></path>
      <path
        d="M359,207.92a6.53,6.53,0,0,1,3.34,2.86"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 360.67px 209.35px;
        "
        id="elsfjy83k603b"
        class="animable"
      ></path>
      <path
        d="M353.6,201.59l-8.24-3.46-2.79-4.25a39.78,39.78,0,0,0-6,24l4.58,2.92L347.4,235Z"
        style="fill: rgb(38, 50, 56); transform-origin: 345.035px 214.44px"
        id="elzqd8j6fjf7b"
        class="animable"
      ></path>
      <path
        d="M383.46,235s8.28,11.68,4.21,16.62c-1.91,2.33-18.78,7.93-18.78,7.93l-50.6-3-16.84,3-1.88.15a1.93,1.93,0,0,1,.46-2.83s-.91-2.2-.53-2.69c1.15-1.47,6.39-3.88,6.39-3.88s-6.05,1.51-3.56-1.74c1.7-2.21,8.16-2.67,11.14-4.62,2.45-1.61.31-10.54,5.63-8.94a17,17,0,0,0-1,7.59c.08.65.22,3.85.22,3.85,2.7,3.09,31.65-.91,34.14-1s14.62-1.92,14.62-1.92Z"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 343.97px 247.254px;
        "
        id="elajnp98eb00e"
        class="animable"
      ></path>
      <path
        d="M310.36,246.71a4.78,4.78,0,0,1,.46,2c-.13.66-1.91,1.91-1.91,1.91a5.92,5.92,0,0,0,0,1.91c.2.46-1.91,2.1-1.91,2.69a5.6,5.6,0,0,1-.92,1.91"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 308.45px 251.92px;
        "
        id="el9r5towv8j1q"
        class="animable"
      ></path>
      <path
        d="M300,256.9c.79.6,4.16-2.73,6.05-2.89"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 303.025px 255.491px;
        "
        id="el4c77qi5ofxk"
        class="animable"
      ></path>
      <path
        d="M304.44,257.36a21.47,21.47,0,0,1-4.41,2.11"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 302.235px 258.415px;
        "
        id="elm6d2y12rzg8"
        class="animable"
      ></path>
      <path
        d="M382,234.84l1.29-2.2s3.4,1.45,4.32,0,11.21-6.19,13.19-6.06"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 391.4px 230.709px;
        "
        id="elgluch4o0otm"
        class="animable"
      ></path>
      <path
        d="M386.2,254s2.5,2.57,3.16,1.48,9.6-1.56,13.33-4.65"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 394.445px 253.29px;
        "
        id="elnv2tl9t441j"
        class="animable"
      ></path>
      <path
        d="M383.82,264.42c0,.4,6.6,21.1,9.23,24"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 388.435px 276.42px;
        "
        id="elpqe10g2d6f"
        class="animable"
      ></path>
      <path
        d="M370.37,266.53c-.79.53-16.13,13.32-22.57,13.45"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 359.085px 273.255px;
        "
        id="elnuq1d2hcba"
        class="animable"
      ></path>
      <path
        d="M359,230.71c0,.75,4.54,6.95,6.69,8.66"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 362.345px 235.04px;
        "
        id="elj5rqiojr6z"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--character-2--inject-2"
      class="animable"
      style="transform-origin: 336.924px 375.943px"
    >
      <path
        d="M298.74,298.55c2.67,0-1.42,4.32-1.42,4.32a28.36,28.36,0,0,1-1.82,9.21l8.28,12.8-7.12,5.66-7.23-14.68s-6.31-2.26-4.79-6c.94-2.36,4-2.62,4-2.62A56.08,56.08,0,0,1,298.74,298.55Z"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 294.092px 314.545px;
        "
        id="el12ai4lxjbs4i"
        class="animable"
      ></path>
      <path
        d="M291.71,322.9s4.35-6.7,9-6.26l1.75,4s2.87.15,4.6,4.23,11.32,15.42,11.32,15.42l-13.89,14.41s-11.6-24.38-11-28.34Z"
        style="fill: rgb(191, 191, 191); transform-origin: 305.045px 335.66px"
        id="elbfgfet1vsi9"
        class="animable"
      ></path>
      <g
        style="
          clip-path: url('#freepik--clip-path-3--inject-2');
          transform-origin: 305.045px 335.66px;
        "
        id="el5fhe8bh67zd"
        class="animable"
      >
        <g id="eln3w5rmio60f">
          <path
            d="M291.71,322.9s4.35-6.7,9-6.26l1.75,4s2.87.15,4.6,4.23,11.32,15.42,11.32,15.42l-13.89,14.41s-11.6-24.38-11-28.34Z"
            style="opacity: 0.2; transform-origin: 305.045px 335.66px"
            class="animable"
          ></path>
        </g>
      </g>
      <path
        d="M291.71,322.9s4.35-6.7,9-6.26l1.75,4s2.87.15,4.6,4.23,11.32,15.42,11.32,15.42l-13.89,14.41s-11.6-24.38-11-28.34Z"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 305.045px 335.66px;
        "
        id="elfuz4eev4fur"
        class="animable"
      ></path>
      <path
        d="M325.79,288.59s-17.57,2.59-14.44,22.88,1.17,23.14,1.35,31.5,5.68,11.74,5.68,11.74l4.29-14.49s-2.14,2.75-1.43-7.93.89-24.38.89-24.38"
        style="fill: rgb(146, 227, 169); transform-origin: 318.383px 321.65px"
        id="elgxv4zpod9rw"
        class="animable"
      ></path>
      <g
        style="
          clip-path: url('#freepik--clip-path-4--inject-2');
          transform-origin: 318.383px 321.65px;
        "
        id="elr4fug33zbbn"
        class="animable"
      >
        <g id="eltu3fpy591uo">
          <path
            d="M325.79,288.59s-17.57,2.59-14.44,22.88,1.17,23.14,1.35,31.5,5.68,11.74,5.68,11.74l4.29-14.49s-2.14,2.75-1.43-7.93.89-24.38.89-24.38"
            style="opacity: 0.2; transform-origin: 318.383px 321.65px"
            class="animable"
          ></path>
        </g>
      </g>
      <path
        d="M325.79,288.59s-17.57,2.59-14.44,22.88,1.17,23.14,1.35,31.5,5.68,11.74,5.68,11.74l4.29-14.49s-2.14,2.75-1.43-7.93.89-24.38.89-24.38"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 318.383px 321.65px;
        "
        id="el624f33lkzm8"
        class="animable"
      ></path>
      <path
        d="M315,319.78s2,11,.54,18.62"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 315.537px 329.09px;
        "
        id="eljp2j5p28rc"
        class="animable"
      ></path>
      <path
        d="M276.25,334.4a23.41,23.41,0,0,1-3.09-7.83c1.11-1.45.48-8.19.52-8.87s-3.59-4.08-5-8.83a4.87,4.87,0,0,0-1.56,3.27c.09,2,1.06,3.51.7,3.85-1.91,1.8-6.92-.32-8.44-.86-3.36-1.18-5,.57-3.3,2.44.6.66,1.89.18,1.78,1.8s-.37.22.49,2.83.55,3.44,2.51,4.75l5.07,3.4L270,339Z"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 265.826px 323.935px;
        "
        id="elgm2cz0ricvw"
        class="animable"
      ></path>
      <path
        d="M317.57,399.15s7-10.35,24.43-10.93,16.57,9.83,16.57,9.83,9.06,13.29,8,23.68-14.68,19.65-14.68,19.65,27.82,6.51,31,5.16,9.64,12.47,7.15,15.57-81.15-2.2-81.15-2.2-7.83-9.21-8.18-15.65,17.33-31.14,16.85-32.32S317.57,399.15,317.57,399.15Z"
        style="fill: rgb(38, 50, 56); transform-origin: 345.652px 425.64px"
        id="elvcm4r95zzx"
        class="animable"
      ></path>
      <path
        d="M347.05,410.89s2.33,19.28-7.58,22.63l-32.65,13.13s45.43,3.93,52.35,2.53,16.63,12.64,16.63,12.64H292.9c-14.13,0-22.2-11.19-19.35-20.2s41.53-35.55,41.53-35.55-2-9.73,19.21-16.89C353.43,382.72,347.05,410.89,347.05,410.89Z"
        style="fill: rgb(38, 50, 56); transform-origin: 324.39px 425.019px"
        id="eli1duutfx3sm"
        class="animable"
      ></path>
      <path
        d="M353.75,384.31s5,7.75,3.22,9.51c0,0-20.1-7.17-40.68,9.31-.38.3-.75.61-1.13.93l-1.49-5.28,3.63-3s-.66-2.62-1.18-5.92-.95-7.56-.35-10.32c.06-.29-.74-1.49-1.68-3.64h0a32.21,32.21,0,0,1-2.36-8.46,44.17,44.17,0,0,1,1.07-16.71,66.81,66.81,0,0,1,3-9.32c2.92-7.32,17.69-10.76,34.88-6.29a9.13,9.13,0,0,1,5.14,3.49C364.49,350.27,353.75,384.31,353.75,384.31Z"
        style="fill: rgb(191, 191, 191); transform-origin: 335.288px 368.592px"
        id="el2t1cjshuw2m"
        class="animable"
      ></path>
      <g
        style="
          clip-path: url('#freepik--clip-path-5--inject-2');
          transform-origin: 335.282px 368.909px;
        "
        id="elrswmpxtny8"
        class="animable"
      >
        <g id="elcsrofgcbxxc">
          <path
            d="M311.72,367.46a44.17,44.17,0,0,1,1.07-16.71l3.64-1.16S318.8,356.39,311.72,367.46Z"
            style="opacity: 0.2; transform-origin: 314.088px 358.525px"
            class="animable"
          ></path>
        </g>
        <g id="elwgtlsm4fjs">
          <path
            d="M316.12,389.88c-.55-3.42-.95-7.56-.35-10.32.06-.29-.74-1.49-1.68-3.64,0,0,8.39,6.58,11.7,6C327.79,381.56,321.46,386.17,316.12,389.88Z"
            style="opacity: 0.2; transform-origin: 320.129px 382.9px"
            class="animable"
          ></path>
        </g>
        <g id="el934sz7w8q5">
          <path
            d="M353.75,384.31s5,7.75,3.22,9.51c0,0-20.1-7.17-40.68,9.31,3.94-5,10-10.78,17.44-12.5,13.76-3.17,19.13-2.72,19.13-2.72l-4.46-5.78s-15,0-22.61-11.39A42.82,42.82,0,0,0,338,372.88c5.6.12,12.21-4.57,14.22-6.11-1.71,1.12-7,3.16-15.8-5.62C325.54,350.27,325,330,348.4,335.67a28.78,28.78,0,0,1,7.41,3C364.49,350.27,353.75,384.31,353.75,384.31Z"
            style="opacity: 0.2; transform-origin: 337.744px 368.909px"
            class="animable"
          ></path>
        </g>
      </g>
      <path
        d="M353.75,384.31s5,7.75,3.22,9.51c0,0-20.1-7.17-40.68,9.31-.38.3-.75.61-1.13.93l-1.49-5.28,3.63-3s-.66-2.62-1.18-5.92-.95-7.56-.35-10.32c.06-.29-.74-1.49-1.68-3.64h0a32.21,32.21,0,0,1-2.36-8.46,44.17,44.17,0,0,1,1.07-16.71,66.81,66.81,0,0,1,3-9.32c2.92-7.32,17.69-10.76,34.88-6.29a9.13,9.13,0,0,1,5.14,3.49C364.49,350.27,353.75,384.31,353.75,384.31Z"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 335.288px 368.592px;
        "
        id="el92rxfrif2gq"
        class="animable"
      ></path>
      <path
        d="M354.82,418.78c.18,6.94-9.89,14.06-15.62,13.52,0,0-9.57,7-20.64,9.63"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 336.691px 430.355px;
        "
        id="ell6s83movob"
        class="animable"
      ></path>
      <path
        d="M294.91,443.16s13.31-1.42,18.22.95,29.34,5.91,33.38,5.21"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 320.71px 446.074px;
        "
        id="elugt81vq2owb"
        class="animable"
      ></path>
      <path
        d="M337.5,404.06s6.52-1.37,11.39,0c0,0,.71,7.3,0,11.34l-5.54,2.84a59,59,0,0,1-5.85-2.13c-.36-.36-.32-7.83-.81-9.25"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 342.948px 410.846px;
        "
        id="eltpeob10o6yk"
        class="animable"
      ></path>
      <path
        d="M365.26,417.3l-1.41.94-3.46-3.08c.12-3.32-2.73-10.44-2.73-10.44a6.76,6.76,0,0,1,3.8.59"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 361.46px 411.45px;
        "
        id="elyq38oue5ezi"
        class="animable"
      ></path>
      <path
        d="M352.34,430.35a10.78,10.78,0,0,0,8.29,1.3"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 356.485px 431.16px;
        "
        id="elec0fx4bfgfc"
        class="animable"
      ></path>
      <path
        d="M350.9,441.93s-5.41,3.72-14.21,1.7"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 343.795px 443.08px;
        "
        id="elyrq1k362568"
        class="animable"
      ></path>
      <path
        d="M336.69,431.53s-8.21-2.7-10.11-6.51"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 331.635px 428.275px;
        "
        id="elcwq92citpyw"
        class="animable"
      ></path>
      <path
        d="M321.24,429.63c.6.48,5.34,1.9,10.39,1.9"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 326.435px 430.58px;
        "
        id="el7zvh3ygr5fe"
        class="animable"
      ></path>
      <path
        d="M292.9,438.89s4.14,1,5.21,2.49"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 295.505px 440.135px;
        "
        id="el3qntj7qh72v"
        class="animable"
      ></path>
      <path
        d="M344.26,451.34s-4,2.61-3.92,6.05"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 342.299px 454.365px;
        "
        id="elo8d8h4c5bhi"
        class="animable"
      ></path>
      <path
        d="M376.07,451.48c.22-5.73,5.51-3.35,5.51-3.35s3.87-5.69,7.62-4.36,4.72,3.3,10.68,5.4,14.06.45,16.26,6.12-.61,8.85-14.06,7.81-17-1.47-17-1.47S375.62,463,376.07,451.48Z"
        style="
          fill: rgb(146, 227, 169);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 396.434px 453.432px;
        "
        id="el58be6lemaxe"
        class="animable"
      ></path>
      <path
        d="M381.3,450.27a7.47,7.47,0,0,0,2.7,6.45"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 382.635px 453.495px;
        "
        id="elt0y9w3jj3xk"
        class="animable"
      ></path>
      <path
        d="M386.78,443.77c-2.86,1.14-3.22,7.71,3.4,11.9s7.94.61,12.12,4.12,10.74,4,14.52,1.28.69-8-6.36-10.8-9.31,0-13.19-2.14S392.87,441.34,386.78,443.77Z"
        style="
          fill: rgb(191, 191, 191);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 401.639px 452.949px;
        "
        id="elaemcx61v5q"
        class="animable"
      ></path>
      <path
        d="M389.07,445c-.22.72,0,7.34,0,7.34"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 389.021px 448.67px;
        "
        id="elnrojt71dnja"
        class="animable"
      ></path>
      <line
        x1="392.4"
        y1="445.35"
        x2="392.4"
        y2="455.29"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 392.4px 450.32px;
        "
        id="elmx6h1gah9lj"
        class="animable"
      ></line>
      <line
        x1="395.91"
        y1="448.13"
        x2="395.91"
        y2="456.55"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 395.91px 452.34px;
        "
        id="el6a6vuzqm2uk"
        class="animable"
      ></line>
      <line
        x1="399.77"
        y1="450.27"
        x2="399.32"
        y2="456.72"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 399.545px 453.495px;
        "
        id="elc5izpr5b8k"
        class="animable"
      ></line>
      <line
        x1="404.06"
        y1="450.32"
        x2="404.06"
        y2="459.31"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 404.06px 454.815px;
        "
        id="elfiv8xgg52i"
        class="animable"
      ></line>
      <line
        x1="408.26"
        y1="451.23"
        x2="408.26"
        y2="461.07"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 408.26px 456.15px;
        "
        id="elti24toz6ehl"
        class="animable"
      ></line>
      <line
        x1="412.99"
        y1="452.96"
        x2="413.43"
        y2="460.41"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 413.21px 456.685px;
        "
        id="elaixhvv7l2ts"
        class="animable"
      ></line>
      <path
        d="M363.12,446.3a30.54,30.54,0,0,0-10.46,4.16s-2.11-3.11-4.09-.08-.54,13.67,4.09,11.54c0,0,6.61,2.18,19.95.85s.66-8.67.66-8.67Z"
        style="
          fill: rgb(146, 227, 169);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 363.21px 454.75px;
        "
        id="elmsx103y62pk"
        class="animable"
      ></path>
      <path
        d="M364.34,446.37c-5.19-1.06-8.11,7.79-5.66,12s4.52,4.24,13.76,4.24,18.46.33,17.89-8.53-13.2-6.61-16.21-5.49S367.11,446.94,364.34,446.37Z"
        style="
          fill: rgb(191, 191, 191);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 374.078px 454.447px;
        "
        id="el598ye2kwq1r"
        class="animable"
      ></path>
      <line
        x1="362.69"
        y1="448.33"
        x2="363.21"
        y2="460.24"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 362.95px 454.285px;
        "
        id="eleiat1b1xhw7"
        class="animable"
      ></line>
      <line
        x1="366.55"
        y1="449.44"
        x2="367.21"
        y2="460.24"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 366.88px 454.84px;
        "
        id="el0x7r7ek0c1vg"
        class="animable"
      ></line>
      <line
        x1="369.86"
        y1="449.99"
        x2="370.52"
        y2="460.79"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 370.19px 455.39px;
        "
        id="elx8fq6cwvew"
        class="animable"
      ></line>
      <line
        x1="373.81"
        y1="450.65"
        x2="374.82"
        y2="460.79"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 374.315px 455.72px;
        "
        id="elepfil3my2n6"
        class="animable"
      ></line>
      <line
        x1="377.79"
        y1="449.44"
        x2="378.72"
        y2="460.79"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 378.255px 455.115px;
        "
        id="elv9vflanjhh"
        class="animable"
      ></line>
      <line
        x1="381.87"
        y1="449.44"
        x2="383.19"
        y2="460.24"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 382.53px 454.84px;
        "
        id="el7h65cvgpx2v"
        class="animable"
      ></line>
      <line
        x1="385.84"
        y1="449.99"
        x2="386.94"
        y2="458.47"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 386.39px 454.23px;
        "
        id="el2xlzdgc9mb3"
        class="animable"
      ></line>
      <path
        d="M351.89,452.19s-1,4.71.55,7.39"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 352.006px 455.885px;
        "
        id="elz5214yhmno"
        class="animable"
      ></path>
      <path
        d="M324.58,332.25c-1,.19-7.89.42-10.79,1.39-7.37,2.44-26.11,18.26-26.11,18.26L274.8,329.16s-5.61-1-8.38,4l1.47,4.23a44.32,44.32,0,0,0-1.06,5.56c-.34,4.56,9.51,28.3,14.3,29.7,7.5,2.19,28.13-13.41,28.13-13.41s8.65-5.77,9.53-11.15"
        style="
          fill: rgb(191, 191, 191);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 295.5px 350.97px;
        "
        id="ellvak3nto6f"
        class="animable"
      ></path>
      <path
        d="M316.22,295.42c4.95-9.61,14-6.26,14-6.26,17.62-3.35,18.16,17.17,19.76,28s7.43,13.31,9.08,22.39a24.12,24.12,0,0,1-.12,6.57,4,4,0,0,0-1.6-2.38c.34,11.74-6.61,17.56-7.05,17.9,4.92-6.76,4.32-11.14,4.32-11.14-1.9,6.88-9.26,13.65-9.26,13.65s-6.28-1.42-9.23-10.57c-2.61-8.14-6.08-11-6.29-11.13a59.77,59.77,0,0,1,5.24,14.77,138.74,138.74,0,0,1-9.31-15.85C313.51,318,315,308.27,315,308.27"
        style="fill: rgb(146, 227, 169); transform-origin: 337.086px 326.372px"
        id="elns1z2tws0md"
        class="animable"
      ></path>
      <g
        style="
          clip-path: url('#freepik--clip-path-6--inject-2');
          transform-origin: 337.086px 326.372px;
        "
        id="el04uf4dfiorqx"
        class="animable"
      >
        <g id="eled8ufnthokd">
          <path
            d="M316.22,295.42c4.95-9.61,14-6.26,14-6.26,17.62-3.35,18.16,17.17,19.76,28s7.43,13.31,9.08,22.39a24.12,24.12,0,0,1-.12,6.57,4,4,0,0,0-1.6-2.38c.34,11.74-6.61,17.56-7.05,17.9,4.92-6.76,4.32-11.14,4.32-11.14-1.9,6.88-9.26,13.65-9.26,13.65s-6.28-1.42-9.23-10.57c-2.61-8.14-6.08-11-6.29-11.13a59.77,59.77,0,0,1,5.24,14.77,138.74,138.74,0,0,1-9.31-15.85C313.51,318,315,308.27,315,308.27"
            style="opacity: 0.2; transform-origin: 337.086px 326.372px"
            class="animable"
          ></path>
        </g>
      </g>
      <path
        d="M316.22,295.42c4.95-9.61,14-6.26,14-6.26,17.62-3.35,18.16,17.17,19.76,28s7.43,13.31,9.08,22.39a24.12,24.12,0,0,1-.12,6.57,4,4,0,0,0-1.6-2.38c.34,11.74-6.61,17.56-7.05,17.9,4.92-6.76,4.32-11.14,4.32-11.14-1.9,6.88-9.26,13.65-9.26,13.65s-6.28-1.42-9.23-10.57c-2.61-8.14-6.08-11-6.29-11.13a59.77,59.77,0,0,1,5.24,14.77,138.74,138.74,0,0,1-9.31-15.85C313.51,318,315,308.27,315,308.27"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 337.086px 326.372px;
        "
        id="elvixj2enhprl"
        class="animable"
      ></path>
      <path
        d="M331.5,291.07s9-5.82,12.34,11.56,6.05,19.16,7.71,27.7-.11,15.43-2.61,18"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 341.849px 319.232px;
        "
        id="el7ljez75qlow"
        class="animable"
      ></path>
      <path
        d="M332.69,293.91c3.09,5.82,5.46,13.65,6.41,28.12s.63,29.41,6.4,33.81"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 339.095px 324.875px;
        "
        id="el960ubm3rgiw"
        class="animable"
      ></path>
      <path
        d="M323,292.25s-7.83,3.92-2.13,15.66,11.86,21.12,11.86,27.88,1.84,10.31,5.34,11.51"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 328.431px 319.775px;
        "
        id="elxnabhom2jat"
        class="animable"
      ></path>
      <path
        d="M297.32,302.87s-2.24,3.56-2.37,4.61"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 296.135px 305.175px;
        "
        id="el1fl1xj0diu9"
        class="animable"
      ></path>
      <path
        d="M287.68,351.9s-5.94,2.4-5.21,7.51"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 285.044px 355.655px;
        "
        id="elbcmu95y31x"
        class="animable"
      ></path>
      <path
        d="M281,351s2.2-2.25,4-1.4"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 283px 350.204px;
        "
        id="el3r8qql23q3r"
        class="animable"
      ></path>
      <path
        d="M270.55,334.5s3.69-2.76,5.7-2.49"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 273.4px 333.246px;
        "
        id="elijwunx71qbb"
        class="animable"
      ></path>
      <path
        d="M302.46,320.65a15.06,15.06,0,0,0-6.33,3.26"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 299.295px 322.28px;
        "
        id="el110pu469gv8b"
        class="animable"
      ></path>
      <path
        d="M320.39,353.44c-.19,0-4.77,3.53-7.92,3.35"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 316.43px 355.118px;
        "
        id="elepb1vycub4g"
        class="animable"
      ></path>
      <path
        d="M324.39,368.6c0,1.26,12,15.44,25.18,13.31"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 336.98px 375.364px;
        "
        id="el32qojvldi93"
        class="animable"
      ></path>
    </g>
    <g
      id="freepik--character-1--inject-2"
      class="animable"
      style="transform-origin: 173.911px 335.595px"
    >
      <path
        d="M153.48,238s10.4,5.57,12.7,10.51,10.67,30.42,10.67,30.42,6.35,10.45,7.83,12.57.84,11-6.49,10.94-15.8-7.05-16.12-10.21-4.09-5-4.38-7.73-9.1-20.75-9.1-20.75Z"
        style="fill: rgb(38, 50, 56); transform-origin: 166.958px 270.22px"
        id="el8fq2qj5xbd7"
        class="animable"
      ></path>
      <path
        d="M165.21,448.74s-1.57,9.64,0,14.14h31.88s1.35-3.38,0-5.5-11.45-3.34-14.59-6.22a54.33,54.33,0,0,1-6.51-7.81Z"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 181.101px 453.115px;
        "
        id="el9fn75ijljn6"
        class="animable"
      ></path>
      <polygon
        points="197.69 461.18 164.8 461.18 164.51 462.88 197.69 462.88 197.69 461.18"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 181.1px 462.03px;
        "
        id="ell9b2nqad2ss"
        class="animable"
      ></polygon>
      <path
        d="M172.88,447.57s3,.72,3.33.84,3.26,4.6,6.18,5.38,5.83.64,5.38,2.06"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 180.348px 451.71px;
        "
        id="elap7fzilgdev"
        class="animable"
      ></path>
      <line
        x1="179.52"
        y1="447.57"
        x2="176.1"
        y2="450.09"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 177.81px 448.83px;
        "
        id="elri0xyvgllr"
        class="animable"
      ></line>
      <line
        x1="181.1"
        y1="449.78"
        x2="177.81"
        y2="452.19"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 179.455px 450.985px;
        "
        id="el65mmw0rwsh3"
        class="animable"
      ></line>
      <line
        x1="183.2"
        y1="451.71"
        x2="180.35"
        y2="454.47"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 181.775px 453.09px;
        "
        id="el1g4h620ta3r"
        class="animable"
      ></line>
      <line
        x1="186.09"
        y1="453.11"
        x2="184.85"
        y2="455.85"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 185.47px 454.48px;
        "
        id="elj1gt3hhkfxm"
        class="animable"
      ></line>
      <path
        d="M111.19,462.88s-1.23-4.69.21-6.43c2.58-3.12-.32-5.74,2.27-6.82l1.09,1.26c.21-1.28-.4-5.17,4.41-5.67,5.8-.61,5.91,3.61,6.22,5l-.09-1.94c2.47,0,1.19,2.47,4.94,6.51a10.66,10.66,0,0,1,2.71,8.09Z"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 121.846px 454.02px;
        "
        id="elhgxmx3qlacu"
        class="animable"
      ></path>
      <path
        d="M90.16,284.47C87.49,286,80.57,300.75,84.61,330S100.72,416.3,102.75,425s9.12,29.75,9.12,29.75,2.71-9.12,15.74-4.24a.67.67,0,0,0,.88-.76l-2.86-14.89s-.2-10.89-1.14-13.62c-3.53-10.28-5.29-50-6.46-55.55s1.13-21.49,1.13-21.49,16.31,39,16.84,42.86,10.47,19.78,10.47,19.78l1.72,14.65s13.23,22.68,15.56,29.45l15.77-3.41-.44-11.21-4.25-1.46-7.42-25.49a225.21,225.21,0,0,0-8.63-26c-3.51-8.87-13.46-43.2-13.46-43.2-3.09-3.36-6-21.94-6-21.94l-4.78-23.43Z"
        style="fill: rgb(146, 227, 169); transform-origin: 131.446px 369.61px"
        id="elwnml29pkoin"
        class="animable"
      ></path>
      <g
        style="
          clip-path: url('#freepik--clip-path-7--inject-2');
          transform-origin: 132.105px 367.735px;
        "
        id="elsr0ez3fp1ef"
        class="animable"
      >
        <g id="elixfwer5nabl">
          <path
            d="M136.83,306.07c-8,4.27-25.46,12.48-33.38,7.36-6.65-4.3-14.17-11.21-18.76-15.67,1.54-8.11,4.08-12.48,5.47-13.29l44.38,10.36Z"
            style="opacity: 0.2; transform-origin: 110.76px 299.764px"
            class="animable"
          ></path>
        </g>
        <g id="eldrwc3ogg7h">
          <path
            d="M179.52,447.57,163.75,451c-2.33-6.77-15.56-29.45-15.56-29.45l-1.72-14.65S136.53,390.93,136,387.1s-16.84-42.86-16.84-42.86-.39,2.73-.78,6.34c.12-1.87,1-14.44.49-18.31l.4-2.34s10.74-7.76,12.18-4.8-5.63,6-5.63,6,6.53,2,9.7,2.1-.72,7.87-2.21,8.75-7.25,0-7.25,0,12.36,30.53,23.83,41.15a30.08,30.08,0,0,0,11.29,6.57c4.21,11.53,6.23,19.71,6.23,19.71l7.42,25.49,4.25,1.46Z"
            style="opacity: 0.2; transform-origin: 148.95px 387.728px"
            class="animable"
          ></path>
        </g>
      </g>
      <path
        d="M90.16,284.47C87.49,286,80.57,300.75,84.61,330S100.72,416.3,102.75,425s9.12,29.75,9.12,29.75,2.71-9.12,15.74-4.24a.67.67,0,0,0,.88-.76l-2.86-14.89s-.2-10.89-1.14-13.62c-3.53-10.28-5.29-50-6.46-55.55s1.13-21.49,1.13-21.49,16.31,39,16.84,42.86,10.47,19.78,10.47,19.78l1.72,14.65s13.23,22.68,15.56,29.45l15.77-3.41-.44-11.21-4.25-1.46-7.42-25.49a225.21,225.21,0,0,0-8.63-26c-3.51-8.87-13.46-43.2-13.46-43.2-3.09-3.36-6-21.94-6-21.94l-4.78-23.43Z"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 131.446px 369.61px;
        "
        id="el5m1kheap4d6"
        class="animable"
      ></path>
      <path
        d="M155,264.12c-5.45,10.8-14,24.3-14,24.3l-3.77,15.05s-14.16,8.74-30.4,5.08c-19-4.3-22.12-14-22.12-14l5.12-16.95c2.47-11.32,7.84-32.93,19-39s30.29-6.63,38-4.16c6.87,2.21,10.67,3.88,12.55,5.92,0,0,2.78,9.54,2.17,12.71S155,264.12,155,264.12Z"
        style="fill: rgb(38, 50, 56); transform-origin: 123.174px 271.256px"
        id="elfhwd4m6syuj"
        class="animable"
      ></path>
      <polygon
        points="132.97 461.18 110.7 461.18 111.19 462.88 132.95 462.88 132.97 461.18"
        style="
          fill: rgb(255, 255, 255);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 121.835px 462.03px;
        "
        id="eleyplh6aj8gv"
        class="animable"
      ></polygon>
      <path
        d="M125.82,454.59s-7.3-2.41-10.83.61"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 120.405px 454.44px;
        "
        id="el8w8h55vqb7"
        class="animable"
      ></path>
      <path
        d="M125.82,453s-6.42-2-10.83.68"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 120.405px 452.981px;
        "
        id="elvys2o4h5nc"
        class="animable"
      ></path>
      <path
        d="M125.45,451.42s-6-2.28-10.46.84"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 120.22px 451.438px;
        "
        id="eli5veuulh71g"
        class="animable"
      ></path>
      <g id="el3ru896ionlx">
        <g
          style="opacity: 0.96; transform-origin: 130.757px 373.56px"
          class="animable"
        >
          <path
            d="M124.49,327.92c-.87.2-17.68,6.33-21,12.46"
            style="
              fill: none;
              stroke: rgb(38, 50, 56);
              stroke-linecap: round;
              stroke-linejoin: round;
              transform-origin: 113.99px 334.15px;
            "
            id="ely5irianw9g"
            class="animable"
          ></path>
          <path
            d="M120.41,336.82c.84,1.19,8,23.54,11,29.67s13.35,33.63,15.72,35.21c0,0,3.17,16,5.14,18.59s12.21,23.06,12.21,23.06"
            style="
              fill: none;
              stroke: rgb(38, 50, 56);
              stroke-linecap: round;
              stroke-linejoin: round;
              transform-origin: 142.445px 390.085px;
            "
            id="elvpxe71euvs"
            class="animable"
          ></path>
          <line
            x1="175.99"
            y1="443.35"
            x2="163.58"
            y2="446.01"
            style="
              fill: none;
              stroke: rgb(38, 50, 56);
              stroke-linecap: round;
              stroke-linejoin: round;
              transform-origin: 169.785px 444.68px;
            "
            id="elvpoet9m2x9k"
            class="animable"
          ></line>
          <path
            d="M125.45,444.68s-9.94-.89-13.3,2.89"
            style="
              fill: none;
              stroke: rgb(38, 50, 56);
              stroke-linecap: round;
              stroke-linejoin: round;
              transform-origin: 118.8px 446.079px;
            "
            id="el38zvmvcc5ic"
            class="animable"
          ></path>
          <path
            d="M114,339.39c-.83,4.75-13.29,31.06-16.26,28.09"
            style="
              fill: none;
              stroke: rgb(38, 50, 56);
              stroke-linecap: round;
              stroke-linejoin: round;
              transform-origin: 105.87px 353.552px;
            "
            id="el734touxxngh"
            class="animable"
          ></path>
          <path
            d="M118.8,341.77s1.46-6.53.07-9.5c-.52-1.13,10.69,2.77,14.44,1.88"
            style="
              fill: none;
              stroke: rgb(38, 50, 56);
              stroke-linecap: round;
              stroke-linejoin: round;
              transform-origin: 126.055px 336.916px;
            "
            id="elby2ij83gutm"
            class="animable"
          ></path>
          <path
            d="M120.41,309.44s-2,5.62-2.44,7.4,3.57,8.71,2.44,10.09"
            style="
              fill: none;
              stroke: rgb(38, 50, 56);
              stroke-linecap: round;
              stroke-linejoin: round;
              transform-origin: 119.274px 318.185px;
            "
            id="el7pk1di4n78p"
            class="animable"
          ></path>
          <path
            d="M93.16,304.18s-2.77,4.24-2.77,7.37-3.76,4.5-3.76,4.5"
            style="
              fill: none;
              stroke: rgb(38, 50, 56);
              stroke-linecap: round;
              stroke-linejoin: round;
              transform-origin: 89.895px 310.115px;
            "
            id="elzom6a8r1lmm"
            class="animable"
          ></path>
          <path
            d="M87.26,299.55a72.38,72.38,0,0,0-.63,28.37c2.77,15.63,7.32,47.47,9.1,55.58s5.94,26.31,5.94,28.88,4.17,17.21,4.17,17.21"
            style="
              fill: none;
              stroke: rgb(38, 50, 56);
              stroke-linecap: round;
              stroke-linejoin: round;
              transform-origin: 95.6816px 364.57px;
            "
            id="elru3wf6q5ij"
            class="animable"
          ></path>
          <path
            d="M104.83,407.44c.59,0,11.67,10.68,14.44,10.88"
            style="
              fill: none;
              stroke: rgb(38, 50, 56);
              stroke-linecap: round;
              stroke-linejoin: round;
              transform-origin: 112.05px 412.88px;
            "
            id="elkyuz4wjwfrs"
            class="animable"
          ></path>
          <path
            d="M153.29,400.91c.6.2,9.89,4.75,10.29,3.36"
            style="
              fill: none;
              stroke: rgb(38, 50, 56);
              stroke-linecap: round;
              stroke-linejoin: round;
              transform-origin: 158.435px 402.722px;
            "
            id="elgqnt5pbcnf"
            class="animable"
          ></path>
        </g>
      </g>
      <path
        d="M141.85,232.56s-11.3,1.13-11.7,7.41,4.88,13.39,13.72,13.79,9.92-8.27,10.23-13S148,232.19,141.85,232.56Z"
        style="
          fill: rgb(191, 191, 191);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 142.12px 243.154px;
        "
        id="el9a46pr36498"
        class="animable"
      ></path>
      <path
        d="M138.24,236.38a27.73,27.73,0,0,1-.82-15.91c1.57-6.59,9.42-15.65,21.32-7.41,6.14,4.25,6.51,13.46,4.6,21.9-.45,2-.11,4-.78,5.83-2.35,6.5-6.66,11.5-9,11.61-3.93.19-11.78-4.56-11.46-8.7"
        style="
          fill: rgb(191, 191, 191);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 150.493px 231.089px;
        "
        id="elqhvvmoa05z"
        class="animable"
      ></path>
      <path
        d="M154.1,232.18a7.9,7.9,0,0,0-6.22.8"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 150.99px 232.426px;
        "
        id="elkdatyzwh65"
        class="animable"
      ></path>
      <path
        d="M160.09,232s2.4-1.2,4-.89"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 162.09px 231.529px;
        "
        id="elxjasp2zgu8"
        class="animable"
      ></path>
      <ellipse
        cx="150.28"
        cy="236.92"
        rx="0.66"
        ry="1.06"
        style="fill: rgb(38, 50, 56); transform-origin: 150.28px 236.92px"
        id="el48dztr6z63h"
        class="animable"
      ></ellipse>
      <ellipse
        cx="160.09"
        cy="236.33"
        rx="0.66"
        ry="1.06"
        style="fill: rgb(38, 50, 56); transform-origin: 160.09px 236.33px"
        id="elujkfau8vj2q"
        class="animable"
      ></ellipse>
      <path
        d="M146.47,224.11l-.32,4.86s-3.44,1.77-4.3,3.59a7.19,7.19,0,0,0-.55,3.77s-2.09-3.65-3.21-3.35c-.41.1-.41,1.63-.41,1.63s-4.68-10.5-.45-16.05S146.47,224.11,146.47,224.11Z"
        style="fill: rgb(38, 50, 56); transform-origin: 140.965px 226.668px"
        id="elpu9h2w3ctr"
        class="animable"
      ></path>
      <path
        d="M139.83,235.27s-.94-3.52-4.11-4.46-1,7.51,1.7,8.63,3.38,1.88,3.54.88"
        style="
          fill: rgb(191, 191, 191);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 137.554px 235.761px;
        "
        id="el9br77uxw9vc"
        class="animable"
      ></path>
      <path
        d="M157.78,236.92a5.3,5.3,0,0,0,.73,3.39,1.74,1.74,0,0,1-2,2.64"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 157.667px 239.984px;
        "
        id="eli4lht7ng5f"
        class="animable"
      ></path>
      <path
        d="M156.53,245.91a10.73,10.73,0,0,1-5.54,0"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 153.76px 246.092px;
        "
        id="el0v9v2fnrdg6l"
        class="animable"
      ></path>
      <path
        d="M146.47,224.11s8.08,1.95,13,1.3,8-2.91,7.25-8.08-6.59-7.56-16.18-9.2c-9.43-1.61-19.31,5.45-14.82,14.07S146.47,224.11,146.47,224.11Z"
        style="fill: rgb(38, 50, 56); transform-origin: 150.718px 217.249px"
        id="elndb3sg414to"
        class="animable"
      ></path>
      <path
        d="M157.18,300.9a3.91,3.91,0,0,1,.42,1.73c.1,1.24-4.35,2.72-5.14,2.23s-2.66-3-.49-4.45S157.18,300.9,157.18,300.9Z"
        style="
          fill: rgb(191, 191, 191);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 154.279px 302.414px;
        "
        id="el3ewulwtsfa6"
        class="animable"
      ></path>
      <path
        d="M168.88,299.55a15.18,15.18,0,0,0,1.14,4c.69,1.14,5,0,6.18.61s1.28-1.48,0-2.53S173.28,298.25,168.88,299.55Z"
        style="
          fill: rgb(191, 191, 191);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 173.001px 301.718px;
        "
        id="elev5qmjsomei"
        class="animable"
      ></path>
      <rect
        x="161.1"
        y="298.93"
        width="5.08"
        height="80.25"
        style="
          fill: rgb(191, 191, 191);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 163.64px 339.055px;
        "
        id="elao5pzbvo5xe"
        class="animable"
      ></rect>
      <path
        d="M159.43,357h8.42a1.84,1.84,0,0,1,1.84,1.84v104a0,0,0,0,1,0,0H157.6a0,0,0,0,1,0,0v-104A1.84,1.84,0,0,1,159.43,357Z"
        style="
          fill: rgb(117, 117, 117);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 163.645px 409.92px;
        "
        id="el7eb8ozftdlv"
        class="animable"
      ></path>
      <path
        d="M178.35,293.4H148.93a2.3,2.3,0,0,0-2.3,2.3v1.55a2.3,2.3,0,0,0,2.3,2.3h10.86v4.63h7.71v-4.63h10.85a2.3,2.3,0,0,0,2.3-2.3V295.7A2.3,2.3,0,0,0,178.35,293.4Z"
        style="
          fill: rgb(146, 227, 169);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 163.64px 298.79px;
        "
        id="elgnhc33tw3b6"
        class="animable"
      ></path>
      <path
        d="M136.63,290.88s15.59-2.11,17.13-2.37,6.33,7.91,6.33,7.91l-3.56,5.48s-13.6,1.9-14.41,1.11A5.43,5.43,0,0,1,141,300.9s-7,2.64-7.65-2.11S132.2,293.34,136.63,290.88Z"
        style="
          fill: rgb(191, 191, 191);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 146.508px 295.853px;
        "
        id="elcait9j1m5h"
        class="animable"
      ></path>
      <path
        d="M168.35,293.4s2.38-4.23,4.75-4.23,11.47,1.58,12.53,2.9,3.56,3.43,3.16,5.14-2.9,5.29-5.27,4.69-8.44.07-8.44.07-3.3-.61-3.56-2.42l2.77-.76s.39-3.82-.14-4.35S168.35,293.4,168.35,293.4Z"
        style="
          fill: rgb(191, 191, 191);
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 178.591px 295.57px;
        "
        id="ell95lsili6vq"
        class="animable"
      ></path>
      <path
        d="M176.85,301.81s2.89-3.15,2.67-4.34-.65-4.88-1.36-5.27"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 178.191px 297.005px;
        "
        id="elohz3ozu76kd"
        class="animable"
      ></path>
      <path
        d="M180.85,301.65s2.14-.88,2.14-2.86a30.66,30.66,0,0,0-.54-4.74"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 181.92px 297.85px;
        "
        id="elsb33m4xc4xi"
        class="animable"
      ></path>
      <path
        d="M184.68,301.88a5.47,5.47,0,0,0,.95-6"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 185.406px 298.88px;
        "
        id="eldfaca0x2kk5"
        class="animable"
      ></path>
      <path
        d="M154,302s2.48-3.33,2.08-5a29.31,29.31,0,0,0-2.08-4.8"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 155.062px 297.1px;
        "
        id="elp57veuw11xb"
        class="animable"
      ></path>
      <path
        d="M150.69,302.63s1.38-4,1.28-4.78-2-4.66-2.08-5.06"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 150.933px 297.71px;
        "
        id="ellccu82vja7c"
        class="animable"
      ></path>
      <path
        d="M146.63,303c.89-1.45,3-2,1.38-5.19s-2.37-3.8-2.37-3.8"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 147.122px 298.505px;
        "
        id="el8i3zvcwutf5"
        class="animable"
      ></path>
      <path
        d="M141,300.9c.72-.69,2.11-2.36,2.11-2.36s.29,1.37.89,1.77"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 142.5px 299.72px;
        "
        id="elcvszcenvs07"
        class="animable"
      ></path>
      <path
        d="M147.8,460.75H180a1.63,1.63,0,0,1,1.63,1.63v.91a0,0,0,0,1,0,0H146.56a0,0,0,0,1,0,0V462A1.24,1.24,0,0,1,147.8,460.75Z"
        style="fill: rgb(38, 50, 56); transform-origin: 164.095px 462.02px"
        id="eleus8bj8swxa"
        class="animable"
      ></path>
      <path
        d="M99.15,254.67c-4,9.91-8.65,21.5-9.32,32.28-.25,4,3.6,5.41,6.85,6.88a91.06,91.06,0,0,0,19.94,6.31c2.41.47,5,.45,7.3,1,2.61.65,6.28,2.94,9,1.46"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 111.369px 278.88px;
        "
        id="elmideux0hdt"
        class="animable"
      ></path>
      <path
        d="M117.93,260l-5.23,11.25L109.34,278a8.44,8.44,0,0,0,4.63,2.39,5.72,5.72,0,0,1,4,2.52s13.17,5.69,14.95,5.63,3.22-1.77,4.68.67"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 123.47px 274.605px;
        "
        id="elqdmxstvb04"
        class="animable"
      ></path>
      <path
        d="M109.34,278s-7.12-2.38-9.69,0"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 104.495px 277.471px;
        "
        id="elcnwl9e59yva"
        class="animable"
      ></path>
      <path
        d="M110.53,243c.59-.47,7.83,7.44,8.27,13.38"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 114.665px 249.68px;
        "
        id="el89r2lqn5sgn"
        class="animable"
      ></path>
      <path
        d="M120.61,260s-1.94,4-5.12,5.25"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 118.05px 262.625px;
        "
        id="elk4oyaifgt4l"
        class="animable"
      ></path>
      <path
        d="M160.76,260.75s-4,6.86-8.14,8"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 156.69px 264.75px;
        "
        id="ela663fryquur"
        class="animable"
      ></path>
      <path
        d="M161.71,284.47s5.59-4.3,9.34-4.12"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 166.38px 282.407px;
        "
        id="elwg4e3j3qgb"
        class="animable"
      ></path>
      <path
        d="M160.09,267s-3.47,2.84-6.05,1.78"
        style="
          fill: none;
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 157.065px 268.008px;
        "
        id="el5h34uvjlgls"
        class="animable"
      ></path>
      <path
        d="M166.26,455.87c28.09,0,23.55,7,52.19,7s46,.42,46-149.58"
        style="
          fill: none;
          stroke: rgb(38, 50, 56);
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 3px;
          transform-origin: 215.355px 388.08px;
        "
        id="elz2cl21ldzds"
        class="animable"
      ></path>
    </g>
    <defs>
      <filter id="active" height="200%">
        <feMorphology
          in="SourceAlpha"
          result="DILATED"
          operator="dilate"
          radius="2"
        ></feMorphology>
        <feFlood
          flood-color="#32DFEC"
          flood-opacity="1"
          result="PINK"
        ></feFlood>
        <feComposite
          in="PINK"
          in2="DILATED"
          operator="in"
          result="OUTLINE"
        ></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
      <filter id="hover" height="200%">
        <feMorphology
          in="SourceAlpha"
          result="DILATED"
          operator="dilate"
          radius="2"
        ></feMorphology>
        <feFlood
          flood-color="#ff0000"
          flood-opacity="0.5"
          result="PINK"
        ></feFlood>
        <feComposite
          in="PINK"
          in2="DILATED"
          operator="in"
          result="OUTLINE"
        ></feComposite>
        <feMerge>
          <feMergeNode in="OUTLINE"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
        <feColorMatrix
          type="matrix"
          values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 "
        ></feColorMatrix>
      </filter>
    </defs>
    <defs>
      <clipPath id="freepik--clip-path--inject-2">
        <path
          d="M343.05,179.18A80.29,80.29,0,0,0,260.82,98.9c-43.42,1-78.47,37-78.37,80.47a80,80,0,0,0,22.11,55.12,66.73,66.73,0,0,1,16.86,30.63l.53,2.26h81.61l.31-1.33a70.46,70.46,0,0,1,17.45-32A79.91,79.91,0,0,0,343.05,179.18Z"
          style="fill: #fff; stroke: #263238; stroke-miterlimit: 10"
        ></path>
      </clipPath>
      <clipPath id="freepik--clip-path-2--inject-2">
        <path
          d="M337.58,289.08,334,296.65a401.28,401.28,0,0,0-23.84,65.54c-.22.83-4.9,17.4-1.15,58.67l-2.14,7.24,2.34,12s-3.52,5.08-3.39,6.75c0,0,8.68,1.62,11.58,3.17,2.25,1.21,9,7.9,9,7.9,1.92-.4,2.08-8.16,2.08-8.16s4-68.88,5.17-71.86,8.2-15.76,19.19-45.05c0,0,.25,40.91,3.19,51.26,2.61,9.21-.48,35-.48,35l1.76,28.68s-6.18,6.42-1.17,8.15c0,0,3.35-6.45,12.9-7.91,4.85-.75,10.9,7.87,10.9,7.87,2.12-.68-.9-11.51-.9-11.51,6.76-51.05,1.77-41.81,3.12-66.77.87-16,5.41-84.54.08-90.1Z"
          style="
            fill: #757575;
            stroke: #263238;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
        ></path>
      </clipPath>
      <clipPath id="freepik--clip-path-3--inject-2">
        <path
          d="M291.71,322.9s4.35-6.7,9-6.26l1.75,4s2.87.15,4.6,4.23,11.32,15.42,11.32,15.42l-13.89,14.41s-11.6-24.38-11-28.34Z"
          style="
            fill: #bfbfbf;
            stroke: #263238;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
        ></path>
      </clipPath>
      <clipPath id="freepik--clip-path-4--inject-2">
        <path
          d="M325.79,288.59s-17.57,2.59-14.44,22.88,1.17,23.14,1.35,31.5,5.68,11.74,5.68,11.74l4.29-14.49s-2.14,2.75-1.43-7.93.89-24.38.89-24.38"
          style="
            fill: #92e3a9;
            stroke: #263238;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
        ></path>
      </clipPath>
      <clipPath id="freepik--clip-path-5--inject-2">
        <path
          d="M353.75,384.31s5,7.75,3.22,9.51c0,0-20.1-7.17-40.68,9.31-.38.3-.75.61-1.13.93l-1.49-5.28,3.63-3s-.66-2.62-1.18-5.92-.95-7.56-.35-10.32c.06-.29-.74-1.49-1.68-3.64h0a32.21,32.21,0,0,1-2.36-8.46,44.17,44.17,0,0,1,1.07-16.71,66.81,66.81,0,0,1,3-9.32c2.92-7.32,17.69-10.76,34.88-6.29a9.13,9.13,0,0,1,5.14,3.49C364.49,350.27,353.75,384.31,353.75,384.31Z"
          style="
            fill: #bfbfbf;
            stroke: #263238;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
        ></path>
      </clipPath>
      <clipPath id="freepik--clip-path-6--inject-2">
        <path
          d="M316.22,295.42c4.95-9.61,14-6.26,14-6.26,17.62-3.35,18.16,17.17,19.76,28s7.43,13.31,9.08,22.39a24.12,24.12,0,0,1-.12,6.57,4,4,0,0,0-1.6-2.38c.34,11.74-6.61,17.56-7.05,17.9,4.92-6.76,4.32-11.14,4.32-11.14-1.9,6.88-9.26,13.65-9.26,13.65s-6.28-1.42-9.23-10.57c-2.61-8.14-6.08-11-6.29-11.13a59.77,59.77,0,0,1,5.24,14.77,138.74,138.74,0,0,1-9.31-15.85C313.51,318,315,308.27,315,308.27"
          style="
            fill: #92e3a9;
            stroke: #263238;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
        ></path>
      </clipPath>
      <clipPath id="freepik--clip-path-7--inject-2">
        <path
          d="M90.16,284.47C87.49,286,80.57,300.75,84.61,330S100.72,416.3,102.75,425s9.12,29.75,9.12,29.75,2.71-9.12,15.74-4.24a.67.67,0,0,0,.88-.76l-2.86-14.89s-.2-10.89-1.14-13.62c-3.53-10.28-5.29-50-6.46-55.55s1.13-21.49,1.13-21.49,16.31,39,16.84,42.86,10.47,19.78,10.47,19.78l1.72,14.65s13.23,22.68,15.56,29.45l15.77-3.41-.44-11.21-4.25-1.46-7.42-25.49a225.21,225.21,0,0,0-8.63-26c-3.51-8.87-13.46-43.2-13.46-43.2-3.09-3.36-6-21.94-6-21.94l-4.78-23.43Z"
          style="
            fill: #92e3a9;
            stroke: #263238;
            stroke-linecap: round;
            stroke-linejoin: round;
          "
        ></path>
      </clipPath>
    </defs>
  </svg>
</template>

<style scoped>
svg#freepik_stories-creative-team:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-creative-team.animated
  #freepik--background-simple--inject-2 {
  animation: 6s Infinite linear heartbeat;
  animation-delay: 0s;
}
svg#freepik_stories-creative-team.animated #freepik--character-3--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-creative-team.animated #freepik--character-2--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-creative-team.animated #freepik--character-1--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
</style>
