<template>
    <svg class="animated" id="freepik_stories-good-team" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"
        version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs">
        <g id="freepik--background-complete--inject-15" class="animable" style="transform-origin: 250px 228.23px;">
            <rect x="416.78" y="398.49" width="33.12" height="0.25"
                style="fill: rgb(235, 235, 235); transform-origin: 433.34px 398.615px;" id="ela64x22x2zck"
                class="animable"></rect>
            <rect x="322.53" y="401.21" width="8.69" height="0.25"
                style="fill: rgb(235, 235, 235); transform-origin: 326.875px 401.335px;" id="ela2oj6uti9o"
                class="animable"></rect>
            <rect x="396.59" y="389.21" width="19.19" height="0.25"
                style="fill: rgb(235, 235, 235); transform-origin: 406.185px 389.335px;" id="elbtzuyn7kdi"
                class="animable"></rect>
            <rect x="52.46" y="390.89" width="43.19" height="0.25"
                style="fill: rgb(235, 235, 235); transform-origin: 74.055px 391.015px;" id="eljbt87ix1x3m"
                class="animable"></rect>
            <rect x="104.56" y="390.89" width="6.33" height="0.25"
                style="fill: rgb(235, 235, 235); transform-origin: 107.725px 391.015px;" id="el7xznf38j4bi"
                class="animable"></rect>
            <rect x="131.47" y="395.11" width="93.68" height="0.25"
                style="fill: rgb(235, 235, 235); transform-origin: 178.31px 395.235px;" id="elu7vr9p6okq8"
                class="animable"></rect>
            <path
                d="M237,337.8H43.92a5.71,5.71,0,0,1-5.71-5.71V60.66A5.71,5.71,0,0,1,43.92,55H237a5.71,5.71,0,0,1,5.71,5.71V332.09A5.71,5.71,0,0,1,237,337.8ZM43.92,55.2a5.47,5.47,0,0,0-5.46,5.46V332.09a5.47,5.47,0,0,0,5.46,5.46H237a5.47,5.47,0,0,0,5.46-5.46V60.66A5.47,5.47,0,0,0,237,55.2Z"
                style="fill: rgb(235, 235, 235); transform-origin: 140.46px 196.4px;" id="elmjxqhr8tc5"
                class="animable"></path>
            <path
                d="M453.31,337.8H260.21a5.72,5.72,0,0,1-5.71-5.71V60.66A5.72,5.72,0,0,1,260.21,55h193.1A5.71,5.71,0,0,1,459,60.66V332.09A5.71,5.71,0,0,1,453.31,337.8ZM260.21,55.2a5.47,5.47,0,0,0-5.46,5.46V332.09a5.47,5.47,0,0,0,5.46,5.46h193.1a5.47,5.47,0,0,0,5.46-5.46V60.66a5.47,5.47,0,0,0-5.46-5.46Z"
                style="fill: rgb(235, 235, 235); transform-origin: 356.75px 196.4px;" id="elx0q0407125n"
                class="animable"></path>
            <rect y="382.4" width="500" height="0.25"
                style="fill: rgb(235, 235, 235); transform-origin: 250px 382.525px;" id="elcinjy6kzc9" class="animable">
            </rect>
            <path
                d="M409.3,135.45c30.16-3.33,52.48-14.4,39.58-38.66-13.12-24.67-47.63,0-47.63,0s7.9-32-18.25-32c-28.71,0-22.86,35.32-22.86,35.32s-18.07-29.32-36.13-10c-14.18,15.17,4.95,28.67,4.95,28.67s-34.74-6-35.75,8.66S380.39,138.65,409.3,135.45Z"
                style="fill: rgb(245, 245, 245); transform-origin: 372.907px 101.523px;" id="elhiov26atcs"
                class="animable"></path>
            <path
                d="M125.24,177.32c17.43-1.93,30.33-8.32,22.87-22.35-7.58-14.26-27.53,0-27.53,0s4.57-18.49-10.55-18.5c-16.59,0-13.21,20.42-13.21,20.42s-10.44-16.95-20.88-5.77c-8.2,8.77,2.86,16.57,2.86,16.57s-20.08-3.47-20.67,5S108.53,179.17,125.24,177.32Z"
                style="fill: rgb(240, 240, 240); transform-origin: 104.197px 157.706px;" id="elqgqqkk66e7e"
                class="animable"></path>
            <path
                d="M220.27,118c-16.08,7-43.63,9.27-67,8.65-23.12-.61-42.2-4-42.2-8.61,0-11,28.12-10.5,28.12-10.5s-15.42-11.91-1-22.5c18.16-13.37,31.24,7.5,31.24,7.5S162,67.51,182.42,65c24.44-3,18.41,26.5,18.41,26.5s25.11-18,32.5,8C235.65,107.68,230.11,113.7,220.27,118Z"
                style="fill: rgb(240, 240, 240); transform-origin: 172.463px 95.7667px;" id="el8gp8zkfv5hl"
                class="animable"></path>
            <path
                d="M72.63,115.42a9.35,9.35,0,0,1-1.28-.41c-.77-.3-1.76-.81-2.79-1.31a8.46,8.46,0,0,0-2.73-.82c-.73-.08-1.22,0-1.29-.19s.36-.54,1.25-.71a5.68,5.68,0,0,1,3.32.57,10.27,10.27,0,0,1,2.59,1.92C72.28,115,72.63,115.42,72.63,115.42Z"
                style="fill: rgb(230, 230, 230); transform-origin: 68.5813px 113.676px;" id="elfc9c1dn4dxd"
                class="animable"></path>
            <path
                d="M77.12,111.81l-.93.36c-.55.22-1.24.54-2,.88-1.54.68-2.86,1.39-3.08,1.08-.1-.14.11-.49.55-.92a6.78,6.78,0,0,1,2-1.33,4.68,4.68,0,0,1,2.45-.34,3.56,3.56,0,0,1,.74.17Z"
                style="fill: rgb(230, 230, 230); transform-origin: 74.1027px 112.853px;" id="el00jag2y63qpot"
                class="animable"></path>
            <path
                d="M64.3,118.12,64,118l-.68-.39a15.79,15.79,0,0,0-2.26-1c-1.8-.65-3.41-.51-3.46-.78s.37-.33,1.06-.43a5.93,5.93,0,0,1,2.71.31,5.27,5.27,0,0,1,2.25,1.51,4.37,4.37,0,0,1,.49.66Z"
                style="fill: rgb(230, 230, 230); transform-origin: 60.948px 116.739px;" id="el9ewpmoczic"
                class="animable"></path>
            <path
                d="M66.06,114.4l-.64.37-1.44.8c-1.09.6-1.92,1.3-2.13,1.11s0-.38.28-.75a4.24,4.24,0,0,1,1.39-1.19,3.65,3.65,0,0,1,1.78-.44A3,3,0,0,1,66.06,114.4Z"
                style="fill: rgb(230, 230, 230); transform-origin: 63.9123px 115.506px;" id="el7hkdxcj7rb7"
                class="animable"></path>
            <path
                d="M62.81,112.28s-.61-.22-1.55-.61-2.18-1-3.56-1.4a9.69,9.69,0,0,0-3.61-.5c-.94,0-1.54.23-1.62.06s.41-.63,1.46-1a7.19,7.19,0,0,1,4.17.18,10.62,10.62,0,0,1,3.5,2.07A14.16,14.16,0,0,1,62.81,112.28Z"
                style="fill: rgb(230, 230, 230); transform-origin: 57.6358px 110.442px;" id="ellagnja8549b"
                class="animable"></path>
            <path
                d="M66.94,107l-.35.09-.91.27a27.19,27.19,0,0,0-2.77,1.09c-2.09.94-3.43,2.33-3.73,2.11-.13-.11,0-.62.58-1.28a7.3,7.3,0,0,1,2.62-2,6.46,6.46,0,0,1,3.23-.57,6.2,6.2,0,0,1,1,.16Z"
                style="fill: rgb(230, 230, 230); transform-origin: 63.0369px 108.636px;" id="elshk6df2jyoh"
                class="animable"></path>
            <path
                d="M288.43,85.29a13.88,13.88,0,0,1-2.22-.72c-1.33-.52-3-1.4-4.84-2.27a15,15,0,0,0-4.74-1.42c-1.26-.14-2.12,0-2.24-.33s.62-.94,2.16-1.23a9.72,9.72,0,0,1,5.77,1,17.61,17.61,0,0,1,4.49,3.33C287.82,84.63,288.43,85.29,288.43,85.29Z"
                style="fill: rgb(230, 230, 230); transform-origin: 281.404px 82.2612px;" id="elwa82llv1in"
                class="animable"></path>
            <path
                d="M296.23,79l-1.61.62c-.95.39-2.16.94-3.51,1.53-2.68,1.18-5,2.42-5.34,1.88-.18-.25.18-.85,1-1.6a12.09,12.09,0,0,1,3.52-2.31,8.07,8.07,0,0,1,4.26-.59,6.57,6.57,0,0,1,1.28.3Z"
                style="fill: rgb(230, 230, 230); transform-origin: 290.977px 80.8099px;" id="elns8pwc976i"
                class="animable"></path>
            <path
                d="M274,90l-.44-.27c-.28-.17-.69-.41-1.18-.68a27.81,27.81,0,0,0-3.93-1.7c-3.13-1.12-5.92-.88-6-1.35,0-.21.64-.57,1.85-.74a10.34,10.34,0,0,1,4.7.52,9.45,9.45,0,0,1,3.91,2.63,8,8,0,0,1,.84,1.14Z"
                style="fill: rgb(230, 230, 230); transform-origin: 268.225px 87.5925px;" id="elns97e4uhu4q"
                class="animable"></path>
            <path
                d="M277,83.51s-.44.27-1.12.65l-2.49,1.4c-1.89,1-3.34,2.24-3.7,1.91-.16-.15,0-.65.48-1.3a7.56,7.56,0,0,1,2.42-2.07,6.51,6.51,0,0,1,3.09-.75A5.91,5.91,0,0,1,277,83.51Z"
                style="fill: rgb(230, 230, 230); transform-origin: 273.315px 85.4371px;" id="elg5jsyhnmowk"
                class="animable"></path>
        </g>
        <g id="freepik--Arrow--inject-15" class="animable" style="transform-origin: 250.78px 400.6px;">
            <polygon
                points="432.2 418.04 432.2 414 48.68 414 48.68 387.62 432.2 387.62 432.2 383.16 452.88 400.22 432.2 418.04"
                style="fill: rgb(31, 198, 80); transform-origin: 250.78px 400.6px;" id="ellqwznu7luc" class="animable">
            </polygon>
            <g id="elc1p1hrj99jp">
                <g style="opacity: 0.2; transform-origin: 250.78px 400.6px;" class="animable">
                    <polygon
                        points="432.2 418.04 432.2 414 48.68 414 48.68 387.62 432.2 387.62 432.2 383.16 452.88 400.22 432.2 418.04"
                        id="el7p7yf0eai6m" class="animable" style="transform-origin: 250.78px 400.6px;"></polygon>
                </g>
            </g>
        </g>
        <g id="freepik--character-1--inject-15" class="animable" style="transform-origin: 113.787px 289.204px;">
            <path
                d="M113.8,223.43c1.21,4.22,2.24,9,4.85,11.27l13.9,7.37-1.14,3.9s-17.49-4.77-20-7c-2.26-2-4.43-12.48-4.65-13.3Z"
                style="fill: rgb(255, 184, 125); transform-origin: 119.655px 234.7px;" id="el04ux46w06smp"
                class="animable"></path>
            <path
                d="M129.2,241.35l3-.54a3,3,0,0,1,2.53.67l2.63,2.28a1,1,0,0,1,.12,1.23l-1.37,2.42a.93.93,0,0,1-1.13.48l-3.32-1.39-3.55-1.79S128,241.56,129.2,241.35Z"
                style="fill: rgb(255, 184, 125); transform-origin: 132.872px 244.346px;" id="elxdtsv09l34l"
                class="animable"></path>
            <g id="eleaynubgtub9">
                <g style="opacity: 0.1; isolation: isolate; transform-origin: 122.199px 235.683px;" class="animable">
                    <path
                        d="M113.8,223.43c1.21,4.22,2.24,9,4.85,11.27l13.9,7.37-1.14,3.9s-17.49-4.77-20-7c-2.26-2-4.43-12.48-4.65-13.3Z"
                        id="elpjsj4ut3ws" class="animable" style="transform-origin: 119.655px 234.7px;"></path>
                    <path
                        d="M129.2,241.35l3-.54a3,3,0,0,1,2.53.67l2.63,2.28a1,1,0,0,1,.12,1.23l-1.37,2.42a.93.93,0,0,1-1.13.48l-3.32-1.39-3.55-1.79S128,241.56,129.2,241.35Z"
                        id="el7g22074ltsm" class="animable" style="transform-origin: 132.872px 244.346px;"></path>
                </g>
            </g>
            <path d="M108.66,232.24c-1.78-3.38-5.18-16.1-1.23-20.69,0,0,3,0,6.17,5.63,1.31,2.32,3.48,9.17,4.35,10.73Z"
                style="fill: rgb(31, 198, 80); transform-origin: 111.774px 221.895px;" id="el0d9eoqvhi0z7"
                class="animable"></path>
            <g id="el39bibcvww3a">
                <path d="M111.11,231.91s.2-7.62.32-9.52C111.43,222.39,115.62,226.32,111.11,231.91Z"
                    style="opacity: 0.2; isolation: isolate; transform-origin: 112.155px 227.15px;" class="animable">
                </path>
            </g>
            <path
                d="M159.52,395.05H151a4.08,4.08,0,0,1-4.09-4.15l2-127.83a4.33,4.33,0,0,0-3.79-4.37L134,258.5l1.27-10.69,16.7.09a9.52,9.52,0,0,1,9.79,9.39l1.91,133.61A4.1,4.1,0,0,1,159.52,395.05Z"
                style="fill: rgb(38, 50, 56); transform-origin: 148.835px 321.43px;" id="ely48aipmmc89"
                class="animable"></path>
            <g id="elsgz32l1k6h">
                <g style="opacity: 0.5; transform-origin: 148.835px 321.43px;" class="animable">
                    <path
                        d="M159.52,395.05H151a4.08,4.08,0,0,1-4.09-4.15l2-127.83a4.33,4.33,0,0,0-3.79-4.37L134,258.5l1.27-10.69,16.7.09a9.52,9.52,0,0,1,9.79,9.39l1.91,133.61A4.1,4.1,0,0,1,159.52,395.05Z"
                        style="fill: rgb(255, 255, 255); transform-origin: 148.835px 321.43px;" id="elp6dxefcbwch"
                        class="animable"></path>
                </g>
            </g>
            <path
                d="M129.18,276.82h0a3.2,3.2,0,0,1-2.88-3.5l4.1-41.5a3.21,3.21,0,0,1,3.51-2.88h0a3.21,3.21,0,0,1,2.88,3.51l-4.1,41.5A3.21,3.21,0,0,1,129.18,276.82Z"
                style="fill: rgb(38, 50, 56); transform-origin: 131.545px 252.88px;" id="eldj4inxr4suq"
                class="animable"></path>
            <g id="el7rx9y9m0qj8">
                <path
                    d="M129.18,276.82h0a3.2,3.2,0,0,1-2.88-3.5l4.1-41.5a3.21,3.21,0,0,1,3.51-2.88h0a3.21,3.21,0,0,1,2.88,3.51l-4.1,41.5A3.21,3.21,0,0,1,129.18,276.82Z"
                    style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 131.545px 252.88px;"
                    class="animable"></path>
            </g>
            <path d="M130.11,276.91l-.18,6.95s-1.78,3-3,.35,1.25-7.84,1.25-7.84Z"
                style="fill: rgb(38, 50, 56); transform-origin: 128.351px 280.837px;" id="el0qqajbm0snya"
                class="animable"></path>
            <g id="elmhk0oqbesfb">
                <path d="M130.11,276.91l-.18,6.95s-1.78,3-3,.35,1.25-7.84,1.25-7.84Z"
                    style="fill: rgb(255, 255, 255); opacity: 0.6; transform-origin: 128.351px 280.837px;"
                    class="animable"></path>
            </g>
            <path d="M133.15,229.36l.18-7s1.78-3,3-.36-1.25,7.84-1.25,7.84Z"
                style="fill: rgb(38, 50, 56); transform-origin: 134.909px 225.377px;" id="el1cx8tspcsrj"
                class="animable"></path>
            <g id="elthmg9f41dla">
                <path d="M133.15,229.36l.18-7s1.78-3,3-.36-1.25,7.84-1.25,7.84Z"
                    style="fill: rgb(255, 255, 255); opacity: 0.6; transform-origin: 134.909px 225.377px;"
                    class="animable"></path>
            </g>
            <g id="el1q9o6oq2v8x">
                <path d="M135.77,234.64a2.33,2.33,0,1,1-2.14-2.74A2.48,2.48,0,0,1,135.77,234.64Z"
                    style="fill: rgb(255, 255, 255); opacity: 0.3; transform-origin: 133.467px 234.225px;"
                    class="animable"></path>
            </g>
            <g id="elhslqpssz1pf">
                <path d="M132.21,270.17a2.33,2.33,0,1,1-2.15-2.75A2.47,2.47,0,0,1,132.21,270.17Z"
                    style="fill: rgb(255, 255, 255); opacity: 0.3; transform-origin: 129.909px 269.746px;"
                    class="animable"></path>
            </g>
            <g id="elfwacbxp8out">
                <path d="M133.14,258.9a2.33,2.33,0,1,1-2.15-2.74A2.48,2.48,0,0,1,133.14,258.9Z"
                    style="fill: rgb(255, 255, 255); opacity: 0.3; transform-origin: 130.837px 258.486px;"
                    class="animable"></path>
            </g>
            <g id="elnsm4v9ltv9">
                <path d="M134.38,247.2a2.33,2.33,0,1,1-2.14-2.74A2.46,2.46,0,0,1,134.38,247.2Z"
                    style="fill: rgb(255, 255, 255); opacity: 0.3; transform-origin: 132.078px 246.785px;"
                    class="animable"></path>
            </g>
            <path
                d="M81.48,283.4l17.24,5,.07,0,.19-.08,3.14-1.25L114.84,282l-.83-7.31a.22.22,0,0,0,0-.08L112.81,264l-28.72-.65-1.53,8.71-.54,3c-.12.65-.21,1.32-.28,2l-.21,2.3Z"
                style="fill: rgb(38, 50, 56); transform-origin: 98.16px 275.875px;" id="elrvq9ej6kypr" class="animable">
            </path>
            <path
                d="M130.43,394.44c-1-5.49-2-14.23-2-14.23l-5.93,6.86s1.5,7.71,2.2,9.86C126.46,396.39,128.67,394.82,130.43,394.44Z"
                style="fill: rgb(255, 181, 115); transform-origin: 126.465px 388.57px;" id="eloo9uyqw3rxr"
                class="animable"></path>
            <path
                d="M95.69,278.85c1.52,6.65,12,55.45,12,55.45,2.09,26.1,13.2,53.2,13.2,53.2l9.36-2S115.73,283.1,114,274.6l-12.49,3.07Z"
                style="fill: rgb(38, 50, 56); transform-origin: 112.97px 331.05px;" id="elevkfnl41shm" class="animable">
            </path>
            <g id="elmvjj9uwq5k">
                <path d="M98.06,290.09l5.27,24s-1.21-30.37-3.6-32.78S97.27,286.47,98.06,290.09Z"
                    style="opacity: 0.2; isolation: isolate; transform-origin: 100.47px 297.468px;" class="animable">
                </path>
            </g>
            <path
                d="M104.57,211.12c-4.4-.39-5.32-1.08-9.74-1-2.26.07-9.31-.19-11.37,1-6.09,3.51.55,47.72.62,52.19l28.73.72c-.31-10.19-2.38-18-1.23-30.15C113.84,210.05,107.59,211.5,104.57,211.12Z"
                style="fill: rgb(31, 198, 80); transform-origin: 96.8505px 237.072px;" id="elihd9n74ba6"
                class="animable"></path>
            <path
                d="M90.8,210.48l.53.52c.7.68,1.4,1.36,2.13,2h0a20.76,20.76,0,0,0,6.19,2.54c1.32-.67,3.79-.86,4.36-1.44a3.66,3.66,0,0,0,.24-1.85,2.47,2.47,0,0,0-.27-.82,4.71,4.71,0,0,1-2.55-2.13,3,3,0,0,1-.24-.55,8.51,8.51,0,0,1,.25-5.06l-7.92-7.18C94.2,200.54,94.63,208.18,90.8,210.48Z"
                style="fill: rgb(255, 181, 115); transform-origin: 97.5401px 206.025px;" id="el347fuxqt9x"
                class="animable"></path>
            <g id="elsp56g1e548j">
                <path
                    d="M96.6,201.75c.14,1.9,2.79,5.71,4.38,4.29a13.09,13.09,0,0,1,.48-2.32l-4.69-4.25A6.5,6.5,0,0,0,96.6,201.75Z"
                    style="opacity: 0.2; isolation: isolate; transform-origin: 99.013px 202.91px;" class="animable">
                </path>
            </g>
            <path
                d="M104.27,212.26a3.66,3.66,0,0,1-.24,1.85,4.66,4.66,0,0,0,.71-.92,1.83,1.83,0,0,0,.29-1.4l-.44-.14a5.12,5.12,0,0,1-.59-.21A2.47,2.47,0,0,1,104.27,212.26Z"
                style="fill: rgb(255, 181, 115); transform-origin: 104.533px 212.775px;" id="eltidkbd0tbac"
                class="animable"></path>
            <path
                d="M90,210.88s.62.45,1.71,1.11c.49.3,1.09.65,1.77,1-.73-.64-1.43-1.32-2.13-2l-.53-.52a3,3,0,0,1-.43.23A3.29,3.29,0,0,1,90,210.88Z"
                style="fill: rgb(255, 181, 115); transform-origin: 91.74px 211.73px;" id="elqt44go2ihvh"
                class="animable"></path>
            <path
                d="M105.49,193.08l.45,2.59s3.55.64,4.26.38a4.44,4.44,0,0,1-.55-2.47c.27-1,1.82-1,2.27-2s.57-4.41-.35-4.63-6.41-1.18-6.41-1.18C100.89,187,105.49,193.08,105.49,193.08Z"
                style="fill: rgb(38, 50, 56); transform-origin: 107.803px 190.941px;" id="el8926hlmrfnb"
                class="animable"></path>
            <path
                d="M97.05,185.56a7.88,7.88,0,0,1,11.12-.93c4.68,3.91,2.81,12.31,0,16.87-3.07,5.07-10.66,5.41-13.48-.18-1.87-3.71-.75-6.92.68-12.53A7.87,7.87,0,0,1,97.05,185.56Z"
                style="fill: rgb(255, 181, 115); transform-origin: 102.364px 194.084px;" id="elwvowis45g7a"
                class="animable"></path>
            <polygon
                points="97.09 214.33 99.93 218.67 100.5 219.4 99.44 247.32 103.28 250.32 106.69 246.38 102.13 219.29 102.64 218.17 104.02 214.93 102.67 213.19 99.4 212.66 97.09 214.33"
                style="fill: rgb(38, 50, 56); transform-origin: 101.89px 231.49px;" id="ely1bdi6uy2" class="animable">
            </polygon>
            <g id="elbr6c0w4cblj">
                <polygon
                    points="92.29 208.2 100.66 210.65 101.37 208.39 105.81 211.32 104.47 217.5 100.62 212.31 97.09 218.49 89.8 210.84 92.29 208.2"
                    style="fill: rgb(31, 198, 80); opacity: 0.9; transform-origin: 97.805px 213.345px;"
                    class="animable"></polygon>
            </g>
            <g id="ela488dsxq0ce">
                <polygon
                    points="92.29 208.2 100.66 210.65 101.37 208.39 105.81 211.32 104.47 217.5 100.62 212.31 97.09 218.49 89.8 210.84 92.29 208.2"
                    style="fill: rgb(255, 255, 255); opacity: 0.9; transform-origin: 97.805px 213.345px;"
                    class="animable"></polygon>
            </g>
            <path
                d="M104.24,200.74a3.68,3.68,0,0,0,.83.32.15.15,0,1,0,.07-.3,5.12,5.12,0,0,1-2.67-1.89.16.16,0,0,0-.21-.05.16.16,0,0,0-.05.22A5.44,5.44,0,0,0,104.24,200.74Z"
                style="fill: rgb(38, 50, 56); transform-origin: 103.722px 199.932px;" id="el8cbj0ugjqy9"
                class="animable"></path>
            <path
                d="M93.75,199.11l.1-3.48,3.49,2.23s-1-4.68-.28-6.6c.27-1,1.42-1.09,1.87-2.07s.57-4.43-.34-4.65-5.53-1.08-5.53-1.08C88.79,184.69,93.75,199.11,93.75,199.11Z"
                style="fill: rgb(38, 50, 56); transform-origin: 95.2997px 191.285px;" id="elfppuc9o2mda"
                class="animable"></path>
            <path
                d="M73,395.69c1.89-6.77,5-15.42,5-15.42l-8.73,5s-1.94,7.66-2.2,9.89C68.86,395.27,71.27,395.42,73,395.69Z"
                style="fill: rgb(255, 181, 115); transform-origin: 72.535px 387.98px;" id="el7sguugmr49x"
                class="animable"></path>
            <path
                d="M104.1,270.4c-.09,1.32-.39,4-.82,7.57-.06.47-.12,1-.19,1.47-.33,2.63-.72,5.65-1.15,8.88,0,.2-.09.74-.1.82-2.26,17-5.46,39.31-6,42.19-3,16.42-17.24,54.72-18.09,57.07,0,.07-10.78-1.88-10.78-1.88,3.94-19.44,6.31-40.26,13.56-55.39.36-4.22.74-31.35,1-47.73,0-1.43,0-2.77,0-4l.21-2.3c.07-.66.16-1.33.28-2l.54-3Z"
                style="fill: rgb(38, 50, 56); transform-origin: 85.535px 329.401px;" id="eljysxgmy37wh"
                class="animable"></path>
            <path d="M103.85,192.33c.3,0,.52.42.49.89s-.31.83-.62.81-.52-.42-.49-.89S103.55,192.3,103.85,192.33Z"
                style="fill: rgb(38, 50, 56); transform-origin: 103.785px 193.18px;" id="el2f1zzhff3f" class="animable">
            </path>
            <path d="M109.35,192.92c.31,0,.55.39.53.86s-.27.85-.58.84-.54-.39-.53-.87S109,192.91,109.35,192.92Z"
                style="fill: rgb(38, 50, 56); transform-origin: 109.325px 193.77px;" id="elbnjutxj93tk"
                class="animable"></path>
            <path d="M106.26,198.7a2.73,2.73,0,0,0,2.28-.25,16.59,16.59,0,0,1-2-4.18Z"
                style="fill: rgb(237, 137, 62); transform-origin: 107.4px 196.556px;" id="elmnw5zphg7ag"
                class="animable"></path>
            <path
                d="M102.45,191.32h0a.28.28,0,0,1,0-.38,2.73,2.73,0,0,1,2.45-.61h0a.27.27,0,0,1,.17.34.27.27,0,0,1-.34.19,2.19,2.19,0,0,0-1.93.51.3.3,0,0,1-.24,0A.24.24,0,0,1,102.45,191.32Z"
                style="fill: rgb(38, 50, 56); transform-origin: 103.73px 190.824px;" id="elzbs30530y7b"
                class="animable"></path>
            <path
                d="M110.46,192.11a2.2,2.2,0,0,0-1.71-1h0a.28.28,0,0,1-.23-.24.27.27,0,0,1,.23-.31,2.74,2.74,0,0,1,2.17,1.28v0a.26.26,0,0,1-.1.36.14.14,0,0,1-.11,0A.27.27,0,0,1,110.46,192.11Z"
                style="fill: rgb(38, 50, 56); transform-origin: 109.736px 191.386px;" id="el3z9voli7d1i"
                class="animable"></path>
            <path
                d="M75.18,393.45c1.71,1.78,4,2.91,9.54,4.3,1.23.32.7,3.61-2.35,3.58s-7.4-.91-9.59-1.1c-3.56-.32-5.08-.31-7.89-.64a.54.54,0,0,1-.22,0c-.56-.17-2.07-.08,1.78-7.64.31-.62.78-1.13,1.41-1l5.73.84a1.17,1.17,0,0,1,.86.61A8.09,8.09,0,0,0,75.18,393.45Z"
                style="fill: rgb(38, 50, 56); transform-origin: 74.6201px 396.13px;" id="el07w4ptg8vq66"
                class="animable"></path>
            <path
                d="M132.53,392.72c1.87,1.6,4.58,2.9,10.31,3.52,1.28.15,1,3.64-2.14,4.06s-8.93.32-11.17.44c-3.66.2-9.42.23-7.77-3.61,0,0,.37-.39.93-5a1.61,1.61,0,0,1,1.49-1.48l6.19,0a1.21,1.21,0,0,1,1,.52A12.14,12.14,0,0,0,132.53,392.72Z"
                style="fill: rgb(38, 50, 56); transform-origin: 132.512px 395.73px;" id="el7gq1mrwwai8"
                class="animable"></path>
            <g id="elb1qs377cfy">
                <path
                    d="M87.14,222.45c.33.45,7.63-4.75,7.12,3.51-.2,3.11,3.31,0,2.57,4.14l-7.64,4.35c-1.42,1.29-3.83-6.37-5.11-11.65C83.56,220.65,85.78,220.59,87.14,222.45Z"
                    style="opacity: 0.2; isolation: isolate; transform-origin: 90.4676px 227.856px;" class="animable">
                </path>
            </g>
            <path
                d="M98.71,224.18c2.76,4.27,6.61,10.6,9.08,10.09l16.42-.35,2.34,3.58s-21.6,5.4-25.15,3.43c-3.14-1.75-9.12-12.52-9.64-13.35Z"
                style="fill: rgb(255, 184, 125); transform-origin: 109.155px 232.771px;" id="el4hraxbacfhc"
                class="animable"></path>
            <path
                d="M123.42,234.49l2.62-2.3a4.17,4.17,0,0,1,3-1l4.14.19a1,1,0,0,1,1,.9l.28,2.77a1,1,0,0,1-.78,1.08l-4.21.95-4.71.77S122.42,235.38,123.42,234.49Z"
                style="fill: rgb(255, 184, 125); transform-origin: 128.818px 234.515px;" id="elm3hcxsb0ofj"
                class="animable"></path>
            <path d="M90.38,232.31c-2.52-4-10.86-15.65-6.48-20.48,0,0,5.26-5.14,12,3.92,2,2.67,4.44,8.64,5.64,10.5Z"
                style="fill: rgb(31, 198, 80); transform-origin: 92.095px 221.344px;" id="elrb16ksujv3g"
                class="animable"></path>
            <path
                d="M94.08,190.28c1.61.61,2,3.22,1.76,4.85-.27,1.81-1.67,2.88-3,1.59a5.8,5.8,0,0,1-1.65-3.81C91.14,191.13,92.47,189.68,94.08,190.28Z"
                style="fill: rgb(255, 181, 115); transform-origin: 93.5468px 193.715px;" id="elq3bneza7c4m"
                class="animable"></path>
            <path
                d="M110.93,188.06a2.34,2.34,0,0,0,2-2.66,3.92,3.92,0,0,0-1.85-3.13c-4.09-2-6.31-5.05-7.29-5.19-.29-.05-3.47,1.27-10.19,3.56-1.12.38-1.38,3.15-.6,4.05a3.52,3.52,0,0,0,1.75.91,23.59,23.59,0,0,0,8.73.69,4.35,4.35,0,0,1,2,.05c.63.23,1.71,1.13,1.49,1.77.52-.77,1.07-1.18,2-.92A14.33,14.33,0,0,1,110.93,188.06Z"
                style="fill: rgb(38, 50, 56); transform-origin: 102.753px 182.594px;" id="el3cp440yoogo"
                class="animable"></path>
        </g>
        <g id="freepik--character-2--inject-15" class="animable" style="transform-origin: 296.201px 247.402px;">
            <path
                d="M301.08,92.33s44.5,115.27,17.42,251.09c0,0,30.95-41.24,72-41.24,29.22,0,32.46,16.65,43.28,21.29C433.76,323.47,439.14,199.91,301.08,92.33Z"
                style="fill: rgb(31, 198, 80); transform-origin: 367.442px 217.875px;" id="el6tbkpt9mcvm"
                class="animable"></path>
            <g id="elws7nif0juu">
                <path
                    d="M301.08,92.33s44.5,115.27,17.42,251.09c0,0,30.95-41.24,72-41.24,29.22,0,32.46,16.65,43.28,21.29C433.76,323.47,439.14,199.91,301.08,92.33Z"
                    style="fill: rgb(255, 255, 255); opacity: 0.7; transform-origin: 367.442px 217.875px;"
                    class="animable"></path>
            </g>
            <g id="elc0y4k8ss0ka">
                <path d="M301.08,92.33s44.79,113,17.71,248.77C428.57,210.41,301.08,92.33,301.08,92.33Z"
                    style="opacity: 0.1; transform-origin: 332.229px 216.715px;" class="animable"></path>
            </g>
            <path
                d="M433.56,322.82,322.63,341.24l-15.73,2.61c-.95.16.46,2.46,1.4,2.31l126.66-21c1-.15-.45-2.46-1.4-2.3Z"
                style="fill: rgb(38, 50, 56); transform-origin: 370.941px 334.493px;" id="elohnncv6yzsh"
                class="animable"></path>
            <path
                d="M303.19,395.26H299a4.15,4.15,0,0,1-4.16-4.19l3.93-295.4a2.34,2.34,0,0,1,2.33-2.3h0a2.34,2.34,0,0,1,2.34,2.3l3.93,295.4A4.15,4.15,0,0,1,303.19,395.26Z"
                style="fill: rgb(38, 50, 56); transform-origin: 301.105px 244.315px;" id="el2pv1fh939xm"
                class="animable"></path>
            <g id="el692s456i2hm">
                <path
                    d="M303.19,395.26H299a4.15,4.15,0,0,1-4.16-4.19l3.93-295.4a2.34,2.34,0,0,1,2.33-2.3h0a2.34,2.34,0,0,1,2.34,2.3l3.93,295.4A4.15,4.15,0,0,1,303.19,395.26Z"
                    style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 301.105px 244.315px;"
                    class="animable"></path>
            </g>
            <path
                d="M298.39,99.31c1.59.94,3.75.79,5.48.43a.75.75,0,0,0-.3-1.46c-1.32.28-3.3.41-4.34-.21-.83-.49-1.67.74-.84,1.24Z"
                style="fill: rgb(31, 198, 80); transform-origin: 301.218px 98.9876px;" id="elsbdjudussr9"
                class="animable"></path>
            <g id="elafip8si1bl">
                <g style="opacity: 0; transform-origin: 301.218px 98.9876px;" class="animable">
                    <path
                        d="M298.39,99.31c1.59.94,3.75.79,5.48.43a.75.75,0,0,0-.3-1.46c-1.32.28-3.3.41-4.34-.21-.83-.49-1.67.74-.84,1.24Z"
                        id="el03iz23uzziua" class="animable" style="transform-origin: 301.218px 98.9876px;"></path>
                </g>
            </g>
            <polygon points="231.71 380.48 235.56 394.76 242.49 393.05 238.81 377.75 231.71 380.48"
                style="fill: rgb(127, 62, 59); transform-origin: 237.1px 386.255px;" id="el58w8lnahfc9"
                class="animable"></polygon>
            <path
                d="M214.39,260.87s12.92,47.3,16.51,63.28c3.29,14.62,10.28,58.91,10.28,58.91l-9.12,2.56s-9.66-27.92-12-37.41c-1.14-4.7-2.23-14.43-3.6-19.06-3.52-11.88-15-33.79-18.73-45.6-1.36-4.3-4-17.69-4-17.69Z"
                style="fill: rgb(31, 198, 80); transform-origin: 217.455px 323.245px;" id="elmam6jx0q3n"
                class="animable"></path>
            <polygon points="229.42 383.07 230.9 387.13 243.09 383.98 242.25 379.96 229.42 383.07"
                style="fill: rgb(31, 198, 80); transform-origin: 236.255px 383.545px;" id="elw03n4lv4j3q"
                class="animable"></polygon>
            <g id="elneqktqe6lk">
                <polygon points="229.42 383.07 230.9 387.13 243.09 383.98 242.25 379.96 229.42 383.07"
                    style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 236.255px 383.545px;"
                    class="animable"></polygon>
            </g>
            <path
                d="M243.36,393.24a.15.15,0,0,1-.15-.11.17.17,0,0,1,0-.19c.09-.09,2.17-2,3.34-1.94a.83.83,0,0,1,.57.29.69.69,0,0,1,.15.74,2.9,2.9,0,0,1-1.87,1A10.45,10.45,0,0,1,243.36,393.24Zm.47-.34c1.28-.1,3-.48,3.19-1,0-.07,0-.18-.1-.37a.46.46,0,0,0-.36-.17.84.84,0,0,0-.31,0A7.6,7.6,0,0,0,243.83,392.9Z"
                style="fill: rgb(31, 198, 80); transform-origin: 245.25px 392.119px;" id="el4pn6hhiwces"
                class="animable"></path>
            <path
                d="M243.27,393.25a.16.16,0,0,1-.09-.14,5.26,5.26,0,0,1,.54-3,1.21,1.21,0,0,1,.82-.48c.45,0,.63.16.68.35.29.78-1,2.68-1.77,3.23a.06.06,0,0,1-.07,0A.14.14,0,0,1,243.27,393.25ZM244.5,390a.83.83,0,0,0-.51.33,4.3,4.3,0,0,0-.49,2.39c.73-.71,1.56-2.15,1.44-2.63,0,0-.06-.16-.35-.12l-.09,0Z"
                style="fill: rgb(31, 198, 80); transform-origin: 244.203px 391.44px;" id="el1l73yptoyf4"
                class="animable"></path>
            <path
                d="M242.46,392.16l-7.3,1.59a.64.64,0,0,0-.49.62L234.5,401a1,1,0,0,0,1,1.1l.21,0c2.62-.62,4.93-1.28,8.21-2,3.87-.84,3-.13,7.53-1.05,2.75-.55,2.65-4,1.46-3.91-5.45.44-6.31-1.16-8.72-2.75A2.23,2.23,0,0,0,242.46,392.16Z"
                style="fill: rgb(38, 50, 56); transform-origin: 244.099px 397.09px;" id="el71hscx7ao5v"
                class="animable"></path>
            <g id="ellbcoli0bpf">
                <path d="M208.9,310.11c-.3-11.17-4.38-23-4.38-23l-4.71,2.14C202.24,295.38,205.69,302.88,208.9,310.11Z"
                    style="opacity: 0.2; transform-origin: 204.355px 298.61px;" class="animable"></path>
            </g>
            <polygon points="169.38 373.75 164.91 387.9 171.47 390.74 176.62 375.85 169.38 373.75"
                style="fill: rgb(127, 62, 59); transform-origin: 170.765px 382.245px;" id="eluczgqiv4hbq"
                class="animable"></polygon>
            <path
                d="M214.39,260.87s-13.74,56.41-19.71,74.75c-4,12.24-19.53,47.81-19.53,47.81l-9-4.17s7.08-29,10.41-38.44c1-2.75,3.36-8.07,4.16-10.88,2.73-9.6,5.68-29.59,5.94-39.6.11-4.09-1.17-12.22-1.13-16.31,0-3.57,1.31-14.2,1.31-14.2Z"
                style="fill: rgb(31, 198, 80); transform-origin: 190.27px 321.63px;" id="elkr0kasapmoq"
                class="animable"></path>
            <polygon points="165.4 376.08 164.05 380.18 176.11 385.16 177.55 381.32 165.4 376.08"
                style="fill: rgb(31, 198, 80); transform-origin: 170.8px 380.62px;" id="el8z75bpfdp8v" class="animable">
            </polygon>
            <g id="el6c8dpr57hn3">
                <polygon points="165.4 376.08 164.05 380.18 176.11 385.16 177.55 381.32 165.4 376.08"
                    style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 170.8px 380.62px;"
                    class="animable"></polygon>
            </g>
            <path
                d="M172,392.38a.19.19,0,0,1-.07-.19.17.17,0,0,1,.14-.13c.12,0,2.85-.3,3.75.5a1,1,0,0,1,.31.59.7.7,0,0,1-.28.7,2.75,2.75,0,0,1-2-.37A11.5,11.5,0,0,1,172,392.38Zm.56,0c1.09.71,2.65,1.45,3.13,1.16.06,0,.14-.11.11-.36a.48.48,0,0,0-.19-.36,1.51,1.51,0,0,0-.26-.18A7.12,7.12,0,0,0,172.59,392.39Z"
                style="fill: rgb(31, 198, 80); transform-origin: 174.034px 392.954px;" id="elbcorfxjpsdp"
                class="animable"></path>
            <path
                d="M172,392.33a.17.17,0,0,1,0-.17c0-.08,1-1.8,2.06-2.12a1.09,1.09,0,0,1,.93.12c.38.24.41.52.35.71-.18.81-2.29,1.54-3.18,1.54l-.06,0A.21.21,0,0,1,172,392.33Zm2.76-1.92a.8.8,0,0,0-.59,0,3.9,3.9,0,0,0-1.69,1.65c1-.12,2.43-.78,2.58-1.26,0,0,0-.16-.21-.31l-.09,0Z"
                style="fill: rgb(31, 198, 80); transform-origin: 173.671px 391.198px;" id="ellsg78es8nn8"
                class="animable"></path>
            <path
                d="M171.88,390.93l-6.76-3.25a.58.58,0,0,0-.73.2l-3.73,5.34a1.11,1.11,0,0,0,.18,1.5.78.78,0,0,0,.18.11c2.45,1.13,4.68,2,7.71,3.49,3.58,1.73,2.48,1.75,6.66,3.84,2.52,1.26,4.3-1.63,3.29-2.3-4.63-3-4.47-4.88-5.56-7.69A2.5,2.5,0,0,0,171.88,390.93Z"
                style="fill: rgb(38, 50, 56); transform-origin: 169.708px 395.049px;" id="elh766zylf3ev"
                class="animable"></path>
            <polygon points="198.18 265.92 186.83 265.98 186.64 268.79 198.24 268.73 198.18 265.92"
                style="fill: rgb(38, 50, 56); transform-origin: 192.44px 267.355px;" id="el6pegfb6jal5"
                class="animable"></polygon>
            <polygon points="214.72 265.83 208.22 265.87 208.33 268.67 215.45 268.63 214.72 265.83"
                style="fill: rgb(38, 50, 56); transform-origin: 211.835px 267.25px;" id="elet359y7kesa"
                class="animable"></polygon>
            <polygon points="206.14 265.88 200.54 265.91 200.58 268.71 206.21 268.68 206.14 265.88"
                style="fill: rgb(38, 50, 56); transform-origin: 203.375px 267.295px;" id="elrrxpjdb1nod"
                class="animable"></polygon>
            <path d="M196.19,180.25s4.92-1.62,3.38,4L195.84,183Z"
                style="fill: rgb(38, 50, 56); transform-origin: 197.854px 182.142px;" id="elg14sdvybai7"
                class="animable"></path>
            <path
                d="M190,196.63c1.42,3.36,3.4,9.28,2.32,12.85a1.9,1.9,0,0,0,.89,2.21,13.21,13.21,0,0,0,9.24,1.82c4.1-.7,3.93-2.94,2.77-4.47a1.89,1.89,0,0,0-1.29-.73c-4.11-.42-5.08-3.73-5-6.81Z"
                style="fill: rgb(127, 62, 59); transform-origin: 197.968px 205.165px;" id="el9eaw3j5enmt"
                class="animable"></path>
            <g id="el29v5hnwbbbi">
                <path
                    d="M193.67,198.63l5.31,2.86a14.1,14.1,0,0,0,.15,2.25,6.29,6.29,0,0,1-5.3-2.56C193.16,200.13,193.26,198.86,193.67,198.63Z"
                    style="opacity: 0.2; isolation: isolate; transform-origin: 196.237px 201.187px;" class="animable">
                </path>
            </g>
            <path
                d="M187.31,191.22c1.83,5.19,2.64,8.32,6.09,10.27,5.19,2.95,11-1.34,10.81-7-.22-5.09-3.18-12.7-9-13.34a7.52,7.52,0,0,0-8.34,6.59A7.29,7.29,0,0,0,187.31,191.22Z"
                style="fill: rgb(127, 62, 59); transform-origin: 195.517px 191.774px;" id="el18ml3q7ysno"
                class="animable"></path>
            <path d="M196.1,189.54c.13.43.45.72.73.64s.42-.49.29-.93-.45-.71-.73-.63S196,189.11,196.1,189.54Z"
                style="fill: rgb(38, 50, 56); transform-origin: 196.616px 189.4px;" id="elgubl5xm9s7" class="animable">
            </path>
            <path d="M201,188.17c.12.42.45.71.73.63s.41-.5.29-.92-.45-.72-.73-.64S200.86,187.73,201,188.17Z"
                style="fill: rgb(38, 50, 56); transform-origin: 201.506px 188.02px;" id="elvihctud800p"
                class="animable"></path>
            <path d="M199.16,189.7a16,16,0,0,0,3.11,3.09,2.63,2.63,0,0,1-2,1Z"
                style="fill: rgb(99, 15, 15); transform-origin: 200.715px 191.745px;" id="el413k053vbpb"
                class="animable"></path>
            <path
                d="M194.62,188.25a.34.34,0,0,1-.12-.06.29.29,0,0,1,.07-.37,2.66,2.66,0,0,1,2.38-.34.27.27,0,0,1,.15.34.27.27,0,0,1-.35.15h0a2.1,2.1,0,0,0-1.88.29A.25.25,0,0,1,194.62,188.25Z"
                style="fill: rgb(38, 50, 56); transform-origin: 195.789px 187.814px;" id="elnnx7587baz"
                class="animable"></path>
            <path
                d="M202.18,185.62a.24.24,0,0,1-.2.15,2.07,2.07,0,0,0-1.6,1,.28.28,0,0,1-.36.12.26.26,0,0,1-.12-.35,2.66,2.66,0,0,1,2-1.31.24.24,0,0,1,.28.22h0A.29.29,0,0,1,202.18,185.62Z"
                style="fill: rgb(38, 50, 56); transform-origin: 201.033px 186.071px;" id="eld2k1lveuyl"
                class="animable"></path>
            <path
                d="M178.53,217.44l6.84,47.4,31.35-.12-.08-55.1A3.75,3.75,0,0,0,212,206l-30.64,7.29A3.72,3.72,0,0,0,178.53,217.44Z"
                style="fill: rgb(38, 50, 56); transform-origin: 197.606px 235.366px;" id="elkdclu52sqe"
                class="animable"></path>
            <path
                d="M257.1,196l6.14-4.79,3-6.13a2.4,2.4,0,0,0,0-2.17l-.7-1.3a2.42,2.42,0,0,0-3.45-.89l-2,1.3a2.41,2.41,0,0,0-1.09,1.94l-.14,5-5.65,3.62Z"
                style="fill: rgb(127, 62, 59); transform-origin: 259.855px 188.165px;" id="el06qk0bvnw9yv"
                class="animable"></path>
            <path
                d="M209.29,209.93a5.43,5.43,0,0,1,4.69-4.49c5.82-.72,16.33-2.19,20.41-3.78,5.66-2.21,21.23-12.22,21.23-12.22l4.07,6s-15.95,12.84-22.06,15.79c-4.38,2.11-15,3.9-22.19,4.94a5.44,5.44,0,0,1-6.15-6.25Z"
                style="fill: rgb(38, 50, 56); transform-origin: 234.455px 202.833px;" id="el3wyocw1377j"
                class="animable"></path>
            <polygon
                points="196.8 212.71 198.95 210.65 202.23 210.86 202.94 214.53 202.77 217.11 204.31 219.18 208.54 249.75 205.87 254.62 200.64 250.82 199.6 220.67 200.09 217.79 196.72 214 196.8 212.71"
                style="fill: rgb(31, 198, 80); transform-origin: 202.63px 232.635px;" id="eladqs6ds63p"
                class="animable"></polygon>
            <polygon
                points="191.49 208.72 188.57 211.57 194.82 215.38 198.6 211.22 206.16 212.04 204.92 207.58 202.54 206.75 197.97 209.33 191.49 208.72"
                style="fill: rgb(38, 50, 56); transform-origin: 197.365px 211.065px;" id="ele4bi2fiv1r6"
                class="animable"></polygon>
            <g id="elatntut8d1jk">
                <polygon
                    points="191.49 208.72 188.57 211.57 194.82 215.38 198.6 211.22 206.16 212.04 204.92 207.58 202.54 206.75 197.97 209.33 191.49 208.72"
                    style="fill: rgb(255, 255, 255); opacity: 0.3; transform-origin: 197.365px 211.065px;"
                    class="animable"></polygon>
            </g>
            <path
                d="M197,196.48a5.28,5.28,0,0,1-.79-.28.16.16,0,0,1-.1-.21h0a.18.18,0,0,1,.22-.08,4.51,4.51,0,0,0,4.05-.14.16.16,0,0,1,.23.05.15.15,0,0,1,0,.22A4.6,4.6,0,0,1,197,196.48Z"
                style="fill: rgb(38, 50, 56); transform-origin: 198.379px 196.203px;" id="elva1b5hegvje"
                class="animable"></path>
            <path
                d="M188.43,195.47s4.26.28.43-6.45a8.12,8.12,0,0,0,1.51-4.56s11.71-4.18,8.82-7.77-5.6,1.14-5.6,1.14-4.4-2.83-5.65,2.88c0,0-5.09,1.27-2.86,5.89a4.35,4.35,0,0,0,.87,5.5S186.16,195,188.43,195.47Z"
                style="fill: rgb(38, 50, 56); transform-origin: 192.057px 185.408px;" id="elnc52atqvb6"
                class="animable"></path>
            <path
                d="M186.12,196.88a5.29,5.29,0,0,0,3.78,1.33c1.84-.12,2.16-1.89,1.15-3.31s-3-2.75-4.57-1.94A2.33,2.33,0,0,0,186.12,196.88Z"
                style="fill: rgb(127, 62, 59); transform-origin: 188.413px 195.465px;" id="eldqivoig56h"
                class="animable"></path>
            <path
                d="M299.64,99c-7,19.76-35.46,80.16-36.56,83.52-.59,1.8-.14,1.2-1.71,2.31-20.48,14.53-40,30.68-59.87,46l-10.9,8.37a9,9,0,0,0-2.93,2.92c-2.25,4.14-3,10.12-4.09,14.64-1.57,6.49-3.06,13.22-3.13,19.92,0,3.51.15,9.61,4.66,10.42s6-4.63,6.47-8.07c1.5-11.84-1.38-24.86-4.07-36.37-.22-1-1.75-.66-1.52.32,2.34,10,4.3,20.6,4.3,30.93,0,2.63-.88,15.86-6.52,10.82-3.54-3.16-1.61-12.13-1-16.06a160.57,160.57,0,0,1,4.52-19.85c.53-1.84,1-3.77,1.67-5.57.47-1.24.18-.84.48-1.2,1.68-2,4.69-3.6,6.76-5.18l12.54-9.63L242,201.71l13.73-10.54c2.36-1.81,5.39-3.53,7.43-5.7,2.55-2.71,30.5-64.74,38-85.94a.78.78,0,0,0-1.47-.51Z"
                style="fill: rgb(31, 198, 80); transform-origin: 240.818px 192.865px;" id="el5yifjlb9yda"
                class="animable"></path>
            <g id="elb9si6g6s1sr">
                <g style="opacity: 0.3; transform-origin: 240.818px 192.865px;" class="animable">
                    <path
                        d="M299.64,99c-7,19.76-35.46,80.16-36.56,83.52-.59,1.8-.14,1.2-1.71,2.31-20.48,14.53-40,30.68-59.87,46l-10.9,8.37a9,9,0,0,0-2.93,2.92c-2.25,4.14-3,10.12-4.09,14.64-1.57,6.49-3.06,13.22-3.13,19.92,0,3.51.15,9.61,4.66,10.42s6-4.63,6.47-8.07c1.5-11.84-1.38-24.86-4.07-36.37-.22-1-1.75-.66-1.52.32,2.34,10,4.3,20.6,4.3,30.93,0,2.63-.88,15.86-6.52,10.82-3.54-3.16-1.61-12.13-1-16.06a160.57,160.57,0,0,1,4.52-19.85c.53-1.84,1-3.77,1.67-5.57.47-1.24.18-.84.48-1.2,1.68-2,4.69-3.6,6.76-5.18l12.54-9.63L242,201.71l13.73-10.54c2.36-1.81,5.39-3.53,7.43-5.7,2.55-2.71,30.5-64.74,38-85.94a.78.78,0,0,0-1.47-.51Z"
                        id="elytb6b652phe" class="animable" style="transform-origin: 240.818px 192.865px;"></path>
                </g>
            </g>
            <path
                d="M181.66,240.75l4.26.64L190,237.5l1.75.75a3,3,0,0,1,1.82,3h0a3,3,0,0,1-1.55,2.43l-4.09,2.28a3,3,0,0,1-2.58.18l-.47-.18-5-1Z"
                style="fill: rgb(127, 62, 59); transform-origin: 186.73px 241.925px;" id="elx2f4bwfia" class="animable">
            </path>
            <path
                d="M186,216.35a5.21,5.21,0,0,0-7.74-1.64c-8,6.15-22.84,18.55-21,24.66,1.83,5.91,23.88,6.9,23.88,6.9l3.11-6.88s-11.55-.87-12.34-4,7.24-8.9,12.32-12.25a5.15,5.15,0,0,0,1.72-6.77Z"
                style="fill: rgb(38, 50, 56); transform-origin: 171.838px 229.953px;" id="elrbgm4lnlpbh"
                class="animable"></path>
        </g>
        <g id="freepik--character-3--inject-15" class="animable" style="transform-origin: 212.94px 320.635px;">
            <polygon points="272.04 374.59 266.38 389.78 273.19 391.43 280.58 376.66 272.04 374.59"
                style="fill: rgb(255, 195, 189); transform-origin: 273.48px 383.01px;" id="el9msw0lwfcab"
                class="animable"></polygon>
            <path
                d="M274.41,391.54a.19.19,0,0,1-.1-.17.16.16,0,0,1,.12-.15c.12,0,2.85-.84,3.93-.25a.85.85,0,0,1,.43.5.65.65,0,0,1-.16.72,3,3,0,0,1-2.15,0A12.57,12.57,0,0,1,274.41,391.54Zm.58-.1c1.25.46,3,.87,3.42.49.06,0,.13-.13,0-.36a.45.45,0,0,0-.26-.31,1.15,1.15,0,0,0-.31-.11A7.7,7.7,0,0,0,275,391.44Z"
                style="fill: rgb(31, 198, 80); transform-origin: 276.574px 391.575px;" id="elznjmagfi5po"
                class="animable"></path>
            <path
                d="M274.33,391.51a.16.16,0,0,1,0-.17c0-.08.65-1.9,1.7-2.42a1.28,1.28,0,0,1,1-.06c.44.15.53.41.5.6,0,.81-2.05,1.92-3,2.09a.08.08,0,0,1-.07,0A.2.2,0,0,1,274.33,391.51Zm2.46-2.37a.94.94,0,0,0-.62.07,4,4,0,0,0-1.41,1.9c1-.3,2.34-1.21,2.4-1.69,0-.05,0-.17-.28-.26l-.09,0Z"
                style="fill: rgb(31, 198, 80); transform-origin: 275.92px 390.172px;" id="el0ar8vb6mh1ds"
                class="animable"></path>
            <path
                d="M273.94,390.4l-7.54-1.78a.63.63,0,0,0-.71.33l-2.81,5.81a1,1,0,0,0,.47,1.39l.21.08c2.73.59,5.18,1,8.56,1.82,4,.95,2.86,1.18,7.54,2.36,2.82.71,4.1-2.38,2.94-2.83-5.33-2-5.5-3.78-7.16-6.24A2.48,2.48,0,0,0,273.94,390.4Z"
                style="fill: rgb(38, 50, 56); transform-origin: 272.893px 394.559px;" id="el6v2zbvmytft"
                class="animable"></path>
            <polygon points="308.5 378.03 306.58 394.14 313.58 394.14 317.29 378.03 308.5 378.03"
                style="fill: rgb(255, 195, 189); transform-origin: 311.935px 386.085px;" id="el8e5uabe5r9q"
                class="animable"></polygon>
            <path
                d="M308.54,245s7.62,16.31,14.89,13,5.32-17.82,5.32-17.82l2.78-5.61L329,227.24l-5.41,1,.93,2.55-1.18,3.12,1.58,6.18L321.52,251l-5.4-9.7Z"
                style="fill: rgb(255, 195, 189); transform-origin: 320.035px 242.842px;" id="el4a13kf5dv4q"
                class="animable"></path>
            <path
                d="M313.5,232.6l6.65,10.69-10.81,6.19-5.45-10.95a4.42,4.42,0,0,1,1.07-5.32l1.89-1.63A4.43,4.43,0,0,1,313.5,232.6Z"
                style="fill: rgb(31, 198, 80); transform-origin: 311.788px 239.995px;" id="elb1lagczi4yd"
                class="animable"></path>
            <g id="elh48v0lsu3v">
                <polygon points="309.3 239.15 308.79 248.37 309.34 249.48 313.26 247.24 312.67 237.52 309.3 239.15"
                    style="opacity: 0.2; transform-origin: 311.025px 243.5px;" class="animable"></polygon>
            </g>
            <path
                d="M302.36,281.24s19.57,42.87,21.22,58.29c1.2,11.23-6.14,44.74-6.14,44.74H307.22s.95-16.37,1.11-29.78c.07-5.65.63-10.78-.09-13.93-2.25-9.81-18.41-35.79-18.41-35.79s-5.65-8-8.69-13.3-2.3-13.29-2.3-13.29Z"
                style="fill: rgb(38, 50, 56); transform-origin: 301.237px 331.225px;" id="els8c4ep1u3nr"
                class="animable"></path>
            <polygon points="305.8 383 306.27 386.51 318.45 386.51 318.98 383 305.8 383"
                style="fill: rgb(31, 198, 80); transform-origin: 312.39px 384.755px;" id="elf1nyqmk8sf"
                class="animable"></polygon>
            <g id="elwwz5640imch">
                <path
                    d="M308.24,340.56c-.09-13.93-18.53-44.62-18.53-44.62l-4.32-3.58.29,6.32c2.21,3.34,4.15,6.09,4.15,6.09S306,330.75,308.24,340.56Z"
                    style="opacity: 0.5; transform-origin: 296.815px 316.46px;" class="animable"></path>
            </g>
            <path
                d="M288.55,279.18s12.49,45.59,10,60.35c-2,11.84-20.45,43.47-20.45,43.47l-8.69-3.84s5.89-15.35,10-28.38c1.74-5.57,3.77-10.72,3.85-14.06.26-11.93-10.87-34.23-12.79-46-1-6.27,2.05-12.52,2.05-12.52Z"
                style="fill: rgb(38, 50, 56); transform-origin: 284.144px 330.6px;" id="elyfns4yoknlh" class="animable">
            </path>
            <polygon points="267.88 380.57 278.04 385.17 280.1 382.25 268.93 377.45 267.88 380.57"
                style="fill: rgb(31, 198, 80); transform-origin: 273.99px 381.31px;" id="ele0w13y5u79" class="animable">
            </polygon>
            <path
                d="M305,233c-3.31-2.15-3.15-4.61-2-7a16.7,16.7,0,0,1,.95-1.7l-3.19-5.38-2.34-4c-.51,4.33-2.08,12-5.74,13.71a16.11,16.11,0,0,0,8.15,6C306.17,236.38,305,233,305,233Z"
                style="fill: rgb(255, 195, 189); transform-origin: 298.894px 225.026px;" id="el0bfktt6xdzr"
                class="animable"></path>
            <g id="eltxbvi6s0ih">
                <path
                    d="M303.89,224.31a16.12,16.12,0,0,0-.95,1.73c-1.56-.95-3.18-3.55-2.79-5.36a8.09,8.09,0,0,1,.55-1.75Z"
                    style="opacity: 0.2; isolation: isolate; transform-origin: 301.991px 222.485px;" class="animable">
                </path>
            </g>
            <path
                d="M296.28,211.8c1.32,5.63,1.79,9,5.17,11.51a7.51,7.51,0,0,0,12.07-5.59c.37-5.27-1.84-13.59-7.81-15.1a7.6,7.6,0,0,0-9.43,9.18Z"
                style="fill: rgb(255, 195, 189); transform-origin: 304.803px 213.597px;" id="eloz9e5lyklf"
                class="animable"></path>
            <path d="M305.21,212.23c.07.47.38.8.68.74s.49-.45.41-.91-.38-.81-.69-.73S305.12,211.77,305.21,212.23Z"
                style="fill: rgb(38, 50, 56); transform-origin: 305.753px 212.148px;" id="el3z0hxx20r1x"
                class="animable"></path>
            <path d="M310.46,211.53c.07.46.38.8.68.73s.49-.44.41-.91-.38-.8-.69-.73S310.38,211.06,310.46,211.53Z"
                style="fill: rgb(38, 50, 56); transform-origin: 311.004px 211.44px;" id="elv9gom1l2x5" class="animable">
            </path>
            <path d="M308.82,212a17.72,17.72,0,0,0,2.89,3.67,2.72,2.72,0,0,1-2.15.73Z"
                style="fill: rgb(237, 132, 126); transform-origin: 310.265px 214.207px;" id="el4nralefeuvt"
                class="animable"></path>
            <path
                d="M308.15,218a4,4,0,0,1-2.93-1.16.14.14,0,0,1,0-.19.14.14,0,0,1,.2,0h0a3.85,3.85,0,0,0,3.25,1,.14.14,0,1,1,.08.26h-.05A3.31,3.31,0,0,1,308.15,218Z"
                style="fill: rgb(38, 50, 56); transform-origin: 307.032px 217.305px;" id="el2m9ze68ekpb"
                class="animable"></path>
            <path
                d="M303.29,210.76a.28.28,0,0,1-.13,0,.27.27,0,0,1-.12-.36h0a2.66,2.66,0,0,1,2-1.47.27.27,0,0,1,.29.25h0a.26.26,0,0,1-.24.29h0a2.1,2.1,0,0,0-1.59,1.14A.26.26,0,0,1,303.29,210.76Z"
                style="fill: rgb(38, 50, 56); transform-origin: 304.172px 209.848px;" id="ellffhyf70uyn"
                class="animable"></path>
            <path
                d="M312.4,209.43a.25.25,0,0,1-.22-.12,2.33,2.33,0,0,0-1.76-1,.28.28,0,0,1-.23-.32.28.28,0,0,1,.23-.23h0a2.82,2.82,0,0,1,2.2,1.26.27.27,0,0,1-.07.38h0A.25.25,0,0,1,312.4,209.43Z"
                style="fill: rgb(38, 50, 56); transform-origin: 311.428px 208.596px;" id="eluyb5opj1fik"
                class="animable"></path>
            <path d="M270.4,281.5l8-49.07a4.85,4.85,0,0,1,5.11-4.07L308.84,230a4.87,4.87,0,0,1,4.46,5.8l-9.41,47.48Z"
                style="fill: rgb(31, 198, 80); transform-origin: 291.896px 255.815px;" id="el75foldemyce"
                class="animable"></path>
            <g id="el8twfg3jp9v3">
                <path d="M278.39,232.43l-4,24.48,5.11,2.72,6.86-23.58-7.74-4.54A4.79,4.79,0,0,0,278.39,232.43Z"
                    style="opacity: 0.2; transform-origin: 280.375px 245.57px;" class="animable"></path>
            </g>
            <polygon
                points="295.28 230.18 301.22 230.63 300 234.69 298.29 235.99 299.32 237.53 297.23 270.89 293.38 273.57 289.71 270.8 295.28 237.48 296.78 235.8 295.28 234.27 295.28 230.18"
                style="fill: rgb(38, 50, 56); transform-origin: 295.465px 251.875px;" id="el4qwf8uzf1ya"
                class="animable"></polygon>
            <polygon
                points="292.39 227.24 297.96 229.3 303.89 228.27 306.14 229.83 302.81 235.16 298.01 230.82 291.49 233.95 289.89 228.77 292.39 227.24"
                style="fill: rgb(31, 198, 80); transform-origin: 298.015px 231.2px;" id="elfnjiflbexq9"
                class="animable"></polygon>
            <g id="elhrmxtawxpu9">
                <polygon
                    points="292.39 227.24 297.96 229.3 303.89 228.27 306.14 229.83 302.81 235.16 298.01 230.82 291.49 233.95 289.89 228.77 292.39 227.24"
                    style="fill: rgb(255, 255, 255); opacity: 0.9; transform-origin: 298.015px 231.2px;"
                    class="animable"></polygon>
            </g>
            <path
                d="M298.85,216.6l1.63-.49-1.63-7.53,1.63-3.27s11.52-.32,11.23-6.84c0,0-1.27,2.44-3.37,2.43,0,0,1.66-4.61-2.59-5.12,0,0-.38,3-3,3.39,0,0,.88-2.72-3-3,0,0,2.22,2.68-2.59,5.81s-10.21,8.58-4.87,13c0,0,5.16,4.11,4.66,6.74Z"
                style="fill: rgb(38, 50, 56); transform-origin: 300.896px 208.75px;" id="el36gg96ncwy9"
                class="animable"></path>
            <path
                d="M294.92,216.89a5.16,5.16,0,0,0,2.79,2.51c1.59.57,2.42-.83,2-2.4-.37-1.42-1.65-3.42-3.26-3.32S294.22,215.46,294.92,216.89Z"
                style="fill: rgb(255, 195, 189); transform-origin: 297.227px 216.603px;" id="elc2can7yo50w"
                class="animable"></path>
            <path
                d="M314.8,394a.17.17,0,0,1-.06-.32c.11-.06,2.58-1.49,3.76-1.17a.91.91,0,0,1,.53.39.63.63,0,0,1,0,.73,3,3,0,0,1-2.08.56A13.06,13.06,0,0,1,314.8,394Zm.54-.23c1.32.15,3.11.13,3.44-.33,0-.06.09-.16,0-.37a.46.46,0,0,0-.33-.23,1.17,1.17,0,0,0-.32,0A7.73,7.73,0,0,0,315.34,393.72Z"
                style="fill: rgb(31, 198, 80); transform-origin: 316.897px 393.335px;" id="elm7jq3gaqvk"
                class="animable"></path>
            <path
                d="M314.71,393.94a.19.19,0,0,1-.08-.15,4.85,4.85,0,0,1,1.09-2.76,1.25,1.25,0,0,1,.93-.29c.46.05.61.28.63.47.15.8-1.54,2.35-2.39,2.73h-.07A.14.14,0,0,1,314.71,393.94Zm1.83-2.88a.89.89,0,0,0-.58.22,4,4,0,0,0-.93,2.18c.88-.53,2-1.74,1.94-2.22,0,0,0-.16-.33-.19Z"
                style="fill: rgb(31, 198, 80); transform-origin: 315.96px 392.343px;" id="elxvyead7wn0n"
                class="animable"></path>
            <path
                d="M314.07,393l-7.75,0a.64.64,0,0,0-.61.49l-1.36,6.31a1,1,0,0,0,.78,1.24l.22,0c2.79-.06,5.28-.23,8.75-.24,4.1,0,3.07.47,7.89.51,2.91,0,3.42-3.28,2.19-3.43-5.65-.68-6.24-2.38-8.43-4.39A2.49,2.49,0,0,0,314.07,393Z"
                style="fill: rgb(38, 50, 56); transform-origin: 314.561px 397.151px;" id="els9oeaocecdd"
                class="animable"></path>
            <path
                d="M170.32,443.05h-4.67a5.72,5.72,0,0,1-4.55-9.18l41.93-55a10.65,10.65,0,0,1,8.47-4.19h7.28a4.68,4.68,0,0,1,3.92,7.24l-33.21,50.78A22.9,22.9,0,0,1,170.32,443.05Z"
                style="fill: rgb(31, 198, 80); transform-origin: 191.699px 408.865px;" id="elcw1c68dr6rl"
                class="animable"></path>
            <g id="elurv3ni0h8k">
                <path
                    d="M170.37,443.05h-4.68a5.71,5.71,0,0,1-4.54-9.17l41.92-55a10.65,10.65,0,0,1,8.47-4.2h7.29a4.69,4.69,0,0,1,3.92,7.25l-33.22,50.77A22.89,22.89,0,0,1,170.37,443.05Z"
                    style="fill: rgb(255, 255, 255); opacity: 0.7; transform-origin: 191.746px 408.865px;"
                    class="animable"></path>
            </g>
            <path
                d="M329.39,216.78,277.82,288q-41.12,56.79-82.24,113.56l-19,26.16c-1.76,2.44,2,5.17,3.78,2.74L232,359.24l82.24-113.56,19-26.16c1.76-2.43-2-5.17-3.77-2.74Z"
                style="fill: rgb(31, 198, 80); transform-origin: 254.91px 323.621px;" id="elcrwj84t9d7t"
                class="animable"></path>
            <g id="elmbrxxcroyap">
                <g style="opacity: 0.3; transform-origin: 254.91px 323.621px;" class="animable">
                    <path
                        d="M329.39,216.78,277.82,288q-41.12,56.79-82.24,113.56l-19,26.16c-1.76,2.44,2,5.17,3.78,2.74L232,359.24l82.24-113.56,19-26.16c1.76-2.43-2-5.17-3.77-2.74Z"
                        style="fill: rgb(255, 255, 255); transform-origin: 254.91px 323.621px;" id="el8h40zg6kx0m"
                        class="animable"></path>
                </g>
            </g>
            <path
                d="M273.9,239.15s-7.09,11.13-3.51,20.22,21.36,3.1,21.36,3.1l2.5.93,5.49-2.24h3l.18-5.8-5.24-1.86-6.63,4.2L277,256.14l3.65-12.23Z"
                style="fill: rgb(255, 195, 189); transform-origin: 286.15px 251.778px;" id="elsi047wfrzj"
                class="animable"></path>
            <path d="M284,229h0a5.51,5.51,0,0,1,2.39,7l-5.28,12.29-11.29-6,6.76-11.3A5.52,5.52,0,0,1,284,229Z"
                style="fill: rgb(31, 198, 80); transform-origin: 278.33px 238.297px;" id="el5jy0mn25fe9"
                class="animable"></path>
            <path
                d="M119.3,443.41c15.54-.93,38.6.76,62.27.09s27.09-20.94-5.72-24.54,17.56,16.15-.88,14.69-38.44-38.25-54.09-33.45c-11.9,3.65,8.93,22.39,8.93,22.39s-26.62-18.82-36.41-8c-7.85,8.66,24.84,13.51,24.84,13.51S98.4,425.45,94,435.22C89.37,445.33,108.7,444.06,119.3,443.41Z"
                style="fill: rgb(31, 198, 80); transform-origin: 146.041px 421.804px;" id="el9vrtz74ycs5"
                class="animable"></path>
            <g id="elv9g0n75mlmg">
                <path
                    d="M119.3,443.41c15.54-.93,38.6.76,62.27.09s27.09-20.94-5.72-24.54,17.56,16.15-.88,14.69-38.44-38.25-54.09-33.45c-11.9,3.65,8.93,22.39,8.93,22.39s-26.62-18.82-36.41-8c-7.85,8.66,24.84,13.51,24.84,13.51S98.4,425.45,94,435.22C89.37,445.33,108.7,444.06,119.3,443.41Z"
                    style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 146.041px 421.804px;"
                    class="animable"></path>
            </g>
            <path d="M263.23,445.49h-6.45a.75.75,0,0,1,0-1.5h6.45a.75.75,0,0,1,0,1.5Z"
                style="fill: rgb(31, 198, 80); transform-origin: 260.005px 444.74px;" id="el29icng99ws3"
                class="animable"></path>
            <path d="M251,445.49h-9.08a.75.75,0,1,1,0-1.5H251a.75.75,0,0,1,0,1.5Z"
                style="fill: rgb(31, 198, 80); transform-origin: 246.46px 444.74px;" id="el68dt5x5tgjj"
                class="animable"></path>
            <path d="M234.46,445.49H142.11a.75.75,0,0,1,0-1.5h92.35a.75.75,0,1,1,0,1.5Z"
                style="fill: rgb(31, 198, 80); transform-origin: 188.285px 444.74px;" id="eletvo1xk3hd9"
                class="animable"></path>
        </g>
        <g id="freepik--character-4--inject-15" class="animable" style="transform-origin: 378.835px 294.5px;">
            <polygon points="395.08 380.12 396.16 392.67 402.89 392.28 402.39 379.23 395.08 380.12"
                style="fill: rgb(206, 122, 99); transform-origin: 398.985px 385.95px;" id="elx00lalo6eqj"
                class="animable"></polygon>
            <polygon points="337.59 375.61 332.43 387 338.34 390.42 344.23 378.93 337.59 375.61"
                style="fill: rgb(206, 122, 99); transform-origin: 338.33px 383.015px;" id="el1hnwy72josx"
                class="animable"></polygon>
            <path
                d="M381.69,274s16.28,43.81,19.24,59.29c2.34,12.24,2.51,50,2.51,50l-9,.78s-2.07-18.21-4.16-33.28a109.5,109.5,0,0,0-3.4-16.19c-3.66-11.81-17-32-21.3-43.58-1.48-4-3.11-16.89-3.11-16.89Z"
                style="fill: rgb(38, 50, 56); transform-origin: 382.955px 329.035px;" id="eltly6kgiyrx"
                class="animable"></path>
            <polygon points="392.87 381.78 404.69 380.79 404.67 385.38 393.64 386.17 392.87 381.78"
                style="fill: rgb(31, 198, 80); transform-origin: 398.78px 383.48px;" id="elml022xuob0c"
                class="animable"></polygon>
            <g id="elz4esj8tshl">
                <path
                    d="M371.81,283.91l-7.94,6.64c1.85,3.59,9.69,15.78,12.31,20C377.09,300.41,371.81,283.91,371.81,283.91Z"
                    style="opacity: 0.5; transform-origin: 370.078px 297.23px;" class="animable"></path>
            </g>
            <path
                d="M378.17,274s-8.11,50.5-13.16,66.46c-3.59,11.37-22.13,42.39-22.13,42.39l-7.36-4.07s7-16.83,11.88-29.9c1.66-4.45,3.67-8.48,4.25-11.24,2.51-11.81,1.53-36.24,2.21-48.31.22-3.83,1.86-15.23,1.86-15.23Z"
                style="fill: rgb(38, 50, 56); transform-origin: 356.845px 328.425px;" id="elkghoi8add9"
                class="animable"></path>
            <polygon points="335.54 375.75 333.61 379.87 343.04 385.13 345.19 381.13 335.54 375.75"
                style="fill: rgb(31, 198, 80); transform-origin: 339.4px 380.44px;" id="el8fyus9iixlr" class="animable">
            </polygon>
            <path
                d="M403.61,392.32a.15.15,0,0,1-.12-.13.16.16,0,0,1,.07-.16c.1-.06,2.27-1.42,3.32-1.13a.77.77,0,0,1,.46.37.64.64,0,0,1,0,.69,2.58,2.58,0,0,1-1.84.53A9.43,9.43,0,0,1,403.61,392.32Zm.48-.22c1.16.15,2.74.12,3-.32,0-.06.08-.15,0-.35a.4.4,0,0,0-.29-.22.72.72,0,0,0-.29,0A6.56,6.56,0,0,0,404.09,392.1Z"
                style="fill: rgb(31, 198, 80); transform-origin: 405.464px 391.681px;" id="ele50isr6j047"
                class="animable"></path>
            <path
                d="M403.53,392.32a.17.17,0,0,1-.06-.15,4.74,4.74,0,0,1,1-2.6,1.07,1.07,0,0,1,.83-.28c.4,0,.53.26.55.44.13.75-1.37,2.22-2.11,2.58a.08.08,0,0,1-.07,0Zm1.63-2.73a.74.74,0,0,0-.51.2,3.9,3.9,0,0,0-.83,2.07c.77-.5,1.76-1.65,1.72-2.1,0,0,0-.16-.3-.18Z"
                style="fill: rgb(31, 198, 80); transform-origin: 404.663px 390.803px;" id="el1vaznd763i1"
                class="animable"></path>
            <path
                d="M403,391.39l-6.81.08a.58.58,0,0,0-.54.47l-1.22,6a1,1,0,0,0,.68,1.16.68.68,0,0,0,.2,0c2.45-.07,4.64-.24,7.7-.27,3.61,0,2.69.43,6.93.45,2.56,0,3-3.12,1.94-3.26-5-.62-5.48-2.22-7.4-4.1A2.07,2.07,0,0,0,403,391.39Z"
                style="fill: rgb(38, 50, 56); transform-origin: 403.413px 395.334px;" id="elsh4967ackus"
                class="animable"></path>
            <path
                d="M338.82,390.67a.19.19,0,0,1-.05-.18.18.18,0,0,1,.14-.11c.11,0,2.61-.13,3.41.66a.91.91,0,0,1,.25.56.63.63,0,0,1-.29.62c-.38.19-1.16-.07-1.85-.45A10.67,10.67,0,0,1,338.82,390.67Zm.52,0c1,.71,2.36,1.47,2.81,1.22.06,0,.13-.09.12-.32a.44.44,0,0,0-.16-.34.81.81,0,0,0-.24-.17A6.42,6.42,0,0,0,339.34,390.71Z"
                style="fill: rgb(31, 198, 80); transform-origin: 340.67px 391.328px;" id="elw98x202199l"
                class="animable"></path>
            <path
                d="M338.76,390.62a.15.15,0,0,1,0-.16c0-.07,1-1.6,2-1.83a1,1,0,0,1,.85.16c.34.24.36.5.29.67-.21.73-2.16,1.29-3,1.24l-.06,0A.16.16,0,0,1,338.76,390.62Zm2.61-1.61a.73.73,0,0,0-.54-.07,3.53,3.53,0,0,0-1.62,1.42c.9-.06,2.26-.59,2.42-1,0,0,0-.16-.18-.31l-.08,0Z"
                style="fill: rgb(31, 198, 80); transform-origin: 340.335px 389.65px;" id="elbsivmxde4qt"
                class="animable"></path>
            <path
                d="M338.66,389.52l-6-3.33a.53.53,0,0,0-.68.14l-3.66,4.7a1,1,0,0,0,.1,1.38l.16.12c2.19,1.16,4.19,2.1,6.9,3.6,3.19,1.76,2.18,1.73,5.91,3.86,2.25,1.29,4-1.26,3.12-1.93-4.1-3-3.86-4.71-4.74-7.34A2.24,2.24,0,0,0,338.66,389.52Z"
                style="fill: rgb(38, 50, 56); transform-origin: 336.416px 393.236px;" id="el2qj0cmlu3wh"
                class="animable"></path>
            <path d="M384.86,198.38s5.49.72,4.34-3.48c0,0-.25,1.26-6.23,1S384.86,198.38,384.86,198.38Z"
                style="fill: rgb(38, 50, 56); transform-origin: 385.043px 196.663px;" id="elgrgljfcuhz7"
                class="animable"></path>
            <g id="el4n1htmnyqa">
                <path d="M384.86,198.38s5.49.72,4.34-3.48c0,0-.25,1.26-6.23,1S384.86,198.38,384.86,198.38Z"
                    style="opacity: 0.9; transform-origin: 385.043px 196.663px;" class="animable"></path>
            </g>
            <path
                d="M395.54,230.33l3.34,3.53a.65.65,0,0,0,1.12-.51l-1.66-17.84-3-5.49a2.65,2.65,0,0,1-.22-2l.46-1.65a2.62,2.62,0,0,0,.09-.56v0a2.67,2.67,0,0,1,2.66-2.52h0a2.68,2.68,0,0,1,1.48.45l3.09,2.08a2.66,2.66,0,0,1,1.12,2.8l-1.41,6.25s6.81,26.3,2,29.1c-4.43,2.57-14-6-14-6Z"
                style="fill: rgb(206, 122, 99); transform-origin: 398.47px 223.87px;" id="elsjky62deg3"
                class="animable"></path>
            <path
                d="M383.6,224.89a5.21,5.21,0,0,1,4.68-2.14c3.68.26,10.92,8.51,10.92,8.51l-6.55,10.42s-8.59-7.57-10-10.7A5.43,5.43,0,0,1,383.6,224.89Z"
                style="fill: rgb(31, 198, 80); transform-origin: 390.656px 232.205px;" id="elma61n4uwmtn"
                class="animable"></path>
            <g id="elq92etf8fwqp">
                <path d="M389,238.25c.26-4.15.41-8.68.41-8.68l-3.14,5.94C387.11,236.45,388.06,237.39,389,238.25Z"
                    style="opacity: 0.2; transform-origin: 387.84px 233.91px;" class="animable"></path>
            </g>
            <path
                d="M375.67,223.39l3.34-1.15a6.45,6.45,0,0,1,.71-2.84,17.28,17.28,0,0,1,.93-1.69l-3.16-5.33-2.32-3.91c-.46,3.89-1.78,10.49-4.72,12.95Z"
                style="fill: rgb(206, 122, 99); transform-origin: 375.55px 215.93px;" id="elvgh25ypy9yo"
                class="animable"></path>
            <g id="el0r6xf8ghdix">
                <path d="M380.65,217.71a17.6,17.6,0,0,0-.93,1.71c-1.55-.94-3.15-3.52-2.77-5.31a7.9,7.9,0,0,1,.54-1.73Z"
                    style="opacity: 0.2; isolation: isolate; transform-origin: 378.772px 215.9px;" class="animable">
                </path>
            </g>
            <path
                d="M354.45,225.26l.56,50.43,3,.46a57,57,0,0,0,24.46-1.65h0L390,226.4a3.14,3.14,0,0,0-3-3.75l-29.34-.51A3.14,3.14,0,0,0,354.45,225.26Z"
                style="fill: rgb(31, 198, 80); transform-origin: 372.255px 249.462px;" id="elnc3z41whqt"
                class="animable"></path>
            <g id="el8j6kc7exhv4">
                <path d="M354.39,247.48c3.36-6,6.23-17,6.23-17l-6.19,3.06Z"
                    style="opacity: 0.2; transform-origin: 357.505px 238.98px;" class="animable"></path>
            </g>
            <path
                d="M373.11,205.32c1.31,5.58,1.78,8.9,5.13,11.4a7.45,7.45,0,0,0,12-5.55c.35-5.22-1.84-13.46-7.76-14.95a7.53,7.53,0,0,0-9.33,9.1Z"
                style="fill: rgb(206, 122, 99); transform-origin: 381.598px 207.109px;" id="el1qs1a5l5equ"
                class="animable"></path>
            <path d="M382,205.74c.07.46.39.79.68.73s.48-.45.41-.9-.39-.8-.69-.73S381.87,205.29,382,205.74Z"
                style="fill: rgb(38, 50, 56); transform-origin: 382.534px 205.654px;" id="elhrpwyhp8ea"
                class="animable"></path>
            <path d="M387.15,205c.07.46.38.79.68.73s.48-.45.41-.91-.39-.79-.69-.72S387.07,204.58,387.15,205Z"
                style="fill: rgb(38, 50, 56); transform-origin: 387.693px 204.914px;" id="elgerzk7ee5f"
                class="animable"></path>
            <path d="M385.53,205.49a17.65,17.65,0,0,0,2.87,3.63,2.72,2.72,0,0,1-2.13.73Z"
                style="fill: rgb(186, 77, 60); transform-origin: 386.965px 207.676px;" id="elk4ck3tbc15m"
                class="animable"></path>
            <path
                d="M384.6,211.3a3.94,3.94,0,0,1-2.9-1.15.13.13,0,0,1,0-.18.14.14,0,0,1,.2,0h0a3.77,3.77,0,0,0,3.21,1,.13.13,0,0,1,.17.08.14.14,0,0,1-.08.18h-.05A3.31,3.31,0,0,1,384.6,211.3Z"
                style="fill: rgb(38, 50, 56); transform-origin: 383.476px 210.615px;" id="elqnzqpbpjvjn"
                class="animable"></path>
            <path
                d="M380.06,204.29a.28.28,0,0,1-.13,0,.27.27,0,0,1-.13-.36h0a2.65,2.65,0,0,1,2-1.46.27.27,0,0,1,.28.25h0a.27.27,0,0,1-.25.29h0a2.13,2.13,0,0,0-1.57,1.12A.25.25,0,0,1,380.06,204.29Z"
                style="fill: rgb(38, 50, 56); transform-origin: 380.927px 203.384px;" id="elgeuqx83rn5"
                class="animable"></path>
            <path
                d="M389.08,203a.27.27,0,0,1-.23-.12,2.27,2.27,0,0,0-1.74-1,.27.27,0,0,1-.22-.32.28.28,0,0,1,.22-.23h0a2.83,2.83,0,0,1,2.18,1.25.27.27,0,0,1-.06.38h0A.24.24,0,0,1,389.08,203Z"
                style="fill: rgb(38, 50, 56); transform-origin: 388.114px 202.165px;" id="el9gzmcb9ohz"
                class="animable"></path>
            <polygon
                points="373.01 225.22 374.75 228.7 375.27 229.46 372.54 257.26 376.19 260.49 379.83 256.76 376.91 229.46 377.49 228.36 379.06 225.21 377.81 223.39 374.58 222.67 373.01 225.22"
                style="fill: rgb(38, 50, 56); transform-origin: 376.185px 241.58px;" id="eluqey2auhg5s"
                class="animable"></polygon>
            <polygon
                points="369.75 220.06 375.79 222.39 380.69 220.25 383.27 223.19 380.75 229.23 375.75 224.05 370.81 229.46 367.27 222.7 369.75 220.06"
                style="fill: rgb(31, 198, 80); transform-origin: 375.27px 224.76px;" id="elism7ga6hw8" class="animable">
            </polygon>
            <g id="elzd6p6i4hm7b">
                <polygon
                    points="369.75 220.06 375.79 222.39 380.69 220.25 383.27 223.19 380.75 229.23 375.75 224.05 370.81 229.46 367.27 222.7 369.75 220.06"
                    style="fill: rgb(255, 255, 255); opacity: 0.9; transform-origin: 375.27px 224.76px;"
                    class="animable"></polygon>
            </g>
            <rect x="390.83" y="203.91" width="4.61" height="3.31"
                style="fill: rgb(38, 50, 56); transform-origin: 393.135px 205.565px;" id="el577kx67b4yn"
                class="animable"></rect>
            <g id="elhy2p401y3x">
                <rect x="390.83" y="203.91" width="4.61" height="3.31"
                    style="fill: rgb(255, 255, 255); opacity: 0.2; transform-origin: 393.135px 205.565px;"
                    class="animable"></rect>
            </g>
            <rect x="394.97" y="203.15" width="15.32" height="4.9"
                style="fill: rgb(38, 50, 56); transform-origin: 402.63px 205.6px;" id="elroy2sfkab9" class="animable">
            </rect>
            <g id="el90loh5tfbeq">
                <rect x="394.97" y="203.15" width="15.32" height="4.9"
                    style="fill: rgb(255, 255, 255); opacity: 0.4; transform-origin: 402.63px 205.6px;"
                    class="animable"></rect>
            </g>
            <rect x="408.98" y="202.56" width="18.97" height="6.07"
                style="fill: rgb(38, 50, 56); transform-origin: 418.465px 205.595px;" id="elbzwvpc435d"
                class="animable"></rect>
            <g id="el6743krealll">
                <rect x="408.98" y="202.56" width="18.97" height="6.07"
                    style="fill: rgb(255, 255, 255); opacity: 0.5; transform-origin: 418.465px 205.595px;"
                    class="animable"></rect>
            </g>
            <path
                d="M345.88,235.27s-6.64,9-6.43,12.55c.34,5.62,12.61,18.68,12.61,18.68l1.54,4.91a2.49,2.49,0,0,0,1.18,1.44l4,2.16a2.49,2.49,0,0,0,3.28-.83l.92-1.41a2.51,2.51,0,0,0-.23-3L361.16,268l-.24-.24-5.05-3.42s-4-7.05-6.14-12.13a13.79,13.79,0,0,1-1.35-4.85c0-2.69,4.79-9.66,4.79-9.66Z"
                style="fill: rgb(206, 122, 99); transform-origin: 351.408px 255.292px;" id="el44s7cxk5qvy"
                class="animable"></path>
            <path
                d="M358.93,222.74c-1.35-1-4.49-.75-6,0-3.89,2-10.15,13.59-10.15,13.59l11.27,6.17s6.73-10.12,7.06-14.14C361.28,226.71,360.29,223.71,358.93,222.74Z"
                style="fill: rgb(31, 198, 80); transform-origin: 351.954px 232.29px;" id="eln7v1pwveoko"
                class="animable"></path>
            <rect x="389.85" y="203.5" width="1.96" height="4.23"
                style="fill: rgb(31, 198, 80); transform-origin: 390.83px 205.615px;" id="el9xsesfgfszq"
                class="animable"></rect>
            <rect x="427.62" y="201.91" width="1.96" height="7.34"
                style="fill: rgb(31, 198, 80); transform-origin: 428.6px 205.58px;" id="elag2ouo3845" class="animable">
            </rect>
            <path
                d="M374.24,210.08s2.18-1.27,1.9-5.78a5.78,5.78,0,0,0,2.25-4.63s11.34-1.87,9.3-5.91-10.17-5.11-10.17-5.11,2.59,4-4.65,7.76-.7,13.45-.7,13.45Z"
                style="fill: rgb(38, 50, 56); transform-origin: 378.698px 199.365px;" id="elh8mco6jfcv5"
                class="animable"></path>
            <path
                d="M371.77,210.36a5,5,0,0,0,2.76,2.48c1.57.58,2.4-.82,2-2.37s-1.63-3.39-3.23-3.28S371.07,208.94,371.77,210.36Z"
                style="fill: rgb(206, 122, 99); transform-origin: 374.058px 210.08px;" id="eluut8w1ozraf"
                class="animable"></path>
            <path d="M370,200.57s-3.49-2.07-2.25-3.48S370,200.57,370,200.57Z"
                style="fill: rgb(38, 50, 56); transform-origin: 368.742px 198.702px;" id="el3cg4053kjhd"
                class="animable"></path>
            <path
                d="M383.15,212.81a4,4,0,0,1-1.58-2.7.14.14,0,0,1,.27,0h0a3.86,3.86,0,0,0,1.9,2.79.13.13,0,0,1,.05.18h0a.13.13,0,0,1-.19.05h0Q383.38,213,383.15,212.81Z"
                style="fill: rgb(38, 50, 56); transform-origin: 382.689px 211.58px;" id="elawkp4zyy5gf"
                class="animable"></path>
        </g>
        <defs>
            <filter id="active" height="200%">
                <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>
                <feFlood flood-color="#32DFEC" flood-opacity="1" result="PINK"></feFlood>
                <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
                <feMerge>
                    <feMergeNode in="OUTLINE"></feMergeNode>
                    <feMergeNode in="SourceGraphic"></feMergeNode>
                </feMerge>
            </filter>
            <filter id="hover" height="200%">
                <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>
                <feFlood flood-color="#ff0000" flood-opacity="0.5" result="PINK"></feFlood>
                <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
                <feMerge>
                    <feMergeNode in="OUTLINE"></feMergeNode>
                    <feMergeNode in="SourceGraphic"></feMergeNode>
                </feMerge>
                <feColorMatrix type="matrix"
                    values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 ">
                </feColorMatrix>
            </filter>
        </defs>
    </svg>
</template>

<style scoped>
svg#freepik_stories-good-team:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-good-team.animated #freepik--background-complete--inject-15 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn, 1.5s Infinite linear floating;
    animation-delay: 0s, 1s;
}

svg#freepik_stories-good-team.animated #freepik--Arrow--inject-15 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-good-team.animated #freepik--character-1--inject-15 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-good-team.animated #freepik--character-2--inject-15 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-good-team.animated #freepik--character-3--inject-15 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-good-team.animated #freepik--character-4--inject-15 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: 0s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
</style>