<template>
  <div>
    <!-- Componente Navbar -->
    <Navbar />
    <!-- Vista de la página actual -->
    <router-view />
    <!-- Componente Footer -->
    <Footer />
  </div>
</template>

<script setup>
import Navbar from "../components/Navbar.vue";
import Footer from "../components/Footer.vue";
</script>

<style scoped>
/* Estilos específicos del layout */
</style>
