<template>
  <ModalServices
    :title="serviceData.modal.title"
    :titleLineaW="serviceData.modal.titleLineaW"
    :LineaW="serviceData.modal.LineaW"
    :HLineaW="serviceData.modal.HLineaW"
    :titleLineaP="serviceData.modal.titleLineaP"
    :LineaP="serviceData.modal.LineaP"
    :HLineaP="serviceData.modal.HLineaP"
    :titleLineaT="serviceData.modal.titleLineaT"
    :LineaT="serviceData.modal.LineaT"
    :HLineaT="serviceData.modal.HLineaT"
    :button="serviceData.modal.button"
    :linkButton="serviceData.modal.linkButton"
  />
  <SubHero :title="serviceTitle" :bg="serviceData.subheroimg" />
  <div class="">
    <ServicesInfo1
      class="lg:px-40 xl:px-96 px-5 pb-20 pt-10 space-y-10"
      :title="serviceData.info1.title"
      :span="serviceData.info1.span"
      :paragraph1="serviceData.info1.paragraph1"
      :paragraph2="serviceData.info1.paragraph2"
      :ctaText="serviceData.info1.ctaText"
      :ctaLink="serviceData.info1.ctaLink"
      :link="serviceData.info1.link"
      :image="serviceData.info1.images"
    />
    <Estadistica
      v-if="serviceData.services"
      class="mb-8"
      title="Capacidad Instalada"
      :services="serviceData.services.services"
      :bgImage="serviceData.statsimg"
      :order="serviceData.services.order"
    />
    <Titles
    customClass="text-wrap"
      v-if="serviceData.title2"
      :title="serviceData.title2"
      class="text-center"
      data-aos="zoom-in"
      data-aos-duration="800"
    />
    <ServicesCard
      v-if="serviceData.cards"
      class="lg:px-20 xl:px-40 pb-20 pt-10"
      :titleL="serviceData.cards.titleL"
      :titleC="serviceData.cards.titleC"
      :titleR="serviceData.cards.titleR"
      :paragraphL="serviceData.cards.paragraphL"
      :paragraphC="serviceData.cards.paragraphC"
      :paragraphR="serviceData.cards.paragraphR"
      :imageSrcL="serviceData.cards.imageSrcL"
      :imageSrcC="serviceData.cards.imageSrcC"
      :imageSrcR="serviceData.cards.imageSrcR"
    />
    <Titles
    customClass="text-wrap"
      v-if="serviceData.title3"
      :title="serviceData.title3"
      class="text-center"
      data-aos="zoom-in"
      data-aos-duration="800"
    />
    <ServicesInfo2
      v-if="serviceData.info2"
      :img="serviceData.info2.img"
      class="lg:px-40 xl:px-96 pb-20 pt-10 space-y-10"
      :list="serviceData.info2.list"
    />
    <div class="lg:px-40 xl:px-96 pb-20 space-y-10">
      <CollapsibleSection
        v-for="(item, index) in serviceData.info3"
        :key="index"
        :title="item.title"
      >
        <div v-html="item.description" class="text-justify"></div>
      </CollapsibleSection>
    </div>
    <!-- <ServicesInfo4 class="lg:px-40 xl:px-96 pb-20 pt-10 space-y-10"/> -->
  </div>
  <p></p>
</template>

<script setup>
import { computed } from "vue";
import { useRoute } from "vue-router"; // Importa useRoute
import SubHero from "@/components/SubHero.vue";
import ModalServices from "@/components/ModalServices.vue";
import Estadistica from "@/components/Estadistica.vue";
import Titles from "@/components/Titles.vue";
import ServicesCard from "@/components/ServicesCard.vue";
import ServicesInfo1 from "@/components/ServicesInfo1.vue";
import ServicesInfo2 from "@/components/ServicesInfo2.vue";
import CollapsibleSection from "@/components/CollapsibleSection.vue";
import imguci1 from "@/assets/uci/1.webp";
import imglab1 from "@/assets/laboratorio/1.webp";
import imglab2 from "@/assets/laboratorio/2.webp";
import imglab3 from "@/assets/laboratorio/3.webp";
import imgimg1 from "@/assets/imagenologia/1.webp";
import imgimg2 from "@/assets/imagenologia/2.webp";
import imgimg3 from "@/assets/imagenologia/3.webp";
import imgimg4 from "@/assets/imagenologia/4.webp";
import imgimg5 from "@/assets/imagenologia/5.webp";
import imgurg1 from "@/assets/urgencias/1.webp";
import imgurg2 from "@/assets/urgencias/2.webp";
import imgurg3 from "@/assets/urgencias/3.webp";
import imgurg4 from "@/assets/urgencias/4.webp";
import imgurg5 from "@/assets/urgencias/5.webp";
import imgurg6 from "@/assets/urgencias/6.webp";
import imgurg7 from "@/assets/urgencias/7.webp";
import imgurg8 from "@/assets/urgencias/8.webp";
import imgurg9 from "@/assets/urgencias/9.webp";
import imgquiru1 from "@/assets/quirurgicos/quirurgicos1.webp";
import imgquiru2 from "@/assets/quirurgicos/quirurgicos2.webp";
import imgquiru3 from "@/assets/quirurgicos/quirurgicos3.webp";
import imgquiru4 from "@/assets/quirurgicos/quirurgicos4.webp";
import imgquiru5 from "@/assets/quirurgicos/quirurgicos5.webp";
import imgquiru6 from "@/assets/quirurgicos/quirurgicos6.webp";
import imgquiru7 from "@/assets/quirurgicos/quirurgicos7.webp";
import imgquiru8 from "@/assets/quirurgicos/quirurgicos8.webp";
import imgquiru9 from "@/assets/quirurgicos/quirurgicos9.webp";
import imgambu1 from "@/assets/ambulatorio/1.webp";
import imgambu2 from "@/assets/ambulatorio/2.webp";
import imgambu3 from "@/assets/ambulatorio/3.webp";
import imgambu4 from "@/assets/ambulatorio/4.webp";
import imgambu5 from "@/assets/ambulatorio/5.webp";
import imgambu6 from "@/assets/ambulatorio/6.webp";
import imgambu7 from "@/assets/ambulatorio/7.webp";
import imgambu8 from "@/assets/ambulatorio/8.webp";
import imgambu9 from "@/assets/ambulatorio/9.webp";
import imgambu10 from "@/assets/ambulatorio/10.webp";
import imghospi1 from "@/assets/hospitalizacion/1.webp";
import imghospi2 from "@/assets/hospitalizacion/2.webp";
import imghospi3 from "@/assets/hospitalizacion/3.webp";
import imghospi4 from "@/assets/hospitalizacion/4.webp";
import imghospi5 from "@/assets/hospitalizacion/5.webp";
import imghospi6 from "@/assets/hospitalizacion/6.webp";
import imghospi7 from "@/assets/hospitalizacion/7.webp";
import imghospi8 from "@/assets/hospitalizacion/8.webp";
import imghospi10 from "@/assets/hospitalizacion/10.webp";
import imghospi11 from "@/assets/hospitalizacion/11.webp";
import imgquiru10 from "@/assets/quirurgicos/quirurgicos10.webp";
import img3 from "@/assets/urgencias/5.webp";
// import ServicesInfo4 from "@/components/ServicesInfo4.vue";
// import Paragraph from "@/components/Paragraph.vue";

const servicesData = {
  cirugia: {
    subheroimg: imgquiru1,
    statsimg: imgquiru5,
    title: "Cirugía",
    title2: "Ruta de Atención Quirúrgica",
    title3: "Nuestros Servicios",
    info1: {
      title: "Procedimientos Quirúrgicos Especializados con el",
      span: "Mejor Equipo Médico",
      paragraph1:
        "Nuestro servicio de cirugía abarca una amplia variedad de procedimientos quirúrgicos desde cirugías de emergencia hasta intervenciones programadas, realizados por cirujanos especializados y personal de apoyo altamente calificado. Disponemos de quirófanos equipados con tecnología avanzada y medidas de seguridad estrictas para garantizar la eficacia y seguridad de cada intervención, siempre con un enfoque en el bienestar, la recuperación rápida del paciente y el acompañamiento continuo para su familia.",
      paragraph2: "",
      ctaText: "Lineas y Horarios de Atención",
      images: [
        imgquiru1,
        imgquiru2,
        imgquiru3,
        imgquiru4,
        imgquiru5,
        imgquiru6,
        imgquiru7,
        imgquiru8,
        imgquiru9,
        imgquiru10,
      ],
    },
    services: {
      services: [
        {
          title: "Quirófanos",
          span: "",
          parrafo: "6",
          icon: "hospital-user",
        },
        {
          title: "Camillas de Recuperación",
          span: "",
          parrafo: "14",
          icon: "bed-pulse",
        },
        {
          title: "Especialistas",
          span: "",
          parrafo: "+100",
          icon: "user-doctor",
        },
        {
          title: "Procedimientos al mes",
          span: "",
          parrafo: "+1000",
          icon: "hand-holding-hand",
        },
      ],
    },
    cards: {
      titleL: "Unidad de Alistamiento Pre-Quirúrgico",
      titleC: "Quirófanos",
      titleR: "Unidad de Cuidados Pos-Anestésico",
      paragraphL:
        "Ofrecemos un espacio cómodo para preparar tu cirugía, donde el personal asistencial verificará que cumplas con los criterios para ser trasladado a quirófano y comenzar el procedimiento programado.",
      paragraphC:
        "Contamos con 6 quirófanos dotados con tecnología avanzada para la ejecución de procedimientos quirúrgicos de baja, mediana y alta complejidad que garantizan la seguridad clínica y una experiencia exitosa para nuestros usuarios.",
      paragraphR:
        "Disponemos de 14 cubículos de recuperación posanestésicos, donde serás atendido por un equipo interdisciplinar de alta eficiencia, que se encargara de cuidarte una vez halla finalizado tu cirugía.",
      imageSrcL: imgquiru2,
      imageSrcC: imgquiru6,
      imageSrcR: imgquiru3,
    },
    info2: {
      list: [
        "Cirugía Gastrointestinal",
        "Cirugía Gastrointestinal Oncológica",
        "Coloproctología",
        "Cirugía General",
        "Cirugía Bariátrica",
        "Cirugía Plástica y Estetica",
        "Cirugía de la Mano",
        "Cirugía Urológica",
        "Cirugía de Tórax",
        "Cirugía de Cabeza y Cuello",
        "Otorrinolaringología",
        "Cirugía Vascular Periferica",
        "Cirugía de mama y tumores tejidos blandos",
        "Cirugía Ginecológica",
        "Cirugía Oftalmologica",
        "Neurocirugía",
        "Ginecología Oncológica",
        "Urología Oncológica",
        "Ortopedia y Traumatología",
        "Reemplazos Articulares: Cadera y Rodilla",
        "Miembro inferior: Pie y Tobillo",
        "Miembro Superior: Hombro, Codo y mano",
      ],
      img: imgquiru5,
    },
    modal: {
      title: "Lineas y Horarios de Atención",
      titleLineaW: "WhatsApp",
      LineaW: "+573163419491",
      HLineaW: "Lunes a Sábado 7:00 am a 12:00 pm y de 13:00 pm a 16:30 pm",
      titleLineaP: "Atención Presencial",
      LineaP: "Crr 33 #53-27 Sede principal Primer piso",
      HLineaP: "Lunes a Sábado 7:00 am a 12:00 pm y de 13:00 pm a 16:30 pm",
    },
  },
  hospitalizacion: {
    subheroimg: imghospi2,
    statsimg: imghospi4,
    title: "Hospitalización",
    title2: "",
    title3: "",
    info1: {
      title: "Tu Recuperación en un",
      span: "Ambiente Cálido y Seguro",
      paragraph1:
        "La mejor experiencia combina la atención médica de alta calidad con un enfoque integral en la comodidad y bienestar del paciente. El equipo de profesionales médicos y de enfermería ofrece cuidado continuo y personalizado, asegurando que todas las necesidades físicas y emocionales del paciente sean atendidas. Se fomenta la comunicación asertiva centrada en el paciente y sus familiares, que contribuye a su pronta recuperación y satisfacción durante toda la estancia.",
      paragraph2: "",
      ctaText: "Horarios de visita",
      images: [
        imghospi1,
        imghospi2,
        imghospi3,
        imghospi4,
        imghospi5,
        imghospi6,
        imghospi7,
        imghospi8,
        imghospi10,
        imghospi11,
      ],
    },
    services: {
      services: [
        {
          title: "Camas",
          span: "Entre pediátricas y adultos",
          parrafo: "123",
          icon: "bed",
        },
        {
          title: "Areas de hospitalizacion",
          span: "",
          parrafo: "4",
          icon: "hospital-user",
        },
        {
          title: "Profesionales de la salud",
          span: "",
          parrafo: "+700",
          icon: "user-nurse",
        },
      ],
    },
    cards: {
      titleL: "Habitaciones bipersonales",
      titleC: "Habitaciones VIP",
      titleR: "Estaciones de Enfermer'ia",
      paragraphL:
        "Amplias y co'modas habitaciones que permiten la atenci'on hospitalaria de dos pacientes, garantizando la privacidad de cada uno de estos con barreras fisicas (cortinas), as'i como la presencia de un acompañante.",
      paragraphC:
        "Confortables habitaciones individuales, que brindan comodidad, privacidad y seguridad al paciente y sus acompañantes.",
      paragraphR:
        "Areas que permiten la monitorizaci'on y seguimiento del paciente para una respuesta oportuna ante cualquier situaci'on cr'itica o llamado del paciente.",
      imageSrcL: imghospi5,
      imageSrcC: imghospi2,
      imageSrcR: imghospi1,
    },
    // info2: {
    //   list: [
    //     "Cirugía Gastrointestinal",
    //     "Cirugía Gastrointestinal Oncológica",
    //     "Coloproctología",
    //     "Cirugía General",
    //     "Cirugía Bariátrica",
    //     "Cirugía Plástica y Estetica",
    //     "Cirugía de la Mano*",
    //     "Cirugía Urológica",
    //     "Cirugía de Tórax",
    //     "Cirugía de Cabeza y Cuello",
    //     "Otorrinolaringología",
    //     "Cirugía Vascular Periferica",
    //     "Cirugía de mama y tumores tejidos blandos",
    //     "Cirugía Ginecológica",
    //     "Cirugía Oftalmologica",
    //     "Neurocirugía",
    //     "Ginecología Oncológica",
    //     "Urología Oncológica",
    //     "Ortopedia y Traumatología",
    //     "Reemplazos Articulares: Cadera y Rodilla",
    //     "Miembro inferior: Pie y Tobillo",
    //     "Miembro Superior: Hombro, Codo y mano",
    //   ],
    //   img: imghospi5,
    // },
    modal: {
      title: "Horarios de Visita",
      titleLineaP: "",
      LineaP: "Crr 33-53-27 Sede principal Pisos 3 y 4",
      HLineaP: "Lunes a Domingo de 9:00 am a 7:00 pm.",
    },
  },
  ambulatoria_especializada: {
    subheroimg: imgambu9,
    statsimg: imghospi4,
    title: "Servicios Ambulatorios",
    title2: "",
    title3: "Nuestros Servicios",
    info1: {
      title: "Accede a Atención Médica Especializada en el",
      span: "Momento que lo Necesites",
      paragraph1:
        "El servicio de consulta ambulatoria y especializada brinda atención médica personalizada, a través de especialistas en diversas áreas de la medicina, que ofrecen diagnósticos precisos y tratamientos enfocados en la prevención y el bienestar a largo plazo. Las consultas son realizadas en un entorno cómodo y privado, asegurando que el paciente reciba la información y orientación necesaria para su cuidado, con un enfoque integral y humano para su salud física y emocional.",
      paragraph2: "",
      ctaLink: "Agenda tu Cita",
      link: "/citas",
      images: [
        imgambu1,
        imgambu2,
        imgambu3,
        imgambu4,
        imgambu5,
        imgambu6,
        imgambu7,
        imgambu8,
        imgambu9,
        imgambu10,
      ],
    },
    services: {
      services: [
        {
          title: "Sedes Habilitadas",
          span: "En el area metropolitana",
          parrafo: "3",
          icon: "hospital",
        },
        {
          title: "Consultorios",
          span: "En todas nuestras sedes",
          parrafo: "20",
          icon: "hospital-user",
        },
        {
          title: "Especialistas",
          span: "",
          parrafo: "50",
          icon: "user-doctor",
        },
        {
          title: "Especialidades",
          span: "y subespecialidades",
          parrafo: "17",
          icon: "staff-snake",
        },
      ],
    },
    cards: {
      titleL: "Consulta General",
      titleC: "Consulta Especializada",
      titleR: "Atención Accesible",
      paragraphL:
        "Ofrecemos consultas generales para todas las edades, con un equipo médico calificado que atenderá tus necesidades de salud de manera eficiente y cercana.",
      paragraphC:
        "Disponemos de más de 50 consultorios donde brindamos consultas en múltiples especialidades, asegurando un diagnóstico y tratamiento adecuado según tu condición.",
      paragraphR:
        "Nuestro servicio está diseñado para atender a todo público, garantizando un acceso fácil y una experiencia centrada en el paciente.",
      imageSrcL: imgambu1,
      imageSrcC: imgambu10,
      imageSrcR: imgambu3,
    },
    info2: {
      list: [
        "Anestesia",
        "Cirugía Bariátrica.",
        "Cirugía de Cabeza y Cuello.",
        "Cirugía General.",
        "Cirugía Plástica.",
        "Cirugía de Mano",
        "Cirugía de mama y tejidos blandos ",
        "Coloproctología",
        "Cirugía de Tórax.",
        "Gastroenterología.",
        "Cirugía gastrointestinal ",
        "Cirugía oncológica",
        "Ginecología.",
        "Ginecología laparoscópica.",
        "Ginecología oncológica.",
        "Medicina Interna.",
        "Medicina del trabajo y medicina Laboral.",
        "Neurocirugía.",
        "Neurología.",
        "Ortopedia y traumatología. (Pie y tobillo, Rodilla, columna, cadera, Miembro superior)",
        "Otorrinolaringología.",
        "Radiología Intervencionista.",
        "Urología.",
        "Urologia Oncológica.",
        "Urologia pediátrica.",
        "Hematología",
        "Medicina general (prioritaria)",
        "Laboratorio clínico ",
        "Toma de muestras Ginecológicas",
        "Terapia física ",
        "Medicina General",
        "Odontología",
        "Nutrición",
        "Psicología",
        "Vacunación",
      ],
      img: imgambu9,
    },
    modal: {
      title: "Lineas y Horarios para Solicitar tu Cita",
      titleLineaW: "Whatsapp de Atención",
      LineaW: "3185484699",
      titleLineaT: "Linea Fija de Atención",
      LineaT: "607-6436131",
      button: "Más Información",
      linkButton: "/citas",
    },
  },
  uci: {
    subheroimg: imguci1,
    statsimg: imguci1,
    title: "Unidad de Cuidado Intensivo y Unidad de Cuidado Intermedio",
    title2: "",
    title3: "",
    info1: {
      title: "Cuidado Intensivo de Alta Tecnología",
      span: " para Tu Salud Crítica",
      paragraph1:
        "La Unidad de Cuidado Intensivo de nuestra clínica está equipada con tecnología de última generación para atender a pacientes en estado crítico, con monitoreo continuo y cuidados especializados las 24 horas del día, el equipo médico y de enfermería está altamente capacitado para responder de manera rápida y efectiva a cualquier emergencia, garantizando un manejo integral de cada paciente. Se garantiza comunicación constante con la familia, asegurando que se sientan informados y apoyados durante todo el proceso.",
      paragraph2: "",
      ctaText: "Horarios de Visita",
      images: [imguci1],
    },
    services: {
      order: "md:flex",
      services: [
        {
          title: "Unidades de Cuidado",
          span: "",
          parrafo: "19",
          icon: "bed-pulse",
        },
        {
          title: "Especialistas UCI",
          span: "",
          parrafo: "10",
          icon: "user-doctor",
        },
        {
          title: "Especialistas Interconsultas",
          span: "",
          parrafo: "+50",
          icon: "user-nurse",
        },
      ],
    },
    cards: {
      titleL: "Atención Especializada",
      titleC: "Tecnología Avanzada",
      titleR: "Capacidad de Respuesta",
      paragraphL:
        "Nuestra Unidad de Cuidados Intensivos cuenta con un equipo médico altamente capacitado para la atención de pacientes adultos en estado crítico, asegurando un monitoreo constante y un cuidado especializado.",
      paragraphC:
        "Disponemos de 19 cubículos equipados con tecnología de última generación, esencial para brindar soporte vital y atender situaciones críticas de manera eficaz.",
      paragraphR:
        "Con recursos y personal de alta calidad, garantizamos una respuesta inmediata a las necesidades de nuestros pacientes en momentos cruciales.",
      imageSrcL: imguci1,
      imageSrcC: imguci1,
      imageSrcR: imguci1,
    },
    // info2: {
    //   list: [
    //     "Cirugía Gastrointestinal",
    //     "Cirugía Gastrointestinal Oncológica",
    //     "Coloproctología",
    //     "Cirugía General",
    //     "Cirugía Bariátrica",
    //     "Cirugía Plástica y Estetica",
    //     "Cirugía de la Mano*",
    //     "Cirugía Urológica",
    //     "Cirugía de Tórax",
    //     "Cirugía de Cabeza y Cuello",
    //     "Otorrinolaringología",
    //     "Cirugía Vascular Periferica",
    //     "Cirugía de mama y tumores tejidos blandos",
    //     "Cirugía Ginecológica",
    //     "Cirugía Oftalmologica",
    //     "Neurocirugía",
    //     "Ginecología Oncológica",
    //     "Urología Oncológica",
    //     "Ortopedia y Traumatología",
    //     "Reemplazos Articulares: Cadera y Rodilla",
    //     "Miembro inferior: Pie y Tobillo",
    //     "Miembro Superior: Hombro, Codo y mano",
    //   ],
    //   img: imguci1,
    // },
    modal: {
      title: "Horarios de Visita",
      titleLineaP: "",
      LineaP: "Crr 33-53-27 Sede principal Piso 2",
      HLineaP: "Lunes a Domingo de 11:00 a 12:00 m y de 4:00 pm a 5:00 pm.",
    },
  },
  laboratorio: {
    subheroimg: imglab1,
    statsimg: imglab3,
    title: "Laboratorio Clínico",
    title2: "",
    title3: "Nuestros Servicios",
    info1: {
      title: "Análisis Clínicos Precisos y Confiables para",
      span: "Cuidar Tu Salud",
      paragraph1:
        "Somos un servicio de apoyo diagnóstico básico y especializado  que satisface las necesidades y expectativas de nuestros usuarios, brindando una atención cálida, oportuna y segura que  contribuye al rápido diagnóstico en beneficio de la salud.",
      paragraph2: "",
      images: [imglab1, imglab2, imglab3],
    },
    cards: {
      titleL: "Toma de Muestras",
      titleC: "Areas de Procesamiento",
      titleR: "Control de Calidad y Validación",
      paragraphL:
        "Realizamos la recolección de muestras de forma segura y eficaz, cumpliendo estrictamente con nuestras políticas de seguridad del paciente.",
      paragraphC:
        "Disponemos de equipos automatizados con tecnología de última generación, diseñados para mejorar la precisión y eficacia de cada análisis.",
      paragraphR:
        "Garantizamos la calidad y precisión de nuestras pruebas mediante personal altamente calificado, junto con controles de calidad internos y externos acreditados, cumpliendo con los estándares de la medicina actual.",
      imageSrcL: imglab1,
      imageSrcC: imglab2,
      imageSrcR: imglab3,
    },
    services: {
      services: [
        {
          title: "Sedes Habilitadas",
          span: "Para toma de muestras en el area metropolitana",
          parrafo: "3",
          icon: "hospital",
        },
        {
          title: "Equipos Automatizados",
          span: "Para una mayor precisión en el procesamiento de muestras",
          parrafo: "+15",
          icon: "microscope",
        },
        {
          title: "Examenes",
          span: "Procesados al mes",
          parrafo: "+25.000",
          icon: "flask-vial",
        },
        {
          title: "Profesionales",
          span: "Entre bacteriologos y auxiliares de laboratorio",
          parrafo: "+15",
          icon: "user-group",
        },
      ],
    },
    info2: {
      img: imglab1,
    },
    modal: {
      title: "Horarios de Atención",
      titleLineaW: "",
      LineaW: "",
      HLineaW: "",
      titleLineaP: "Toma de muestras",
      LineaP: "Crr 33-53-27 Sede principal",
      HLineaP: "Lunes a Sábado  7:00 a 9:00 am",
    },
    info3: [
      {
        title: "Hematología",
        description:
          "<ul>  <li>Cuadro hemático</li>  <li>Extendido de sangre periférico</li>  <li>Hemoclasificación</li>  <li>Velocidad de sedimentación globular</li></ul>",
      },
      {
        title: "Química",
        description:
          "<strong>Perfil lipídico </strong> <ul>  <li>Colesterol Hdl</li>  <li>Colesterol Ldl</li>  <li>Colesterol total</li>  <li>Colesterol Vldl</li>  <li>Triglicéridos</li></ul> <strong>Perfil metabólico</strong> <ul>  <li>Albumina</li>  <li>Calcio</li>  <li>Glucosa</li>  <li>Insulina</li>  <li>Ionograma</li>  <li>Proteínas</li></ul> Glucosa <ul><li>Curva de tolerancia a la glucosa</li><li>Glicemia pre y pos carga</li><li>Hemoglobina glicosilada</li></ul> <strong>Perfil hepático</strong> <ul><li>Alanino aminotransferasa (GPT)</li><li>Aspartato aminotransferasa (GOT)</li><li>Bilirrubinas diferenciadas (total y directa)</li><li>Fosfatasa alcalina (ALP)</li><li>Gama glutamil transferasa (GGT)</li></ul> <strong>Perfil renal</strong> <ul><li>Creatinina</li><li>Creatinina en orina 24 horas</li><li>Depuración de creatinina</li><li>Microalbuminuria</li><li>Nitrógeno ureico</li></ul>",
      },
      {
        title: "MICROBIOLOGIA",
        description:
          "<ul><li>Urocultivo</li><li>Cultivo para microorganismos en cualquier muestra</li><li>Hemocultivos</li></ul>",
      },
      {
        title: "UROANALISIS",
        description:
          "<ul><li>Análisis fisicoquímico</li><li>Análisis microscópico</li></ul>",
      },
      {
        title: "COAGULACION",
        description:
          "<ul><li>Dimero D</li><li>Fibrinógeno</li><li>Tiempo de Tromboplastina</li><li>Tiempo de Coagulación</li><li>Tiempo de protrombina</li><li>Tiempo de Trombina</li></ul>",
      },
      {
        title: "INMUNOLOGIA",
        description:
          "<ul><li>Anticuerpos Antiestreptolisina</li><li>Anticuerpos Dengue</li><li>Antígeno Covid 19</li><li>Antígeno NS1 Dengue</li><li>Factor Reumatoideo</li><li>Proteína C Reactiva</li><li>Prueba de Embarazo</li><li>Serología</li></ul>",
      },
      {
        title: "PARASITOLOGIA",
        description:
          "<ul><li>Coprológico</li><li>Coprológico por concentración</li><li>Coprológico seriado tres muestras</li><li>Coproscópico</li><li>Coproscópico seriado tres muestras</li><li>Hemoparásitos</li><li>Sangre oculta</li></ul>",
      },
      {
        title: "HORMONAS Y ESPECIALIZADOS",
        description:
          "<ul><li>Alfafetoproteína Antígeno</li><li>Anas</li><li>Ancas</li><li>Antígeno de cáncer de mama (CA 15-3)</li><li>Antígeno de cáncer de ovario (CA 125)</li><li>Antígeno de cáncer de tubo digestivo (CA 19-9)</li><li>Antígeno de superficie Hepatitis B</li><li>Antígeno específico de Próstata (PSA)</li><li>Carcinoembrionario (CEA)</li><li>Citomegalovirus IgM</li><li>Herpes II IgM</li><li>Hormona estimulante de la tiroides (TSH)</li><li>Hormona folículo estimulante (FSH)</li><li>Hormona Luteinizante (LH)</li><li>Prolactina</li><li>Rubeola IgM</li><li>Tiroglobulina</li><li>Tiroxina libre (T4 Libre)</li><li>Tiroxina total (T4 Total)</li><li>Toxoplasma anticuerpos IgG</li><li>Toxoplasma anticuerpos IgM</li><li>Triyodotironina libre (T3 Libre)</li><li>Triyodotironina total (T3 Total)</li><li>VIH 1 y 2 Anticuerpos</li><li>Microglobulina β-2</li><li>Paratohormona molécula intacta</li></ul>",
      },
      // Agrega más categorías según sea necesario
    ],
  },
  imagenologia: {
    subheroimg: imgimg3,
    statsimg: imgimg2,
    title: "Imagenología",
    title2: "",
    title3: "",
    info1: {
      title: "Diagnósticos Precisos con",
      span: "Tecnología de Punta para tu Salud",
      paragraph1:
        "Este servicio ofrece una gama completa de pruebas y estudios médicos, que incluyen imagenología avanzada. ",
      paragraph2:
        "Contamos con equipos de última tecnología para realizar exámenes como radiografías, tomografías y ecografías, que nos permiten obtener diagnósticos precisos y oportunos, a partir de resultados claros y detallados, contribuyendo a una toma de decisiones médicas eficiente y personalizada.",
      ctaText: "",
      images: [imgimg1, imgimg2, imgimg3, imgimg4, imgimg5],
    },
    services: {
      order: "md:flex",
      services: [
        {
          title: "Rayos X",
          span: "Mensualemente",
          parrafo: "+2.000",
          icon: "x-ray",
        },
        {
          title: "Tomografías",
          span: "",
          parrafo: "+1.000",
          icon: "brain",
        },
        {
          title: "Ecografías",
          span: "Mensualmente",
          parrafo: "+500",
          icon: "person-breastfeeding",
        },
      ],
    },
    // cards: {
    //   titleL: "Toma de Muestras",
    //   titleC: "Areas de Procesamiento",
    //   titleR: "Control de Calidad y Validación",
    //   paragraphL:
    //     "Realizamos la recolección de muestras de forma segura y eficaz, cumpliendo estrictamente con nuestras políticas de seguridad del paciente.",
    //   paragraphC:
    //     "Disponemos de equipos automatizados con tecnología de última generación, diseñados para mejorar la precisión y eficacia de cada análisis.",
    //   paragraphR:
    //     "Garantizamos la calidad y precisión de nuestras pruebas mediante personal altamente calificado, junto con controles de calidad internos y externos acreditados, cumpliendo con los estándares de la medicina actual.",
    //   imageSrcL: imgimg1,
    //   imageSrcC: imgimg2,
    //   imageSrcR: imgimg3,
    // },
    // info2: {
    //   list: [
    //     "Cirugía Gastrointestinal",
    //     "Cirugía Gastrointestinal Oncológica",
    //     "Cirugía Coloproctología Oncológica",
    //     "Cirugía General y Bariátrica",
    //     "Cirugía Plástica, estética",
    //     "Cirugía de la Mano",
    //     "Cirugía Urológica",
    //     "Cirugía de Tórax",
    //     "Cirugía Cabeza y Cuello",
    //     "Cirugía Otorrinolaringología",
    //     "Cirugía Vascular y Angiologica",
    //     "Cirugía de mama y tejidos blandos",
    //     "Neurocirugía",
    //     "Cirugia Ginecologica",
    //     "Urología Oncológica",
    //     "Cirugía Ortopedica y traumatología",
    //     "Reemplazos Articulares: Cadera y Rodilla",
    //     "Miembro inferior: Pie y Tobillo",
    //     "Miembro Superior: Hombro, Codo y mano",
    //   ],
    //   img: imgimg1,
    // },
    modal: {
      title: "Horarios de Atención",
      titleLineaW: "",
      LineaW: "",
      HLineaW: "",
      titleLineaP: "Toma de muestras",
      LineaP: "Crr 33-53-27 Sede principal",
      HLineaP: "Lunes a Sábado  7:00 a 9:00 am",
    },
  },
  urgencias: {
    subheroimg: imgurg1,
    statsimg: imgurg3,
    title: "Urgencias",
    title2: "",
    title3: "",
    info1: {
      title: "Atención Inmediata",
      span: "Respuesta Oportuna a tu Emergencia",
      paragraph1:
        "Servicio de urgencias disponible las 24 horas del día, todos los días de la semana para atender emergencias médicas de cualquier tipo con un equipo altamente capacitado y tecnología avanzada, asegurando respuestas inmediatas y eficientes en situaciones críticas. Contamos con una ruta de gestión clínica efectiva que proporciona una atención oportuna, segura, eficiente y de alta calidad, que permita estabilizar y tratar de manera integral a cada paciente.",
      paragraph2: "",
      ctaText: "Horarios de Visitas",
      images: [
        imgurg1,
        imgurg2,
        imgurg3,
        imgurg4,
        imgurg6,
        imgurg7,
        imgurg8,
        imgurg9,
      ],
    },
    cards: {
      titleL: "Triage y Consulta",
      titleC: "Observacion",
      titleR: "Transicion",
      paragraphL:
        "Contamos con un consultorio de Triage y tres consultorios para atencion medica.",
      paragraphC:
        "Se cuenta con once cubiculos dotados con equipos modernos que permiten monitorear y realizar tratamientos a los pacientes con seguridad.",
      paragraphR:
        "Disponemos de 14 cubículos de recuperación posanestésicos, donde serás atendido por un equipo interdisciplinar de alta eficiencia, que se encargara de cuidarte una vez halla finalizado tu cirugía.",
      imageSrcL: imgurg4,
      imageSrcC: imgurg6,
      imageSrcR: imgurg1,
    },
    services: {
      services: [
        {
          title: "Triages",
          span: "Mensualemente",
          parrafo: "+5.000",
          icon: "stethoscope",
        },
        {
          title: "Consultorios",
          span: "",
          parrafo: "4",
          icon: "hospital-user",
        },
        {
          title: "Consultas",
          span: "Mensualmente",
          parrafo: "+3.000",
          icon: "user",
        },
        {
          title: "Observaciones",
          span: "Mensualmente",
          parrafo: "+2.800",
          icon: "user-doctor",
        },
      ],
    },
    // info2: {
    //   list: [
    //     "Cirugía Gastrointestinal",
    //     "Cirugía Gastrointestinal Oncológica",
    //     "Cirugía Coloproctología Oncológica",
    //     "Cirugía General",
    //     "Cirugía Bariátrica",
    //     "Cirugía Plástica, estética",
    //     "Cirugía de la Mano",
    //     "Cirugía Urológica",
    //     "Cirugía de Tórax",
    //     "Cirugía Cabeza y Cuello",
    //     "Cirugía Otorrinolaringología",
    //     "Cirugía Vascular Periferica",
    //     "Cirugía de mama y tumores tejidos blandos",
    //     "Cirugía Ginecológica",
    //     "Cirugía Maxilofacial*",
    //     "Cirugía Oftalmologica",
    //     "Cirugia Otorrinolaringologia",
    //     "Cirugia Oncologica",
    //     "Neurocirugía",
    //     "Ginecología Oncológica*",
    //     "Urología Oncológica*",
    //     "Cirugía Ortopedica y Traumatología",
    //     "Reemplazos Articulares: Cadera y Rodilla",
    //     "Miembro inferior: Pie y Tobillo",
    //     "Miembro Superior: Hombro, Codo y mano",
    //   ],
    // img: imgurg4,
    // },
    modal: {
      title: "Horarios de Visita",
      titleLineaP: "",
      LineaP: "Crr 33-53-27 Sede principal Pisos 1 y 5",
      HLineaP:
        "Lunes a Domingo en el primer piso de 11:00 am a 12:00 pm y de 4:00 am a 5:00 pm y en el quinto piso de 9:00 am a 7:00 pm.",
    },
  },
  // urgencias_vip: {
  //   subheroimg: imgurg1,
  //   title: "Urgencias VIP",
  //   title2: "Capacidad Instalada",
  //   title3: "Nuestros Servicios",
  //   info1: {
  //     title: "Atención Personalizada",
  //     span: "Exclusiva para tu Bienestar",
  //     paragraph1:
  //       "El Servicio de Urgencias VIP ofrece una experiencia de atención personalizada y exclusiva para quienes buscan privacidad y comodidad en situaciones de emergencia, se prioriza la atención inmediata con acceso directo a un equipo médico especializado con profesionales altamente calificados, equipos de diagnóstico avanzado y habitaciones individuales de alto confort, para el paciente y sus acompañantes, garantiza una experiencia de salud óptima y personalizada en cada aspecto de su atención. ",
  //     paragraph2: "",
  //     ctaText: "Horarios de Visitas",
  //     images: [imgurg1, imgurg2, imgurg3, imgurg4],
  //   },
  //   cards: {
  //     titleL: "Triage y Consulta",
  //     titleC: "Observacion",
  //     titleR: "Transicion",
  //     paragraphL:
  //       "Contamos con un consultorio de Triage y tres consultorios para atencion medica.",
  //     paragraphC:
  //       "Se cuenta con once cubiculos dotados con equipos modernos que permiten monitorear y realizar tratamientos a los pacientes con seguridad.",
  //     paragraphR:
  //       "Disponemos de 14 cubículos de recuperación posanestésicos, donde serás atendido por un equipo interdisciplinar de alta eficiencia, que se encargara de cuidarte una vez halla finalizado tu cirugía.",
  //     imageSrcL: imgurg1,
  //     imageSrcC: imgurg2,
  //     imageSrcR: imgurg3,
  //   },
  //   info2: {
  //     list: [
  //       "Cirugía Gastrointestinal",
  //       "Cirugía Gastrointestinal Oncológica",
  //       "Cirugía Coloproctología Oncológica",
  //       "Cirugía General",
  //       "Cirugía Bariátrica",
  //       "Cirugía Plástica, estética",
  //       "Cirugía de la Mano",
  //       "Cirugía Urológica",
  //       "Cirugía de Tórax",
  //       "Cirugía Cabeza y Cuello",
  //       "Cirugía Otorrinolaringología",
  //       "Cirugía Vascular Periferica",
  //       "Cirugía de mama y tumores tejidos blandos",
  //       "Cirugía Ginecológica",
  //       "Cirugía Maxilofacial*",
  //       "Cirugía Oftalmologica",
  //       "Cirugia Otorrinolaringologia",
  //       "Cirugia Oncologica",
  //       "Neurocirugía",
  //       "Ginecología Oncológica*",
  //       "Urología Oncológica*",
  //       "Cirugía Ortopedica y Traumatología",
  //       "Reemplazos Articulares: Cadera y Rodilla",
  //       "Miembro inferior: Pie y Tobillo",
  //       "Miembro Superior: Hombro, Codo y mano",
  //     ],
  //     img: imgurg4,
  //   },
  //   modal: {
  //     title: "",
  //     titleLineaW: "",
  //     LineaW: "",
  //     HLineaW: "",
  //     titleLineaP: "",
  //     LineaP: "",
  //     HLineaP: "",
  //   },
  // },
  piel_sana: {
    subheroimg: imgurg1,
    title: "Piel Sana",
    title2: "",
    title3: "",
    info1: {
      title: "Soluciones Especializadas para el",
      span: "Cuidado de tu Salud Integral",
      paragraph1:
        "El servicio de Piel Sana está diseñado para ofrecer cuidado integral de la piel, especializado en el tratamiento de heridas complejas o crónicas, como úlceras, quemaduras y lesiones postquirúrgicas. Nuestro equipo multidisciplinario utiliza tecnologías avanzadas y enfoques personalizados para promover una cicatrización efectiva, reducir el riesgo de infecciones y mejorar la calidad de vida de los pacientes. Brindamos un seguimiento constante para evaluar el progreso y ajustar los tratamientos, asegurando que cada paciente reciba la atención especializada que necesita para una recuperación óptima.",
      ctaText: "Horario de Atención",
      images: [imgurg1, imgurg2, imgurg3, imgurg4],
    },
    // cards: {
    //   titleL: "Triage y Consulta",
    //   titleC: "Observacion",
    //   titleR: "Transicion",
    //   paragraphL:
    //     "Contamos con un consultorio de Triage y tres consultorios para atencion medica.",
    //   paragraphC:
    //     "Se cuenta con once cubiculos dotados con equipos modernos que permiten monitorear y realizar tratamientos a los pacientes con seguridad.",
    //   paragraphR:
    //     "Disponemos de 14 cubículos de recuperación posanestésicos, donde serás atendido por un equipo interdisciplinar de alta eficiencia, que se encargara de cuidarte una vez halla finalizado tu cirugía.",
    //   imageSrcL: imgurg1,
    //   imageSrcC: imgurg2,
    //   imageSrcR: imgurg3,
    // },
    // info2: {
    //   list: [
    //     "Cirugía Gastrointestinal",
    //     "Cirugía Gastrointestinal Oncológica",
    //     "Cirugía Coloproctología Oncológica",
    //     "Cirugía General",
    //     "Cirugía Bariátrica",
    //     "Cirugía Plástica, estética",
    //     "Cirugía de la Mano",
    //     "Cirugía Urológica",
    //     "Cirugía de Tórax",
    //     "Cirugía Cabeza y Cuello",
    //     "Cirugía Otorrinolaringología",
    //     "Cirugía Vascular Periferica",
    //     "Cirugía de mama y tumores tejidos blandos",
    //     "Cirugía Ginecológica",
    //     "Cirugía Maxilofacial*",
    //     "Cirugía Oftalmologica",
    //     "Cirugia Otorrinolaringologia",
    //     "Cirugia Oncologica",
    //     "Neurocirugía",
    //     "Ginecología Oncológica*",
    //     "Urología Oncológica*",
    //     "Cirugía Ortopedica y Traumatología",
    //     "Reemplazos Articulares: Cadera y Rodilla",
    //     "Miembro inferior: Pie y Tobillo",
    //     "Miembro Superior: Hombro, Codo y mano",
    //   ],
    //   img: imgurg4,
    // },
    modal: {
      title: "Horarios de Atención",
      titleLineaP: "",
      LineaP: "Crr 33-53-27 Sede principal Piso 5",
      HLineaP: "Lunes a Domingo de 7:00 am a 5:00 pm.",
    },
  },
  accesos_vasculares: {
    subheroimg: imgurg1,
    title: "Accesos Vasculares",
    title2: "",
    title3: "",
    info1: {
      title: "Soluciones Especializadas para el",
      span: "Cuidado de tu Salud Integral",
      paragraph1:
        "El programa de accesos vasculares tiene el objetivo de garantizar una terapia de infusión segura, mediante un entrenamiento en el procedimiento de acceso vascular guiado por ecografía y manejo de dispositivos vasculares para pacientes que requieren tratamientos médicos a largo plazo, como quimioterapia, diálisis o nutrición parenteral. Utilizamos técnicas mínimamente invasivas, garantizando comodidad, seguridad y un cuidado adecuado en todo momento. Nuestro enfoque está en asegurar que cada procedimiento se realice de forma precisa, reduciendo riesgos y optimizando la experiencia del paciente durante su tratamiento. Nuestra institución es referente en el país en buenas prácticas de acceso vascular.",
      ctaText: "",
      images: [imgurg1, imgurg2, imgurg3, imgurg4],
    },
    // cards: {
    //   titleL: "Triage y Consulta",
    //   titleC: "Observacion",
    //   titleR: "Transicion",
    //   paragraphL:
    //     "Contamos con un consultorio de Triage y tres consultorios para atencion medica.",
    //   paragraphC:
    //     "Se cuenta con once cubiculos dotados con equipos modernos que permiten monitorear y realizar tratamientos a los pacientes con seguridad.",
    //   paragraphR:
    //     "Disponemos de 14 cubículos de recuperación posanestésicos, donde serás atendido por un equipo interdisciplinar de alta eficiencia, que se encargara de cuidarte una vez halla finalizado tu cirugía.",
    //   imageSrcL: imgurg1,
    //   imageSrcC: imgurg2,
    //   imageSrcR: imgurg3,
    // },
    // info2: {
    //   list: [
    //     "Cirugía Gastrointestinal",
    //     "Cirugía Gastrointestinal Oncológica",
    //     "Cirugía Coloproctología Oncológica",
    //     "Cirugía General",
    //     "Cirugía Bariátrica",
    //     "Cirugía Plástica, estética",
    //     "Cirugía de la Mano",
    //     "Cirugía Urológica",
    //     "Cirugía de Tórax",
    //     "Cirugía Cabeza y Cuello",
    //     "Cirugía Otorrinolaringología",
    //     "Cirugía Vascular Periferica",
    //     "Cirugía de mama y tumores tejidos blandos",
    //     "Cirugía Ginecológica",
    //     "Cirugía Maxilofacial*",
    //     "Cirugía Oftalmologica",
    //     "Cirugia Otorrinolaringologia",
    //     "Cirugia Oncologica",
    //     "Neurocirugía",
    //     "Ginecología Oncológica*",
    //     "Urología Oncológica*",
    //     "Cirugía Ortopedica y Traumatología",
    //     "Reemplazos Articulares: Cadera y Rodilla",
    //     "Miembro inferior: Pie y Tobillo",
    //     "Miembro Superior: Hombro, Codo y mano",
    //   ],
    //   img: imgurg4,
    // },
    modal: {
      title: "",
      titleLineaW: "",
      LineaW: "",
      HLineaW: "",
      titleLineaP: "",
      LineaP: "",
      HLineaP: "",
    },
  },
};

const route = useRoute();
const serviceId = route.params.id;

const serviceData = computed(() => servicesData[serviceId] || {});

const serviceTitle = computed(
  () => serviceData.value.title || "Servicio no encontrado"
);
</script>

<style scoped></style>
